﻿@using IContestPro
@using IContestPro.Authorization.Roles
@using IContestPro.Helpers
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.AdvertHomePageBanner.Dto.AdvertHomePageBannerDto>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Home Page Banner";
    ViewBag.CurrentPageName = PageNames.HomePageBanner; // The menu item will be active for this page.
    Layout = "_Layout";
   
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 class="pull-left">
                 Home page Banners
                </h2>
                <p class="pull-right">
                    <a class="btn btn-danger" asp-action="CreateEdit">Create New</a>
                </p>
                <p class="clearfix"></p>
            </div>
            <div class="body table-responsive">
                @{
                    int page = ViewBag.Page;
                    int pageSize = ViewBag.PageSize;
                    var sn = pageSize * (page - 1) + 1;
                }
               
                <table class="table">
                    <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Banner</th>
                        <th>Amount</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>External Url</th>
                        <th>Created At</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@sn</td>
                            <td>
                                <a href="/@(AppConsts.ImageUploadFolder + "/" + item.Image)" target="_blank">
                                    <img src="@Url.Action("GetImage", new {path = "images/uploads/" + item.Image, width = 60, height = 60})"/>
                                </a>
                            </td>
                            <td>@item.AmountPaid.ToNairaString()</td>
                            <td>@item.StartDate.ToAppDateString()</td>
                            <td>@item.EndDate.ToAppDateString()</td>
                            <td>@item.Status.Name</td>
                            <td><a href="@item.ExternalUrl" target="_blank" title="@item.ExternalUrl">View Link</a></td>
                            <td>@item.CreationTime.ToAppDateTimeString()</td>
                            <td>
                                @if (User.IsInRole(StaticRoleNames.Tenants.Admin) || User.IsInRole(StaticRoleNames.Tenants.AdminLevel2))
                                    {
                                        if (!item.Status.Name.Equals(AppConsts.StatusLive) && !item.Status.Name.Equals(AppConsts.StatusCancelled))
                                        {
                                            <form asp-action="ChangeHomePageBannerStatus" class="inline-block margin-bottom-5">
                                                <input type="hidden" name="EntityId" value="@item.Id"/>
                                                <input type="hidden" name="StatusName" value="@AppConsts.StatusLive"/>
                                                <button class="btn btn-success btn-change-status" type="submit">Activate</button>
                                            </form>
                                            <form asp-action="ChangeHomePageBannerStatus"class="inline-block margin-bottom-5">
                                                <input type="hidden" name="EntityId" value="@item.Id"/>
                                                <input type="hidden" name="StatusName" value="@AppConsts.StatusCancelled"/>
                                                <button class="btn btn-danger btn-change-status" type="submit">Cancel</button>
                                            </form>
                                        }
                                        if (item.Status.Name.Equals(AppConsts.StatusLive))
                                        {
                                            <form asp-action="ChangeHomePageBannerStatus" class="inline-block margin-bottom-5">
                                                <input type="hidden" name="EntityId" value="@item.Id"/>
                                                <input type="hidden" name="StatusName" value="@AppConsts.StatusSuspended"/>
                                                <button class="btn btn-success btn-change-status" type="submit">Suspend</button>
                                            </form>
                                        }
                                       
                                    }
                                    <!--
                                    USER BUTTONS
                                    -->
                                    @if (item.Status.Name.Equals(AppConsts.StatusPending) && !(User.IsInRole(StaticRoleNames.Tenants.Admin) || User.IsInRole(StaticRoleNames.Tenants.AdminLevel2)))
                                    {
                                        <a asp-action="CreateEdit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a>
                                        <form asp-action="ChangeHomePageBannerStatus"class="inline-block margin-bottom-5">
                                            <input type="hidden" name="EntityId" value="@item.Id"/>
                                            <input type="hidden" name="StatusName" value="@AppConsts.StatusCancelled"/>
                                            <button class="btn btn-danger btn-change-status btn-sm" type="submit">Cancel</button>
                                        </form>
                                        
                                    }
                            </td>
                            
                        </tr>
                        sn++;
                    }
                    </tbody>
                </table>
                @Html.PaginateAdmin(Model.TotalCount, page, pageSize, "HomePageBanners", "Index")
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            $('.btn-change-status').click(function(e) {
                var element = $(this);
                e.preventDefault();
                abp.message.confirm('Are you sure you want to perform this operation? This operation cannot be reversed.',
                    function(result) {
                        if (result) {
                            element.parent().submit();
                        }
                    });
            });
            $('.delete-button').on('click', function() {
                var token = $(this).data('token');
                console.log(token);
                    abp.message.confirm('Are you sure you want to delete?', 'Delete', function(result) {
                        console.log(result);
                if (result) {
                    $('#form-type-' + token).submit();
                }
                    });
                });
           
        });
    </script>
}
