﻿@using Abp.Notifications
@using IContestPro
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@model List<Abp.Notifications.UserNotification>
@{
    ViewBag.CurrentPageName = PageNames.Notifications; // The menu item will be active for this page.
         int page = ViewBag.Page;
         int pageSize = ViewBag.PageSize;
         int totalCount = ViewBag.NotificationCount;
         UserNotificationState? userNotificationState = ViewBag.NotificationState;
         var sn = pageSize * (page - 1) + 1;
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <form asp-action="Index" method="get">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <label for="state">Filter</label>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    
                                    <select class="form-control" name="state" id="state" required="">
                                        <option value="">--Selecct Message Type--</option>
                                        <option value="all" selected="@(userNotificationState != UserNotificationState.Read && userNotificationState != UserNotificationState.Unread)">All</option>
                                        <option value="unread" selected="@(userNotificationState == UserNotificationState.Unread)">Unread</option>
                                        <option value="read" selected="@(userNotificationState == UserNotificationState.Read)">Read</option>
                                    </select>
                                </div>
                                    <div class="col-md-1 col-sm-2 col-xs-12">
                                        <input type="submit" value="Filter" class="btn btn-danger"/>
                                    </div>
                                </div>
                        </div>
     
                    </form>
                    <div class="clearfix"></div>

                </h2>
            </div>
            <div class="body">
                
               
                @if (Model != null && Model.Any())
                {
                        <section class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Notification</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                       
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="@NotificationSeverityHelper.GetSeverityClass(item.Notification.Severity)">@sn
                                    @if (item.State == UserNotificationState.Unread)
                                    {
                                        <span class="unread"></span>   
                                    }
                                </td>
                                @if (item.Notification.Data["type"] == AppConsts.NotificationMessageDataTypeLocalizable)
                                {
                                    <td class="@NotificationSeverityHelper.GetSeverityClass(item.Notification.Severity)">@L((string)item.Notification.Data.Properties["Message"])</td> 
                                }
                                else
                                {
                                    <td class="@NotificationSeverityHelper.GetSeverityClass(item.Notification.Severity)">@item.Notification.Data.Properties["Message"]</td>
                                }
                                <td class="@NotificationSeverityHelper.GetSeverityClass(item.Notification.Severity)">@item.Notification.CreationTime.ToString("ddd dd MMM, yy @ h:mm:ss tt")</td>
                                <td valign="bottom">
                                    <form asp-action="Delete" id="delete-form" novalidate="" method="post" class="inline-block margin-bottom-5">
                                        <input type="hidden" name="Id" value="@item.Id"/>
                                        <input class="btn btn-white btn-sm" type="submit" value="Delete" onclick="document.getElementById('delete-form').submit()">
                                    </form>
                                </td>
                            </tr>
                            sn++;
                        }
                       

                        </tbody>
                    </table>
                      <div class="pager">
                        @if (totalCount > pageSize)
                        {
                        @Html.PaginateAdmin(totalCount, page, pageSize, "Notifications", "Index", (userNotificationState != null ? "&state=" + (userNotificationState == UserNotificationState.Unread ? "0" : "1"):""))
                        }

                      </div>
                </section>
                    
                }
                else
                {
                    var type = (string)ViewBag.Type;
                    <div class="alert alert-info">
                        <h1>No @type.ToLower() notifications</h1>
                        <p>There are no notifications
                    </div>
                }


            </div>
        </div>
    </div>
</div>
@section scripts
{
   
    }
