﻿@using IContestPro.Web.Startup
@model IContestPro.BankDetails.Dto.CreateBankDetailsDto

@{
    ViewBag.Title = "Create Bank Details";
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.BankDetails;

}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <form asp-action="CreateBankDetails" class="form-horizontal" id="create-form" enctype="multipart/form-data">
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="BankId">Bank</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <select asp-for="BankId" asp-items="ViewBag.Banks" class="form-control" required=""></select> 
                                <span id="BankId-error-validation" class="error hidden" style="color: red; font-size: 12px;" for="BankId">Bank or account number is not valid.</span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="AccountNumber">Account Number</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="AccountNumber" type="text" class="form-control animated infinite" placeholder="Account Number" required maxlength="10"/>
                                <span id="AccountNumber-error-validation" class="error hidden" style="color: red;font-size: 12px;" for="AccountNumber">Bank or account number is not valid.</span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="AccountName">Account Name</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="AccountName" type="text" class="form-control" placeholder="Account Name" required maxlength="100"/>
                            </div>
                        </div>
                    </div> 
                    
                    
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="IsDefault">Is Default</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="IsDefault" type="checkbox" value="true"  style="opacity: 1; position: static;"/>
                            </div>
                        </div> 
                        
                    </div>
                    
                    <hr/>
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button class="btn btn-primary" id="submit"><i class="fa fa-upload"></i> Create</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
@section scripts
{
    <script src="~/view-resources/Views/Contest/contestpages.js" asp-append-version="true"></script>
    <script>
        $(function() {
            /*$('#AccountNumber').blur(function() {
                var bankId = $('#BankId').val();
                var accountNumber = $('#AccountNumber').val();
                $.get('/Bank/ValidateBankAccount?bankId=' + bankId + '&accountNumber=' + accountNumber, function(response) {
                    console.log(response);
                    if (response.success) {
                        $('#submit').removeAttr('disabled');
                    } else {
                        $('#submit').attr('disabled', '');
 
                    }
                });
            });
            $('#BankId').change(function() {
                if ($('#AccountNumber').val().length === 10) {
                    $('#AccountNumber').trigger('blur');
                }
               
            });*/
        });
        
    </script>
}
