﻿@using IContestPro.Web.Startup
@model IContestPro.FeaturedContest.Dto.CreateEditFeaturedContestDto

@{
    ViewBag.Title = "Create Featured Contest";
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.FeaturedContest;

}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <h3>Create Featured Contest</h3>
                <p class="text-danger">Note: Your wallet will be debited to complete this request</p>
                <br /><br />
                <form asp-action="CreateEdit" class="form-horizontal" id="create-form" enctype="multipart/form-data">
                    <input asp-for="Id" type="hidden"/>
                    <input asp-for="UserId" type="hidden"/>
                    <input asp-for="StatusId" type="hidden"/>
                    <input name="forgetMe" type="hidden" value="forgetme"/>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Image">Contest</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <select asp-for="ContestId" asp-items="ViewBag.Contests" class="form-control" required=""></select>    
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="StartDate">Start Date</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="StartDate" type="text" class="form-control datepicker-transaction" autocomplete="off" placeholder="Start Date", required/>
                            </div>
                        </div>
                    </div>
         <div class="input-group">
                                <div class="col-md-2">
                                    <label for="AdvertPriceId">Duration</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-line">
                                        <select asp-for="AdvertPriceId" asp-items="ViewBag.AdvertPrices" class="form-control" required=""></select> 
                                  </div>
                                </div>
                            </div>


                    <hr/>
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button class="btn"><i class="fa fa-upload"></i> @(Model.Id == null? "Create" : "Save Changes")</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function() {
            $('.datepicker-transaction').datepicker({
                minDate: 0
            });
        });
    </script>
}

<!-- #END# CPU Usage -->
