﻿@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.Referral.Dto.ReferralDto>
@{
    ViewBag.CurrentPageName = PageNames.Referral; // The menu item will be active for this page.
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Referrals
                </h2>
            </div>
            <div class="body">
                     <article class="table-responsive">
                        @if (Model.Items.Count > 0)
                        {
                            <table class="table table-bordered">
                                <tr>
                                    <th>S/N</th>
                                    <th>Thumb</th>
                                    <th>Name</th>
                                    <th>Phone Number</th>
                                    <th>Vote Point Awarded</th>
                                    <th>Vote Point Date Awarded</th>
                                    <th>Contest Fee Awarded</th>
                                    <th>Contest Fee Date Awarded</th>
                                    <th>Date Referred</th>
                                </tr>
                                @{
                                    var sn = ViewBag.PageSize * (ViewBag.Page - 1) + 1;
                                }
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>@sn</td>
                                        <td><img width="40" height="40" src="~/images/user.png" /></td>
                                        <td>@item.User.NickName</td>
                                        <td>@item.User.PhoneNumber</td>
                                        <td>@(item.ReferrerAwardedVotePoint != null ? item.ReferrerAwardedVotePoint.ToString() : $"This referrer has not joined or voted any contest. You will get {ViewBag.ReferrerVotePoint} vote points if this user joins or vote any contest.")</td>
                                        
                                        <td>@item.ReferrerAwardedDate</td>
                                        <td>
                                            @(item.ReferrerSponsorAmount != null ? item.ReferrerSponsorAmount.ToString() : $"This referrer has not created a contest. You will be rewarded {ViewBag.ReferrerPercentage}% of the amount he/she will pay for the first contest he/she creates.")
                                        </td>
                                        <td>@item.ReferrerSponsorDate</td>
                                        <td>@item.CreationTime.ToString("D")</td>
                                    </tr>
                                    sn++;
                                }
                            </table>
                                 int page = ViewBag.Page;
                                 int pageSize = ViewBag.PageSize;
                                 <div class="pager">
                                     @if (Model.TotalCount > pageSize)
                                     {
                                         @Html.PaginateAdmin(Model.TotalCount, page, pageSize, "Referral", "Index")
                                     }
                                 </div>
                        }
                        else {
                                <div class="alert alert-info">
                                    <p>You don't have any referral for now.</p>
                                </div>
                            }
                        
                    </article>
                   

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            $('.datepicker-transaction').datepicker({
                maxDate: 0
            });
        });
    </script>
    }
