﻿@using IContestPro
@model IContestPro.AdvertBox1.Dto.AdvertBox1Dto
@{
    Layout = null;
}
        @if (Model != null)
        {
            <section>
                <div class="text-center">
                    <a href="@Model.ExternalUrl" target="_blank" style="display: block;" title="View Details">
                        <img src="/images/uploads/@Model.Image"/>
                    </a>
                </div>
            </section>
        }else
        {
            <div></div>
        }


        
   



