﻿@using IContestPro
@using IContestPro.Web.Startup
@model IContestPro.AdvertBox1.Dto.CreateEditAdvertBox1Dto

@{
    ViewBag.Title = "Create Advert Box One";
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.AdvertBoxOne;

}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <h3>Create Advert Box One</h3>
                <p class="text-danger">Note: Your wallet will be debited to complete this banner creation</p>
                <br /><br />
                <form asp-action="CreateEdit" class="form-horizontal" id="create-form" enctype="multipart/form-data">
                    <input asp-for="Id" type="hidden"/>
                    <input asp-for="UserId" type="hidden"/>
                    <input asp-for="StatusId" type="hidden"/>
                    
                    <input name="notUsed" type="hidden" value="forgetme"/>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Image">Banner</label>
                        </div>
                        <div class="col-md-10">
                            <div class="form-line">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input asp-for="Image" type="file" data-width="500" data-height="700" class="form-control" required=""/>
                                        <small>Banner dimension: 500px by 700px</small>
                                    </div> 
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        @if (ViewBag.Image != null)
                                         {
                                            <a href="/@(AppConsts.ImageUploadFolder + "/" + ViewBag.Image)" target="_blank">
                                                <img src="@Url.Action("GetImage", new {path = "images/uploads/" + (string)ViewBag.Image, width = 60, height = 60})"/>
                                            </a>  
                                        }
                                            
                                    </div> 
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="ExternalUrl">Url</label>
                        </div>
                        <div class="col-md-10">
                            <div class="form-line">
                                <input asp-for="ExternalUrl" type="url" class="form-control" placeholder="External Url e.g http://www.example.com", required/>
                            </div>
                        </div>
                    </div> 
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="StartDate">Start Date</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="StartDate" type="text" class="form-control datepicker-transaction" autocomplete="off" placeholder="Start Date", required/>
                            </div>
                        </div>
                    </div>
         <div class="input-group">
                                <div class="col-md-2">
                                    <label for="AdvertPriceId">Duration</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-line">
                                        <select asp-for="AdvertPriceId" asp-items="ViewBag.AdvertPrices" class="form-control" required=""></select> 
                                  </div>
                                </div>
                            </div>


                    <hr/>
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button class="btn btn-primary"><i class="fa fa-upload"></i> @(Model.Id == null? "Create" : "Save Changes")</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function() {
            $('.datepicker-transaction').datepicker({
                minDate: 0
            });
        });
    </script>
}

<!-- #END# CPU Usage -->
