﻿@using IContestPro
@using IContestPro.Blog.Dto
@model IReadOnlyList<IContestPro.Blog.Dto.BlogTickerDto>

<div class="single-sidebar">
 <h2>Latest News & Blog</h2>
@if (Model != null && Model.Any())
{
    <div class="new-ticker-wrapper">
        <div class="smartmarquee smartmarquee-wrapper">
            <ul class="container">
            @foreach (var item in Model)
            {
                <li>
                    <a asp-action="Details" asp-controller="Blogs" asp-route-id="@item.Permalink">@item.Title</a>
                    <br>
                    <p>@(item.Content.Length > 200 ? item.Content.Substring(0, 200) + "..." : item.Content)</p>
                </li>
            }

            </ul>
        </div>
    </div>
}
    <div style="text-align: center;margin: 10px;">
        <a class="btn btn-default" asp-action="Index" asp-controller="Blogs">View All</a>
    </div>
</div>  



