﻿@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.CountryState.Dto.CountryDto>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Countries";
    ViewBag.CurrentPageName = PageNames.Countries; // The menu item will be active for this page.
   
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Countries")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a onclick="window.location.reload();" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                @{
                    int page = ViewBag.Page;
                    int pageSize = ViewBag.PageSize;
                    var sn = pageSize * (page - 1) + 1;
                }
               
                <table class="table">
                    <thead>
                    <tr>
                        <th>S/N</th>
                        <th>@L("Name")</th>
                        <th>@L("Code")</th>
                        <th>@L("ISO")</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var country in Model.Items)
                    {
                        <tr>
                            <td>@sn</td>
                            <td>@country.Name</td>
                            <td>@country.Id</td>
                            <td>@country.Iso</td>
                            <td class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="@Url.Action("States", new {Id = country.Id})" class="waves-effect waves-block delete-tenant" d >@L("States")</a></li>
                                </ul>
                            </td>
                        </tr>
                        sn++;
                    }
                    </tbody>
                </table>
                @Html.PaginateAdmin(Model.TotalCount, page, pageSize, "Countries", "Index")
            </div>
        </div>
    </div>
</div>