﻿@using IContestPro.Web.Startup
@model Abp.Application.Services.Dto.IListResult<IContestPro.CountryState.Dto.StateDto>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "States";
    ViewBag.CurrentPageName = PageNames.Countries; // The menu item will be active for this page.

}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("States")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                @{
                    var sn = 1;
                }
               
                <table class="table">
                    <thead>
                    <tr>
                        <th>S/N</th>
                        <th>@L("Name")</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var state in Model.Items)
                    {
                        <tr>
                            <td>@sn</td>
                            <td>@state.Name</td>
                        </tr>
                        sn++;
                    }
                    </tbody>
                </table>
                </div>
        </div>
    </div>
</div>