﻿@using IContestPro
@using IContestPro.Sponsor.Dto
@model List<IContestPro.Sponsor.Dto.SponsorComponentDto>
<section class="sponsors-logo-wrapper">
    @if (Model != null && Model.Any())
    {
        <h1 class="sponsor-title">Sponsors</h1>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="Carousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#Carousel" data-slide-to="1"></li>
                        <li data-target="#Carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        @{
                            var totalItemsPerRow = 6;
                            var totalRows = Math.Ceiling((double)Model.Count() / totalItemsPerRow);
                        }
                        
                        @for (var i = 0; i < totalRows; i++)
                        {  
                            <div class="item @(i == 0 ? "active" : "")">
                                @{
                                    var offset = i * totalItemsPerRow;
                                }
                                <div class="row">
                                @for (var j = offset; j < (offset + totalItemsPerRow); j++)
                                {

                                    if (Model.Count > j)
                                    {
                                        var item = Model[j];
                                        <!-- Carousel items -->
                                            <div class="col-md-2 col-xs-4">
                                                <a href="@AppRoutingConsts.SponsorDetails(item.Permalink)" class="thumbnail" style="display: inline-block;" title="@item.Name">
                                                    <img src="/images/uploads/@item.Logo" alt="Image" style="height: 80px;">
                                                </a>
                                            </div>
                                    }
                                    else
                                    {
                                        break;
                                        }

                                }
                                </div><!--.row-->
                            </div>
                            <!--.item-->
                        }

                    @*<div class="item">
                        <div class="row">
                            <div class="col-md-2 col-xs-4">
                                <a href="http://www.zoothailand.org/" class="thumbnail">
                                    <img src="https://tmaxtech.co.th/images/Partner/7.jpg" alt="Image" style="max-height: 80px;">
                                </a>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <a href="http://www.diw.go.th/" class="thumbnail">
                                    <img src="https://tmaxtech.co.th/images/Partner/17.png" alt="Image" style="max-height: 80px;">
                                </a>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <a href="http://www.dss.go.th/" class="thumbnail">
                                    <img src="https://tmaxtech.co.th/images/Partner/9.png" alt="Image" style="max-height: 80px;">
                                </a>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <a href="http://www.dip.go.th/" class="thumbnail">
                                    <img src="https://tmaxtech.co.th/images/Partner/10.png" alt="Image" style="max-height: 80px;">
                                </a>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <a href="http://www.dpim.go.th/" class="thumbnail">
                                    <img src="https://tmaxtech.co.th/images/Partner/11.png" alt="Image" style="max-height: 80px;">
                                </a>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <a href="http://www.nstda.or.th/index.php" class="thumbnail">
                                    <img src="https://tmaxtech.co.th/images/Partner/12.jpg" alt="Image" style="max-height: 80px;">
                                </a>
                            </div>
                        </div><!--.row-->
                    </div><!--.item-->

                    <div class="item">
                        <div class="row">
                            <div class="col-md-2 col-xs-4">
                                <a href="http://www.oaep.go.th/" class="thumbnail">
                                    <img src="https://tmaxtech.co.th/images/Partner/13.png" alt="Image" style="max-height: 80px;">
                                </a>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <a href="http://www.ops.go.th/" class="thumbnail">
                                    <img src="https://tmaxtech.co.th/images/Partner/14.jpg" alt="Image" style="max-height: 80px;">
                                </a>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <a href="/www.tisi.go.th" class="thumbnail">
                                    <img src="https://tmaxtech.co.th/images/Partner/15.png" alt="Image" style="max-height: 80px;">
                                </a>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <a href="/www.oie.go.th/" class="thumbnail">
                                    <img src="https://tmaxtech.co.th/images/Partner/16.png" alt="Image" style="max-height: 80px;">
                                </a>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <a href="http://reg.thonburi-u.ac.th/registrar/home.asp" class="thumbnail">
                                    <img src="https://tmaxtech.co.th/images/Partner/1.jpg" alt="Image" style="max-height: 80px;">
                                </a>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <a href="http://www.spu.ac.th" class="thumbnail">
                                    <img src="https://tmaxtech.co.th/images/Partner/2.jpg" alt="Image" style="height: 80px;">
                                </a>
                            </div>
                        </div>
                    </div>*@




                        
                    </div>
                </div>
            </div>
        </div>
    }
   
  
</section>
@section scripts{
    <script>
        $(function() {
            $('#Carousel').carousel({
                interval: 3000
            });
        });
        
    </script>
}