﻿@using IContestPro
@using IContestPro.AdvertHomePageBanner.Dto
@model IEnumerable<AdvertHomePageBannerDto>

<div class="slider-area">
    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
            @{
                var counterIndex = 1;
                const int totalAllowed = 3;
            }
            @if (Model != null && !Model.Count().Equals(0))
            {
                foreach (var item in Model)
                {
                    //Todo: Load advert images
                    if (counterIndex == totalAllowed)
                    {
                        break;
                    }
                    <a href="@item.ExternalUrl" target="_blank">
                        <img src="~/images/uploads/@item.Image" alt="@item.Title"/>
                    </a>
                    counterIndex++;
                }
                if (Model.Count().Equals(1))
                {
                    //Todo: If only one advert is available
                    <a asp-action="Index" asp-controller="Contest">
                        <img src="~/images/slider/slide_1.jpg" alt="IContestPRO"/>
                    </a>
                    <a asp-action="Index" asp-controller="Contest">
                        <img src="~/images/slider/slide_2.jpg" alt="IContestPRO"/>  
                    </a>
                }
                else if (Model.Count().Equals(2))
                {
                    //Todo: If only one adverts are available
                    <a asp-action="Index" asp-controller="Contest">
                        <img src="~/images/slider/slide_1.jpg" alt="IContestPRO"/>
                    </a>
                }
            }
            else
            {
                //Todo: If no advert is available
                <a asp-action="Index" asp-controller="Contest"><img src="~/images/slider/slide_1.jpg" alt="IContestPRO"/></a>
                <a asp-action="Index" asp-controller="Contest"><img src="~/images/slider/slide_2.jpg" alt="IContestPRO"/></a>
                <a asp-action="Index" asp-controller="Contest"><img src="~/images/slider/slide_3.jpg" alt="IContestPRO"/></a>
                
                
                
            }

        </div>
        <!-- direction 2 -->

    </div>
</div>
<script>
    window.onload = function() {
           $(document).on('click', '.nivoSlider', function() {
           var img = $(this).find('img.nivo-main-image');
            $(this).find('img').each(function(index, element) {
                if ($(element).attr('href') !== '' && $(element).attr('href') !== undefined) {
                    if (img.attr('src') === $(element).attr('src')) {
                   //     document.location.href = $(element).attr('href');
                    }
                } 
            });
           
            
        });
    }
</script>
