﻿@using IContestPro.Blog.Dto
@using IContestPro.Cookie
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting;
@model IContestPro.Blog.Dto.CreateBlogDto
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.Blogs; // The menu item will be active for this page.
    ViewBag.Title = "Create News"; // The menu item will be active for this page.
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <section class="content-header">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <h2>Create News</h2>
                            </section>

                        </div>
                        <div class="col-md-6">
                            <nav aria-label="breadcrumb" class="pull-right">
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                                    <li><a asp-controller="Blogs" asp-action="Index">News</a></li>
                                    <li>Create News</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </section>
                <hr/>
                   <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <article class="form-horizontal margin-top-20">
                                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                                        <section class="col-md-9">

                                            <div class="input-group">
                                                <div class="col-md-3">
                                                    <label for="Title">Title</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-line">
                                                        <input type="text" required placeholder="Enter your title" id="title-textbox" asp-for="Title" maxlength="200" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="col-md-3">
                                                    <label for="Content">News Content</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-line">
                                                        <textarea required placeholder="Message" asp-for="Content" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="col-md-3">
                                                    <label for="Tags">Tags</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-line">
                                                        <input placeholder="Tags" asp-for="Tags" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="col-md-3">
                                                    <label for="file">Image</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-line">
                                                        <input id="exampleInputFile" required="" class="form-control" name="file" type="file">
                                                        <small>Image Dimension: Width: 650, Height: 300</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="col-md-offset-3 col-md-9">
                                                      <input id="activateNews" type="checkbox" @(ViewBag.ActivateNews != null && (bool)ViewBag.ActivateNews ? "checked='checked'":"") name="activateNews" value="true"  class="form-control" />
                                                    <label for="activateNews" class="form-label">Activate News</label>
                                                </div>
                                                
                                            </div>
                                            <div class="input-group">
                                                <div class="col-md-9 col-md-offset-3">
                                                    <button class="btn" type="submit"> Create</button>

                                                </div>
                                            </div>

                                        </section>


                                    </form>

                    </article>
                            </div>
                        </div>
                    </div>
               
            </div>
           

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>

<!-- #END# CPU Usage -->