﻿@using Abp.Runtime.Session
@using IContestPro
@using IContestPro.Blog.Dto
@using IContestPro.Cookie
@using IContestPro.Messages.Dto
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting;
@model IContestPro.Blog.Dto.BlogDtoWithDetails
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.Blogs; // The menu item will be active for this page.
    ViewBag.Title = Model.Title; // The menu item will be active for this page.
    int pageSize = ViewBag.PageSize;
    int page = ViewBag.Page;
}
@section styles {
    <style>
        .ticket-type-wrapper{margin: 10px 0 0 0px; min-height: 500px;background-color: #eee;}
        .ticket-type-wrapper .list-group-item:first-child{border-radius: 0; background-color: #eee;}
        .ticket-type-wrapper .list-group-item:last-child{border-radius: 0; }
    </style>
}


<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <section class="content-header">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <h2>Details</h2>
                            </section>

                        </div>
                        <div class="col-md-6">
                            <nav aria-label="breadcrumb" class="pull-right">
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                                    <li><a asp-controller="Blogs" asp-action="IndexAdmin">Blogs</a></li>
                                    <li>@Model.Title</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </section>
                <hr/>
                <div class="row">
                <article>
                    <article class="well">
                        <div class="no-margin-left no-margin-right margin-bottom-30">
                            <h3>@Model.Title</h3>
                            <hr />
                            <div><i class="fa fa-user"></i> <strong>@Model.Nickname</strong></div>
                            <div><i class="fa fa-cogs"></i> <strong>@Model.StatusName</strong></div>
                            <div><i class="fa fa-calendar margin-bottom-30"></i> <strong>@Model.CreationTime.ToAppDateTimeString()</strong></div>
                            <div class="news-featured-image margin-top-20 margin-bottom-20 ">
                                <a style="display: block; width: 100%; height: 100%; background-image: url(&quot;/images/uploads/@Model.Image&quot;); background-position: top center !important;
                                           background-size: cover !important;
                                           position: relative;
                                           overflow: hidden;"> 
                                </a>
                                @*<a target="_blank" href="/images/uploads/@Model.Image"><img src="/images/uploads/@Model.Image"/></a>*@
                            </div>
                            <div class="margin-bottom-20 new-content" style="text-align: justify;">
                                <p>@Model.Content</p>
                            </div>
                        </div>
                        @if (Model.Tags != null)
                        {
                            <hr />
                            <div class="row">
                                <div class="col-md-2"> Tags</div>
                                <div class="col-md-12">
                                    @foreach (var tag in Model.Tags.Split(","))
                                    {
                                        <a asp-action="Tag" asp-route-id="@tag" title="Search tag"><span class="badge badge-danger">@tag</span></a>
                                    }
                                </div>
                            </div> 
                        }
                        
                        <hr />
                        <div class="row" id="commentSection">
                            <div class="col-md-12"> <h4>Comments</h4></div>
                        </div>
                        @if (Model != null &&  Model.Responses.Items.Count > 0)
                        {
                        foreach (var response in Model.Responses.Items)
                        {
                            
                                <article >
                                    <div class="row @((response.UserId != AbpSession.GetUserId()) ? "well no-margin-left no-margin-right" : "")" style="@((response.UserId != AbpSession.GetUserId()) ? "" : "background-color: #fff; margin: 10px 0; padding: 10px;border-radius: 4px;")">
                                        <aside class="col-md-2 col-sm-2 col-xs-2">
                                                <img src="/images/user.png" width="50" class="img-thumbnail">
                                        </aside>
                                        <section class="col-md-10  col-sm-10 col-xs-10">
                                            <div>
                                                <h3 class="no-margin-top">@(response.UserId == AbpSession.GetUserId() ? "Me" : response.Nickname)</h3>
                                                <div>
                                                    <small class="text-muted">
                                                        <i class="fa fa-calculator"></i> @response.CreationTime.ToAppDateTimeString()</small>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="news-content">
                                                <p>@response.Message</p>    
                                            </div>
                                        </section>

                                    </div>
                                </article>
                        }
                        
                        }
                        else
                        {
                        <div class="">
                            <div class="row">
                                <div class="col-md-8 col-sm-9 col-xs-9">
                                    <p class="text-danger">There are no comments for this news.</p>
                                </div>
                            </div>
                        </div>
                        }
                        
                        
                        <div>
                            @if (Model.StatusName == AppConsts.StatusPending)
                            {
                                <form asp-action="ChangeStatus" asp-route-permalink="@Model.Permalink" class="inline-block">
                                    <input type="hidden" name="EntityId" value="@Model.Id"/>
                                    <input type="hidden" name="permalink" value="@Model.Permalink"/>
                                    <input type="hidden" name="StatusName" value="@AppConsts.StatusActive"/>
                                    <button class="btn btn-success    " type="submit">Make Active</button>
                                </form>
                                                          
                            }
                            else if (Model.StatusName == AppConsts.StatusActive)
                            {
                                <form asp-action="ChangeStatus" asp-route-permalink="@Model.Permalink" class="inline-block">
                                    <input type="hidden" name="EntityId" value="@Model.Id"/>
                                    <input type="hidden" name="permalink" value="@Model.Permalink"/>
                                    <input type="hidden" name="StatusName" value="@AppConsts.StatusPending"/>
                                    <button class="btn btn-warning" type="submit">Make Pending</button>
                                </form>
                            }  
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        </div>
                        
                        @if (Model.Responses.TotalCount > pageSize)
                        {
                            <div class="cearfix"></div>
                            <article class="margin-top-70">
                                @Html.PaginateCustomUrl(Model.Responses.TotalCount, page,
                                    pageSize, "Blogs/DetailsAdmin/" + Model.Permalink, "#commentSection")
                            </article>   
                        }
                    </article>
                </article>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            if(document.location.hash) {
                $('html, body').animate({
                    scrollTop: $("#commentSection").offset().top - 200
                }, 500);
            };
        });
    </script>
}