﻿@using Abp.Runtime.Session
@using IContestPro
@using IContestPro.Blog.Dto
@using IContestPro.Cookie
@using IContestPro.Messages.Dto
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting;
@model IContestPro.Blog.Dto.BlogDtoWithDetails
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.Blogs; // The menu item will be active for this page.
    ViewBag.Title = Model.Title; // The menu item will be active for this page.
    int pageSize = ViewBag.PageSize;
    int page = ViewBag.Page;
    Layout = "_ContestHomePageLayoutWithRightSide";

}
@section styles {
   
}


<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
                <section class="content-header">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                                    <li><a asp-controller="Blogs" asp-action="Index">Blog Posts</a></li>
                                    <li>@Model.Title</li>
                                </ol>
                            </nav>
                        
                </section>
                <hr/>
                <article>
                    <article class="padding-left-20">
                        <div class="margin-bottom-30">
                            <h3>@Model.Title</h3>
                            <hr />
                            
                            <div><i class="fa fa-user"></i> <strong>@Model.Nickname</strong></div>
                            <div><i class="fa fa-calendar margin-bottom-30"></i> <strong>@Model.CreationTime.ToAppDateTimeString()</strong></div>
                           
                               <article id="st-inline-button-preview">
                    <div class="row padding-20">
                        <div class="social-button col-md-2" data-network="facebook">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path" target="_blank">
                                <i class="fa fa-facebook social-button-icon"></i>
                                <span class="social-button-label">Facebook</span>
                            </a>
                        </div>
                        <div class="social-button  col-md-2" data-network="twitter">
                            <a href="https://twitter.com/intent/tweet?text=@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path" target="_blank">
                                <i class="fa fa-twitter social-button-icon"></i>
                                <span class="social-button-label">Tweet</span>
                            </a>
                        </div>
                        <div class="social-button col-md-2" data-network="linkedin">
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url=@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path&title=@Model.Title&summary=@Model.Content&source=icontestpro.com" target="_blank">
                                <i class="fa fa-linkedin social-button-icon"></i>
                                <span class="social-button-label">LinkedIn</span>
                            </a>
                           
                        </div>
                        <div class="social-button col-md-2" data-network="pinterest">
                            <a href="https://pinterest.com/pin/create/button/?url=@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path&media=@Context.Request.Scheme://@Context.Request.Host/images/uploads/@Model.Image&description=@Model.Content" target="_blank">
                                <i class="fa fa-pinterest social-button-icon"></i>
                                <span class="social-button-label">Pin</span>
                            </a>
                           
                        </div>
                        <div class="social-button  col-md-2" data-network="email">
                            <a href="mailto:?subject=@Model.Title&body=@Model.Content%0D%0A%0D%0A@(Context.Request.Scheme)://@Context.Request.Host@Context.Request.Path" target="_blank">
                                <i class="fa fa-envelope-o social-button-icon"></i>
                                <span class="social-button-label">Email</span>
                            </a>
                        </div>
                        
                    </div>
                </article>
                            
                            <div class="news-featured-image margin-top-20 margin-bottom-20 ">
                                <a style="display: block; width: 100%; height: 100%; background-image: url(&quot;/images/uploads/@Model.Image&quot;); background-position: top center !important;
                                           background-size: cover !important;
                                           position: relative;
                                           overflow: hidden;"> 
                                </a>
                                @*<a target="_blank" href="/images/uploads/@Model.Image"><img src="/images/uploads/@Model.Image"/></a>*@
                            </div>
                            <div class="margin-bottom-20 new-content" style="text-align: justify;">
                                <p>@Model.Content</p>
                            </div>
                        </div>
                        @if (Model.Tags != null)
                        {
                            <hr />
                            <div class="row">
                                <div class="col-md-2"> Tags</div>
                                <div class="col-md-12">
                                    @foreach (var tag in Model.Tags.Split(","))
                                    {
                                        <a asp-action="Tag" asp-route-id="@tag" title="Search tag"><span class="badge badge-danger">@tag</span></a>
                                    }
                                </div>
                            </div> 
                        }
                        
                     
                        <hr />
                        <div class="row" id="commentSection">
                            <div class="col-md-12"> <h4>Comments</h4></div>
                        </div>
                       
                        @if (Model != null &&  Model.Responses.Items.Count > 0)
                        {
                            foreach (var response in Model.Responses.Items)
                            {
                            
                                <article >
                                    <div class="row well no-margin-left no-margin-right" >
                                        <aside class="col-md-1 col-sm-1">
                                                <img src="/images/user.png" width="50" class="img-thumbnail">
                                        </aside>
                                        <section class="col-md-11  col-sm-11">
                                            <div>
                                                <h3 class="no-margin-top no-margin-bottom">@(AbpSession.UserId != null && response.UserId == AbpSession.GetUserId() ? "Me" : response.Nickname)</h3>
                                                <div>
                                                    <small class="text-muted">
                                                        <i class="fa fa-calculator"></i> @response.CreationTime.ToAppDateTimeString()</small>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="news-content">
                                                <p>@response.Message</p>    
                                            </div>
                                        </section>

                                    </div>
                                </article>
                        }
                           
                        }
                        else
                        {
                        <div class="alert alert-danger">
                                    <p class="text-danger">There are no comments for this news.</p>
                        </div>
                        }

                        <article class="form-horizontal padding-20">
                            @if (AbpSession.UserId != null)
                            {
                                <form asp-action="NewBlogResponse" id="form-close-ticket-checkbox" method="post">
                                    <div class="form-group">
                                        <input type="hidden" name="BlogId" value="@Model.Id"/>
                                        <input type="hidden" name="permalink" value="@Model.Permalink"/>
                                        <div class="form-line">
                                            <textarea placeholder="Write your comment" id="message" required name="message" class="form-control padding-10"></textarea>
                                        </div>
                                    </div> 
                                   
                                    <div class="form-group">
                                        <button class="btn" type="submit"> Comment</button>
                                    </div>
                                </form> 
                            }
                            else
                            {
                                <div class="alert alert-info">
                                    <p>Please login to post your comment. <a class="btn btn-default btn-sm" asp-action="Login", asp-controller="Account" asp-route-returnUrl="/Blogs/Details/@Model.Permalink">Login</a></p>
                                </div>  
                            }
                               

                        </article>
                        @if (Model.Responses.TotalCount > pageSize)
                        {
                            <div class="cearfix"></div>
                            <article class="margin-top-70">
                                @Html.PaginateCustomUrl(Model.Responses.TotalCount, page,
                                    pageSize, "Blogs/Details/" + Model.Permalink, "#commentSection")
                            </article>   
                        }
                        
                    </article>
                </article>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function() {
            if(document.location.hash) {
                $('html, body').animate({
                    scrollTop: $("#commentSection").offset().top - 200
                }, 500);
            };
        });
    </script>
}
<!-- #END# CPU Usage -->