﻿@using Abp.Application.Services.Dto
@using Abp.Runtime.Session
@using IContestPro
@using IContestPro.Authorization
@using IContestPro.Blog.Dto
@using IContestPro.Cookie
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting;
@model PagedResultDto<IContestPro.Blog.Dto.BlogDtoWithDetails>
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.Blogs; // The menu item will be active for this page.
    ViewBag.Title = PageNames.Blogs; // The menu item will be active for this page.
   int pageSize = ViewBag.PageSize;
   int page = ViewBag.Page;
   var statusName = (string)ViewBag.Status;
}
@section styles {
   
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <section class="content-header">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <nav aria-label="breadcrumb" class="pull-right">
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                                    <li>Latest News</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <section>
                        <h2>Latest News <a asp-action="Create" class="btn pull-right">Create</a></h2>
                        <hr /><br />
                    </section>
                    <section>
                        <form asp-action="IndexAdmin" method="get">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <select class="form-control" name="status">
                                            <option selected="@(statusName == "")" value="All">All</option>
                                            <option selected="@(statusName == AppConsts.StatusPending)" value="@AppConsts.StatusPending">Pending</option>
                                            <option selected="@(statusName == AppConsts.StatusActive)" value="@AppConsts.StatusActive">Active</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 flex-container">
                                        <input type="submit" value="Filter" class="btn btn-primary btn-block flex-item"/>    
                                      
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-7 col-sm-7 col-xs-7">
                                <div class="no-margin">Total News: <strong>@Model.TotalCount</strong></div>
                            </div>
                            
                        </div>
                        <div class="clearfix"></div>
                        </section>
                </section>
                <div class="row">
                    <article class="col-md-12  col-sm-12 col-xs-12">
                        
                        <section class="table-responsive">
                            @{
                                var row = ((page - 1) * pageSize) + 1;
                            }
                            @if (Model != null && Model.Items.Count > 0)
                            {
                                <table id="tickets-table" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Title</th>
                                        <th>News</th>
                                        <th>Created By</th>
                                        <th>Status</th>
                                        <th>Tags</th>
                                        <th>Date</th>
                                        <th>Image</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model.Items)
                                    {
                                        <tr> 
                                            <td>@row</td>
                                            <td>@item.Title</td>
                                            <td>@item.Content.Substring(0, 200)</td>
                                            <td>@item.Nickname</td>
                                            <td>@item.StatusName</td>
                                            <td>@item.Tags</td>
                                            <td>@item.CreationTime.ToAppDateTimeString()</td>
                                            <td><a target="_blank" href="/images/uploads/@item.Image"><img src="@Url.Action("GetImage", new {path = "images/uploads/" + item.Image, width = 80, height = 80})"/></a></td>
                                            <td class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons">menu</i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a asp-action="DetailsAdmin" asp-route-id="@item.Permalink">Details</a>
                                                    </li>
                                                   
                                                    <li>
                                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                    </li>
                                                   
                                                    <li>
                                                        @if (item.StatusName == AppConsts.StatusPaused)
                                                        {
                                                            <form asp-action="ChangeStatus" asp-route-permalink="@item.Permalink" class="flex-container">
                                                                <input type="hidden" name="EntityId" value="@item.Id"/>
                                                                <input type="hidden" name="permalink" value="@item.Permalink"/>
                                                                <input type="hidden" name="StatusName" value="@AppConsts.StatusActive"/>
                                                                <button class="btn btn-success btn-block btn-sm flex-item" type="submit">Make Active</button>
                                                            </form>
                                                          
                                                        }
                                                        else if (item.StatusName == AppConsts.StatusActive)
                                                        {
                                                            <form asp-action="ChangeStatus" asp-route-permalink="@item.Permalink" class="flex-container">
                                                                <input type="hidden" name="EntityId" value="@item.Id"/>
                                                                <input type="hidden" name="permalink" value="@item.Permalink"/>
                                                                <input type="hidden" name="StatusName" value="@AppConsts.StatusPending"/>
                                                                <button class="btn btn-warning btn-sm btn-block flex-item" type="submit">Make Pending</button>
                                                            </form>
                                                        }  
                                                       
                                                    </li>
                                                    
                                                </ul>

                                            </td>
                                        </tr>
                                        row++;
                                    }
                                    </tbody>
                                </table>
                                <article>
                                    @Html.PaginateAdmin(Model.TotalCount, page,
                                        pageSize, "Blogs", "IndexAdmin", "status=" + statusName)
                                </article>
                            }
                            else
                            {
                                <div>
                                    <div class="alert alert-info">
                                        <p>No blog news was found at this time. Please post a new using the link above.</p>
                                        </div>
                                </div>
                            }
                            <!-- /.box -->


                        </section>
                    </article>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            $('.delete-item').click(function(e) {
                var element = $(this);
                e.preventDefault();
                abp.message.confirm("Are you sure you want to delete? Remember, deletion is permanent.", 
                    function(result) {
                        if (result) {
                            element.closest('form').submit();
                        }
                    });
            });
        });
    </script>
}

<!-- #END# CPU Usage -->