﻿@using Abp.Application.Services.Dto
@using Abp.Runtime.Session
@using IContestPro
@using IContestPro.Blog.Dto
@using IContestPro.Cookie
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting;
@model PagedResultDto<IContestPro.Blog.Dto.BlogDtoWithDetails>
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.Blogs; // The menu item will be active for this page.
    ViewBag.Title = PageNames.Blogs; // The menu item will be active for this page.
   int pageSize = ViewBag.PageSize;
   int page = ViewBag.Page;
  Layout = "_ContestHomePageLayoutWithRightSide";
}


<article class="winner-area padding-20" style="background-color: transparent;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Blogs" asp-action="Index">Blogs</a></li>
            <li>Tag</li>
            <li>@ViewBag.Tag</li>
        </ol>
    </nav>
    
        <section class="row">
            <!--CONTESTS BODY-->
 <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 
<hr/>
            </article>
            <!--/CONTESTS BODY-->
           <div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
                <div class="row no-margin-left">
                <article class="col-md-12  col-sm-12 col-xs-12">
                    <section class="table-responsive">
                        @{
                            var count = 0;
                        }
                        @if (Model != null && Model.Items.Count > 0)
                        {
                            foreach (var item in Model.Items)
                            {
                                <div class="col-md-4  news-section-item">
                                    <a asp-action="Details" asp-route-id="@item.Permalink" title="@item.Title" style="display: block;">
                                        <div class="news-section-item-image image-background" style="background-image: url(&quot;/images/uploads/@item.Image&quot;); height: 170px;">
                                        </div>
                                        <div class="news-section-item-title">
                                            @item.Title
                                        </div>
                                    </a>
                                </div>

                            }

                        @*
                            foreach (var item in Model.Items)
                             {
                                 if (count % 3 == 0)
                                 {
                                     if (count == 0)
                                     {
                                         @Html.Raw("<article class='row news-section'>")  
                                     }
                                     else
                                     {
                                         @Html.Raw("<article class='row news-section margin-top-70'>")
                                     }
                                 }
                                 count++;
                                 <div class="col-md-4  news-section-item">
                                     <a asp-action="Details" asp-route-id="@item.Permalink" title="@item.Title" style="display: block; height: 170px;">
                                         <div class="news-section-item-image image-background" style="background-image: url(&quot;/images/uploads/@item.Image&quot;);">
                                         </div>
                                         <div class="news-section-item-title">
                                             @item.Title
                                         </div>
                                     </a>
                                 </div>
                                 if (count % 3 == 0)
                                 {
                                     @Html.Raw("</article>")
                                 }
                         

                             }
                            if (Model.Items.Count % 3 != 0)
                             {
                                 @Html.Raw("</article>")  
                             }*@
                           if (Model.TotalCount > pageSize)
                             {
                                 <div class="cearfix"></div>
                                 <article class="margin-top-70">
                                     @Html.PaginateAdmin(Model.TotalCount, page,
                                         pageSize, "Blogs", "Index")
                                 </article>
                             }
                        }
                        else
                        {
                            <div class="alert alert-info">
                                <div class="row">
                                    <div class="col-md-4 col-sm-3 col-xs-3">
                                        <i class="fa fa-cloud" style="font-size: 15em;"></i>
                                    </div>
                                    <div class="col-md-8 col-sm-9 col-xs-9">
                                        <h3>There Are No Latest News</h3>
                                        <p>There are no latest news for now.</p>
                                    </div>
                                </div>



                            </div>
                        }
                        <!-- /.box -->


                    </section>
                </article>
                </div>

                <div class="clearfix"></div>

        </div>
    </div>
</div>

        </section>

   

</article>