﻿@using Abp.Authorization.Users
@using IContestPro.Web.Startup
@model IContestPro.Users.Dto.ChangePasswordDto
@{
    ViewBag.CurrentPageName = PageNames.Manage; // The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
{
    

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>
    </environment>
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
               
                <h3 class="margin-20">Change Your Password</h3>
                <form asp-action="ChangePassword" class="form-horizontal">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" value="@(Model != null ? Model.CurrentPassword : "")" name="CurrentPassword" placeholder="Current Password" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <section class="row">
                                <div class="col-md-10">
                                    <input type="password" class="form-control" value="@(Model != null ? Model.NewPassword : "")" name="NewPassword" id="reveal-password-field" placeholder="New Password" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-eye-slash reveal-password"></i>
                                </div>
                            </section>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button id="submit" class="btn bg-pink waves-effect" type="submit">Submit</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->