﻿@using IContestPro
@using IContestPro.Authorization.Roles
@using IContestPro.Cookie
@using IContestPro.Web.Models.Common.Modals
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting;
@model IContestPro.Users.Dto.UserDto
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@using File = System.IO.File

@{
    ViewBag.CurrentPageName = PageNames.Manage; // The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
{
<script src="~/view-resources/Views/Manage/index.js" asp-append-version="true"></script>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(function() {
            $('#remind-me-tomorrow').click(function() {
                Cookies.set('@AppConsts.CookieKeyHideSponsorNotification', 'showTomorrow', { expires: 1 });
                $('.sponsor-alert').hide();
            });
            $('#dont-show-again').click(function() {
                Cookies.set('@AppConsts.CookieKeyHideSponsorNotification', 'showTomorrow', { expires: 7 });
                $('.sponsor-alert').hide();
            });
            $('#colpy-link').click(function() {
                genericScriptService.saveItemToClipBoard('#referral-link');
            });
            $('.referral-info-link').click(function() {
                $('.referral-info-container').toggle();
            });
        });
    </script>
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
        <div class="body">
        <div class="well">
            <h3>Referral Link <i class="fa fa-info-circle referral-info-link text-info" style="cursor: pointer" title="Read more on referral"></i></h3>
            <div class="alert alert-info referral-info-container" style="display: none;">
                <h3>How iContestPRO referral work</h3>
                <p>The referral system is used to invite people to the platform.</p>
                <p>It's also a way to biuld your <strong>Vote Points</strong>. You get @ViewBag.ReferralVotePoint vote points the first time the person you refer enters a contest or cast a vote.</p>
                <p><strong>Note:</strong> Your vote points can be converted to cash and withdrawn.</p>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="form-control" style="height: auto;">
                        <span><textarea readonly="" id="referral-link" style="display: inline-block;width: 90%;border: 0; max-height: 30px; ">@ViewBag.ReferralLink</textarea></span>
                        <span id="colpy-link" class="fa fa-copy pull-right text-success" title="Copy link" style="cursor: pointer;"></span>
                    </div>
                </div>
            </div>
        </div>
        @if (CookieAppService.Get(AppConsts.CookieKeyHideSponsorNotification).Value == null &&
             !User.IsInRole(StaticRoleNames.Tenants.Sponsors))
        {
            <div class="alert alert-info alert-dismisable sponsor-alert" role="alert">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <i class="fa fa-cloud-upload fa-5x"></i>
                    </div>

                    <div class="col-md-10">
                        <h4 class="alert-heading">
                            Become a sponsor
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </h4>
                        <p>Becoming a sponsor will enable you create contests that members can compete and vote on. This enables you to promote your brand and give it utmost visibility on the platform.</p>
                        <div class="row margin-top-30">
                            <div class="col-md-10">
                                <p>
                                    <a href="/Sponsor/Upgrade" class="btn btn-xs btn-success-inverse"><i class=""></i> Signup as a sponsor</a>
                                    <a href="/Sponsor/Index" class="btn btn-xs btn-danger"><i class=""></i> Read more...</a>
                                </p>
                            </div>
                            <div class="col-md-2 text-right">
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a class=" waves-effect waves-block" asp-controller="Sponsor" asp-action="Index">Read More</a>
                                            </li>
                                            <li>
                                                <a class=" waves-effect waves-block" id="remind-me-tomorrow">Remind me tomorrow</a>
                                            </li>
                                            <li>
                                                <a class=" waves-effect waves-block" id="dont-show-again">Don't show me again</a>
                                            </li>


                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }
        <section>
            <h2>Account Details</h2>
        </section>
        <section class="profile-image-wrapper">

            <div class="row">
                <section class="col-md-7 col-sm-4 col-xs-4  profile-avarta-wrapper">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="profile-avarta-container">
                                <div class="edit-avarta-container-wrapper" style="width: 100px;" data-toggle="modal" data-target="#ProfilePictureModal">
                                
                                    @if (File.Exists(HostingEnvironment.WebRootPath + "/images/uploads/" + Model.Image))
                                    {
                                        <img src="~/images/uploads/@Model.Image" class="img-circle img-responsive img-thumbnail" width="100" height="100"/>
                                    }
                                    else
                                    {
                                        <img src="~/images/user.png" class="img-circle img-responsive img-thumbnail" width="100" height="100"/>
                                    }
                                    <p class="edit-avarta-container"><a href="#">Edit</a></p>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>
                <section class="col-md-4 col-sm-7 col-xs-7 col-sm-offset-1  col-xs-offset-1" style="padding-top: 30px;">
                    <h2 class="text-white">@Model.NickName</h2>
                    <div>
                        @if (Model.FaceBook != null)
                        {
                            <a target="_blank" href="@Model.FaceBook"><i class="fa fa-facebook-square text-white fa-2x"></i></a>
                        }
                        @if (Model.Twitter != null)
                        {
                            <a target="_blank" href="@Model.Twitter"><i class="fa fa-twitter-square text-white fa-2x margin-left-10"></i></a>
                        }
                        @if (Model.LinkedIn != null)
                        {
                            <a target="_blank" href="@Model.LinkedIn"><i class="fa fa-linkedin-square text-white fa-2x margin-left-10"></i></a>
                        }
                        @if (Model.Instagram != null)
                        {
                            <a target="_blank" href="@Model.Instagram"><i class="fa fa-instagram text-white fa-2x margin-left-10"></i></a>
                        }
                    </div>
                </section>
            </div>
        </section>
        <div class="clearfix"></div>
        <section>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 margin-top-30">

                    <a data-toggle="modal" data-target="#FundWalletModal" class="btn btn-default  btn-lg"><i class="fa fa-money"></i> Fund Wallet</a>
                    <a href="@Url.Action("ChangePassword")" class="btn btn-warning btn-lg"><i class="fa fa-lock"></i> Change Password</a>
                </div>
            </div>
            <hr class="no-margin-top"/>
        </section>
        <section>
            <article class="user-info-wrapper">
                <section class="row">
                    <div class="col-md-2 col-sm-3 col-xs-4"><strong>First Name</strong></div>
                    <div class="col-md-6 col-sm-6 col-xs-6">@Html.Raw((string.IsNullOrWhiteSpace(Model.Name) ? "<span class='badge badge-danger'>Not entered</span>" : Model.Name))</div>
                </section>
                <section class="row">
                    <div class="col-md-2 col-sm-3 col-xs-4"><strong>Last Name</strong></div>
                    <div class="col-md-6 col-sm-6 col-xs-6">@Html.Raw((string.IsNullOrWhiteSpace(Model.Surname) ? "<span class='badge badge-danger'>Not entered</span>" : Model.Surname))</div>
                </section>
                <section class="row">
                    <div class="col-md-2 col-sm-3 col-xs-4"><strong>Email</strong></div>
                    <div class="col-md-6 col-sm-6 col-xs-6">@Model.EmailAddress </div>
                </section>
                <section class="row">
                    <div class="col-md-2 col-sm-3 col-xs-4"><strong>Phone Number</strong></div>
                    <div class="col-md-10 col-sm-6 col-xs-6">@Model.PhoneNumber
                        @if (ViewBag.ShouldConfirmPhoneNumber)
                        {
                            if (!Model.IsPhoneNumberConfirmed)
                             {
                                 <span class="badge badge-danger">Not Comfirmed</span>
                                 <a href="#" class="btn btn-primary animated infinite fadeIn btn-xs pull-right" style="padding: 0 4px !important;">Confirm your phone number</a>
                             } 
                        }
                        
                    </div>
                </section>
                <section class="row">
                    <div class="col-md-2 col-sm-3 col-xs-4"><strong>Nick Name</strong></div>
                    <div class="col-md-6 col-sm-6 col-xs-6">@Model.NickName</div>
                </section>
                <section class="row">
                    <div class="col-md-2 col-sm-3 col-xs-4"><strong>Profession</strong></div>
                    <div class="col-md-6 col-sm-6 col-xs-6">@Html.Raw((string.IsNullOrWhiteSpace(Model.Profession) ? "<span class='badge badge-danger'>Not entered</span>" : Model.Profession))</div>
                </section>
                <section class="row">
                    <div class="col-md-2 col-sm-3 col-xs-4"><strong>Country</strong></div>
                    <div class="col-md-6 col-sm-6 col-xs-6">@Model.Country?.Name</div>
                </section>
                <section class="row">
                    <div class="col-md-2 col-sm-3 col-xs-4"><strong>State</strong></div>
                    <div class="col-md-6 col-sm-6 col-xs-6">@Model.State?.Name</div>
                </section>
                <section class="row">
                    <div class="col-md-2"><strong>FaceBook</strong></div>
                    <div class="col-md-4"> <a target="_blank" href="@(Model.FaceBook ?? "#")">@(Model.FaceBook ?? "Not provided")</a></div>
                </section>
                <section class="row">
                    <div class="col-md-2"><strong>Twitter</strong></div>
                    <div class="col-md-4"> <a target="_blank" href="@(Model.Twitter ?? "#")">@(Model.Twitter ?? "Not provided")</a></div>
                </section>
                <section class="row">
                    <div class="col-md-2"><strong>LinkedIn</strong></div>
                    <div class="col-md-4"> <a target="_blank" href="@(Model.LinkedIn ?? "#")">@(Model.LinkedIn ?? "Not provided")</a></div>
                </section>
                <section class="row">
                    <div class="col-md-2"><strong>Instagram</strong></div>
                    <div class="col-md-4"> <a target="_blank" href="@(Model.Instagram ?? "#")">@(Model.Instagram ?? "Not provided")</a></div>
                </section>
                <section>
                    <div>
                        <a href="@Url.Action("Update")" class="btn btn-danger">Update Profile</a>
                    </div>
                </section>
                @if (User.IsInRole(StaticRoleNames.Tenants.Sponsors))
                {
                    <hr/>
                    <h2>Company Profile <a asp-action="Edit" asp-controller="Sponsor" asp-route-id="@Model.Sponsor?.Id" class="btn btn-danger pull-right btn-lg">Edit</a></h2>
                    <hr/>
                    <section style="height: 150px; background: #ee462e url('images/uploads/@Model.Sponsor?.Banner') no-repeat 100%/100%;">
                        <div class="row">
                            <div class="col-md-8 profile-avarta-wrapper">
                                @*<div class="profile-avarta-container">
                                            <div class="edit-avarta-container-wrapper" style="width: 100px;">
                                                <img src="~/images/uploads/@Model.Company?.Logo" class="img-responsive img-thumbnail img-circle" width="100" height="100"/>
                                                <p class="edit-avarta-container"><a asp-action="Edit" asp-controller="Sponsor" asp-route-id="@Model.Company?.Id" >Edit</a></p>
                                            </div>
                                        </div>*@
                            </div>

                        </div>
                    </section>
                    <br/><br/>

                    <div class="row">
                        <section class="col-md-8">
                            <section class="row">
                                <div class="col-md-2"><strong>Comapny Name</strong></div>
                                <div class="col-md-4">@Model.Sponsor?.Name</div>


                            </section>
                            <section class="row">
                                <div class="col-md-2"><strong>Description</strong></div>
                                <div class="col-md-10">@Model.Sponsor?.Description</div>
                            </section>
                            <section class="row">
                                <div class="col-md-2"><strong>FaceBook</strong></div>
                                <div class="col-md-4"> <a href="@(Model.Sponsor?.FaceBook ?? "#")">@(Model.Sponsor?.FaceBook ?? "Not provided")</a></div>
                            </section>
                            <section class="row">
                                <div class="col-md-2"><strong>Twitter</strong></div>
                                <div class="col-md-4"> <a href="@(Model.Sponsor?.Twitter ?? "#")">@(Model.Sponsor?.Twitter ?? "Not provided")</a></div>
                            </section>
                            <section class="row">
                                <div class="col-md-2"><strong>LinkedIn</strong></div>
                                <div class="col-md-4"> <a href="@(Model.Sponsor?.LinkedIn ?? "#")">@(Model.Sponsor?.LinkedIn ?? "Not provided")</a></div>
                            </section>
                            <section class="row">
                                <div class="col-md-2"><strong>Instagram</strong></div>
                                <div class="col-md-4"> <a href="@(Model.Sponsor?.Instagram ?? "#")">@(Model.Sponsor?.Instagram ?? "Not provided")</a></div>
                            </section>
                            <section class="row">
                                <div><a asp-action="Edit" asp-controller="Sponsor" asp-route-id="@Model.Sponsor?.Id" class="btn btn-danger btn-lg">Edit</a></div>
                            </section>
                        </section>
                        <aside class="col-md-4">
                            <div class="profile-avarta-container margin-top-20 margin-bottom-20">
                                <div class="edit-avarta-container-wrapper">
                                    <img src="~/images/uploads/@Model.Sponsor?.Logo" class="img-responsive img-thumbnail img-circle"/>
                                </div>
                            </div>
                            <div>
                                <a href="@(Model.Sponsor?.FaceBook ?? "#")"><i class="fa fa-facebook-square fa-2x"></i></a>
                                <a href="@(Model.Sponsor?.Twitter ?? "#")"><i class="fa fa-twitter-square fa-2x margin-left-10"></i></a>
                                <a href="@(Model.Sponsor?.LinkedIn ?? "#")"><i class="fa fa-linkedin-square fa-2x margin-left-10"></i></a>
                                <a href="@(Model.Sponsor?.Instagram ?? "#")"><i class="fa fa-instagram fa-2x margin-left-10"></i></a>
                            </div>


                        </aside>
                    </div>


                }

            </article>
        </section>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ProfilePictureModal" tabindex="-1" role="dialog" aria-labelledby="ProfilePictureModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Profile Picture"))
            <form name="ProfilePicForm" asp-action="ProfilePicture" role="form" class="form-validation"
                  method="post" enctype="multipart/form-data">     
            <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div>
                                    <label for="profilepic" class="form-label">Edit Profile Picture</label>
                                    <input id="profilepic" type="file" name="profilepic" class="form-control" accept="image/*" data-width="550" data-height="550" required=""/>
                                    <small>Logo size 550px by 550px</small>
                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                <button type="submit" class="btn btn-primary waves-effect submit-btn">@L("Save")</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- #END# CPU Usage -->