﻿@using Abp.Authorization.Users
@using IContestPro.Helpers.DatabaseFieldLengths
@using IContestPro.Web.Startup
@model IContestPro.Users.Dto.UserDto
@{
    ViewBag.CurrentPageName = PageNames.Manage; // The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
{
    

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>
    </environment>
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <form asp-action="Update" class="form-horizontal">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.UserName)
                    @Html.HiddenFor(m => m.StateId)
                    @Html.HiddenFor(m => m.CountryId)
                    @Html.HiddenFor(m => m.IsActive)
                    @Html.HiddenFor(m => m.Image)
                    @Html.HiddenFor(m => m.Permalink)
                    <div class="input-group">
                        <div class="col-md-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder = "First Name", required = "", maxlength = AbpUserBase.MaxNameLength})
                            </div>
                        </div>

                    </div>

                    <div class="input-group">
                        <div class="col-md-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                @Html.TextBoxFor(m => m.Surname, new {@class = "form-control", placeholder = "Last name", required = "", maxlength = AbpUserBase.MaxUserNameLength})
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label>Nickname</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                @Html.TextBoxFor(m => m.NickName, new {@class = "form-control", placeholder = "Nickname", required = "", maxlength = 50})
                            </div>
                        </div>

                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label>Email Address</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                @Html.TextBoxFor(m => m.EmailAddress, new {@class = "form-control", placeholder = "Email Address", @readonly = ""})
                            </div>
                        </div>

                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label>Phone Number</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                @Html.TextBoxFor(m => m.PhoneNumber, new {@class = "form-control", placeholder = "Phone Number", @readonly = ""})
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label>Profession</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                @Html.TextBoxFor(m => m.Profession, new {@class = "form-control", placeholder = "Profession", required = ""})
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="FaceBook">FaceBook Page</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="FaceBook" type="url" class = "form-control", placeholder = "FaceBook", maxlength="@StandardFieldLength.MaxSocialMediaLength"/>
                            </div>
                        </div>
                    </div> <div class="input-group">
                        <div class="col-md-2">
                            <label for="Twitter">Twitter</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Twitter" type="url" class = "form-control", placeholder = "Twitter", maxlength="@StandardFieldLength.MaxSocialMediaLength"/>
                            </div>
                        </div>
                    </div> 
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="LinkedIn">LinkedIn Page</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="LinkedIn" type="url" class = "form-control", placeholder = "LinkedIn", maxlength="@StandardFieldLength.MaxSocialMediaLength"/>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Instagram">Instagram Page</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Instagram" type="url" class = "form-control", placeholder = "Instagram", maxlength="@StandardFieldLength.MaxSocialMediaLength"/>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button class="btn btn-danger"><i class="fa fa-upload"></i> Save Changes</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->