﻿@using IContestPro
@using IContestPro.Contest.ContestEntry.Dto
@using IContestPro.Helpers
@using IContestPro.Web.Helpers
@model Abp.Application.Services.Dto.PagedResultDto<ActiveContestEntryDto>
@{
    ViewBag.Title =  "Entries";
    int page = ViewBag.Page;
    int pageSize = ViewBag.PageSize;
}


@section Scripts
{
    <script src="~/js/angular.min.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/ContestEntry/entriesController.js" asp-append-version="true"></script> 

}
<section
    ng-app="myContestApp" ng-controller="entriesController"
    ng-init="">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Contest" asp-action="Index">Contests</a></li>
                <li>Entries</li>
            </ol>
        </nav>
        <div >
           
        </div>
        @if (Model == null || !Model.Items.Any())
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-info text-center">
                    <p class="animated fadeIn infinite text-danger"><i class="fa fa-trophy" style="font-size: 16em;"></i></p>
                    <h2>No Entries Yet</h2>
                    <p>There are no entries for this contest at the time. Please click the join button below to join this contest. You can as well view other contests you might be interested to join.</p>
                    <br/>
                    <br/>
                    <div class="flex-container">
                        <a asp-controller="Contest" asp-action="Index" class="btn btn-default flex-item"><i class="fa fa-list-alt"></i> View Contests</a>
                        @if (ViewBag.ContestPermalink != null)
                        {
                            <a href="@AppRoutingConsts.ContestEntriesJoin((string) ViewBag.ContestPermalink)" class="btn btn-warning  flex-item"><i class="fa fa-plus"></i> Join</a>
                        }
                    </div>
                     
                </div>
            </div>
        }
        else
        {
            <section class="winner-area padding-top-20">
                <!--CONTESTS BODY-->
                <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <section class="">
                        @foreach (var item in Model.Items)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="entry-@item.Id">
                            <div class="single-winners">
                                <div class="images contest-type-wrp no-padding-top">
                                    @if (item.ContestEntryType == AppConsts.ContestEntryTypeVideo)
                                    {
                                        <div class="entry-wrapper-inner">
                                            <video id="videoPlayer-@item.Id" onplaying="videoPlayingHandler(this)" width="250" height="180" controls="controls" preload="metadata" loop="">
                                                <source src="~/videos/@item.Video#t=0.5" type="video/mp4">
                                            </video>
                                        </div>

                                    }
                                    else if (item.ContestEntryType == AppConsts.ContestEntryTypeImage)
                                    {
                                        <div class="entry-wrapper-inner">
                                            <a><img src="~/images/uploads/@item.Poster" alt="@item.NickName"></a>
                                        </div>
                                    }
                                    else if (item.ContestEntryType == AppConsts.ContestEntryTypeArticle)
                                    {
                                        <div class="entry-wrapper-inner">
                                            <div class="contest-type-button"><i class="fa fa-book"></i></div>

                                        </div>
                                    }

                                    <div class="entry-footer text-center">
                                        <div>
                                            <h3 class="margin-top-10 no-margin-bottom">@(item.NickName.Length > 18 ? item.NickName.Substring(0, 15) + "..." : item.NickName)</h3> </div>
                                        <div>@item.UserLocation</div>
                                        <div class="winners-details no-padding-top text-left">
                                            <div><strong>Total Votes:</strong> <span id="entry-votes-@item.Id">@item.TotalVotes</span></div>
                                            <div><strong>Total Comments:</strong> <span id="entry-votes-@item.Id">@item.TotalComments</span></div>
                                            <div><strong>Vote Type:</strong> @item.VoteType.ToFormattedName() </div>

                                            @if (item.VoteType == AppConsts.VoteTypePaid)
                                            {
                                                <div ><strong>Vote Amount:</strong> @item.VoteAmount?.ToNairaString() </div>

                                            }
                                            else if (item.VoteType == AppConsts.VoteTypeVotePoint)
                                            {
                                                <div><strong>Vote Point:</strong> @item.VotePoint </div>
                                            }
                                        </div>
                                        <article class="entry-button-wrapper" style="@((item.VoteType != AppConsts.VoteTypePaid && item.VoteType != AppConsts.VoteTypeVotePoint) ? "margin-top: 35px !important;" : "")">
                                            <div class="margin-top-10 flex-container">

                                                <a style="display: inline-block;" ng-click="
                                                vote(
                                                contestId = @item.ContestId, 
                                                contestEntryId = @item.Id, 
                                                 voteTypeName = '@item.VoteType',
                                                 voteAmount = @(item.VoteAmount ?? 0),
                                                 votePoint = @item.VotePoint,
                                                 totalVotes = @item.TotalVotes,
                                                 totalComments = @item.TotalComments
                                                );"
                                                   class="btn btn-default flex-item">Vote</a>
                                                <a href="@AppRoutingConsts.ContestEntryDetails(item.Permalink)" class="btn btn-warning flex-item">Details</a>
                                            </div>
                                        </article>

                                    </div>
                                </div>
                            </div>
                        </div>
                    } 
                    </section>
                @if (Model != null && Model.Items.Any() && Model.TotalCount > pageSize)
                {
                    <div class="row">
                        @Html.PaginateCustomUrl(Model.TotalCount, page, pageSize, $"/Contest/Entries/Active")
                    </div>
                }
                </article>
                <div class="clearfix"></div>

            </section>
            
           

        }
        <div class="clearfix"></div>
    </div>
</section>