﻿@using IContestPro.Contest.ContestEntry.Dto
@using IContestPro.Contest.Dto
@using IContestPro.Web.Startup
@model IReadOnlyList<AddPosterToVideoDto>
@{
    ViewBag.Title = "Enter Contest";
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.Contests;

    var contestDetails = ViewBag.Contest as ContestDetailsDto;
}
@section Scripts
{
    <!-- Bootstrap Date-Picker Plugin -->
    <script src="~/view-resources/Views/Contest/contestpages.js" asp-append-version="true"></script>
}
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <h2>Total Posters added to videos: @Model.Count</h2>
                <table class="table table-bordered">
                    <tr>
                        <th>Id</th>
                        <th>Contest Id</th>
                        <th>Video</th>
                        <th>Poster</th>
                    </tr>
                   
               
               @foreach (var item in Model)
               {
                   <tr>
                       <td>@item.Id</td>
                       <td>@item.ContestId</td>
                       <td><a href="/videos/@item.Video" target="_blank">@item.Video</a></td>
                       <td><a href="/images/uploads/@item.Poster" target="_blank">@item.Poster</a></td>
                   </tr> 
               }
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
