﻿@using IContestPro
@using IContestPro.Contest.ContestEntry.Dto
@using IContestPro.Contest.Dto
@using IContestPro.Helpers
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@model ContestEntryInputDto
@{
    ViewBag.Title = "Enter Contest";
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.Contests;

    var contestDetails = ViewBag.Contest as ContestDetailsDto;
}

@section Scripts
{
    <!-- Bootstrap Date-Picker Plugin -->
    <script src="~/view-resources/Views/Contest/contestpages.js" asp-append-version="true"></script>
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-md-12 col-md-12 col-md-12 col-lg-12">
        <div class="card">

            <div class="body">
                @if (contestDetails == null)
                {
                    <div class="alert alert-danger">
                        <h1>Contest not found</h1>
                        <p>We cannot contiue the creation of your entry because the contest was not found.</p>
                    </div>
                }
                else if (contestDetails.Contest.EndDate < DateTime.Now)
                {
                    <div class="alert alert-danger">
                        <h1>Contest Closed</h1>
                        <div class="row">
                            <div class="col-md-1 col-sm-2 hidden-xs">
                                <i class="fa fa-eye-slash fa-5x"></i>
                            </div>
                            <div class="col-sm-10">
                                <p class="margin-top-30">The contest you want to join has already been closed. You cannot join expired contests. Sorry for the inconveniences.</p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="well">
                        <h1>Contest Information</h1>
                        <div class="contest-info">
                            <div class="row">
                                <div class="col-md-2">Title:</div>
                                <div class="col-md-10">@contestDetails.Contest.Title</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">Description:</div>
                                <div class="col-md-10">@contestDetails.Contest.Description</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">Objective:</div>
                                <div class="col-md-10">@contestDetails.Contest.Objective</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">MinimumParticipants:</div>
                                <div class="col-md-10">@contestDetails.Contest.MinimumParticipants</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">Contest Type:</div>
                                <div class="col-md-10">@contestDetails.Contest.ContestType.Name</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">Contest Category:</div>
                                <div class="col-md-10">@contestDetails.Contest.ContestCategory.Name</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">Entry Start Date:</div>
                                <div class="col-md-10">@contestDetails.Contest.EntryStartDate.ToAppDateString()</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">Entry End Date:</div>
                                <div class="col-md-10">@contestDetails.Contest.EntryEndDate.ToAppDateString()</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">Contest Start Date:</div>
                                <div class="col-md-10">@contestDetails.Contest.StartDate.ToAppDateString()</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">Contest End Date:</div>
                                <div class="col-md-10">@contestDetails.Contest.EndDate.ToAppDateString()</div>
                            </div>

                        </div>

                        <h1>Entry Information</h1>
                        <div class="contest-info">
                            <div class="row">
                                <div class="col-md-2">Entry Type:</div>
                                <div class="col-md-10">@contestDetails.Contest.ContestEntryType.Name</div>
                            </div>
                            @if (contestDetails.Contest.ContestType.Name == AppConsts.ContestTypePaid)
                            {
                                <div class="row">
                                    <div class="col-md-2">Entry Amount:</div>
                                    <div class="col-md-10">@contestDetails.Contest.EntryAmount?.ToNairaString()</div>
                                </div>
                            }
                            <h1>Vote Information</h1>
                            <div class="row">
                                <div class="col-md-2">Vote Type:</div>
                                <div class="col-md-10">@contestDetails.Contest.VoteType.Name</div>
                            </div>
                            @if (contestDetails.Contest.VoteType.Name == AppConsts.VoteTypePaid)
                            {
                                <div class="row">
                                    <div class="col-md-2">Vote Amount:</div>
                                    <div class="col-md-10">@contestDetails.Contest.VoteAmount?.ToNairaString()</div>
                                </div>
                            }


                        </div>


                    </div>
                    if (contestDetails.Contest.EntryStartDate > DateTime.Now)
                    {
                        <div class="alert alert-info">
                            <h1>Contest Cannot Be Joined Now</h1>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 hidden-xs">
                                    <i class="fa fa-trophy fa-5x"></i>
                                </div>
                                <div class="col-sm-10">
                                    <p class="margin-top-30">You cannot join this contest now. Please wait until the entry starts.</p>
                                </div>
                            </div>
                        </div>
                    }
                    else if (contestDetails.Contest.EntryEndDate < DateTime.Now)
                    {
                        <div class="alert alert-danger">
                            <h1>Entry Closed</h1>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 hidden-xs">
                                    <i class="fa fa-eye-slash fa-5x"></i>
                                </div>
                                <div class="col-sm-10">
                                    <p class="margin-top-30">Entry to this contest is closed. Thank you for your interest in the contest.</p>
                                    <p>You can join other contests that are still open.</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <form asp-action="Create" class="form-horizontal" id="create-form" enctype="multipart/form-data">
                            <input asp-for="ContestId" type="hidden" value="@contestDetails.Contest.Id"/>

                            @if (contestDetails.Contest.ContestEntryType.Name == AppConsts.ContestEntryTypeImage)
                            {
                                <p>This contest requires image upload. The votes shall be casted based on the image you uploaded.</p>
                                if (contestDetails.Contest.ContestType.Name == AppConsts.ContestTypePaid)
                                {
                                    <p><strong>Note:</strong> You will be required to pay <strong>@AppConsts.NairaSymbol@contestDetails.Contest.EntryAmount?.ToString("N")</strong> to complete your entry.</p>
                                }

                                <div class="input-group margin-top-30">
                                    <div class="col-md-2">
                                        <label for="Image">Image</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-line">
                                            <input asp-for="Image" type="file" class="form-control", data-width="1110" data-height="810" required=""/>
                                            <small>Image size: 1110px by 810px</small>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (contestDetails.Contest.ContestEntryType.Name == AppConsts.ContestEntryTypeVideo)
                            {
                                <p>This contest requires video upload. Your also video needs a poster front image. The votes shall be casted based on the video you uploaded.</p>
                                if (contestDetails.Contest.ContestType.Name == AppConsts.ContestTypePaid)
                                {
                                    <p><strong>Note:</strong> You will be required to pay <strong>@AppConsts.NairaSymbol@contestDetails.Contest.EntryAmount?.ToString("N")</strong> to complete your entry.</p>
                                }
                                <div class="input-group">
                                    <div class="col-md-2">
                                        <label for="Video">Video</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-line">
                                            <input asp-for="Video" type="file" class="form-control", required=""/>
                                        </div>
                                    </div>

                                </div>
                            }
                            <hr/>
                            <div class="input-group">
                                <div class="col-md-offset-2 col-md-6">
                                    <button class="btn btn-danger"><i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </form>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->