﻿@model IContestPro.Contest.ContestEntry.Dto.ContestEntryDetailsDto
@using Abp.Web.Mvc.Alerts
@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using IContestPro.Web.Resources
@using Abp.Runtime.Session
@using IContestPro
@using Microsoft.AspNetCore.Hosting
@using IContestPro.Helpers
@inject IContestPro.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject IAlertManager AlertManager
@inject IAbpSession AbpSession
@inject IHostingEnvironment HostingEnvironment
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
    ViewBag.ReturnUrl = AppRoutingConsts.ContestEntryDetails(Model?.ContestEntry?.Permalink);
}
<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">

    <!--Page Title-->

    <!--Device Width Check-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/style.css" asp-append-version="true">
    <script src="~/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/angular.min.js" asp-append-version="true"></script>
     <script src="~/view-resources/Views/ContestEntry/ImageDetails/imageDetailsController.js" asp-append-version="true"></script>
    <link rel="shortcut icon" href=""/>
    <title>iContestPRO | @Model?.ContestEntry?.Contest?.Title</title>
  
    <style>
        .comment-wrp {
            border: 5px solid #777;
            padding: 10px;
            border-radius: 4px;
        }
        .comment-container {
            max-height: 484px;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .tip {
            width: 0px;
            height: 0px;
            position: absolute;
            background: transparent;
            border: 10px solid #ccc;
            top: 10px;
            left: -21px;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;  
        }
       
        .dialogbox .body {
            position: relative;
            max-width: 300px;
            height: auto;
            margin: 0px 0 20px 0px;
            padding: 5px;
            background-color: #191818;
            border-radius: 3px;
            border: 1px solid #777;
        }

        .body .message {
            min-height: 30px;
            border-radius: 3px;
            font-family: Arial;
            font-size: 14px;
            line-height: 1.5;
            color: #a2a2a2;
        }
        .form-control.comment-input {
            border-radius: 0;
            background-color: #403f3f;
            border: 1px solid #403f3f;
            color: #ffffff;
        }
        .btn.send {
            border-radius: 0;
            background-color: #403f3f;
            border: 1px solid #403f3f;
            color: #fff;
            height: 55px;
            display: inline-block;
        }
    </style>
   </head>
<body style="background-color: #191818; padding: 50px; color: #ddd">
@if (Model != null)
{
    <article
        ng-app="myContestApp" ng-controller="imageDetailsController"
        ng-init="
                totalVotes = @Model.TotalVotes; 
                totalCount = @Model.TotalComments;
                totalViews = @Model.TotalViews;
                contestEntryId = @Model.ContestEntry.Id;
                voteTypeName = '@Model.VoteType.Name';
                voteAmount = @(Model.VoteAmount != null ? Model.VoteAmount : 0);
                votePoint = @Model.VoteType.VotePoint;
                contestEntryType = '@Model.ContestEntry.Contest.ContestEntryType.Name';
              "
        >
    <section>
        <h3 class="no-margin-bottom">@Model.ContestEntry?.Contest.Title</h3>
        <div><strong>Vote Type: </strong> <span>@Model.VoteType?.Name</span></div>
        @if (Model.VoteType?.Name == AppConsts.VoteTypePaid)
        {
            <div><strong>Vote Amount: </strong> <span>@Model.VoteAmount?.ToNairaString()</span> </div>
        }
        else if (Model.VoteType?.Name == AppConsts.VoteTypeVotePoint)
        {
            <div><strong>Vote Point: </strong> <span>@Model.VoteType.VotePoint</span> </div>
        }
        <p></p>
        <p><strong class="margin-right-30"><i class="fa fa-user"></i> @Model.ContestEntry?.User?.NickName</strong>
            <strong class="margin-right-30"><i class="fa fa-comment"></i> Comments <span class="badge">{{totalCount}}</span></strong>
            <strong class="margin-right-30"><i class="fa fa-trophy"></i> Votes <span class="badge">{{totalVotes}}</span></strong>
            <strong class="margin-right-30"><i class="fa fa-eye"></i> Views <span class="badge">{{totalViews}}</span></strong>
            <a title="Voting is final after it completes. Check before clicking." ng-click="vote(@Model?.ContestEntry?.Id, @Model?.ContestEntry?.Contest?.Id);" class="btn btn-default">
                <i ng-class="{'fa fa-spinner fa-spin': votingProcessing, 'fa fa-thumbs-up': !votingProcessing}"></i> Vote
            </a>
            <a class="btn btn-danger pull-right" asp-controller="Contest" asp-action="Index"><i class="fa fa-home"></i> Home</a>
        </p>
        <div ng-if="isLoginRequired" class="alert alert-info" style="max-width: 775px;">
            <a class="close" ng-click="hideLoginAlert()">&times;</a>
            <i class="fa fa-info-circle animated fadeIn infinite"></i> <span class="animated fadeIn infinite">You need to login to cast your vote.</span>
            <a class="btn btn-warning pull-right margin-right-20" asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewBag.ReturnUrl"><i class="fa fa-sign-in"></i> Login</a>
        </div>

    </section>
<section class="row">
    <article class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        @if (Model.ContestEntry.Contest.ContestEntryType.Name == AppConsts.ContestEntryTypeImage)
        {
            <div>
                <img class="img-responsive img-thumbnail" style="background-color: #777777; border: 1px solid #777777;" src="/images/uploads/@Model.ContestEntry?.Image"/>
            </div>
                                               
        }else if (Model.ContestEntry.Contest.ContestEntryType.Name == AppConsts.ContestEntryTypeVideo)
        {
            <video id="videoPlayer" controls="controls" preload="metadata" loop="">
                <source src="~/videos/@Model.ContestEntry.Video#t=0.5" type="video/mp4">
            </video>
           
        }
       
    </article>
    <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <section class="comment-wrp" style="min-height: 200px;">
            <div class="comment-container">
                <div class="alert alert-info" ng-if="totalCount == 0">
                    <p><i class="fa fa-info-circle"></i> No comments on this entry. Be the first to comment.</p>
                </div>
                <section ng-if="totalCount > 0">
                    <div class="dialogbox margin-bottom-10" 
                         ng-repeat="comment in comments">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a class="pull-left" href="/User/{{comment.userPermalink}}">
                                    <img ng-src="{{'/images/uploads/' + comment.image}}" image-exists class="img-responsive img-circle img-thumbnail" width="70" title="{{comment.nickName}}" alt="{{comment.nickName}}"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div class="body">
                                    <span class="tip"></span>
                                    <div class="message">
                                        <span>{{comment.comment}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>




            </div>
            <div class="commnent-box">
                <div class="row">
                    <div class="col-lg-10  col-md-10 col-sm-10 col-xs-10   no-padding-right">
                        <textarea type="text" name="comment" class="form-control comment-input" ng-model="comment" placeholder="Comment here"></textarea>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-2 col-xs-2  no-padding-left">
                        <button type="submit" ng-click="postComments();" class="btn btn-default send"><i class="fa fa-send fa-2x"></i></button>
                    </div>
                </div>


            </div>
            <div class="row text-center margin-10" ng-if="processing">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="~/images/loading.gif"/>
                </div>
            </div>
            <div ng-if="isLoginRequiredToComment" class="alert alert-info margin-top-20" style="max-width: 775px;">
                <a class="close" ng-click="hideCommentAlert()">&times;</a>
                <i class="fa fa-info-circle animated fadeIn infinite"></i> <span class="animated fadeIn infinite">Login required.</span>
                <a class="btn btn-warning pull-right margin-right-20" asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewBag.ReturnUrl"><i class="fa fa-sign-in"></i> Login</a>
            </div>
        </section>

    </aside>
</section>
    </article>
}
<!-- APB SCRIPTS -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
<script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
<script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
<script src="~/lib/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
<script src="~/lib/spin.js/spin.js" asp-append-version="true"></script>
<script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>
<script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>
<script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
<script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js" asp-append-version="true"></script>
<script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js" asp-append-version="true"></script>
<script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js" asp-append-version="true"></script>
<script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>
<script src="~/js/js.cookie.min.js" asp-append-version="true"></script>

<!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
<script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
<script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
<script src="~/js/siteScript.js" type="text/javascript"></script>
<!-- View specific scripts -->
<!--/ APB SCRIPTS -->

<script>
       
</script>

</body>
</html>