﻿@{
    Layout = null;
}
<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">

    <!--Page Title-->

    <!--Device Width Check-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <link rel="profile" href="http://gmpg.org/xfn/11">
    @*<link rel="pingback" href="http://creativeinteractivemedia.com/player/Elite_video_player/xmlrpc.php">
    *@

    <link rel="shortcut icon" href=""/>
    <title>Self hosted videos &#8211; Elite Video Player</title>
    <link rel='dns-prefetch' href='//cdn.jsdelivr.net'/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji":
                    "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.8"
            }
        };
        !function(a, b, c) {
            function d(a, b) {
                var c = String.fromCharCode;
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0);
                var d = k.toDataURL();
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0);
                var e = k.toDataURL();
                return d === e
            }

            function e(a) {
                var b;
                if (!l || !l.fillText) return!1;
                switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
                case"flag":
                    return!(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) &&
                    (b = d(
                        [
                            55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423,
                            56128, 56447
                        ],
                        [
                            55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128,
                            56430, 8203, 56128, 56423, 8203, 56128, 56447
                        ]), !b);
                case"emoji":
                    return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b
                }
                return!1
            }

            function f(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }

            var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d");
            for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0;
                i < j.length;
                i++)
                c.supports[j[i]] = e(j[i]), c.supports.everything =
                    c.supports.everything && c.supports[j[i]], "flag" !== j[i] &&
                    (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady =
                !1, c.readyCallback = function() { c.DOMReady = !0 }, c.supports.everything ||
            (h = function() { c.readyCallback() }, b.addEventListener
                ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1))
                : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange",
                    function() { "complete" === b.readyState && c.readyCallback() })), g =
                c.source || {}, g.concatemoji
                ? f(g.concatemoji)
                : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='siteorigin-panels-front-css' href='/player/css/front.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='elite_player_style-css' href='/player/css/elite.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='elite_player_icons-css' href='/player/css/elite-font-awesome.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='elite_player_scrollbar-css' href='/player/css/jquery.mCustomScrollbar.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='offtheshelf-style-css' href='/player/css/style.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='font-awesome-css' href='/player/css/font-awesome.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='offtheshelf-animate-css-css' href='/css/animate.min.css' type='text/css' media='all'/>
    <script type='text/javascript' src='/player/js/jquery.js'></script>
    <script type='text/javascript' src='/player/js/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='/player/js/embed.js?ver=2.7'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/hls.js@latest?ver=2.7'></script>
    <script type='text/javascript' src='/player/js/jquery.mCustomScrollbar.min.js'></script>
    <script type='text/javascript' src='/player/js/froogaloop.min.js'></script>
    <script type='text/javascript' src='/player/js/THREEx.FullScreen.min.js'></script>
    <script type='text/javascript' src='/player/js/Playlist.min.js'></script>
    <script type='text/javascript' src='/player/js/videoPlayer.min.js?ver=2.7'></script>
    <script type='text/javascript' src='/player/js/ZeroClipboard.min.js?ver=2.7'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var panelsStyles = { "fullContainer": "body" };
/* ]]> */
    </script>
    <script type='text/javascript' src='/player/js/styling-24.min.js'></script>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <style type="text/css" media="all" id="siteorigin-panels-grids-wp_head">/* Layout 226 */
        #pgc-226-0-0 { width: 11.04% }

        #pgc-226-0-1 { width: 77.985% }

        #pgc-226-0-2 { width: 10.975% }

        #pg-226-0 .panel-grid-cell { float: left }

        #pl-226 .panel-grid-cell .so-panel, #pl-226 .panel-grid-cell .so-panel:last-child { margin-bottom: 0px }

        #pg-226-0 {
            margin-left: -15px;
            margin-right: -15px
        }

        #pg-226-0 .panel-grid-cell {
            padding-left: 15px;
            padding-right: 15px
        }

        @@media (max-width:780px) {
        #pg-226-0 .panel-grid-cell {
            float: none;
            width: auto
        }

        #pgc-226-0-0, #pgc-226-0-1, #pl-226 .panel-grid .panel-grid-cell-mobile-last { margin-bottom: 0px }

        #pl-226 .panel-grid, #pl-226 .panel-grid-cell { }

        #pl-226 .panel-grid .panel-grid-cell-empty { display: none }

        }
       
    </style>
    <style type="text/css">
        html, body, body.boxed { background: #fff }

        a, .product .price, .order-total .amount, .tagcloud a { color: #82b440 }

        .widget_tag_cloud a { font-size: #393939 !important }

        a:hover, .header_meta a:hover, .meta_data a:hover, .product-options a.add_to_cart_button:hover, .product-options a.view-product-details:hover, .products a h3:hover { color: #70aa19 }

        .blog_post.teaser h3 a:hover, .blog_post.teaser h2 a:hover, .format-quote a:hover blockquote q, .post_format-post-format-link a h2:hover { color: #70aa19 !important }

        .off-the-shelf-recent-comments .comment-author, .widget_date, .woocommerce-tabs a, .payment_methods p, .woocommerce.widget_layered_nav small { color: #393939 !important }

        #header-cart .widget_shopping_cart, #header-cart .quantity, #header-cart .total, #header-cart .variation, #header-cart .widget_shopping_cart_content, #header-cart .widget_shopping_cart_content a, #header-cart h2, #header-cart .woocommerce-result-count, #header-cart .widget_shopping_cart_content p.total, #header-region .search-form, .ots-language-switcher ul {
            background: #fff;
            color: #545454 !important
        }

        #header-cart li { border-bottom: 1px solid rgba(84, 84, 84, 0.15) }

        #header-cart .total { border-top: 3px solid rgba(84, 84, 84, 0.15) }

        #header-cart-trigger:before, #header-search-trigger:before, .ots-language-switcher ul:before { color: #fff }

        .post-thumbnail:before, .format-image a:before, .gallery a:before, .blog-layout-minimal .post h2:before, .format-link a.format-link-content:before, .format-quote a blockquote q:before, .ots-recent-posts li.format-link a:before, .ots-recent-posts li.format-video a:before, .ots-recent-posts li.format-quote a:before, .ots-recent-posts li.format-gallery a:before, .ots-recent-posts li.format-image a:before, .navigation-posts-num li.active a, .page-numbers li span.current, .page-link span, #post_tags a:hover, .tagcloud a:hover, #header-cart-total, #sub_footer .tagcloud a:hover {
            background: #82b440 !important;
            color: #fff !important
        }

        #header-cart-total:after { color: #82b440 }

        #post_tags a:hover, #post_tags a:hover, .tagcloud a:hover { border: 1px solid #82b440 }

        #header-top {
            background: #fff;
            color: #c9c9c9 !important
        }

        #header-top a, #header-top p { color: #c9c9c9 !important }

        #header-region { color: #545454 }

        .has-transparent-menu .animated-header-shrink #header-region, .has-solid-menu #header-region, .no-banner #header-region { background: rgba(255, 255, 255, 1) }

        #main_navigation .sub-menu {
            background: #fff;
            border-top: 3px solid rgba(130, 180, 64, 1)
        }

        #main_navigation a, #tool-navigation-lower, #tool-navigation-lower a, .has-transparent-menu #banner.animated-header-shrink #header-region ul li a, .has-transparent-menu #banner.animated-header-shrink #header-region #tool-navigation-lower, .has-transparent-menu #banner #header-region ul li ul.sub-menu li a, .has-transparent-menu #banner.animated-header-shrink #header-region #tool-navigation-lower a, .has-transparent-menu #banner #header-region #tool-navigation-lower .ots-language-switcher ul li a { color: #545454 }

        #main_navigation a:hover, .has-transparent-menu #banner #header-region ul li ul.sub-menu li a:hover, .has-transparent-menu #banner #header-region ul li a:hover, .sub-menu .current-menu-item a, .has-transparent-menu #banner #header-region ul li ul.sub-menu li.current-menu-item a, .has-transparent-menu #banner.animated-header-shrink #header-region ul li a:hover, .has-solid-menu #banner .sub-menu li.current-menu-item a, .ots-language-switcher li.active { color: #82b440 }

        #main_navigation a:hover, #main_navigation a.highlighted, #main_navigation .current-menu-item a, .has-transparent-menu #banner.animated-header-shrink #header-region ul li a:hover, .has-transparent-menu #banner.animated-header-shrink #main_navigation .current-menu-item a { border-bottom: 3px solid rgba(130, 180, 64, 1) }

        .has-transparent-menu #banner #header-region ul li a:hover, .has-transparent-menu #banner #main_navigation .current-menu-item a { border-bottom: 3px solid rgba(130, 180, 64, 0) }

        #sub_footer {
            background: #1d1d1d;
            color: #b7b7b7
        }

        #sub_footer a, #sub_footer .widget h3, #sub_footer li p span.widget_date { color: #b7b7b7 !important }

        #page_footer, #page_footer a {
            background: #141414;
            color: #898989
        }

        @@media(max-width:980px) {
        
                

        #main_navigation a, #tool-navigation-lower, #tool-navigation-lower a, .has-transparent-menu #banner.animated-header-shrink #header-region ul li a, .has-transparent-menu #banner.animated-header-shrink #header-region #tool-navigation-lower, .has-transparent-menu #banner #header-region ul li ul.sub-menu li a, .has-transparent-menu #banner.animated-header-shrink #header-region #tool-navigation-lower a { color: #545454 }

        .sm li, #header-search { border-bottom: 1px solid rgba(84, 84, 84, 0.3) !important }

        .has-transparent-menu #header-region, .has-solid-menu #header-region, .no-banner #header-region { background: rgba(255, 255, 255, 1) }

        #main_navigation a, #tool-navigation-lower, #tool-navigation-lower a, .has-transparent-menu #banner #header-region ul li a, .has-transparent-menu #banner #header-region #tool-navigation-lower, .has-transparent-menu #banner #header-region ul li ul.sub-menu li a, .has-transparent-menu #banner #header-region #tool-navigation-lower a { color: #545454 !important }

        #banner #header-region #logo h1 a { color: #383838 !important }

        .has-transparent-menu #banner #header-region #logo h2 { color: #757575 !important }

        }

        body, .header_meta a, .meta_data a, .testimonials footer, .testimonial footer, .quote_author, textarea, input, a .meta-date, .product-options a.add_to_cart_button, .product-options a.view-product-details, .comment_name a, .comment-meta .comment_name a, select, button, p.buttons a, #banner p.total {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            color: #393939
        }

        #logo h1, #logo a, .has-transparent-menu #banner.animated-header-shrink #header-region #logo h1, .has-transparent-menu #banner.animated-header-shrink #header-region #logo h1 a {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 26px;
            font-weight: 700;
            font-style: normal;
            color: #383838
        }

        #logo h2, .has-transparent-menu #banner.animated-header-shrink #header-region #logo h2 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 15px;
            font-weight: 300;
            font-style: italic;
            color: #757575
        }

        #sidebar h3, #sub_footer h3, h3.widget-title {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            color: #393939
        }

        blockquote, q {
            font-family: 'Open Sans Condensed', sans-serif, Arial, Helvetica;
            font-size: 28px;
            font-weight: 300;
            font-style: normal;
            color: #393939
        }

        h1 {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 42px;
            font-weight: 300;
            font-style: normal;
            color: #393939
        }

        h2, .blog_post.teaser h2 a {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 38px;
            font-weight: 700;
            font-style: normal;
            color: #393939
        }

        h3, .blog_post.teaser h3 a {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 21px;
            font-weight: 300;
            font-style: normal;
            color: #919191
        }

        h4 {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 19px;
            font-weight: normal;
            font-style: normal;
            color: #393939
        }

        h5 {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 18px;
            font-weight: 300;
            font-style: normal;
            color: #919191
        }

        h6 {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            color: #393939
        }

        .button-style-54bd68f339a18 {
            font-family: 'Bree Serif', sans-serif, Arial, Helvetica;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            background: #96be10;
            background: -moz-linear-gradient(top, #96be10 0, #73a726 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96be10), color-stop(100%, #73a726));
            background: -webkit-linear-gradient(top, #96be10 0, #73a726 100%);
            background: -o-linear-gradient(top, #96be10 0, #73a726 100%);
            background: -ms-linear-gradient(top, #96be10 0, #73a726 100%);
            background: linear-gradient(to bottom, #96be10 0, #73a726 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96be10', endColorstr='#73a726', GradientType=0);
            border-color: rgba(150, 190, 16, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-54bd68f339a18:hover {
            background: #73a726;
            background: -moz-linear-gradient(top, #73a726 0, #96be10 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #73a726), color-stop(100%, #96be10));
            background: -webkit-linear-gradient(top, #73a726 0, #96be10 100%);
            background: -o-linear-gradient(top, #73a726 0, #96be10 100%);
            background: -ms-linear-gradient(top, #73a726 0, #96be10 100%);
            background: linear-gradient(to bottom, #73a726 0, #96be10 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73a726', endColorstr='#96be10', GradientType=0);
            border-color: rgba(115, 167, 38, 1) !important;
            color: #fff !important
        }

        .button-style-54a8a5c56c6d5 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            background: none;
            filter: none;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-54a8a5c56c6d5:hover {
            background: #fff;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #82b440 !important
        }

        .button-style-54bd8d1798805 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            background: #82b440;
            border-color: rgba(130, 180, 64, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-54bd8d1798805:hover {
            background: #419e00;
            border-color: rgba(65, 158, 0, 1) !important;
            color: #fff !important
        }

        .button-style-54ec925762cf8 {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            background: none;
            filter: none;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #fff !important;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px
        }

        .button-style-54ec925762cf8:hover {
            background: #fff;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #e4473c !important
        }

        .button-style-5523c4e712fc8 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            background: #3bc4ae;
            border-color: rgba(59, 196, 174, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-5523c4e712fc8:hover {
            background: none;
            filter: none;
            border-color: rgba(55, 186, 168, 1) !important;
            color: #37baa8 !important
        }

        .button-style-555b0a3805e5e {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            background: none;
            filter: none;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #fff !important;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0
        }

        .button-style-555b0a3805e5e:hover {
            background: #fff;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #424242 !important
        }

        .button-style-5572be24e440f {
            font-family: Roboto, sans-serif, Arial, Helvetica;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            background: #a3d140;
            border-color: rgba(163, 209, 64, 1) !important;
            color: #fff !important;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0
        }

        .button-style-5572be24e440f:hover {
            background: none;
            filter: none;
            border-color: rgba(163, 209, 64, 1) !important;
            color: #a3d140 !important
        }

        .button-style-557af39948d62 {
            font-family: Roboto, sans-serif, Arial, Helvetica;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            background: #e5a93d;
            border-color: rgba(229, 169, 61, 1) !important;
            color: #fff !important;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px
        }

        .button-style-557af39948d62:hover {
            background: none;
            filter: none;
            border-color: rgba(229, 169, 61, 1) !important;
            color: #e5a93d !important
        }

        .button-style-557af53b9b460 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            background: #00bbcb;
            border-color: rgba(0, 187, 203, 1) !important;
            color: #fff !important;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px
        }

        .button-style-557af53b9b460:hover {
            background: #007694;
            border-color: rgba(0, 118, 148, 1) !important;
            color: #fff !important
        }

        .button-style-557af855ffcea {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            background: none;
            filter: none;
            border-color: rgba(56, 56, 56, 1) !important;
            color: #383838 !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-557af855ffcea:hover {
            background: #383838;
            border-color: rgba(56, 56, 56, 1) !important;
            color: #fff !important
        }

        .button-style-557afa62637e4 {
            font-family: Roboto, sans-serif, Arial, Helvetica;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            background: none;
            filter: none;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #fff !important;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px
        }

        .button-style-557afa62637e4:hover {
            background: #fff;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #e5a93d !important
        }

        .button-style-557ed9fe20891 {
            font-family: Roboto, sans-serif, Arial, Helvetica;
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            background: #f9a90b;
            border-color: rgba(249, 169, 11, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-557ed9fe20891:hover {
            background: none;
            filter: none;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #fff !important
        }

        .button-style-55814bb146d25 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            background: #82b440;
            border-color: rgba(130, 180, 64, 1) !important;
            color: #fff !important;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0
        }

        .button-style-55814bb146d25:hover {
            background: #419e00;
            border-color: rgba(65, 158, 0, 1) !important;
            color: #fff !important
        }

        .button-style-5581af81da150 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            background: #c90000;
            border-color: rgba(201, 0, 0, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-5581af81da150:hover {
            background: #a30000;
            border-color: rgba(163, 0, 0, 1) !important;
            color: #fff !important
        }

        .button-style-5581b013e30ba {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            background: #1575c6;
            border-color: rgba(21, 117, 198, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-5581b013e30ba:hover {
            background: #0f629e;
            border-color: rgba(15, 98, 158, 1) !important;
            color: #fff !important
        }

        .button-style-5581b0df242da {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            background: #82b44d;
            border-color: rgba(130, 180, 77, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-5581b0df242da:hover {
            background: #419e00;
            border-color: rgba(65, 158, 0, 1) !important;
            color: #fff !important
        }

        .button-style-5581b1d9deb56 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            background: #8d149f;
            border-color: rgba(141, 20, 159, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-5581b1d9deb56:hover {
            background: #6d1089;
            border-color: rgba(109, 16, 137, 1) !important;
            color: #fff !important
        }

        .button-style-5581b21e5f436 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            background: #dc79cd;
            border-color: rgba(220, 121, 205, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-5581b21e5f436:hover {
            background: #c16abd;
            border-color: rgba(193, 106, 189, 1) !important;
            color: #fff !important
        }

        .button-style-5581b2cac76cb {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            background: #7a7a7a;
            border-color: rgba(122, 122, 122, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-5581b2cac76cb:hover {
            background: #939393;
            border-color: rgba(147, 147, 147, 1) !important;
            color: #fff !important
        }

        .button-style-5581b2f4c76cc {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            background: #191919;
            border-color: rgba(25, 25, 25, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-5581b2f4c76cc:hover {
            background: none;
            filter: none;
            border-color: rgba(25, 25, 25, 1) !important;
            color: #191919 !important
        }

        .button-style-55895181ace8d {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            background: #ee5870;
            border-color: rgba(238, 88, 112, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-55895181ace8d:hover {
            background: none;
            filter: none;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #fff !important
        }

        .button-style-55895bc4d3daa {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            background: #ce2f2f;
            border-color: rgba(206, 47, 47, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-55895bc4d3daa:hover {
            background: none;
            filter: none;
            border-color: rgba(206, 47, 47, 1) !important;
            color: #ce2f2f !important
        }

        .button-style-558960f9f614a {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            background: #f3cf24;
            border-color: rgba(243, 207, 36, 1) !important;
            color: #444 !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-558960f9f614a:hover {
            background: #eab523;
            border-color: rgba(234, 181, 35, 1) !important;
            color: #444 !important
        }

        .button-style-5589641a91d1b {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            background: #f5f5f5;
            border-color: rgba(245, 245, 245, 1) !important;
            color: #838383 !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-5589641a91d1b:hover {
            background: #eaeaea;
            border-color: rgba(234, 234, 234, 1) !important;
            color: #838383 !important
        }

        .button-style-55903d2e6cfe1 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            background: #1e73be;
            background: -moz-linear-gradient(top, #1e73be 0, #144e91 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e73be), color-stop(100%, #144e91));
            background: -webkit-linear-gradient(top, #1e73be 0, #144e91 100%);
            background: -o-linear-gradient(top, #1e73be 0, #144e91 100%);
            background: -ms-linear-gradient(top, #1e73be 0, #144e91 100%);
            background: linear-gradient(to bottom, #1e73be 0, #144e91 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e73be', endColorstr='#144e91', GradientType=0);
            border-color: rgba(30, 115, 190, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-55903d2e6cfe1:hover {
            background: #144e91;
            background: -moz-linear-gradient(top, #144e91 0, #1e73be 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #144e91), color-stop(100%, #1e73be));
            background: -webkit-linear-gradient(top, #144e91 0, #1e73be 100%);
            background: -o-linear-gradient(top, #144e91 0, #1e73be 100%);
            background: -ms-linear-gradient(top, #144e91 0, #1e73be 100%);
            background: linear-gradient(to bottom, #144e91 0, #1e73be 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#144e91', endColorstr='#1e73be', GradientType=0);
            border-color: rgba(20, 78, 145, 1) !important;
            color: #fff !important
        }

        .button-style-55903dd2e7d02 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            background: #96be10;
            background: -moz-linear-gradient(top, #96be10 0, #73a726 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96be10), color-stop(100%, #73a726));
            background: -webkit-linear-gradient(top, #96be10 0, #73a726 100%);
            background: -o-linear-gradient(top, #96be10 0, #73a726 100%);
            background: -ms-linear-gradient(top, #96be10 0, #73a726 100%);
            background: linear-gradient(to bottom, #96be10 0, #73a726 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96be10', endColorstr='#73a726', GradientType=0);
            border-color: rgba(150, 190, 16, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-55903dd2e7d02:hover {
            background: #73a726;
            background: -moz-linear-gradient(top, #73a726 0, #96be10 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #73a726), color-stop(100%, #96be10));
            background: -webkit-linear-gradient(top, #73a726 0, #96be10 100%);
            background: -o-linear-gradient(top, #73a726 0, #96be10 100%);
            background: -ms-linear-gradient(top, #73a726 0, #96be10 100%);
            background: linear-gradient(to bottom, #73a726 0, #96be10 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73a726', endColorstr='#96be10', GradientType=0);
            border-color: rgba(115, 167, 38, 1) !important;
            color: #fff !important
        }

        .button-style-55903e73f9256 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            background: #8d149f;
            background: -moz-linear-gradient(top, #8d149f 0, #630d70 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8d149f), color-stop(100%, #630d70));
            background: -webkit-linear-gradient(top, #8d149f 0, #630d70 100%);
            background: -o-linear-gradient(top, #8d149f 0, #630d70 100%);
            background: -ms-linear-gradient(top, #8d149f 0, #630d70 100%);
            background: linear-gradient(to bottom, #8d149f 0, #630d70 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d149f', endColorstr='#630d70', GradientType=0);
            border-color: rgba(141, 20, 159, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-55903e73f9256:hover {
            background: #630d70;
            background: -moz-linear-gradient(top, #630d70 0, #8d149f 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #630d70), color-stop(100%, #8d149f));
            background: -webkit-linear-gradient(top, #630d70 0, #8d149f 100%);
            background: -o-linear-gradient(top, #630d70 0, #8d149f 100%);
            background: -ms-linear-gradient(top, #630d70 0, #8d149f 100%);
            background: linear-gradient(to bottom, #630d70 0, #8d149f 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#630d70', endColorstr='#8d149f', GradientType=0);
            border-color: rgba(99, 13, 112, 1) !important;
            color: #fff !important
        }

        .button-style-55903f28351a8 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            background: #c90000;
            background: -moz-linear-gradient(top, #c90000 0, #9b0505 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c90000), color-stop(100%, #9b0505));
            background: -webkit-linear-gradient(top, #c90000 0, #9b0505 100%);
            background: -o-linear-gradient(top, #c90000 0, #9b0505 100%);
            background: -ms-linear-gradient(top, #c90000 0, #9b0505 100%);
            background: linear-gradient(to bottom, #c90000 0, #9b0505 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c90000', endColorstr='#9b0505', GradientType=0);
            border-color: rgba(201, 0, 0, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-55903f28351a8:hover {
            background: #9b0505;
            background: -moz-linear-gradient(top, #9b0505 0, #c90000 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b0505), color-stop(100%, #c90000));
            background: -webkit-linear-gradient(top, #9b0505 0, #c90000 100%);
            background: -o-linear-gradient(top, #9b0505 0, #c90000 100%);
            background: -ms-linear-gradient(top, #9b0505 0, #c90000 100%);
            background: linear-gradient(to bottom, #9b0505 0, #c90000 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b0505', endColorstr='#c90000', GradientType=0);
            border-color: rgba(155, 5, 5, 1) !important;
            color: #fff !important
        }

        .button-style-5592a86a0298e {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            background: #00bbcb;
            border-color: rgba(0, 187, 203, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-5592a86a0298e:hover {
            background: none;
            filter: none;
            border-color: rgba(0, 187, 203, 1) !important;
            color: #00bbcb !important
        }

        .button-style-5596fb1d5f174 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            background: none;
            filter: none;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #fff !important;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px
        }

        .button-style-5596fb1d5f174:hover {
            background: #fff;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #3bc4ae !important
        }

        .button-style-559c3c0c84cc5 {
            font-family: Roboto, sans-serif, Arial, Helvetica;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            background: #9fd25b;
            border-color: rgba(159, 210, 91, 1) !important;
            color: #fff !important;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0
        }

        .button-style-559c3c0c84cc5:hover {
            background: none;
            filter: none;
            border-color: rgba(159, 210, 91, 1) !important;
            color: #9fd25b !important
        }

        .button-style-559c3cb551e2f {
            font-family: Roboto, sans-serif, Arial, Helvetica;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            background: none;
            filter: none;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #fff !important;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0
        }

        .button-style-559c3cb551e2f:hover {
            background: #fff;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #9fd25b !important
        }

        .button-style-559ecb32634c3 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            background: #af050a;
            border-color: rgba(175, 5, 10, 1) !important;
            color: #fff !important;
            border-radius: 35px;
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px
        }

        .button-style-559ecb32634c3:hover {
            background: none;
            filter: none;
            border-color: rgba(175, 5, 10, 1) !important;
            color: #af050a !important
        }

        .button-style-559ecc59afef4 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            background: #e0a906;
            border-color: rgba(224, 169, 6, 1) !important;
            color: #fff !important;
            border-radius: 35px;
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px
        }

        .button-style-559ecc59afef4:hover {
            background: none;
            filter: none;
            border-color: rgba(224, 169, 6, 1) !important;
            color: #e0a906 !important
        }

        .button-style-559fd04dc61b0 {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            background: none;
            filter: none;
            border-color: rgba(228, 71, 60, 1) !important;
            color: #e4473c !important;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0
        }

        .button-style-559fd04dc61b0:hover {
            background: #e4473c;
            border-color: rgba(228, 71, 60, 1) !important;
            color: #fff !important
        }

        .button-style-55a5750ae6547 {
            font-family: Roboto, sans-serif, Arial, Helvetica;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            background: none;
            filter: none;
            border-color: rgba(54, 54, 54, 1) !important;
            color: #363636 !important;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0
        }

        .button-style-55a5750ae6547:hover {
            background: none;
            filter: none;
            border-color: rgba(153, 153, 153, 1) !important;
            color: #999 !important
        }

        .button-style-55a584aff0221 {
            font-family: Roboto, sans-serif, Arial, Helvetica;
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            background: #f6bb1d;
            border-color: rgba(246, 187, 29, 1) !important;
            color: #fff !important;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0
        }

        .button-style-55a584aff0221:hover {
            background: none;
            filter: none;
            border-color: rgba(246, 187, 29, 1) !important;
            color: #f6bb1d !important
        }

        .button-style-55bf5286e42d9 {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 18px;
            font-weight: 300;
            font-style: normal;
            background: none;
            filter: none;
            border-color: rgba(94, 140, 227, 1) !important;
            color: #5e8ce3 !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-55bf5286e42d9:hover {
            background: #5e8ce3;
            border-color: rgba(94, 140, 227, 1) !important;
            color: #fff !important
        }

        .button-style-55c47e62a86cd {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            background: none;
            filter: none;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #fff !important;
            border-radius: 35px;
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px
        }

        .button-style-55c47e62a86cd:hover {
            background: #fff;
            border-color: rgba(255, 255, 255, 1) !important;
            color: #f04d0c !important
        }

        .button-style-55c73890502d5 {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            background: #e4473c;
            border-color: rgba(228, 71, 60, 1) !important;
            color: #fff !important;
            border-radius: 35px;
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px
        }

        .button-style-55c73890502d5:hover {
            background: none;
            filter: none;
            border-color: rgba(228, 71, 60, 1) !important;
            color: #e4473c !important
        }

        .button-style-55ec56a9b01c1 {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            background: #e4473c;
            border-color: rgba(228, 71, 60, 1) !important;
            color: #fff !important;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0
        }

        .button-style-55ec56a9b01c1:hover {
            background: none;
            filter: none;
            border-color: rgba(228, 71, 60, 1) !important;
            color: #e4473c !important
        }

        .button-style-55ed69b8b5a17 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            background: none;
            filter: none;
            border-color: rgba(141, 141, 141, 1) !important;
            color: #8d8d8d !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-55ed69b8b5a17:hover {
            background: #383838;
            border-color: rgba(56, 56, 56, 1) !important;
            color: #fff !important
        }

        .button-style-55f1e7dcf2cb7 {
            font-family: Lato, sans-serif, Arial, Helvetica;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            background: #da4034;
            border-color: rgba(218, 64, 52, 1) !important;
            color: #fff !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px
        }

        .button-style-55f1e7dcf2cb7:hover {
            background: none;
            filter: none;
            border-color: rgba(218, 64, 52, 1) !important;
            color: #da4034 !important
        }

        .button_cta p.hint { font-family: 'Open Sans', sans-serif, Arial, Helvetica }

        #submit, .search-submit, input.wpcf7-submit, #searchsubmit, .button, input[type="submit"], .single_add_to_cart_button, .button, #tool-navigation-lower .buttons a.button {
            background: #82b440;
            border-color: rgba(130, 180, 64, 1) !important;
            color: #fff !important;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0
        }

        #submit:hover, .search-submit:hover, input.wpcf7-submit:hover, .button:hover, #searchsubmit:hover, input[type="submit"]:hover, .single_add_to_cart_button:hover, .button:hover, #tool-navigation-lower .buttons a.button:hover {
            background: #419e00;
            border-color: rgba(65, 158, 0, 1) !important;
            color: #fff !important
        }

        h1.page-title, #page-header h1 {
            font-family: 'Open Sans', sans-serif, Arial, Helvetica;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            color: #393939
        }

        #page-header, #page-header a, #page-header h1 {
            background: #f5f5f5;
            color: #393939
        }
    </style>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:regular,300italic%7cLato:700,300,regular%7cOpen+Sans+Condensed:300%26subset=latin" rel="stylesheet" type="text/css">
</head>
<body class="page-template-default page page-id-226 no-banner blank-header profile-61 siteorigin-panels ots-panels sticky has-solid-menu no-sidebar">
<div id="skrollr-body" style="background-color: #191818;">


<!--Start of Main Content-->
<main>
    <div id="main_content" class="clearfix">

        <div id="blog_content" class="row clearfix">

            <!--BlogPost-->
            <article id="post-226" class="post-226 page type-page status-publish hentry odd first last">

                <!--Post Content-->
                <div class="page-content">
                    <div id="pl-226">
                        <div class="panel-grid" id="pg-226-0">
                            <div class="row-justification-center panel-row-style" style="margin-bottom: 0; padding: 45px 0 45px 0;">
                                <div class="panel-grid-cell panel-grid-cell-empty" id="pgc-226-0-0"></div>
                                <div class="panel-grid-cell panel-grid-cell-mobile-last" id="pgc-226-0-1">
                                   
                                    <div class="so-panel ots-raw-html" id="panel-226-0-1-1" data-index="1">
                                        <div class="Elite_video_player" id="2">
                                            <div id="elite_options" style="display: none;">
                                                {
  "id": 2,
  "instanceName": "Self hosted videos",
  "videos": [
    {
      "videoType": "HTML5",
      "title": "AD 5 sec + Pieces After Effects project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic1.jpg",
      "mp4": "\/images/uploads\/Pieces.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "yes",
      "prerollGotoLink": "http:\/\/codecanyon.net\/",
      "preroll_mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Broadcast_Long_Shadow_Package.mp4",
      "prerollSkipTimer": "5",
      "midrollAD": "yes",
      "midrollAD_displayTime": "00:10",
      "midrollGotoLink": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Broadcast_Long_Shadow_Package.mp4",
      "midroll_mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Logo_Explode.mp4",
      "midrollSkipTimer": "5",
      "postrollAD": "yes",
      "postrollGotoLink": "http:\/\/codecanyon.net\/",
      "postroll_mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Logo_Light.mp4",
      "postrollSkipTimer": "5",
      "popupAdShow": "yes",
      "popupImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/popup.jpg",
      "popupAdStartTime": "00:03",
      "popupAdEndTime": "00:07",
      "popupAdGoToLink": "http:\/\/codecanyon.net\/"
    },
    {
      "videoType": "HTML5",
      "title": "AD 10 sec + Streaks Logo After Effects project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. ",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic2.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Streaks_Logo.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "yes",
      "prerollGotoLink": "http:\/\/codecanyon.net\/",
      "preroll_mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/i_Create.mp4",
      "prerollSkipTimer": "10",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "AD 15 sec + Overspread After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted. suas iriure euripidis.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic5.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/OverSpread.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "yes",
      "prerollGotoLink": "http:\/\/codecanyon.net\/",
      "preroll_mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/i_Create.mp4",
      "prerollSkipTimer": "15",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "Photo Dune After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic6.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Photo_Dune.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "no",
      "prerollGotoLink": "prerollGotoLink",
      "preroll_mp4": "preroll_mp4",
      "prerollSkipTimer": "prerollSkipTimer",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "Space Odyssey After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic7.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Space_Odyssey.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "no",
      "prerollGotoLink": "prerollGotoLink",
      "preroll_mp4": "preroll_mp4",
      "prerollSkipTimer": "prerollSkipTimer",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "Still Run After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic8.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Still_Run.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "no",
      "prerollGotoLink": "prerollGotoLink",
      "preroll_mp4": "preroll_mp4",
      "prerollSkipTimer": "prerollSkipTimer",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "AD 5 sec + Top Models After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic9.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Top_Models.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "yes",
      "prerollGotoLink": "http:\/\/codecanyon.net\/",
      "preroll_mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/i_Create.mp4",
      "prerollSkipTimer": "5",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "AD 5 sec + Pour Elle After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic10.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Pour_elle.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "yes",
      "prerollGotoLink": "http:\/\/codecanyon.net\/",
      "preroll_mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Broadcast_Long_Shadow_Package.mp4",
      "prerollSkipTimer": "5",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "Rapture After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic11.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Rapture.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "no",
      "prerollGotoLink": "prerollGotoLink",
      "preroll_mp4": "preroll_mp4",
      "prerollSkipTimer": "prerollSkipTimer",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "Particle Impacts After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic12.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Particle_Impacts.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "no",
      "prerollGotoLink": "prerollGotoLink",
      "preroll_mp4": "preroll_mp4",
      "prerollSkipTimer": "prerollSkipTimer",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "Pieces After Effects project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic1.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Pieces.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "no",
      "prerollGotoLink": "prerollGotoLink",
      "preroll_mp4": "preroll_mp4",
      "prerollSkipTimer": "prerollSkipTimer",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "AD 10 sec + Streaks Logo After Effects project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic2.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Streaks_Logo.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "yes",
      "prerollGotoLink": "http:\/\/codecanyon.net\/",
      "preroll_mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/i_Create.mp4",
      "prerollSkipTimer": "10",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "AD 10 sec + Overspread After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic5.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/OverSpread.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "yes",
      "prerollGotoLink": "http:\/\/codecanyon.net\/",
      "preroll_mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Broadcast_Long_Shadow_Package.mp4",
      "prerollSkipTimer": "10",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "Photo Dune After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic6.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Photo_Dune.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "no",
      "prerollGotoLink": "prerollGotoLink",
      "preroll_mp4": "preroll_mp4",
      "prerollSkipTimer": "prerollSkipTimer",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "Space Odyssey After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic7.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Space_Odyssey.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "no",
      "prerollGotoLink": "prerollGotoLink",
      "preroll_mp4": "preroll_mp4",
      "prerollSkipTimer": "prerollSkipTimer",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "Still Run After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic8.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Still_Run.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "no",
      "prerollGotoLink": "prerollGotoLink",
      "preroll_mp4": "preroll_mp4",
      "prerollSkipTimer": "prerollSkipTimer",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "Top Models After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic9.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Top_Models.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "no",
      "prerollGotoLink": "prerollGotoLink",
      "preroll_mp4": "preroll_mp4",
      "prerollSkipTimer": "prerollSkipTimer",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "Pour Elle After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic10.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Pour_elle.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "no",
      "prerollGotoLink": "prerollGotoLink",
      "preroll_mp4": "preroll_mp4",
      "prerollSkipTimer": "prerollSkipTimer",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "AD 5 sec + Rapture After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic11.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Rapture.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "yes",
      "prerollGotoLink": "http:\/\/codecanyon.net\/",
      "preroll_mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Broadcast_Long_Shadow_Package.mp4",
      "prerollSkipTimer": "5",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    },
    {
      "videoType": "HTML5",
      "title": "AD 5 sec + Particle Impacts After Effects Project",
      "description": "Video by InlifeThrill design.",
      "info": "Video info goes here.<br>This text can be HTML formatted.<br>You can disable this info window in player options. <br><br>Lorem ipsum dolor sit amet, eu pri dolores theophrastus. Posidonium vituperatoribus cu mel, cum feugiat nostrum sapientem ne. Vis ea summo persius, unum velit erant in eos, pri ut suas iriure euripidis. Ad augue expetendis sea. Ne usu saperet appetere honestatis, ne qui nulla debitis sententiae.",
      "thumbImg": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/pic12.jpg",
      "mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/Particle_Impacts.mp4",
      "enable_mp4_download": "yes",
      "prerollAD": "yes",
      "prerollGotoLink": "http:\/\/codecanyon.net\/",
      "preroll_mp4": "http:\/\/creativeinteractivemedia.com\/player\/videos\/i_Create.mp4",
      "prerollSkipTimer": "5",
      "midrollAD": "no",
      "midrollAD_displayTime": "midrollAD_displayTime",
      "midrollGotoLink": "midrollGotoLink",
      "midroll_mp4": "midroll_mp4",
      "midrollSkipTimer": "midrollSkipTimer",
      "postrollAD": "no",
      "postrollGotoLink": "postrollGotoLink",
      "postroll_mp4": "postroll_mp4",
      "postrollSkipTimer": "postrollSkipTimer",
      "popupAdShow": "no",
      "popupImg": "popupImg",
      "popupAdStartTime": "popupAdStartTime",
      "popupAdEndTime": "popupAdEndTime",
      "popupAdGoToLink": "popupAdGoToLink"
    }
  ],
  "submit": "Save Changes",
  "instanceTheme": "dark",
  "playerLayout": "fitToContainer",
  "videoPlayerWidth": 1006,
  "videoPlayerHeight": 420,
  "videoPlayerShadow": "effect5",
  "colorAccent": "rgb(204, 24, 30)",
  "posterImg": "",
  "logoShow": "Yes",
  "logoPath": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/uploads\/2016\/11\/logo.png",
  "logoPosition": "bottom-left",
  "logoClickable": "Yes",
  "logoGoToLink": "http:\/\/codecanyon.net\/",
  "allowSkipAd": true,
  "lightBox": false,
  "lightBoxAutoplay": false,
  "lightBoxThumbnail": "",
  "lightBoxThumbnailWidth": 400,
  "lightBoxThumbnailHeight": 220,
  "lightBoxCloseOnOutsideClick": true,
  "onFinish": "Play next video",
  "autoplay": true,
  "loadRandomVideoOnStart": "No",
  "shuffle": "No",
  "playlist": "Right playlist",
  "playlistBehaviourOnPageload": "opened (default)",
  "playlistScrollType": "light",
  "hideVideoSource": true,
  "showAllControls": true,
  "rightClickMenu": true,
  "autohideControls": 2,
  "hideControlsOnMouseOut": "No",
  "fullscreen": "Fullscreen native",
  "nowPlayingText": "Yes",
  "infoShow": "Yes",
  "shareShow": "Yes",
  "facebookShow": "Yes",
  "twitterShow": "Yes",
  "mailShow": "Yes",
  "facebookShareName": "Elite video player",
  "facebookShareLink": "http:\/\/codecanyon.net\/item\/elite-video-player-wordpress-plugin\/10496434",
  "facebookShareDescription": "Elite Video Player is stunning, modern, responsive, fully customisable high-end video player for WordPress that support advertising and the most popular video platforms like YouTube, Vimeo or self-hosting videos (mp4).",
  "facebookSharePicture": "https:\/\/0.s3.envato.com\/files\/123866118\/preview.jpg",
  "twitterText": "Elite video player",
  "twitterLink": "http:\/\/codecanyon.net\/item\/elite-video-player-wordpress-plugin\/10496434",
  "twitterHashtags": "wordpressvideoplayer",
  "twitterVia": "Creative media",
  "googlePlus": "http:\/\/codecanyon.net\/item\/elite-video-player-wordpress-plugin\/10496434",
  "embedShow": "Yes",
  "embedCodeSrc": "http:\/\/yourwebsite.com\/player\/deploy\/index.html",
  "embedCodeW": 746,
  "embedCodeH": 420,
  "embedShareLink": "http:\/\/codecanyon.net\/",
  "youtubeControls": "custom controls",
  "youtubeSkin": "dark",
  "youtubeColor": "red",
  "youtubeQuality": "default",
  "youtubeShowRelatedVideos": "Yes",
  "vimeoColor": "00adef",
  "videoType": "HTML5 (self-hosted)",
  "preloadSelfHosted": "none",
  "videoRatio": 1.77777777778,
  "videoRatioStretch": false,
  "posterImgOnVideoFinish": "",
  "advertisementTitle": "Advertisement",
  "skipAdvertisementText": "Skip advertisement",
  "skipAdText": "You can skip this ad in",
  "playBtnTooltipTxt": "Play",
  "pauseBtnTooltipTxt": "Pause",
  "rewindBtnTooltipTxt": "Rewind",
  "downloadVideoBtnTooltipTxt": "Download video",
  "qualityBtnOpenedTooltipTxt": "Close settings",
  "qualityBtnClosedTooltipTxt": "Settings",
  "muteBtnTooltipTxt": "Mute",
  "unmuteBtnTooltipTxt": "Unmute",
  "fullscreenBtnTooltipTxt": "Fullscreen",
  "exitFullscreenBtnTooltipTxt": "Exit fullscreen",
  "infoBtnTooltipTxt": "Show info",
  "embedBtnTooltipTxt": "Embed",
  "shareBtnTooltipTxt": "Share",
  "volumeTooltipTxt": "Volume",
  "playlistBtnClosedTooltipTxt": "Show playlist",
  "playlistBtnOpenedTooltipTxt": "Hide playlist",
  "facebookBtnTooltipTxt": "Share on Facebook",
  "twitterBtnTooltipTxt": "Share on Twitter",
  "googlePlusBtnTooltipTxt": "Share on Google+",
  "lastBtnTooltipTxt": "Go to last video",
  "firstBtnTooltipTxt": "Go to first video",
  "nextBtnTooltipTxt": "Play next video",
  "previousBtnTooltipTxt": "Play previous video",
  "shuffleBtnOnTooltipTxt": "Shuffle on",
  "shuffleBtnOffTooltipTxt": "Shuffle off",
  "nowPlayingTooltipTxt": "NOW PLAYING",
  "embedWindowTitle1": "SHARE THIS PLAYER:",
  "embedWindowTitle2": "EMBED THIS VIDEO IN YOUR SITE:",
  "embedWindowTitle3": "SHARE LINK TO THIS PLAYER:",
  "showGlobalPrerollAds": false,
  "globalPrerollAds": "url1;url2;url3;url4;url5",
  "globalPrerollAdsSkipTimer": 5,
  "globalPrerollAdsGotoLink": "http:\/\/codecanyon.net\/",
  "floatPlayerOutsideViewport": false,
  "iOSPlaysinline": true,
  "rootFolder": "http:\/\/creativeinteractivemedia.com\/player\/Elite_video_player\/wp-content\/plugins\/Elite-video-player\/"
}
                                             </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="panel-grid-cell panel-grid-cell-empty" id="pgc-226-0-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Post Content-->


                <!--Start Comments-->
                <!--End Comments-->

            </article>
            <!--EndBlogPost-->
        </div>

    </div>
</main>
<!--End of Main Content-->


<a href="#" class="scrollup">
    <span>Scroll up</span>
</a>
</div>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/jquery.pagescroll2id.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/classie.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/animated-header.min.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/jquery.smartmenus.min.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/jquery.flexslider-min.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/jquery.swipebox.min.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/salvattore.min.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/imagesloaded.pkgd.min.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/jquery.placeholder.min.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/jquery.waypoints.min.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/sticky.min.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/skrollr.min.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/wow.min.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-content/themes/off-the-shelf/js/offtheshelf.js?ver=1.4.5'></script>
<script type='text/javascript' src='http://creativeinteractivemedia.com/player/Elite_video_player/wp-includes/js/wp-embed.min.js?ver=4.9.8'></script>
</body>
</html>