﻿@using IContestPro
@using IContestPro.Contest.ContestEntry.Dto
@using IContestPro.Helpers
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<ContestEntryDetailsDto>
@{
    ViewBag.Title = "Contest Entries";
    ViewBag.CurrentPageName = PageNames.ContestPersonal;
    Layout = "_Layout";


}

@section styles
{
    <link href="~/style.css" type="text/css" rel="stylesheet"/>
}
@section Scripts
{
    <script src="~/view-resources/Views/Contest/contestpages.js" asp-append-version="true"></script>
}
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
              
<div class="winner-area padding-20">
    <div class="row">
        @if (Model == null || !Model.Items.Any())
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-info">
                    <h2>No entries yet.</h2>
                </div>
            </div>
        }
        else
        {
            foreach (var item in Model.Items)
            {
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-winners">
                        <div class="images contest-type-wrp contest-type-wrp-inner">
                            
                            @*<a asp-action="PersonalDetails" asp-route-id="@item.ContestEntry.Permalink">
                                <img src="~/images/uploads/@item.ContestEntry.ContestEntryImage" alt="@item.ContestEntry.User.FullName">
                            </a>
                            <a  asp-action="PersonalDetails" asp-route-id="@item.ContestEntry.Permalink">
                               
                            </a>*@
                            
                            @if (item.ContestEntry.Contest.ContestEntryType.Name == AppConsts.ContestEntryTypeImage)
                                            {
                                                <a asp-action="PersonalDetails" asp-route-id="@item.ContestEntry.Permalink">
                                                    <img src="~/images/uploads/@item.ContestEntry.Image" alt="">
                                                </a>
                                               
                                            }else if (item.ContestEntry.Contest.ContestEntryType.Name == AppConsts.ContestEntryTypeVideo)
                                            {
                                                <video width="250" height="180" controls="controls" preload="metadata" loop="">
                                                    <source src="~/videos/@item.ContestEntry.Video#t=0.5" type="video/mp4">
                                                </video>
                                               
                                               
                                            }
                             <div class="entry-footer text-center">
                                    <div>
                                        <h3 class="margin-top-10 no-margin-bottom">@item.ContestEntry.User.NickName</h3> </div>
                                 <div class="winners-details no-padding-top text-left">
                                     <div><strong>Total Votes:</strong>  <span>@item.TotalVotes</span></div>
                                     <div><strong>Total Comments:</strong>  <span>@item.TotalComments</span></div>
                                     <div><strong>Status:</strong>  <span>@item.ContestEntry.Status.Name.ToFormattedName()</span></div>
                                 </div>

                                 @if (item.ContestEntry.Contest.EndDate > DateTime.Today)
                        {
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="padding-10">
                                      <div class="flex-container">
                                           @if (item.ContestEntry.Status?.Name == AppConsts.StatusPendingPaymentConfirmation)
                                      {
                                          <form asp-action="ChangeStatus" asp-route-permalink="@item.ContestEntry.Contest.Permalink" class="inline-block">
                                              <input type="hidden" name="EntityId" value="@item.ContestEntry.Id"/>
                                              <input type="hidden" name="StatusName" value="@AppConsts.StatusPaymentConfirmed"/>
                                              <button class="btn btn-success btn-sm flex-item" type="submit">Confirm payment</button>
                                          </form>
                                      }
                                      else
                                      {
                                          <form asp-action="ChangeStatus" asp-route-permalink="@item.ContestEntry.Contest.Permalink" class="inline-block">
                                              <input type="hidden" name="EntityId" value="@item.ContestEntry.Id"/>
                                              <input type="hidden" name="permalink" value="@item.ContestEntry.Contest.Permalink"/>
                                              <input type="hidden" name="StatusName" value="@AppConsts.StatusActive"/>
                                              <button class="btn btn-success btn-sm flex-item" type="submit">Make Active</button>
                                          </form>
                                          <form asp-action="ChangeStatus" asp-route-permalink="@item.ContestEntry.Contest.Permalink" class="inline-block">
                                              <input type="hidden" name="EntityId" value="@item.ContestEntry.Id"/>
                                              <input type="hidden" name="permalink" value="@item.ContestEntry.Contest.Permalink"/>
                                              <input type="hidden" name="StatusName" value="@AppConsts.StatusPaused"/>
                                              <button class="btn btn-warning btn-sm flex-item" type="submit">Pause</button>
                                          </form>
                                          <form asp-action="ChangeStatus" asp-route-permalink="@item.ContestEntry.Contest.Permalink" class="inline-block">
                                              <input type="hidden" name="EntityId" value="@item.ContestEntry.Id"/>
                                              <input type="hidden" name="permalink" value="@item.ContestEntry.Contest.Permalink"/>
                                              <input type="hidden" name="StatusName" value="@AppConsts.StatusDisapproved"/>
                                              <button class="btn btn-danger btn-sm flex-item" type="submit">Disaprove</button>
                                          </form>
                                      }
                                      </div>
                                     
                                  </div>
                                  


                              </div> 
                        </div>  
                        }
                                   
                                </div>
                                           
                        </div>
                       
                        
                    </div>
                </div>  
            }
            <div class="row">
                @{
                    int page = ViewBag.Page;
                    int pageSize = ViewBag.PageSize;
                }
                <div class="clearfix"></div>
                @Html.PaginateAdmin(Model.TotalCount, page, pageSize, "ContestEntry", "EntriesAdmin")
            </div>
        }
       
       
    </div>
        </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
