﻿@using IContestPro
@using IContestPro.Authorization
@using IContestPro.Helpers
@using IContestPro.Web.Startup
@model IContestPro.Contest.ContestEntry.Dto.ContestEntryDetailsDto

@{
    ViewBag.Title = Model.ContestEntry.Contest.Title;
    ViewBag.CurrentPageName = PageNames.PersonalEntries;
    Layout = "_Layout";
}
@section styles
{
    <link href="~/style.css" type="text/css" rel="stylesheet"/>
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <div class="photo-details-area no-padding-top">
                    <div class="row">
                        <div class="photo-content padding-20">
                            <h3>Entrt Details</h3>
                            <h4><i class="fa fa-clock-o"></i> @Model.ContestEntry.CreationTime.ToString("h:mm:ss tt")
                                <i class="fa fa fa-calendar margin-left-30"></i> @Model.ContestEntry.CreationTime.ToString("D")
                                <i class="fa fa-thermometer margin-left-30"></i> @Model.ContestEntry.Status?.Name.ToFormattedName()
                            </h4>
                            @if (Model.ContestEntry.Contest.ContestEntryType.Name == AppConsts.ContestEntryTypeImage)
                            {
                                <img src="~/images/uploads/@Model.ContestEntry.Image" class="img-responsive img-thumbnail"/>

                            }else if (Model.ContestEntry.Contest.ContestEntryType.Name == AppConsts.ContestEntryTypeVideo)
                            {
                                <video controls="controls" preload="metadata" loop="">
                                    <source src="~/videos/@Model.ContestEntry.Video#t=0.5" type="video/mp4">
                                </video>
                            }
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        
                                    @if (Model.ContestEntry.Status?.Name == AppConsts.StatusPaymentPending && AbpSession.UserId == Model.ContestEntry.UserId)
                                    {
                                        <h3 class="margin-top-30">Payment Status</h3>
                                        <div>To complete your entry you are required to make payment as descriped below.</div>
                                        <div><strong>Status: </strong><span class="badge badge-danger">Pending Payment</span></div>
                                        <div><strong>Amount: </strong>@Model.ContestEntry.Contest.EntryAmount?.ToNairaString()</div>
                                        <div>
                                            <a class="btn btn-success btn-lg animated fadeIn infinite" data-toggle="modal"
                                               data-target="#paymentModal"><i class="fa fa-money"></i> Click here to pay</a></div>

                                    }
                                    else if (Model.ContestEntry.Status?.Name == AppConsts.StatusPaymentFailed)
                                    {
                                        <h3>Payment Status</h3>
                                        <span class="badge badge-danger">Payment Failed</span>
                                    }
                                </div>
                            </div>
                           
                           <hr />
                            <h3 class="margin-top-30">Contest Details</h3>
                            <h4>@Model.ContestEntry.Contest.Title</h4>
                            <h4><i class="fa fa-clock-o"></i> @Model.ContestEntry.Contest.CreationTime.ToString("h:mm:ss tt")
                                <i class="fa fa fa-calendar margin-left-30"></i> @Model.ContestEntry.Contest.CreationTime.ToString("D")
                            </h4>
                      
                            <img src="~/images/uploads/@Model.ContestEntry.Contest.Picture" class="img-responsive img-thumbnail"/>
                            <div>
                                <p>
                                    @Model.ContestEntry.Contest.Description
                                </p>
                                <ul>
                                    <li><span>Objective : </span> @Model.ContestEntry.Contest.Objective</li>
                           
                                </ul>
                                <section class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <ul>
                                            <li><span>Minimum Participants : </span> @Model.ContestEntry.Contest.MinimumParticipants</li>
                                            @if (Model.ContestEntry.Contest.EveryoneIsAWinnerUrl != null)
                                            {
                                                <li><span>Everyone A Winner : </span>  @Model.ContestEntry.Contest.EveryoneIsAWinnerUrl</li>     
                                            }
                                            <li><span>Start date : </span> @Model.ContestEntry.Contest.StartDate.ToString("D")</li>
                                            <li><span>End date : </span> @Model.ContestEntry.Contest.EndDate.ToString("D")</li>
                                        </ul>
                                        <a class="btn btn-danger" asp-controller="Contest" asp-action="Details" asp-route-id="@Model.ContestEntry.Contest.Permalink">View Contest Details</a>

                                    </div>
                                   
                                
                                </section>
                            
                            </div>
                            <hr />
                            <h3>Vote Configuration</h3>
                            <div>
                                <ul>
                                    <li><span>Vote type : </span> @Model.VoteType.Name</li>
                                    @if (Model.VoteType?.Name == AppConsts.VoteTypePaid)
                                    {
                                        <li><span>Vote Amount : </span> @Model.ContestEntry?.Contest.VoteAmount?.ToNairaString()</li>
                                    }
                                    @if (Model.VoteType?.Name == AppConsts.VoteTypeVotePoint)
                                    {
                                        <li><span>Vote Point : </span> @Model.VoteType?.VotePoint</li>
                                    }
                                
                                </ul>
                            </div>
                            @if (IsGranted(PermissionNames.Pages_Admin))
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <form asp-action="ChangeStatus" class="inline-block">
                                            <input type="hidden" name="EntityId" value="@Model.ContestEntry.Id"/>
                                            <input type="hidden" name="StatusName" value="@AppConsts.StatusLive"/>
                                            <button class="btn btn-success" type="submit">Make Live</button>
                                            GetActiveContestEntries     </form>
                                        <form asp-action="ChangeStatus"class="inline-block">
                                            <input type="hidden" name="EntityId" value="@Model.ContestEntry.Id"/>
                                            <input type="hidden" name="StatusName" value="@AppConsts.StatusPaused"/>
                                            <button class="btn btn-warning" type="submit">Pause</button>
                                        </form>
                                        <form asp-action="ChangeStatus"class="inline-block">
                                            <input type="hidden" name="EntityId" value="@Model.ContestEntry.Id"/>
                                            <input type="hidden" name="StatusName" value="@AppConsts.StatusDisapproved"/>
                                            <button class="btn btn-danger" type="submit">Disaprove</button>
                                        </form> 
                                        @if (Model.ContestEntry.Status?.Name != AppConsts.StatusLive)
                                        {
                                            <form asp-action="ChangeStatus"class="inline-block">
                                                <input type="hidden" name="EntityId" value="@Model.ContestEntry.Id"/>
                                                <input type="hidden" name="StatusName" value="@AppConsts.StatusPaymentConfirmed"/>
                                                <button class="btn btn-success" type="submit">Confirm payment</button>
                                            </form>
                                        }
                                    </div> 
                                </div>
   
                            }
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 acurate padding-20">
                            <div class="single-blog-page-area single-news-page">
                                <div class="row content-info">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="blog-content-tag">
                                            <ul>
                                                @if (Model.ContestEntry.Contest.Tags != null)
                                                {
                                                    <li> <span>Tags: </span> </li>

                                                    foreach (var tag in Model.ContestEntry.Contest.Tags.Split(','))
                                                    {
                                                        <li><a href="#">@tag,</a></li>
                                                    }   
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                                        <div class="blog-content-share-social-icons">
                                            <ul>
                                                <li> <span>Share: </span> </li>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
<!-- Modal -->
@if (AbpSession.UserId == Model.ContestEntry.UserId)
{
    <div id="paymentModal" class="modal fade text-center" role="dialog">
        <div class="modal-dialog">
            @{
                var transRef = Guid.NewGuid().ToString("N");
            }
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Make payment for your entry on: <strong>@Model.ContestEntry.Contest.Title</strong></h4>
                </div>
                <div class="modal-body">
                    <h3 class="margin-bottom-10">Select your card type</h3>
                    <div class="margin-bottom-20"><strong>Amount: </strong>@Model.ContestEntry.Contest.EntryAmount?.ToNairaString()</div>
                    <form asp-action="EntrySuccess" asp-controller="Payment" asp-route-reference="@transRef" asp-route-token="@Model.ContestEntry.Id" method="POST">
                        <script
                            src="https://js.paystack.co/v1/inline.js"
                            data-key="pk_test_e564c540e109248289a7aab6e4209291d2e630fe"
                            data-email="@User.Identity.Name"
                            data-amount="@(Model.ContestEntry.Contest.EntryAmount * 100)"
                            data-ref='@transRef'>
                        </script>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
}
@section Scripts
{
    <script src="~/view-resources/Views/Contest/contestpages.js" asp-append-version="true"></script>
    <script>
        $(function() {
            if ('@Model.ContestEntry.Status.Name' === '@AppConsts.StatusPaymentPending') {
                $('#paymentModal').modal('show');
            }
        });
    </script>
}