﻿@using IContestPro
@using IContestPro.Helpers
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.Contest.ContestEntry.Dto.ContestEntryDetailsDto>

@{
    ViewBag.Title = "Contests";
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.PersonalEntries;
}
@section styles
{
    <link href="~/style.css" type="text/css" rel="stylesheet"/>
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <div class="row">
                    <div class="col-md-6">
                        <h3>My Entries</h3>
                    </div> 
                   
                </div> 
                <div class="blog-page-area no-padding">
                    @if (Model.Items.Count > 0)
                    {
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           @{
                               var rowNum = 0;
                           }
                             @foreach (var item in Model.Items)
                            {
                               
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="single-blog-slide">
                                        <div class="images">
                                            @if (item.ContestEntry.Contest.ContestEntryType.Name == AppConsts.ContestEntryTypeImage)
                                            {
                                                <a asp-action="PersonalDetails" asp-route-id="@item.ContestEntry.Permalink">
                                                    <img src="~/images/uploads/@item.ContestEntry.Image" alt="">
                                                </a>
                                                <span>@item.ContestEntry.CreationTime.ToString("dd") <br>@item.ContestEntry.Contest.CreationTime.ToString("MMM")</span>
                                                <div class="overley">
                                                    <ul>
                                                        <li><a asp-action="PersonalDetails" asp-route-id="@item.ContestEntry.Permalink"><i class="fa fa-eye"></i></a></li>
                                                        <li><a target="_blank" href="~/images/uploads/@item.ContestEntry.Image" data-lightbox="example-set" data-title="Image Title"><i class="fa fa-search"></i></a></li>
                                                    </ul>
                                                </div>
                                            }else if (item.ContestEntry.Contest.ContestEntryType.Name == AppConsts.ContestEntryTypeVideo)
                                            {
                                                <video width="250" height="180" controls="controls" preload="metadata" loop="">
                                                    <source src="~/videos/@item.ContestEntry.Video#t=0.5" type="video/mp4" />
                                                </video>
                                                <span class="video">@item.ContestEntry.CreationTime.ToString("dd") <br>@item.ContestEntry.Contest.CreationTime.ToString("MMM")</span>
                                                
                                               
                                            }
                                           

                                        </div>
                                        <div class="row">
                                           
                                            @if (item.ContestEntry.Status?.Name == AppConsts.StatusPaymentPending && AbpSession.UserId == item.ContestEntry.UserId)
                                            {
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <div><strong>Status: </strong><span class="badge badge-danger">Pending Payment</span></div>
                                                    <div><strong>Amount: </strong>@item.ContestEntry.Contest.EntryAmount?.ToNairaString()</div>
                                                </div>

                                            }
                                            else if (item.ContestEntry.Status?.Name == AppConsts.StatusPaymentFailed)
                                            {
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <h3>Payment Status</h3>
                                                    <span class="badge badge-danger">Payment Failed</span>
                                                </div>
                                               
                                            }
                                            else
                                            {
                                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><strong>Status: </strong><span> @item.ContestEntry.Status?.Name</span></div>
                                               
                                                
                                            }
                                           
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 flex-container">
                                                @if (item.ContestEntry.Status?.Name == AppConsts.StatusPaymentPending && AbpSession.UserId == item.ContestEntry.UserId)
                                                {
                                                    <a class="btn btn-success btn-sm animated fadeIn infinite flex-item"  asp-action="PersonalDetails" asp-route-id="@item.ContestEntry.Permalink"><i class="fa fa-money"></i> Click here to pay</a>
 }
                                                <a class="btn btn-danger btn-sm flex-item" asp-action="PersonalDetails" asp-route-id="@item.ContestEntry.Permalink">
                                                    View Details
                                                </a> 
                                                @if (item.ContestEntry.Status?.Name == AppConsts.StatusActive && AbpSession.UserId == item.ContestEntry.UserId)
                                                {
                                                    <a class="btn btn-success btn-sm fadeIn infinite flex-item"  asp-action="CreateEdit" asp-controller="FeaturedContestEntries" asp-route-reference="@item.ContestEntry.Id">Promote</a>
                                                }
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                rowNum++;
                                if (rowNum % 2 == 0)
                                {
                                    <div class="clearfix"></div>
                                }
                            }  
                          
                        </div>

                    </div>
                    <div class="row">
                        @{
                            int page = ViewBag.Page;
                            int pageSize = ViewBag.PageSize;
                        }
                        @Html.PaginateAdmin(Model.TotalCount, page, pageSize, "Contest", "Personal")
                        </div>
                            }
                            else
                            {
                                <div class="alert alert-info"><p>No personal contests</p></div>
                            }

                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
@section Scripts
{
    <script src="~/view-resources/Views/Contest/contestpages.js" asp-append-version="true"></script>
  
}
