.nivoSlider{position:relative;width:100%;height:auto;overflow:hidden;}
.nivoSlider img{position:absolute;top:0px;left:0px;max-width:none;}
.nivo-main-image{display:block !important;position:relative !important;width:100% !important;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden;}
.nivo-box img{display:block;}
.nivo-caption{position:absolute;left:0px;bottom:0px;color:#fff;width:100%;z-index:8;padding:5px 10px;opacity:1;overflow:hidden;display:none;-moz-opacity:1;filter:alpha(opacity=1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.nivo-caption p{padding:5px;margin:0;}
.nivo-caption a{display:inline !important;}
.nivo-html-caption{display:none;}
.nivo-directionNav a{position:absolute;top:45%;z-index:9;cursor:pointer;}
.nivo-prevNav{left:0px;}
.nivo-nextNav{right:0px;}
.nivo-controlNav{text-align:center;padding:0px 0 0;}
.nivo-controlNav a{cursor:pointer;}
.nivo-controlNav a.active{font-weight:bold;}
.slider-direction{position:absolute;left:0;top:0;width:100%;background:none;color:#fff;font-size:16px;z-index:999;display:none;}
.nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;filter:alpha(opacity=1);opacity:1;cursor: auto;}
.nivoSlider a.nivo-imageLink[href]{cursor: pointer;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden;}
.nivo-box img{display:block;}
.nivo-caption{position:absolute;left:0;top:0;color:#fff;width:100%;height:100%;z-index:8;}
.nivo-main-image{display:block !important;position:relative !important;width:100% !important;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden;}
@-webkit-keyframes myfirst{from{width:0;}
to{width:100%;}
}
@keyframes myfirst{from{width:0;}
to{width:100%;}
}
.slider-progress.pos_hover{-webkit-animation-play-state:paused;animation-play-state:paused;}
.slider-progress{position:absolute;top:0;left:0;background-color:rgba(255, 255, 255, .7);height:5px;-webkit-animation:myfirst 5000ms ease-in-out;-moz-animation:myfirst 5000ms ease-in-out;-ms-animation:myfirst 5000ms ease-in-out;animation:myfirst 5000ms ease-in-out;}
.s-tb{display:table;height:100%;width:100%;float:left;}
.s-tb-c{display:table-cell;vertical-align:middle;}
.t-cn{text-align:center}
.t-lft{text-align:left}
.t-lfr{text-align:right}
.slider-1 h1{-webkit-animation:bounceInUp 1000ms ease-in-out;-moz-animation:bounceInUp 1000ms ease-in-out;-ms-animation:bounceInUp 1000ms ease-in-out;animation:bounceInUp 1000ms ease-in-out;}
.slider-1 div.title2{-webkit-animation:bounceInUp 2000ms ease-in-out;-moz-animation:bounceInUp 2000ms ease-in-out;-ms-animation:bounceInUp 2000ms ease-in-out;animation:bounceInUp 2000ms ease-in-out;}
.slider-1 p{-webkit-animation:zoomIn 500ms ease-in-out;-moz-animation:zoomIn 500ms ease-in-out;-ms-animation:zoomIn 500ms ease-in-out;animation:zoomIn 500ms ease-in-out;}
.slider-1 div.slider-botton{-webkit-animation:bounceInDown 2500ms ease-in-out;-moz-animation:bounceInDown 2500ms ease-in-out;-ms-animation:bounceInDown 2500ms ease-in-out;animation:bounceInDown 2500ms ease-in-out;}
.slider-2 p{-webkit-animation:zoomIn 500ms ease-in-out;-moz-animation:zoomIn 500ms ease-in-out;-ms-animation:zoomIn 500ms ease-in-out;animation:zoomIn 500ms ease-in-out;}
.slider-2 h1{-webkit-animation:fadeInLeft 500ms ease-in-out;-moz-animation:fadeInLeft 500ms ease-in-out;-ms-animation:fadeInLeft 500ms ease-in-out;animation:fadeInLeft 500ms ease-in-out;}
.slider-2 div.title2{-webkit-animation:fadeInLeft 1500ms ease-in-out;-moz-animation:fadeInLeft 1500ms ease-in-out;-ms-animation:fadeInLeft 1500ms ease-in-out;animation:fadeInLeft 1500ms ease-in-out;}
.slider-2 div.slider-botton{-webkit-animation:bounceInDown 2500ms ease-in-out;-moz-animation:bounceInDown 2500ms ease-in-out;-ms-animation:bounceInDown 2500ms ease-in-out;animation:bounceInDown 2500ms ease-in-out;}