.page-wrapper{
    padding-top: 80px;
}
.winner-area{
    padding-left: 10px !important;
    padding-right: 10px !important;
    background: whitesmoke;
}
.no-padding{ padding: 0 !important;}
.no-padding-left{ padding-left: 0 !important;}
.no-padding-right{ padding-right: 0 !important;}
.no-padding-bottom{ padding-bottom: 0 !important;}
.no-padding-top{ padding-top: 0 !important;}

.no-margin{ margin: 0 !important;}
.no-margin-left{ margin-left: 0 !important;}
.no-margin-right{ margin-right: 0 !important;}
.no-margin-bottom{ margin-bottom: 0 !important;}
.no-margin-top{ margin-top: 0 !important;}
.padding-10 {
    padding: 10px !important;
}
.padding-20 {
    padding: 20px !important;
}
.padding-30 {
    padding: 30px !important;
}
.padding-40 {
    padding: 40px !important;
}
.padding-50 {
    padding: 50px !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-top-20 {
    padding-top: 20px !important;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.padding-top-40 {
    padding-top: 40px !important;
}
.padding-top-50 {
    padding-top: 50px !important;
}
.padding-top-70 {
    padding-top: 70px !important;
}
.padding-top-80 {
    padding-top: 80px !important;
}
.padding-top-100 {
    padding-top: 100px !important;
}
.padding-bottom-5 {
    padding-bottom: 5px !important;
}
.padding-bottom-10 {
    padding-bottom: 10px !important;
}
.padding-bottom-20 {
    padding-bottom: 20px !important;
}
.padding-bottom-30 {
    padding-bottom: 30px !important;
}
.padding-bottom-40 {
    padding-bottom: 40px !important;
}
.padding-bottom-50 {
    padding-bottom: 50px !important;
}
.padding-left-10 {
    padding-left: 10px !important;
}
.padding-left-20 {
    padding-left: 20px !important;
}
.padding-left-30 {
    padding-left: 30px !important;
}
.padding-left-40 {
    padding-left: 40px !important;
}
.padding-left-50 {
    padding-left: 50px !important;
}
.padding-right-10 {
    padding-right: 10px !important;
}
.padding-right-20 {
    padding-right: 20px !important;
}
.padding-right-30 {
    padding-right: 30px !important;
}
.padding-right-40 {
    padding-right: 40px !important;
}
.padding-right-50 {
    padding-right: 50px !important;
}

.margin-10 {
    margin: 10px !important;
}
.margin-20 {
    margin: 20px !important;
}
.margin-30 {
    margin: 30px !important;
}
.margin-40 {
    margin: 40px !important;
}
.margin-50 {
    margin: 50px !important;
}


.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-top-30 {
    margin-top: 30px !important;
}
.margin-top-40 {
    margin-top: 40px !important;
}
.margin-top-50 {
    margin-top: 50px !important;
}
.margin-top-70 {
    margin-top: 70px !important;
}
.margin-bottom-5 {
    margin-bottom: 5px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
.margin-bottom-50 {
    margin-bottom: 50px !important;
}
.margin-left-10 {
    margin-left: 10px !important;
}
.margin-left-20 {
    margin-left: 20px !important;
}
.margin-left-30 {
    margin-left: 30px !important;
}
.margin-left-40 {
    margin-left: 40px !important;
}
.margin-left-50 {
    margin-left: 50px !important;
}
.margin-right-10 {
    margin-right: 10px !important;
}
.margin-right-20 {
    margin-right: 20px !important;
}
.margin-right-30 {
    margin-right: 30px !important;
}
.margin-right-40 {
    margin-right: 40px !important;
}
.margin-right-50 {
    margin-right: 50px !important;
}

.btn {
    font-size: 15px !important;
    text-transform: uppercase !important;
    display: inline-block !important;
    text-align: center !important;
    background: #d32f2f !important;
    color: #fff !important;
    border-radius: 0 !important;
    padding: 8px 25px !important;
    border: 1px solid #d32f2f !important;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}
.btn.btn-inverse {
    background-color: #fff !important;
    color: #d32f2f !important;
}
.btn.btn-inverse:hover {
    background-color: #d32f2f !important;
    color: #fff !important;
}
.btn:hover {
    background-color: #fff !important;
    color: #d32f2f !important;
}
.btn.btn-success {
    background-color: #4cae4c !important;
    border-color: #4cae4c !important;
    color: #fff !important;
}
.btn.btn-success:hover {
    background-color: #fff !important;
    color: #5cb85c !important;
}
.btn.btn-success-inverse {
    background-color: #fff !important;
    border-color: #4cae4c !important;
    color: #4cae4c !important;
}
.btn.btn-success-inverse:hover {
    background-color: #4cae4c !important;
    border-color: #4cae4c !important;
    color: #fff !important;
}
.btn.btn-default {
    background-color: #d32f2f !important;
    border-color: #d32f2f !important;
    color: #fff !important;
}
.btn.btn-default:hover {
    background-color: #fff !important;
    color: #d32f2f !important;
}
.btn.btn-default-inverse {
    background-color: #fff !important;
    border-color: #d32f2f !important;
    color: #d32f2f !important;
}
.btn.btn-default-inverse:hover {
    background-color: #d32f2f !important;
    border-color: #d32f2f !important;
    color: #fff !important;
}
.btn.btn-primary {
    background-color: #1f91f3 !important;
    border-color: #1f91f3 !important;
    color: #fff !important;
}
.btn.btn-primary:hover {
    background-color: #fff !important;
    color: #1f91f3 !important;

}
.btn.btn-primary-inverse {
    background-color: #fff !important;
    border-color: #1f91f3 !important;
    color: #1f91f3 !important;
}
.btn.btn-primary-inverse:hover {
    background-color: #1f91f3 !important;
    border-color: #1f91f3 !important;
    color: #fff !important;
}
.btn.btn-danger {
    background: #d32f2f !important;
    border-color: #d32f2f !important;
    color: #fff !important;
}
.btn.btn-danger:hover {
     background: #fff !important;
     color: #d32f2f !important;
 }
.btn.btn-danger-inverse {
    background-color: #fff !important;
    border-color: #d32f2f !important;
    color: #d32f2f !important;
}
.btn.btn-danger-inverse:hover {
    background-color: #d32f2f !important;
    border-color: #d32f2f !important;
    color: #fff !important;
}
.btn.btn-white{
    background-color: #fff !important;
    border-color: #ddd !important;
    color: #333 !important;
}.btn.btn-white:hover{
    background-color: #333 !important;
    color: #fff !important;
}
.btn.btn-black {
    background-color: #000 !important;
    color: #fff !important;
    border-color: #000 !important;
}
.btn.btn-black:hover {
    background-color: #fff !important;
    color: #000 !important;
}
.btn.btn-black-inverse {
    background-color: #fff !important;
    border-color: #000 !important;
    color: #000 !important;
}
.btn.btn-black-inverse:hover {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
}
.btn-warning {
    color: #fff !important;
    background-color: #f0ad4e !important;
    border-color: #f0ad4e !important;
}
.btn-warning:hover {
    color: #f0ad4e !important;
    background-color: #fff !important;
}
.btn.btn-warning-inverse {
    background-color: #fff !important;
    border-color: #f0ad4e !important;
    color: #f0ad4e !important;
}
.btn.btn-warning-inverse:hover {
    background-color: #f0ad4e !important;
    border-color: #f0ad4e !important;
    color: #fff !important;
}
.btn.btn-sm, .btn-group-sm > .btn {
    padding: 2px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
}
.btn.dropdown-toggle{
    background-color: #ffffff !important;
    border-color: #aaa !important;
    color: #000 !important;
}
.btn.dropdown-toggle:hover{
    background-color: transparent !important;
}
.btn.btn-ms{
    padding: 5px 10px !important;
}

.bootstrap-select.form-control {
    z-index: auto;
}
.pagination-area {
    margin-top: 30px;
    margin-bottom: 30px;
}
.pagination-area ul li {
    margin-right: 3px;
}
 a{
 color: #d32f2f;
 cursor: pointer;
 }
/*input[maxlength]:before, textarea[maxlength]:before{
    position: absolute;
    content: 'Fidelis kalu';
    right: 0;
    top: 20px;
}*/
/*
.input-group .form-line.count-input-length::after {
    content: 'Size: 9';
    right: -71px;
    z-index: 9999;
    left: auto;
    width: auto;
}*/
.overley .social-media-wrp ul{
    text-align: center !important;
}
.overley .social-media-wrp ul li{
    display: inline-block;
}
.overley .social-media-wrp ul li a{
    color: #fff;
    border: none;
}
 .social-media-wrp ul li{
    display: inline-block;
}
 .messages-left-nav li a.active{
     background-color: #ddd;
     border-color: #ddd;
 }
 
@media only screen and (max-width: 1600px) {
    .home-page-core-activities-area .home-activities-area h2 {
        left: -66px;
    }
}
.home-page-core-activities-area .home-activities-area h2 {
    left: -66px;
}
.inline-block{
    display: inline-block;
}
.inline-list{
    margin-bottom: 20px;
}
.inline-list li{
    display: inline-block;
}
.inline-list li span{
   color: #d32f2f;
}
.inline-list li a{
    color: #333;
}
.contest-type-wrp{
position: relative;
    background-color: #fff;
    height: 438px;
}
.contest-type-wrp.contest-type-wrp-inner{
 height: 380px;
}
.contest-type-wrp .entry-wrapper-inner{
    height: 201px;
}
.contest-type-wrp video{
    margin: 0 auto;
    display: block;
}
.contest-type-wrp .contest-type-button{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}


.entry-footer{
    background-color: #fff; padding: 10px 10px 20px 10px;
}
.contest-footer{
    background-color: #ffffff; padding: 20px; overflow: hidden;
}
.contest-footer .header a{
 color:   #333333
}
.contest-footer .sponsor a{
 color:   #333333
}
.contest-footer .meta-date li{
 display:   inline-block;
    color: #888;
    margin-right: 30px;
}
.contest-footer .blog-details a{
    width: 75px;
}
.contest-footer .blog-details .blog-details-inner{
    display:flex;
    justify-content:space-evenly;
}
.contest-footer .blog-details .blog-details-inner a{
    flex-grow: 1;
    margin-right: 10px;
}
.flex-container{
    display:flex;
    justify-content:space-evenly;
}
.flex-container .flex-item{
    flex-grow: 1;
    margin-right: 10px;
}
.bg-white{
    background-color: #fff;
}
.profile-image-wrapper{
    height: 150px; background: #ee462e url('/images/profilebg.jpg') no-repeat 100%/100%;
}
.explore-area{
    position: absolute;
    z-index: 999;
    bottom: -30px;
    right: 20px;
}
.explore-area a{
    border-radius: 0;
}
.mobile-slide .mobile-app-notify{
    padding: 5px 10px 0px 10px;
    line-height: 1;
    color: #fff0f5;
    background: linear-gradient(to right, #7D3925, #CD9768);
    position: fixed;
    bottom: 0;
    overflow: hidden;
}
.mobile-slide .mobile-app-notify a{
    color: #7c3c22;
    background-color: #fff;
    border-color: #ddd;
}
.mobile-slide .mobile-app-notify .logo{
    width: 150px;
}
.mobile-slide .mobile-app-notify a:not(a.btn){
   color:white;
}

.mobile-slide .mobile-slide-item{
    padding: 30px 20px 180px 20px;
    display: none;
}
.mobile-slide .mobile-slide-item.active{
    display: block;
}
.mobile-slide #mobile-slide-item-1{
    background:linear-gradient(to bottom right, #d61679, #E67818);
}
.mobile-slide #mobile-slide-item-2{
    background: linear-gradient(to bottom right, #E67818,#d61679);
}
.mobile-slide #mobile-slide-item-3{
    background: linear-gradient(to right, #DB1479, #E6781A);
}
.mobile-slide .mobile-slide-header{
    color: white;
    font-size: 36px;
}
.mobile-slide .mobile-slide-image{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}
.mobile-slide .mobile-slide-body{
color: white;
}
.mobile-slide .mobile-slide-indicators {
    position: absolute;
    top: 600px;
    width: 100%;
    color: white;
}
.mobile-slide .mobile-slide-indicators a{
color: white;
    font-size: 18px;
}
.mobile-slide .mobile-slide-indicators .mobile-slide-indicator-icon{
    width: 20px;
    height: 20px;
    border: 2px dotted #fff;
    display: inline-block;
    margin-right: 20px;
    border-radius: 50%;
}
.mobile-slide .mobile-slide-indicators .mobile-slide-indicator-icon.active{
    background-color: white;
}
.mobile-slide .mobile-slide-next-previous a{
    position: fixed;
    top: 35%;
    font-size: 50px;
    color: rgba(84, 78, 78, 0.6);
    text-shadow: 0 2px rgba(84, 78, 78, 0.4);
}
.mobile-slide .mobile-slide-next-previous a.mobile-slide-next{
    right: 7px;
}
.mobile-slide .mobile-slide-next-previous a.mobile-slide-previous{
    left: 7px;
}
.mobile-slide .mobile-slide-button{
    max-width: 170px;
    margin: 30px auto;
}
.mobile-slide .mobile-slide-button a{
    background: #fff;
    color: #e27900;
    border: 2px solid #ad3f3f;
    box-shadow: 2px 2px #b16104;
    border-radius: 25px;
    font-weight: 900;
    text-shadow: 1px 0px #d3276f;
    font-size: 20px;
}
.mobile-slide .mobile-slide-button a.get-started{
    color: #d1197c;
}.mobile-slide .mobile-slide-button a.explore{
    color: #e27900;
}
.unread{
    width: 7px;
    height: 7px;
    background-color: #4CAF50;
    display: inline-block;
    border-radius: 50%;
}
.notification-badge{
    position: absolute;
    display: none;
    top: 0;
    left: 14px;
    border: 1px solid #fff;
}
.notifications-wrapper .list-group-item{
    padding: 5px 21px;
}
.notifications-wrapper{
    position: absolute;
    width: 350px;
    left: -124px;
    padding: 5px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
.notifications-wrapper .list-group:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 999;
    top: -11px;
    left: 133px;
}
.notifications-wrapper a.more{
    box-shadow: 0 0 transparent !important;
    width: 100px;
    background: #ddd !important;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cursor-pointer{
cursor: pointer;
}
.top-banner-container a{
    display: block;
    height: 50px;
}
.home-page-nav{
    background-color: transparent !important;
    border: 0  !important;
    border-radius: 0 !important;
}
.home-page-nav .navbar-nav>li>a {
    color: #fff !important;
}
.home-page-nav .logo{
   /* position: relative;
    top: -12px;*/
}
.sidebar-recent-post .featured-item-date{
font-size: 12px;
}
.sidebar-recent-post .featured-item-title{
color: #333333;
}
.list-group-item.leader-board-contestant-list-item{
    border:0;
    border-bottom: 1px solid #ddd;
     background-color:transparent; 
    border-radius: 0;
}
.leader-board-main .well{
    margin-bottom: 0;
     border: 0 transparent; 
     border-radius: 0; 
}
.leader-board-wrapper:first-child{
    padding-top: 20px !important;
}
.leader-board-wrapper .leader-board-inner{
    background-color: #fff;margin: 0;
}
.leader-board-wrapper .leader-board-inner .contest-container{
     margin-top: 10px;
}
.leader-board-wrapper .leader-board-inner .contest-container a{
     color: #333;
}
.messages-left-nav .nav > li > a {
    color: #555;
}
.messages-left-nav .nav > li > a.header {
    background-color: #d51679;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
.new-message-row td{
    font-weight: bold;
}

.multiple-val-input{
    height: auto;
    min-height: 34px;
    cursor: text;
}
.multiple-val-input ul{
    float: left;
    padding: 0;
    margin: 0;
}
.multiple-val-input ul li{
    list-style: none;
    float: left;
    padding: 3px 5px 3px 5px;
    margin-bottom: 3px;
    margin-right: 3px;
    position: relative;
    line-height: 13px;
    cursor: default;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(to top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}
.multiple-val-input ul li a{
    display: inline;
    color: #333;
    text-decoration: none;
}
.multiple-val-input ul li a, .multiple-val-input ul li div{
    display: inline;
    margin-left: 3px;
}
.multiple-val-input input[type="text"]{
    float: left;
    border: none;
    outline: none;
    height: 20px;
    min-width: 5px;
    width: 5px;
}
.multiple-val-input span.input_hidden{
    font-size: 14px;
    position: absolute;
    clip: rect(0,0,0,0);
}
.suggested-recipients-wrapper a img {
    margin-right: 10px;
}
.normalize-checkbox{
    position: static !important;
    opacity: 1 !important;
}
.home-sponsors{
    margin: 50px auto;
}
.home-sponsors .sponsor-title
{
    text-align: center;
    border-bottom: solid 1px #eee;
    padding-bottom: 30px;
}

.new-ticker-wrapper .smartmarquee {
    position: relative;
    overflow: hidden;
}
.new-ticker-wrapper .smartmarquee .container {
    position: absolute;
}
.new-ticker-wrapper .smartmarquee-wrapper {
    height: 300px;
    width: 300px;
}
.new-ticker-wrapper .smartmarquee-wrapper .container {
    margin: 0;
    padding: 0;
}
.new-ticker-wrapper .smartmarquee-wrapper .container li {
    width: 285px;
    margin: 0 0 0 5px;
    padding: 5px 0 5px 0;
    border-bottom: 1px dotted #999
}
.list-view-wrapper .contest-footer{
    padding: 10px 0 20px 20px;
}
.list-view-wrapper .list-view-content-wrapper{
   background-color: #fff;
}
.list-view-wrapper .single-blog-slide, .grid-view-wrapper .single-blog-slide{
    position: relative;
    height: 760px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 0;
}
.list-view-wrapper .images{
    overflow: hidden;
    position: relative;
}
.list-view-wrapper .contest-action-buttons, .grid-view-wrapper .contest-action-buttons{
    position: absolute; z-index: 1; width: 100%; background-color: rgba(0, 0, 0, 0.5); padding-right: 20px;
}
.list-view-wrapper .contest-action-buttons a, .grid-view-wrapper .contest-action-buttons a {
    color: #fff;
}
.list-view-wrapper .contest-action-buttons .separator, .grid-view-wrapper .contest-action-buttons .separator{
   color: #aaa;
}
.list-view-wrapper .contest-entries-counter a, .grid-view-wrapper .contest-entries-counter a{
  color: #333333;
}
.list-view-wrapper .contest-footer .separator, .grid-view-wrapper .contest-entries-counter .separator{
    color: #ccc;
}
.list-view-wrapper .contest-footer .blog-informations{
    position: relative;
    top: 14px;
}
.grid-view-wrapper .contest-footer-inner{
    /*padding: 0 20px 0 20px;*/
}
.separator{
    color: #ccc;
}
.home-items-paged-number{
    display: inline-block;
    width: 80px;
}
.sponsor-logo-wrapper-thumbnail img.logo{
    width: 40px;
}
.contest-ending-soon-wrapper ol{
    margin: 0;
    padding: 0 15px 0 15px;
}
.contest-ending-soon-wrapper ol li a span{
    color: #0e2e3a;
}
.contest-ending-soon-wrapper ol li a{
   display: block;
}
.contest-ending-soon-wrapper ol li{
    margin-bottom: 10px;
    font-size: 12px;
}
/*
        THE HOME PAGE CSS
        */
.header-top-area { background: #f5f5f5; }

.header-top-area .header-top-right ul li a, .header-top-area .social-media-area ul li a { color: #444444; }

.s-tb-c { display: block; }

.contest-footer-link-cover{
    position: absolute;
    height: 45px;
    width: 78%;
    top: 3px;
    background: rgba(255, 255, 255, 0.7)
}
.arrow-down {
    position: relative;
    border-bottom: 1px solid #ff574f;
    margin-top: 20px;
    margin-bottom: 10px;
}
.arrow-down .arrow-down-inner {
    display: inline-block;
    background-color: #ff574f;
    color: #fff;
    padding: 3px 10px;
}
.arrow-down:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff574f;
    top: 100%;
    left: 80%;
}
.arrow-down .arrow-down-inner .join-button{
    padding: 2px 15px !important;
    border-radius: 20px !important;
    border: 1px solid #fff !important;
    font-size: 12px !important;
    margin-left: 20px;
    background-color: #ffffff !important;
    color: #f9574f !important;
}
.arrow-down.arrow-down-list-view{
    margin-top: 0;
}
.list-view-contest-time{
    margin-bottom: 4px; margin-top: 5px;
}
.rounded-corners{
    border-radius: 8px !important;
}
.social-button{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 11px;
    height: 32px;
    line-height: 32px;
    margin-right: 8px;
    padding: 0 8px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    /*max-width: 200px;*/
    margin-bottom: 5px;
}
.social-button a{
    display: block;
    color:#fff;
}
.social-button[data-network='facebook'] {
    background-color: #4267B2;
}
.social-button[data-network='twitter'] {
    background-color: #55acee;
}
.social-button[data-network='linkedin'] {
    background-color: #1377B5;
}
.social-button[data-network='pinterest'] {
    background-color: #CB2027;
}
.social-button[data-network='email'] {
    background-color: #7d7d7d;
}
.social-button .social-button-icon {
    font-size: 16px;
}
.social-button .social-button-label {
    margin-left: 10px;
}
.new-content{
    line-height: 30px;
}
.news-featured-image{
    height: 400px;
}
.image-background{
    background-position: top center!important;
    background-size: cover!important;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.news-section-item a{
    color: #0c0c0c;
}
.news-section-item a:hover{
    color: #d32f2f;
}
.mobile-search{
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.mobile-search .mobile-search-inner{
    margin: 20px 10px 0 10px;
}
.mobile-search .mobile-search-placeholder{
    margin-left: 10px;
    margin-right: 10px;
}
.mobile-search .mobile-search-inner .sidebar-search{
 overflow: visible;
}
.mobile-search .mobile-search-inner .search-results-wrapper{
    position: absolute;
    z-index: 1;
    width: 100%;
    box-shadow: 2px 2px 5px #e6e4e4;
}
@media (max-width: 767px) {
.page-wrapper{
padding-top: 0;
}
.fund-wallet-container {
top: 34px !important;
margin-left: 0 !important;
}
.profile-image-wrapper{
background: #ee462e url('/images/profilebg.jpg') no-repeat 100%/150%;
}
.explore-area{
margin-bottom: 80px;
}
.logo-area img.logo{
width: 100px;
}
.contest-footer{
padding: 0 0 20px 0;
}
.notifications-wrapper{
left: -70px;
}
.notifications-wrapper .list-group:before {
left: 80px;
}
.contest-footer .blog-details a{
width: auto;
}
.contest-type-wrp{
 height: auto;
}
.contest-type-wrp .entry-wrapper-inner{
height: auto;
}
.contest-filter-wrapper{
padding: 0 10px;
}
.grid-view-wrapper{
padding: 10px;
}
.sponsor-logo-wrapper-thumbnail{
 padding-top: 10px;
 margin: 0;
}
.contest-footer{
text-align: left;
}
.contest-dates-wrapper{
margin: 0;
}
.mobile-margin-top-10{
margin-top: 10px !important;
}.mobile-margin-top-20{
margin-top: 20px !important;
}.mobile-margin-top-30{
margin-top: 30px !important;
}.mobile-margin-top-40{
margin-top: 40px !important;
}.mobile-margin-top-50{
margin-top: 50px !important;
}

.mobile-padding-top-10{
padding-top: 10px !important;
}.mobile-padding-top-20{
padding-top: 20px !important;
}.mobile-padding-top-30{
padding-top: 30px !important;
}.mobile-padding-top-40{
padding-top: 40px !important;
}.mobile-padding-top-50{
padding-top: 50px !important;
}

.mobile-no-padding{ padding: 0 !important;}
.mobile-no-padding-left{ padding-left: 0 !important;}
.mobile-no-padding-right{ padding-right: 0 !important;}
.mobile-no-padding-bottom{ padding-bottom: 0 !important;}
.mobile-no-padding-top{ padding-top: 0 !important;}

.mobile-no-margin{ margin: 0 !important;}
.mobile-no-margin-left{ margin-left: 0 !important;}
.mobile-no-margin-right{ margin-right: 0 !important;}
.mobile-no-margin-bottom{ margin-bottom: 0 !important;}
.mobile-no-margin-top{ margin-top: 0 !important;}

}