﻿@using IContestPro
@using IContestPro.Web.Startup
@model IContestPro.AdvertPrice.Dto.AdvertPriceDto

@{
    ViewBag.Title = "Create Advert Prices";
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.AdvertPrices;

}
@section styles
{
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>*@
}
@section Scripts
{
}
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <form asp-action="CreateEdit" class="form-horizontal" id="create-form" enctype="multipart/form-data">
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Name">Name</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Name" type="text" class="form-control", placeholder="Name",  required maxlength="50"/>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Days">Days</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Days" type="text" class="form-control", placeholder="Days" required />
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Amount">Amount</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Amount" type="text" class="form-control", placeholder="Amount" required />
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Amount">Advert Type</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <select asp-for="Type" asp-items="Html.GetEnumSelectList<AdvertType>()" class="form-control" required=""></select> 
                                </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button class="btn btn-primary"><i class="fa fa-upload"></i> @(Model.Id <= 0 ? "Create" : "Save Changes")</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
