﻿@using Microsoft.AspNetCore.Hosting
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.Contest.Dto.ContestDto>
@inject IHostingEnvironment HostingEnvironment

@{
    Layout = null;
}
<select required="" class="form-control" id="ContestId" name="ContestId">
        @if (Model != null && Model.Items.Any())
        { 
                foreach (var item in Model.Items)
                {
                    <option value="@item.Id">@item.Title</option>
                }

        }
        else
        {
            <option selected="selected" value="">You do not have any contest</option>
        }
</select>



