﻿@using IContestPro
@using IContestPro.Authorization
@using IContestPro.Cookie
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting;
@model IContestPro.Messages.Dto.CreateMessageInputDto
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.Messages; // The menu item will be active for this page.
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <section class="content-header">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <h2>Create Message</h2>
                            </section>

                        </div>
                        <div class="col-md-6">
                            <nav aria-label="breadcrumb" class="pull-right">
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                                    <li><a asp-controller="Messages" asp-action="Index">Messages</a></li>
                                    <li>Create Message</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </section>
                <hr/>
                 <form name="CreateMessageForm" id="CreateMessageForm" asp-action="Create" role="form" class="form-validation"
                  method="post" enctype="multipart/form-data">     
                   <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <article class="form-horizontal margin-top-20">
                                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                                        
                                        <section class="col-md-9">
                                            <input type="hidden" asp-for="MessageType" value="0"/>
                                            <article class="message-type-recipient-fields">
                                                <div class="input-group">
                                                    <div class="col-md-3">
                                                        <label >Recipients</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="form-line">
                                                            <select required="" class="form-control" asp-for="MessageTo" id="message-to">
                                                                <option value="@MessageTo.Follower">Follower(s)</option>
                                                                @if (IsGranted(PermissionNames.Pages_Admin) || IsGranted(PermissionNames.Pages_Sponsor))
                                                                {
                                                                    <option value="@MessageTo.ContestParticipants">Contest Participants</option>
                                                                }
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group contest-select-wrapper" style="display: none;">
                                                    <div class="col-md-3 text-right">
                                                        <i class="fa fa-spinner fa-spin loading-followers"></i>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="form-line contest-wrapper">
                                                            <select required="" class="form-control" id="ContestId" name="ContestId" disabled="disabled">
                                                                <option selected="selected" value="">Select Contest</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group input-recipients-wrapper" style="display: none;">
                                                    <div class="col-md-3 text-right">
                                                        <i class="fa fa-spinner fa-spin loading-followers"></i>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="form-line">
                                                            <div class="multiple-val-input">
                                                                <ul>
                                                                    <input type="text" placeholder="Type Here" style="width: 70px;">
                                                                    <span class="input_hidden"></span>
                                                                    <input type="hidden" id="multival-recipients-input" name="Recipients" value=""/>
                                                                </ul>
                                                            </div>
                                                            <small>Select Recipients. Recipients are people you follow.</small>
                                                            <section class="suggested-recipients-wrapper">
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>

                                            <div class="input-group message-type-support-ticket-recipient" style="display: none;">
                                                <div class="col-md-3">
                                                    <label>Recipient</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-line">
                                                        <span class="form-control">Admin</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="col-md-3">
                                                    <label for="Title">Title</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-line">
                                                        <input type="text" required placeholder="Enter your title" id="title-textbox" asp-for="Title" maxlength="95" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="col-md-3">
                                                    <label for="MessageText">Message</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-line">
                                                        <textarea required placeholder="Message" asp-for="MessageText" class="form-control" maxlength="950"></textarea>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="col-md-3">
                                                    <label for="Attachments">Attachments</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-line">
                                                        <input id="exampleInputFile" class="form-control" name="Attachments" type="file" multiple>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="col-md-9 col-md-offset-3">
                                                    <button class="btn" type="submit"> Create</button>

                                                </div>
                                            </div>

                                        </section>


                                    </form>

                    </article>
                            </div>
                        </div>
                    </div>
               
            </div>
           
            </form>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/js/multi-value-input.js"></script>
    <script>
        // CHECK BEFORE BROWSER IS RELOADED
        $(function() {
            /*$(window).bind('beforeunload', function(e){
           return true;
             });*/
            
            $('#CreateMessageForm').submit(function(e) {
                if ($('#message-to option:selected').text() === "Follower(s)" &&
                    $('#multival-recipients-input').val() === '') {
                    abp.notify.warn('Please select at least one recipient.');
                    e.preventDefault();
                }
            });
           
            $('#message-to').on('change',
                function() {
                    if ($('#message-to option:selected').text() === "Follower(s)") {
                        $('.input-recipients-wrapper').slideDown(500);
                        $('.contest-select-wrapper').hide();
                        $('.contest-select-wrapper #ContestId').attr('disabled', '');
                        getCurrentyUserFollowers('');
                    } else if ($('#message-to option:selected').text() === "Contest Participants") {
                        $('.contest-select-wrapper').slideDown(500);
                        $('.contest-select-wrapper #ContestId').removeAttr('disabled');
                        $('.input-recipients-wrapper').hide();
                        getCurrentyUserContests();
                    }
                });

            /*$('.multiple-val-input').on('click',
                function() {
                    $(this).find('input:text').focus();
                });
            $('.multiple-val-input ul input:text').on('input propertychange',
                function() {
                    $(this).siblings('span.input_hidden').text($(this).val());
                    var inputWidth = $(this).siblings('span.input_hidden').width();
                    $(this).width(inputWidth);
                });
            $(document).on('click',
                '.suggested-recipients-wrapper a',
                function() {
                    var toAppend = $(this).html();
                    var token = parseInt($(this).data('token'));
                    var itemSelected = undefined;
                    if (toAppend !== '') {
                        var selectedValues = $('#message-recipients-input').val();
                        if (selectedValues === '') {
                            $('#message-recipients-input').val(token);
                        } else {
                            var items = selectedValues.split(',');
                            itemSelected = items.find(item => parseInt(item) === token);
                            if (itemSelected === undefined) {
                                selectedValues += ',' + token;
                                $('#message-recipients-input').val(selectedValues);
                            }
                        }
                        if (itemSelected === undefined) {
                            $('<li><a data-token="' + token + '">×</a><div>' + toAppend + '</div></li>')
                                .insertBefore($('.multiple-val-input ul input:text'));
                        }
                        if ($('.multiple-val-input ul input:text').val() !== '') {
                            getCurrentyUserFollowers('');
                        }
                        $('.multiple-val-input ul input:text').val('');
                        $('.multiple-val-input ul input:text').width("70");
                    } else {
                        return false;
                    }
                    return false;
                });

            $(document).on('click',
                '.multiple-val-input ul li a',
                function(e) {
                    e.preventDefault();
                    var token = parseInt($(this).data('token'));
                    var selectedValues = $('#message-recipients-input').val();
                    var items = selectedValues.split(',');
                    items = items.filter(item => parseInt(item) !== token);
                    $('#message-recipients-input').val(items.join(','));
                    $(this).parents('li').remove();
                });
            $('.multiple-val-input ul input:text').on('keyup',
                function() {
                    var toAppend = $(this).val();
                    if (toAppend !== '' && toAppend.length >= 4) {
                        getCurrentyUserFollowers(toAppend);
                    } else {
                        if (toAppend === '') {
                            getCurrentyUserFollowers('');
                        }
                    }
                });*/
            $('#message-to').trigger('change');
        });

        /*function getCurrentyUserFollowers(nickNameSuggestion) {
            nickNameSuggestion = nickNameSuggestion || '';
            $('.loading-followers').addClass('fa-spinner fa-spin');
            $.ajax({
                url: abp.appPath + 'Users/GetCurrentUserFollowers?nickNameSuggestion=' + nickNameSuggestion,
                type: 'POST',
                contentType: 'application/html',
                success: function(content) {
                    $('.suggested-recipients-wrapper').html(content);
                    $('.loading-followers').removeClass('fa-spinner fa-spin');
                },
                error: function(e) {
                    $('.loading-followers').removeClass('fa-spinner fa-spin');
                }
            });
        }*/
        function getCurrentyUserContests() {
            $('.loading-followers').addClass('fa-spinner fa-spin');
            $.ajax({
                url: abp.appPath + 'Messages/GetCurrentUserContests',
                type: 'POST',
                contentType: 'application/html',
                success: function(content) {
                    $('.contest-wrapper').html(content);
                    $('.contest-wrapper select').val('@Model.ContestId');

                    $('.loading-followers').removeClass('fa-spinner fa-spin');
                },
                error: function(e) {
                    $('.loading-followers').removeClass('fa-spinner fa-spin');
                }
            });
        }
    </script>
}

<!-- #END# CPU Usage -->