﻿@using Abp.Runtime.Session
@using IContestPro
@using IContestPro.Cookie
@using IContestPro.Messages.Dto
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting;
@model IContestPro.Messages.Dto.UserMessageDetailsDto
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.Messages; // The menu item will be active for this page.
}
@section styles {
    <style>
        .ticket-type-wrapper{margin: 10px 0 0 0px; min-height: 500px;background-color: #eee;}
        .ticket-type-wrapper .list-group-item:first-child{border-radius: 0; background-color: #eee;}
        .ticket-type-wrapper .list-group-item:last-child{border-radius: 0; }
    </style>
}


<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <section class="content-header">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <h2>Message Details</h2>
                            </section>

                        </div>
                        <div class="col-md-6">
                            <nav aria-label="breadcrumb" class="pull-right">
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                                    <li><a asp-controller="Messages" asp-action="Index">Messages</a></li>
                                    <li>Message Details</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </section>
                <hr/>
                <div class="row">
                    <aside class="col-md-2 col-xs-12 col-sm-2 no-padding-left">
                    @await Html.PartialAsync("_MessagesSideNavigation")
                </aside>
                <article class="col-md-10 col-xs-12 col-sm-10">
                    <article class="well">
                        <div class="no-margin-left no-margin-right margin-bottom-30">
                            <h3>@Model.Title</h3>
                            <div class="margin-bottom-20">@Model.MessageText</div>
                            <div><i class="fa fa-user"></i> From: <strong>@Model.FromNickName</strong></div>
                            <div><i class="fa fa-list"></i> Type: <strong>@(Model.MessageType == MessageType.Message ? "Message":"Support Ticket")</strong></div>
                            <div><i class="fa fa-thermometer"></i> Status: <strong>@Model.StatusName</strong></div>
                            <div><i class="fa fa-calendar"></i> Date: <strong>@Model.CreationTime.ToAppDateTimeString()</strong></div>
                            @if (!string.IsNullOrEmpty(Model.Attachments))
                            {
                                <hr />
                                <section class="row">
                                    @foreach (var attachment in Model.Attachments.Split(","))
                                    {
                                        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-6">
                                            <a href="/images/uploads/@attachment" target="_blank"><img width="80" src="/images/uploads/@attachment" class="img-thumbnail img-responsive" /></a>
                                        </div> 
                                    }
                                </section>
                            }
                            
                        </div>
                        
                        @*
                        <hr />
@if (Model.MessageType == MessageType.SupportTicket && Model.StatusName != AppConsts.StatusClosed)
                    {
                        <section class="alert flex-container" style="background-color: #fff;">
                                <form asp-action="CloseTicket" method="post" class="form-inline flex-item" style="display: inline-block; margin-top: 25px;">
                                    <input type="hidden" name="messageId" value="@Model.Id"/>
                                    <div class="input-group">
                                        <button class="btn btn-success-inverse btn-block btn-close-ticket" type="submit"> Close Ticket</button>
                                    </div>
                                </form>
                        </section>
                    }*@
                        <hr />
                        <div class="row">
                            <div class="col-md-12"> <h4>Responses</h4></div>
                        </div>
                        @foreach (var response in Model.Responses)
                        {
                            
                                <article >
                                    <div class="row @((response.UserId != AbpSession.GetUserId()) ? "well no-margin-left no-margin-right" : "")" style="@((response.UserId != AbpSession.GetUserId()) ? "" : "background-color: #fff; margin: 10px 0; padding: 10px;border-radius: 4px;")">
                                        <aside class="col-md-2 col-sm-2 col-xs-2">
                                            @if (!string.IsNullOrEmpty(response.UserImage))
                                            {
                                                <img src="/images/uploads/@response.UserImage" width="50"
                                                     class="img-thumbnail" >
                                            }
                                            else
                                            {
                                                <img src="/images/user.png" width="50" class="img-thumbnail">
                                            }
                                        </aside>
                                        <section class="col-md-10  col-sm-10 col-xs-10">
                                            <div>
                                                <h3 class="no-margin-top">@(response.UserId == AbpSession.GetUserId() ? "Me" : response.UserNickName)</h3>
                                                <div>
                                                    <small class="text-muted">
                                                        <i class="fa fa-calculator"></i> @response.CreationTime.ToAppDateTimeString()</small>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <p>@response.Message</p>
                                            @if (!string.IsNullOrEmpty(response.Attachments)){
                                            <hr/>
                                            <section class="row">
                                                @foreach (var attachment in response.Attachments.Split(",")){
                                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
                                                    <a href="/images/uploads/@attachment" target="_blank"><img width="80" src="/images/uploads/@attachment" class="img-thumbnail img-responsive"/></a>
                                                </div>
                                                }
                                            </section>
                                            }
                                        </section>

                                    </div>
                                </article>
                        }
                        @if(Model.StatusName != AppConsts.StatusClosed)
                        {
                            var responseModel = TempData.Get<CreateMessageResponseDto>("ResponseModel");
                            <article class="form-horizontal">
                                <form asp-action="NewMessageResponse" id="form-close-ticket-checkbox" method="post" enctype="multipart/form-data">
                                    <div class="input-group">
                                        <input type="hidden" name="MessageId" value="@Model.Id"/>
                                        <input type="hidden" name="MessageSenderUserId" value="@Model.FromUserId"/>
                                        <input type="hidden" name="MessageType" value="@Model.MessageType"/>
                                        <div class="form-line">
                                            <textarea placeholder="@(Model.MessageType == MessageType.Message ? "Write your reply message":"Write your response for this ticket")" id="message" required name="message" class="form-control">@responseModel.Message</textarea>
                                        </div>
                                    </div> 
                                    <div class="input-group">
                                        <label for="exampleInputFile">Attachments</label>
                                        <input id="exampleInputFile" name="Attachments" type="file" multiple>
                                    </div>
                                    @if (Model.MessageType == MessageType.SupportTicket && Model.StatusName != AppConsts.StatusClosed)
                                    {
                                        <div class="input-group">
                                            <label>
                                                <input type="checkbox" id="close-ticket-checkbox" name="CloseTicket" value="true" style="position: static; opacity: 1;"/>
                                                <input type="hidden" name="CloseTicket" value="false"/>
                                                Close Ticket
                                            </label>

                                        </div>  
                                    }
                                    <div class="input-group">
                                            <button class="btn btn-close-ticket-checkbox" type="submit"> Reply</button>
                                    </div>
                                </form>

                            </article>
                       }
                        
                        
                    </article>
                </article>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            $('.btn-close-ticket').click(function(e) {
                var element = $(this);
                e.preventDefault();
                abp.message.confirm("Are you sure you want to mark this ticket closed? Remember, no further communication is allowed on closed ticket.", 
                    function(result) {
                        if (result) {
                            element.closest('form').submit();
                        }
                    });
            });
            var askedToCloseTicket = false;
            $('#form-close-ticket-checkbox').submit(function(e) {
                var element = $(this);
                if (!askedToCloseTicket) {
                    if ($('#close-ticket-checkbox').prop('checked') === true) {
                        askedToCloseTicket = true;
                        e.preventDefault();
                        abp.message.confirm("Are you sure you want to mark this ticket closed? Remember, no further communication is allowed on closed ticket.", 
                            function(result) {
                                if (result) {
                                    element.submit();
                                } else {
                                    askedToCloseTicket = false;
                                }
                            });  
                    }  
                }
                
            });
        });
    </script>
}
<!-- #END# CPU Usage -->