﻿@using Abp.Runtime.Session
@using IContestPro
@using IContestPro.Cookie
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting;
@model AppPagedRequestResultDto<IReadOnlyList<IContestPro.Messages.Dto.UserMessageDto>>
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.Messages; // The menu item will be active for this page.
}
@section styles {
   
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <section class="content-header">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <nav aria-label="breadcrumb" class="pull-right">
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                                    <li>Messages</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <section>
                        <h2>Messages <a asp-action="Create" class="btn pull-right">New Message</a></h2>

                    </section>

                </section>
                <hr/>
                <div class="row">
                    <aside class="col-md-2 col-sm-2 col-xs-12 no-padding-left">
                    @await Html.PartialAsync("_MessagesSideNavigation")
                </aside>
                <article class="col-md-10  col-sm-10 col-xs-12">
                    <section class="table-responsive">
                       

                        @{
                            var row = ((Model.Page - 1) * Model.PageSize) + 1;
                        }
                        @if (Model.Result != null && Model.Result.Count > 0)
                        {
                            <table id="tickets-table" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Attachments</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var message in Model.Result)
                                {
                                    <tr class="@(message.StatusName == AppConsts.StatusNew ? "new-message-row":"")">
                                        <td>@row
                                            @if (message.StatusName == AppConsts.StatusNew)
                                            {
                                                <span class="unread"></span>   
                                            }
                                            </td>
                                        <td>
                                            @if (message.FromUserId == AbpSession.GetUserId())
                                            {
                                                <span>Me</span>
                                            }
                                            else
                                            {
                                                <span>@message.FromNickName</span>
                                            }
                                        </td>
                                        <td>
                                            @if (message.ToUserId == AbpSession.GetUserId())
                                            {
                                                <span>Me</span>
                                            }
                                            else
                                            {
                                                <span>@message.ToNickName</span>
                                            }
                                        </td>
                                        <td><a asp-action="Details" asp-route-id="@message.Id" asp-route-type="@message.MessageType">@message.Title</a></td>
                                        <td>@message.StatusName</td>
                                        <td>@message.MessageType.GetMessageTypeName()</td>
                                        <td>@message.CreationTime.ToAppDateTimeString()</td>
                                        @if (!string.IsNullOrEmpty(message.Attachments))
                                        {
                                            <td>@message.Attachments.Split(",").Length</td>
                                        }
                                        else
                                        {
                                            <td>None</td>
                                        }
                                        <td class="dropdown">
                                        @if (message.MessageType == MessageType.Message && message.ToUserId == AbpSession.GetUserId())
                                        {
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">menu</i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <form asp-action="Delete" method="post" class="form-inline flex-item" style="display: inline-block; margin-top: 25px; width: 100%;">
                                                        <input type="hidden" name="id" value="@message.Id"/>
                                                        <div class="input-group">
                                                            <button class="btn-block delete-item btn-link"><i class="fa fa-trash"></i> @L("Delete")</button>
                                                        </div>
                                                    </form>
                                                </li>
                                            </ul>
                                        }
                                            
                                        </td>
                                    </tr>
                                    row++;
                                }
                                </tbody>
                            </table>
                            <article>
                                @{
                                    var type = (int)ViewBag.Type;
                                    var statusName = (string)ViewBag.Status;
                                }
                                @Html.PaginateAdmin(Model.Result.First().TotalItemsCount, Model.Page,
                                    Model.PageSize, "Messages", "Index",
                                    "type=" + type + (!string.IsNullOrEmpty(statusName) ? $"&status={statusName}": ""))
                            </article>
                        }
                        else
                        {
                            <div>
                                <div class="alert alert-info">
                                    <h3>There are no messages.</h3></div>
                            </div>
                        }
                        <!-- /.box -->


                    </section>
                </article>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            $('.delete-item').click(function(e) {
                var element = $(this);
                e.preventDefault();
                abp.message.confirm("Are you sure you want to delete? Remember, deletion is permanent.", 
                    function(result) {
                        if (result) {
                            element.closest('form').submit();
                        }
                    });
            });
        });
    </script>
}

<!-- #END# CPU Usage -->