﻿@using Abp.Web.Mvc.Alerts
@using Abp.Configuration
@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using IContestPro.Configuration
@using IContestPro.Web.Resources
@using Abp.Runtime.Session
@using System.Globalization
@using IContestPro
@using IContestPro.Web.Helpers.Claims

@using Microsoft.AspNetCore.Hosting
@inject IContestPro.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject ISettingManager SettingManager
@inject IAlertManager AlertManager
@inject IAbpSession AbpSession
@inject IHostingEnvironment HostingEnvironment
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
  
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    var uiTheme = await SettingManager.GetSettingValueAsync(AppSettingNames.UiTheme);
}
<!DOCTYPE html>
<html lang="zxx">
    
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>iContestPRO | @ViewBag.Title</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.html">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/fav.png">
   
    <link href="/lib/toastr/toastr.css?v=W8a9WvLyUO7CXtOC4f9LoUMwkywM7JSq-Xm5kNsYW08" rel="stylesheet"/>
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" href="/css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" href="/css/lightbox.min.css">
    <!-- TimeCircles css -->
    <link rel="stylesheet" type="text/css" href="/css/TimeCircles.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
    <!-- nivo slider CSS -->
    <link rel="stylesheet" type="text/css" href="/inc/custom-slider//css/nivo-slider.css">
    <link rel="stylesheet" type="text/css" href="/inc/custom-slider//css/preview.css">
    <!-- style css -->
    <link href="/css/html5-datepicker-open-on-input-click.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css?v=lwuCDPQ_gld9QOOR1mdVYwK-K5cjqEB6Nmwai7e9kDk">
    <link rel="stylesheet" type="text/css" href="/css/siteStyle.css?v=budygiptBG5rIlNOpp5bAlD-sK6ti-ceq1yNmpV0uH0">
    <link rel="stylesheet" type="text/css" href="/css/jquery.countdownTimer.css">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link href="~/css/siteStyle.css" rel="stylesheet" asp-append-version="true">

    <!-- modernizr css -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>

    <!-- View specific styles -->

    <style>
        .colorDefinition {
            background: transparent;
            color: #fff;
            border-color: transparent;
            font-size: 13px;
            width: auto;
            font-weight: normal;
        }

        .countdowntimer {
            position: relative;
            top: 51%;
        }
        
        
        
        /*
        THE HOME PAGE CSS
        */

        .header-top-area { background: #f5f5f5; }

        .header-top-area .header-top-right ul li a, .header-top-area .social-media-area ul li a { color: #444444; }

        .s-tb-c { display: block; }
        
    </style>


    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '/';
    </script>
</head>
<body class="@("theme-" + uiTheme)"  ng-app="myContestApp">
<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->

<!--Header area start here-->
<header>
    @Html.Partial("_Header")
</header>
<!--Header area end here-->
    @RenderBody()
      
 <!-- Footer Area Section Start Here -->
@Html.Partial("_Footer")
<!-- Footer Area Section End Here -->

<!-- jquery latest version -->
<script src="/js/vendor/jquery-1.12.0.min.js"></script>
<script src="/js/jquery.countdownTimer.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.min.js"></script>

<script src="/lib/jquery-validation/dist/jquery.validate.min.js?v=qh2AzfCZDpeiEGmrFsBI75CjXfEWW4fRmsyr18TtyGA"></script>
<script src="/lib/blockUI/jquery.blockUI.js?v=oQaw-JJuUcJQ9QVYMcFnPxICDT-hv8-kuxT2FNzTGhc"></script>
<script src="/lib/toastr/toastr.js?v=C7DJ6LzTt1Hvj9fd-yRnySs3I4T2B8XmQ3TqXQjc00g"></script>
<script src="/lib/sweetalert/dist/sweetalert.min.js?v=aPktydUv1rN3mouQeXoKi3ioFTIQlULuqYeoTAA2ihY"></script>
<script src="/lib/spin.js/spin.js?v=GySbz3oZXNlwoawo5PpYy0iM38B-q3jyi_HLw00uxy0"></script>
<script src="/lib/spin.js/jquery.spin.js?v=EG38bUU5b2M64hy9cNAzu_cQBEsiBYsDifOcoHqNd2k"></script>
<script src="/lib/abp-web-resources/Abp/Framework/scripts/abp.js?v=FGfi3RfHf06ftjVdq2JaO16cF9CPZNPvujmuYBacXxg"></script>
<script src="/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js?v=JjjG979jFhdpu5egFFI8Bh3Bdf2Yp9D_BI8evBHKPEU"></script>
<script src="/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js?v=ImopdkB8alCil1HigOwW3CDqWKsLZXyplf7TXBbjRnE"></script>
<script src="/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js?v=Y3zoG-hSFKmbS3BHKo_wFWRPbyzJXKoNrnF73uFdtqU"></script>
<script src="/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js?v=RJuGDX616JN_UziXsmKnth0alpECKCx0gtxKZVrZWxY"></script>
<script src="/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js?v=guLvtVJMvLobKpGAlQigrGWMQ1sGQo4yTL46zjGQUUY"></script>

<!-- owl.carousel js -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Nivo slider js -->
<script src="/inc/custom-slider/js/jquery.nivo.slider.js"></script>
<script src="/inc/custom-slider/home.js"></script>
<!-- meanmenu js -->
<script src="/js/jquery.meanmenu.min.js"></script>
<!-- jquery-ui js -->
<script src="/js/jquery-ui.min.js"></script>
<!-- wow js -->
<script src="/js/wow.min.js"></script>
<!-- jquery.counterup js -->
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<!-- jquery light box -->
<script src="/js/lightbox.min.js"></script>
<!-- jQuery MixedIT Up -->
<script src="/js/jquery.mixitup.min.js"></script>
<!-- Counter Down js -->
<script src="/js/simplyCountdown.min.js"></script>
<!-- jQuery Multistep form -->
<script src="/js/multi_step_form.min.js"></script>
<!-- jquery.fancybox.pack js -->
<script src="/inc/fancybox/jquery.fancybox.pack.js"></script>
<!-- plugins js -->
<script src="/js/plugins.js"></script>
<!-- jquery weave effects -->
<script src="/js/waves.min.js"></script>
<!-- TimeCircles js -->
<script src="/js/TimeCircles.min.js"></script>
<!-- main js -->
<script src="/js/main.min.js"></script>
<script src="/js/app-promotions.min.js?v=KWEzMLITFeVfhXP9p8LEb7DPaJLI7_FUYWPtRe_QcnQ"></script>
<script src="/js/siteScript.min.js?v=CqtL6hBKnaHpz7FAvAvUUG7H36jJqLUD4ngodBVnmp8"></script>
<!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
<script src="/AbpServiceProxies/GetAll?v=636987611898280950" type="text/javascript"></script>
<script src="/AbpScripts/GetScripts?v=636987611898280950" type="text/javascript"></script>
<script src="/js/js.cookie.min.js?v=oE03O-I6Pzff4fiMqwEGHbdfcW7a3GRRxlL-U49L5sA"></script>
<script src="/js/jquery.smartmarquee.min.js"></script>
<!-- View specific scripts -->
@RenderSection("scripts", required: false)
<!-- View specific scripts -->



    <script>
        // Localizing momentjs
        moment.locale('@CultureInfo.CurrentUICulture.Name');
    </script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

    <script src="~/lib/signalr-client/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.signalr-client.js" asp-append-version="true"></script>
    <script src="~/js/siteScript.min.js" asp-append-version="true"></script>
    <script src="~/js/js.cookie.min.js" asp-append-version="true"></script>
   
    @WebResourceManager.RenderScripts()

<script>
    (function() {
        $(function() {
           
        });
    })();
</script>
</body>

</html>