﻿
<div class="single-sidebar">
    <h2>Tags</h2>
    <div class="popular-tags">
        <ul>
            <li><a href="single-blog.html">Photo</a></li>
            <li><a href="single-blog.html">Pictures</a></li>
            <li><a href="single-blog.html">Camera</a></li>
            <li><a href="single-blog.html">Lense</a></li>
            <li><a href="single-blog.html">Fresh</a></li>
            <li><a href="single-blog.html">Modern Photo</a></li>
            <li><a href="single-blog.html">Photo News</a></li>
            <li><a href="single-blog.html">Camera</a></li>
        </ul>
    </div>
</div>