﻿@using IContestPro
 <section>
    <!-- Sidebar user panel -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
     <nav class="list-group messages-left-nav"> 
         <ul class="nav">
             <li>
                 <a id="btn-2" data-toggle="collapse" data-target="#submenu2" aria-expanded="false"
                    class="list-group-item header">
                     <strong>Support Tickets</strong>
                 </a>
                 <ul class="nav collapse in" id="submenu2" role="menu" aria-labelledby="btn-1">
                     <li>
                         <a asp-action="Index" asp-controller="Disputes" 
                            class="list-group-item @ViewBag.AllActive">
                             All
                         </a>
                     </li>
                     <li>
                         <a asp-action="Index" asp-controller="Disputes" asp-route-status="@AppConsts.StatusUnProcessed" 
                            class="list-group-item @ViewBag.UnprocessedActive">
                             Unprocessed
                         </a>
                     </li>
                     <li>
                         <a  asp-action="Index" asp-controller="Disputes" 
                             asp-route-status="@AppConsts.StatusProcessing" class="list-group-item @ViewBag.ProcessingActive">
                             Processing
                         </a>
                     </li>
                     <li>
                         <a  asp-action="Index" asp-controller="Disputes" 
                             asp-route-status="@AppConsts.StatusClosed" class="list-group-item @ViewBag.ClosedActive">
                             Closed
                         </a>
                     </li>
                 </ul>
             </li>
         </ul>
     </nav>
</section>  