﻿@using IContestPro
@model IEnumerable<IContestPro.FeaturedContestEntry.Dto.RandomFeaturedContestEntriesDto>
@{
    Layout = null;
}
        @if (Model != null && Model.Any())
        {
        foreach (var item in Model)
        {
            <div class="media single-post">
                <div class="pull-left">
                    <a href="@AppRoutingConsts.ContestEntryDetails(item.ContestEntryPermalink)">
                        @if (item.ContestEntryType == AppConsts.ContestEntryTypeImage)
                        {
                            <img class="media-object" src="@Url.Action("GetImage", "Common", new {path = "images/uploads/" + item.ContestEntryImage, width = 80, height = 80})" alt="@item.ContestTitle">  
                        }else if (item.ContestEntryType == AppConsts.ContestEntryTypeVideo)
                        {
                            <img class="media-object" src="@Url.Action("GetImage", "Common", new {path = "images/uploads/" + item.ContestEntryPoster, width = 80, height = 80})" alt="@item.ContestTitle">   
                        }else if (item.ContestEntryType == AppConsts.ContestEntryTypeArticle)
                        {
                            <img class="media-object" src="@Url.Action("GetImage", "Common", new {path = "images/uploads/" + item.ContestEntryPoster, width = 80, height = 80})" alt="@item.ContestTitle">     
                        }
                    </a>
                </div>
                <div class="media-body">
                    <div class="posted-date featured-item-date">
                        <a href="@AppRoutingConsts.ContestEntryDetails(item.ContestEntryPermalink)">@item.UserNickName</a>
                    </div>
                    <p><a href="@AppRoutingConsts.ContestEntryDetails(item.ContestEntryPermalink)" class="featured-item-title">@item.ContestTitle</a></p>
                </div>
            </div>
        }
        }
        else
        {
            <div class="media single-post">
                <div class="media-body">
                    <div class="alert alert-info text-center">
                        <h3>Make Your Entry Featured</h3>
                        <p>Increase the visibility of your entry by making it featured.</p>
                        <br />
                        <a asp-controller="FeaturedContestEntries" asp-action="Index" class="btn btn-success animated infinite fadeIn">Click here to start</a>
                    </div>
                </div>
            </div>
        }
