﻿<footer>
    <div class="footer-top-area padding-top-30">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-footer footer-one">
                        <h3>About Company</h3>
                        <p>
                            iContestPRO platform is a multiple contest platform – that host multiple contest sponsored by brands and individuals, with the primary objective to drive their brand visibility, customer engagement or stimulate sales.
                        </p>
                        <div class="footer-social-media-area">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pinterest-p"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-footer footer-four">
                        <h3>IMPORTANT PAGES</h3>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                               <li>
                                    <a href="#">FAQ</a>
                                </li>
                               <li>
                                    <a href="#">Sponsoring a Contest</a>
                                </li>
                               <li>
                                    <a href="#">Advert Placement</a>
                                </li>
                               <li>
                                    <a href="#">Term and Conditions</a>
                                </li>
                               
                            </ul>
                        </nav>
                    </div>
                </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-footer footer-four">
                        <h3>Corporate Office</h3>
                        <nav>
                            <ul>
                                <li><i class="fa fa-paper-plane-o"></i> 65 Allen Avenue</li>
                                <li>
                                    <i class="fa fa-phone"></i> <a href="tel:+985-2356-14566">+234803-881-4982</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i> <a href="mailto:yourmail@gmail.com">info@icontestpro.com</a>
                                </li>
                                <li><i class="fa fa-fax"></i> Fax: (01) 4589761</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-bottom">
                        <p> &copy; Copyrights 2017. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>