﻿@using IContestPro
@using IContestPro.Web.Helpers.Claims
@using Abp.Web.Mvc.Alerts
@using Abp.Configuration
@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using IContestPro.Web.Resources
@using Abp.Runtime.Session
@using IContestPro.Web.Controllers
@using IContestPro.Web.Views.Shared.Components.ProfileImage
@using IContestPro.Web.Views.Shared.Components.TopBannerAdvert

@using Microsoft.AspNetCore.Hosting
@inject IContestPro.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject ISettingManager SettingManager
@inject IAlertManager AlertManager
@inject IAbpSession AbpSession
@inject IHostingEnvironment HostingEnvironment
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<article class="header-wrapper">
    @*<section class="header-top-area hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="header-top-left">
                        <div class="logo-area">
                            <a href="/">
                                <img src="/images/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                   
                    @await Component.InvokeAsync(typeof(TopBannerAdvertViewComponent))
                </div>
            </div>
        </div>
    </section>*@
    <section class="header-middle-area" id="sticky">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                    <div class="header-top-left">
                        <div class="logo-area">
                            <a href="/">
                                <img src="/images/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li class="@ViewBag.ActiveHome">
                                    <a href="/">Home </a>
                                </li>
                                <li class="@ViewBag.ActiveContest">
                                    <a asp-controller="Contest" asp-action="Index">Contests</a>
                                </li>
                                <li class="@ViewBag.ActiveContestEntries">
                                    <a href="@AppRoutingConsts.ContestActiveEntries">Explore</a>
                                </li>
                                <li class="@ViewBag.ActiveLeaderBoard">
                                    <a asp-controller="LeaderBoard" asp-action="Index">Leader Board </a>
                                </li>
                                <li class="@ViewBag.ActivePastWinners">
                                    <a  asp-action="PastWinners" asp-controller="Contest">Past Winners</a>
                                </li>

                                <li class="@ViewBag.ActiveHowItWorks">
                                    <a asp-action="HowItWorks" asp-controller="Common">How it works</a>
                                </li>
                                <li class="@ViewBag.ActiveOurBlog">
                                    <a asp-action="Index" asp-controller="Blogs">Blog</a>
                                </li>
                                @if (AbpSession.UserId == null)
                                {
                                    <li>
                                        <a asp-controller="Account" asp-action="Login">Login/Register</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
                @if (AbpSession.UserId != null)
                {
                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li style="padding: 25px 0;">
                                        <a href="javascript:void(0)">
                                            @await Component.InvokeAsync(typeof(ProfileImageViewComponent))
                                            
                                        </a>
                                        <ul style="left: -50px;">
                                            <li><a asp-action="Index" asp-controller="Manage">Account</a></li>
                                            <li><a asp-controller="Manage" asp-action="ChangePassword">Change Password</a></li>
                                            <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                }

            </div>
            
        </div>
    </section>
    <!-- Slide Menu Section Start Here -->
    <section class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            @*<ul>
                                <li>
                                    <a href="/">Home </a>
                                </li>
                                <li>
                                    <a href="#">How it works</a>
                                </li>
                                <li class="active">
                                    <a href="/Contest/Entries/Active">Contest Gallery</a>
                                </li>
                                <li>
                                    <a href="#">Leader Board </a>
                                </li>
                                <li>
                                    <a href="/Manage">Profile</a>
                                </li>
                                <li>
                                    <a href="/Manage/ChangePassword">Change Password</a>
                                </li>
                                <li>
                                    <a href="/Account/Logout">Logout</a>
                                </li>

                            </ul>*@
                            <ul>
                                <li class="@ViewBag.ActiveHome">
                                    <a href="/">Home </a>
                                </li>
                                <li class="@ViewBag.ActiveContest">
                                    <a asp-controller="Contest" asp-action="Index">Contests</a>
                                </li>
                                <li class="@ViewBag.ActiveContestEntries">
                                    <a href="@AppRoutingConsts.ContestActiveEntries">Explore</a>
                                </li>
                                <li class="@ViewBag.ActiveLeaderBoard">
                                    <a asp-controller="LeaderBoard" asp-action="Index">Leader Board </a>
                                </li>
                                <li class="@ViewBag.ActivePastWinners">
                                    <a  asp-action="PastWinners" asp-controller="Contest">Past Winners</a>
                                </li>

                                <li class="@ViewBag.ActiveHowItWorks">
                                    <a asp-action="HowItWorks" asp-controller="Common">How it works</a>
                                </li>
                                <li class="@ViewBag.ActiveOurBlog">
                                    <a asp-action="Index" asp-controller="Blogs">Blog</a>
                                </li>
                                
                                @if (AbpSession.UserId == null)
                                {
                                    <li>
                                        <a asp-controller="Account" asp-action="Login">Login/Register</a>
                                    </li>
                                }
                                @if (AbpSession.UserId != null)
                                {
                                    <li>
                                        <a asp-action="Index" asp-controller="Manage">My Account</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Account" asp-action="Logout">Logout</a>
                                    </li>  
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


    </section>
</article>
