﻿@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.Contest.Dto.ContestWithFilterDto>
@using IContestPro
@using IContestPro.Web.Helpers

@{
    int page = ViewBag.Page;
    int pageSize = ViewBag.PageSize;
}
<div class="winner-area" style="padding-top: 20px;margin-top: 20px;">
@if (ViewBag.ViewType == AppConsts.ViewTypeGrid)
{  
    <section class="grid-view-wrapper">
        @if (Model.TotalCount > 0)
        {
            var countDownCounter = 1;
            foreach (var item in Model.Items)
            {
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-blog-slide">
                        <div class="contest-action-buttons">
                            <div class="pull-right">
                                <a href="@AppRoutingConsts.ContestDetails(item.Permalink)"> Details</a> <span class="separator"> |</span>
                                <a href="@AppRoutingConsts.ContestEntriesJoin(item.Permalink)"> Join</a> <span class="separator"> |</span>
                                <a href="@AppRoutingConsts.ContestEntries(item.Permalink)"> Entries</a> <span class="separator">|</span>
                                <a class="share-button" data-title="@item.Title" data-token="@item.Permalink" data-description="@item.Description" data-media="@item.Picture">Share</a>
                            </div>
                        </div>
                        <div class="images no-margin-bottom">
                            <a href="@AppRoutingConsts.ContestDetails(item.Permalink)">
                                <img src="/images/uploads/@item.Picture" alt="@item.Title">
                            </a>
                        </div>
                        <article class="contest-footer">
                            <div class="contest-footer-inner">
                                <div class="row sponsor-logo-wrapper-thumbnail">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <a href="@AppRoutingConsts.SponsorDetails(item.SponsorPermalink)">
                                            <img src="/images/uploads/@item.SponsorLogo" class="logo" alt="@item.SponsorName" title="@item.SponsorName">
                                        </a>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <h4 class="margin-bottom-5 header">
                                            <a href="@AppRoutingConsts.ContestDetails(item.Permalink)">
                                                @item.Title
                                            </a>
                                        </h4> 
                                    </div>
                                </div>
                                
                                <section class="contest-dates-wrapper row margin-bottom-20 margin-top-20" style="display: inline-block;">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <strong>Entry Starts: </strong> @item.EntryStartDate.ToString("MMM dd")
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <strong>Entry Ends: </strong> @item.EntryEndDate.ToString("MMM dd")
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <strong>Contest Starts: </strong> @item.StartDate.ToString("MMM dd")
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <strong>Contest Ends: </strong> @item.EndDate.ToString("MMM dd")
                                    </div>
                                </section>
                                   
                                <p>
                                    @(item.Description.Length > 80 ? item.Description.Substring(0, 80) + "..." : item.Description)
                                    <a href="@AppRoutingConsts.ContestDetails(item.Permalink)">Read More <i class="fa fa-chevron-circle-right"></i></a>
                                </p>
                                @{
                                    var diffInSeconds = 0.0;
                                    if (item.EntryStartDate > DateTime.Now)
                                    {
                                        diffInSeconds = (item.EntryStartDate - DateTime.UtcNow).TotalSeconds;
                                    }
                                    else if (item.EntryStartDate < DateTime.Now && item.EntryEndDate > DateTime.Now)
                                    {
                                        diffInSeconds = (item.EntryEndDate - DateTime.Now).TotalSeconds; 
                                    }else if (item.StartDate > DateTime.Now)
                                    {
                                        diffInSeconds = (item.StartDate - DateTime.Now).TotalSeconds; 
                                    }
                                    else
                                    {
                                        diffInSeconds = (item.EndDate - DateTime.Now).TotalSeconds; 
     
                                    }
                                }
                                
                                @if (item.EntryStartDate > DateTime.Now)
                                {
                                    <div class="arrow-down">
                                        <div class="arrow-down-inner">
                                            Entry Starts <a href="@AppRoutingConsts.ContestDetails(item.Permalink)" class="btn join-button">Details</a>

                                        </div>
                                    </div>
                                }
                                else if (item.EntryStartDate < DateTime.Now && item.EntryEndDate > DateTime.Now)
                                {
                                    <div class="arrow-down">
                                        <div class="arrow-down-inner">
                                            Entry Closes <a href="@AppRoutingConsts.ContestEntriesJoin(item.Permalink)" class="btn animated fadeIn infinite join-button">Join</a>
                                        </div>
                                    </div>
                                }else if (item.StartDate > DateTime.Now)
                                {
                                    <div class="arrow-down">
                                        <div class="arrow-down-inner">
                                            Contest Starts <a href="@AppRoutingConsts.ContestDetails(item.Permalink)" class="btn join-button">Details</a>

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="arrow-down">
                                        <div class="arrow-down-inner">
                                            Contest Closes <a href="@AppRoutingConsts.ContestDetails(item.Permalink)" class="btn join-button">Details</a>
                                        </div>
                                    </div>
     
                                }
                                
                                
                                <div class="CountDownTimer@(countDownCounter) margin-bottom-20" data-timer="@diffInSeconds"
                                     data-tc-id="@Guid.NewGuid().ToString("D")">
                                    <div class="time_circles">
                                        <canvas width="506" height="126"></canvas>
                                        <div class="textDiv_Days" style="top: 44px; left: 0px; width: 126.5px;"><span style="font-size: 35px;">46</span><h4 style="font-size: 9px;">Days</h4></div>
                                        <div class="textDiv_Hours" style="top: 44px; left: 127px; width: 126.5px;"><span style="font-size: 35px;">5</span><h4 style="font-size: 9px;">Hours</h4></div>
                                        <div class="textDiv_Minutes" style="top: 44px; left: 253px; width: 126.5px;"><span style="font-size: 35px;">15</span><h4 style="font-size: 9px;">Minutes</h4></div>
                                        <div class="textDiv_Seconds" style="top: 44px; left: 380px; width: 126.5px;"><span style="font-size: 35px;">12</span><h4 style="font-size: 9px;">Seconds</h4></div>
                                    </div>
                                </div>

                            </div>

                            @if (item.StartDate < DateTime.Now)
                            {
                                <hr  style="margin:10px 0"/>
                                <div class="blog-informations">
                                    <div class="blog-details">
                                        <div class="text-center blog-details-inner contest-entries-counter">
                                            <a href="@AppRoutingConsts.ContestEntries(item.Permalink)">@item.TotalEntries Entries</a><span class="separator">|</span>
                                            <a asp-action="Contest" asp-controller="Votes" asp-route-id="@item.Permalink">@item.TotalVotes Votes</a><span class="separator">|</span>
                                            <a asp-action="Views" asp-controller="Contest" asp-route-id="@item.Permalink">@item.TotalViews Views</a><span class="separator">|</span>
                                            <a href="@AppRoutingConsts.ContestDetails(item.Permalink)">Details</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <section style="position: relative;">
                                    <hr style="margin: 10px 0"/>
                                    <div class="blog-informations">
                                        <div class="blog-details">
                                            <div class="text-center blog-details-inner contest-entries-counter">
                                                <a href="@AppRoutingConsts.ContestEntries(item.Permalink)">@item.TotalEntries Entries</a><span class="separator">|</span>
                                                <a asp-action="Contest" asp-controller="Votes" asp-route-id="@item.Permalink">@item.TotalVotes Votes</a><span class="separator">|</span>
                                                <a asp-action="Views" asp-controller="Contest" asp-route-id="@item.Permalink">@item.TotalViews Views</a><span class="separator">|</span>
                                                <a href="@AppRoutingConsts.ContestDetails(item.Permalink)">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contest-footer-link-cover"></div>
                                </section> 
                            }
                           
                        </article>


                    </div>
                </div>

                countDownCounter++;
            }
        }
        
    </section>

} else if (ViewBag.ViewType == AppConsts.ViewTypeList)
{
    <section class="list-view-wrapper">
        @if (Model.TotalCount > 0)
        {
            var countDownCounter = 1;
            foreach (var item in Model.Items)
            {
                <section class="list-view-content-wrapper margin-bottom-20">
                    <article class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="images no-margin-bottom">
                                <div class="contest-action-buttons">
                                    <div class="pull-right">
                                        <a href="@AppRoutingConsts.ContestDetails(item.Permalink)"> Details</a> <span class="separator"> |</span>
                                        <a href="@AppRoutingConsts.ContestEntriesJoin(item.Permalink)"> Join</a> <span class="separator"> |</span>
                                        <a href="@AppRoutingConsts.ContestEntries(item.Permalink)"> Entries</a> <span class="separator">|</span>
                                        <a class="share-button" data-title="@item.Title" data-token="@item.Permalink" data-description="@item.Description" data-media="@item.Picture">Share</a>
                                    </div>
                                </div>
                                <a href="@AppRoutingConsts.ContestDetails(item.Permalink)">
                                    <img src="/images/uploads/@item.Picture" alt="@item.Title">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding-left">
                            <article class="contest-footer">
                                <div>
                                    <div class="row sponsor-logo-wrapper-thumbnail">
                                        <div class="col-md-2">
                                            <a href="@AppRoutingConsts.SponsorDetails(item.SponsorPermalink)">
                                                <img src="/images/uploads/@item.SponsorLogo" class="logo" alt="@item.SponsorName" title="@item.SponsorName">
                                            </a>
                                        </div>
                                        <div class="col-md-10">
                                            <h4 class="margin-bottom-5 header">
                                                <a href="@AppRoutingConsts.ContestDetails(item.Permalink)">
                                                    @item.Title
                                                </a>
                                            </h4> 
                                        </div>
                                    </div>
                                    @*<ul class="meta-date margin-top-20 margin-bottom-20">
                                <li class="date"> @item.StartDate.ToString("MMM dd, yyy") </li>
                                <li class="date"> @item.EndDate.ToString("MMM dd, yyy")</li>
                            </ul>*@
                            
                                    <section class="row list-view-contest-time">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <strong>Entry Starts: </strong> @item.EntryStartDate.ToString("MMM dd")
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <strong>Entry Ends: </strong> @item.EntryEndDate.ToString("MMM dd")
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <strong>Contest Starts: </strong> @item.StartDate.ToString("MMM dd")
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <strong>Contest Ends: </strong> @item.EndDate.ToString("MMM dd")
                                        </div>
                                    </section>
                                    @*<p class="no-margin">
                                @(item.Description.Length > 80 ? item.Description.Substring(0, 80) + "..." : item.Description)
                                <a href="@AppRoutingConsts.ContestDetails(item.Permalink)">Read More <i class="fa fa-chevron-circle-right"></i></a>

                            </p>*@
                            
                                    @{
                                        var diffInSeconds = 0.0;
                                        if (item.EntryStartDate > DateTime.Now)
                                        {
                                            diffInSeconds = (item.EntryStartDate - DateTime.UtcNow).TotalSeconds;
                                        }
                                        else if (item.EntryStartDate < DateTime.Now && item.EntryEndDate > DateTime.Now)
                                        {
                                            diffInSeconds = (item.EntryEndDate - DateTime.Now).TotalSeconds; 
                                        }else if (item.StartDate > DateTime.Now)
                                        {
                                            diffInSeconds = (item.StartDate - DateTime.Now).TotalSeconds; 
                                        }
                                        else
                                        {
                                            diffInSeconds = (item.EndDate - DateTime.Now).TotalSeconds; 
     
                                        }
                                    }
                                    @if (item.EntryStartDate > DateTime.Now)
                                    {
                                        <div class="arrow-down arrow-down-list-view">
                                            <div class="arrow-down-inner">
                                                Entry Starts <a href="@AppRoutingConsts.ContestDetails(item.Permalink)" class="btn join-button">Details</a>

                                            </div>
                                        </div>
                                    }
                                    else if (item.EntryStartDate < DateTime.Now && item.EntryEndDate > DateTime.Now)
                                    {
                                        <div class="arrow-down arrow-down-list-view">
                                            <div class="arrow-down-inner">
                                                Entry Closes <a href="@AppRoutingConsts.ContestEntriesJoin(item.Permalink)" class="btn animated fadeIn infinite join-button">Join</a>
                                            </div>
                                        </div>
                                    }else if (item.StartDate > DateTime.Now)
                                    {
                                        <div class="arrow-down arrow-down-list-view">
                                            <div class="arrow-down-inner">
                                                Contest Starts <a href="@AppRoutingConsts.ContestDetails(item.Permalink)" class="btn join-button">Details</a>

                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="arrow-down arrow-down-list-view">
                                            <div class="arrow-down-inner">
                                                Contest Closes <a href="@AppRoutingConsts.ContestDetails(item.Permalink)" class="btn join-button">Details</a>
                                            </div>
                                        </div>
     
                                    }
                                    <div class="CountDownTimer@(countDownCounter)" data-timer="@diffInSeconds"
                                         data-tc-id="@Guid.NewGuid().ToString("D")">
                                        <div class="time_circles">
                                            <canvas width="506" height="126"></canvas>
                                            <div class="textDiv_Days" style="top: 44px; left: 0px; width: 126.5px;"><span style="font-size: 35px;">46</span><h4 style="font-size: 9px;">Days</h4></div>
                                            <div class="textDiv_Hours" style="top: 44px; left: 127px; width: 126.5px;"><span style="font-size: 35px;">5</span><h4 style="font-size: 9px;">Hours</h4></div>
                                            <div class="textDiv_Minutes" style="top: 44px; left: 253px; width: 126.5px;"><span style="font-size: 35px;">15</span><h4 style="font-size: 9px;">Minutes</h4></div>
                                            <div class="textDiv_Seconds" style="top: 44px; left: 380px; width: 126.5px;"><span style="font-size: 35px;">12</span><h4 style="font-size: 9px;">Seconds</h4></div>
                                        </div>
                                    </div>


                                </div>

                                @if (item.StartDate < DateTime.Now)
                                {
                                    <hr  style="margin: 0;"/>
                                    <div class="blog-informations">
                                        <div class="blog-details">
                                            <div class="text-center blog-details-inner contest-entries-counter">
                                                <a href="@AppRoutingConsts.ContestEntries(item.Permalink)">@item.TotalEntries Entries</a><span class="separator">|</span>
                                                <a asp-action="Contest" asp-controller="Votes" asp-route-id="@item.Permalink">@item.TotalVotes Votes</a><span class="separator">|</span>
                                                <a asp-action="Views" asp-controller="Contest" asp-route-id="@item.Permalink">@item.TotalViews Views</a><span class="separator">|</span>
                                                <a href="@AppRoutingConsts.ContestDetails(item.Permalink)">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <section style="position: relative;">
                                        <hr style="margin: 0;" />
                                        <div class="blog-informations">
                                            <div class="blog-details">
                                                <div class="text-center blog-details-inner contest-entries-counter">
                                                    <a href="@AppRoutingConsts.ContestEntries(item.Permalink)">@item.TotalEntries Entries</a><span class="separator">|</span>
                                                    <a asp-action="Contest" asp-controller="Votes" asp-route-id="@item.Permalink">@item.TotalVotes Votes</a><span class="separator">|</span>
                                                    <a asp-action="Views" asp-controller="Contest" asp-route-id="@item.Permalink">@item.TotalViews Views</a><span class="separator">|</span>
                                                    <a href="@AppRoutingConsts.ContestDetails(item.Permalink)">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contest-footer-link-cover" style="top: 20px;"></div>
                                    </section> 
                                }
                        
                                
                            </article>
                        </div>


                    </article>
                </section>

            }
        }
    </section>

}

<article id="socialShareModal" class="modal fade" role="dialog" style="margin-top: 80px;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Share On:</h4>
            </div>
            <div class="modal-body">
                
                <div id="st-inline-button-preview">
                    <div class="row padding-20">
                        <div class="social-button col-md-5" data-network="facebook">
                            <a href="#" target="_blank">
                                <i class="fa fa-facebook social-button-icon"></i>
                                <span class="social-button-label">Facebook</span>
                            </a>
                        </div>
                        <div class="social-button  col-md-5" data-network="twitter">
                            <a href="#" target="_blank">
                                <i class="fa fa-twitter social-button-icon"></i>
                                <span class="social-button-label">Tweet</span>
                            </a>
                        </div>
                        <div class="social-button col-md-5" data-network="linkedin">
                            <a href="#" target="_blank">
                                <i class="fa fa-linkedin social-button-icon"></i>
                                <span class="social-button-label">LinkedIn</span>
                            </a>
                           
                        </div>
                        <div class="social-button col-md-5" data-network="pinterest">
                            <a href="#" target="_blank">
                                <i class="fa fa-pinterest social-button-icon"></i>
                                <span class="social-button-label">Pin</span>
                            </a>
                           
                        </div>
                        <div class="social-button  col-md-5" data-network="email">
                            <a href="#" target="_blank">
                                <i class="fa fa-envelope-o social-button-icon"></i>
                                <span class="social-button-label">Email</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</article>

<div class="clearfix"></div>
</div>

   