﻿@using Abp.Web.Mvc.Alerts
@using Abp.Configuration
@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using IContestPro.Configuration
@using IContestPro.Web.Resources
@using Abp.Runtime.Session
@using IContestPro
@using IContestPro.Web.Helpers.Claims
@using Microsoft.AspNetCore.Hosting
@inject IContestPro.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject ISettingManager SettingManager
@inject IAlertManager AlertManager
@inject IAbpSession AbpSession
@inject IHostingEnvironment HostingEnvironment
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using File = System.IO.File

@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    var uiTheme = await SettingManager.GetSettingValueAsync(AppSettingNames.UiTheme);
}
<!DOCTYPE html>
<html lang="zxx">
    
<head>
        <!-- meta tag -->
        <meta charset="utf-8">
        <title>iContestPRO | @ViewBag.Title</title>
        <meta name="description" content="">
        <!-- responsive tag -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/fav.png">
    
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" asp-append-version="true" />
        <!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
        <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/animate.css">
        <!-- jquery-ui.min css -->
        <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.min.css">
        <!-- meanmenu css -->
        <link rel="stylesheet" type="text/css" href="~/css/meanmenu.min.css">
        <!-- owl.carousel css -->
        <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css">
        <!-- lightbox css -->
        <link rel="stylesheet" type="text/css" href="~/css/lightbox.min.css">
		<!-- TimeCircles css -->
        <link rel="stylesheet" type="text/css" href="~/css/TimeCircles.css">
        <!-- style css -->
        <link href="~/css/html5-datepicker-open-on-input-click.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/style.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/css/siteStyle.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/css/jquery.countdownTimer.css">
        <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    
        <!-- modernizr css -->
        <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>
</head>
    <body>
        <!--Preview area start here-->
        <div class="template-preloader-rapper">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!--End preview here -->
        <!--Header area start here-->
    <header>
    <section class="header-top-area hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="header-top-left">
                        <div class="logo-area">
                            <a href="/">
                                <img src="/images/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <a href="#" target="_blank">
                        <img src="/images/uploads/mtnadvert2.png"/>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="header-middle-area" id="sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                    <div class="main-menu">
                        @*
 <li class="@ViewBag.ActiveHome">
 <a asp-controller="Contest" asp-action="Index">Home </a></li>
                                    <li class="@ViewBag.ActiveContestHowItWorks"><a href="#">How it works</a> </li>
                                    <li class="@ViewBag.ActiveActiveContest"><a asp-controller="Contest" asp-action="Index">Contests</a></li>
                                    <li class="@ViewBag.ActiveActiveContestEntries"><a href="@AppRoutingConsts.ContestActiveEntries">Entries</a></li>
                                    <li class="@ViewBag.ActiveLeaderBoard"><a asp-controller="LeaderBoard" asp-action="Index">Leader Board </a></li>
                                   
*@
                        <nav>
                            <ul>
                                <li class="@ViewBag.ActiveHome">
                                    <a href="/">Home </a>
                                </li>
                                <li  class="@ViewBag.ActiveActiveContest">
                                    <a  asp-controller="Contest" asp-action="Index">All Contests</a>
                                </li>
                                <li class="@ViewBag.ActiveActiveContestEntries">
                                    <a href="@AppRoutingConsts.ContestActiveEntries">Explore Entries</a>
                                </li>
                                <li class="@ViewBag.ActiveLeaderBoard">
                                    <a asp-controller="LeaderBoard" asp-action="Index">Leader Board </a>
                                </li>
                                <li class="@ViewBag.ActivePastWinners">
                                    <a href="#">Past Winners</a>
                                </li>

                                <li class="@ViewBag.ActiveContestHowItWorks">
                                    <a href="#">How it works</a>
                                </li>
                                <li class="@ViewBag.ActiveOurBlog">
                                    <a href="#">Our Blog</a>
                                </li>
                            @if (AbpSession.UserId == null)
                            {
                                <li>
                                    <a  asp-controller="Account" asp-action="Login"> Login Here</a>
                                </li>
                            }

                            </ul>
                        </nav>
                    </div>
                </div>
                @if (AbpSession.UserId != null)
                    {
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li style="padding: 25px 0;">
                                            <a href="javascript:void(0)">
                                                @if (File.Exists(HostingEnvironment.WebRootPath + "/images/uploads/" + User.GetImage()))
                                                {
                                                    <img src="~/images/uploads/@User.GetImage()" class="img-circle img-responsive" style="width: 25px; float: left;"/>
                                                    <i class="fa fa-angle-down"></i>
                                                }
                                                else
                                                {
                                                    <img src="~/images/user.png" class="img-circle img-responsive" style="width: 25px; float: left;"/>
                                                    <i class="fa fa-angle-down"></i>
                                                }

                                            </a>
                                            <ul style="left: -50px;">
                                                <li><a asp-action="Index" asp-controller="Manage">Account</a></li>
                                                <li><a asp-controller="Manage" asp-action="ChangePassword">Change Password</a></li>
                                                <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    }
            </div>
        </div>
    </section>
    <!-- Slide Menu Section Start Here -->
    <section class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li>
                                    <a href="/">Home </a>
                                </li>
                                <li>
                                    <a href="#">How it works</a>
                                </li>
                                <li class="active">
                                    <a href="/Contest/Entries/Active">Contest Gallery</a>
                                </li>
                                <li>
                                    <a href="#">Leader Board </a>
                                </li>
                                <li>
                                    <a href="/Manage">Profile</a>
                                </li>
                                <li>
                                    <a href="/Manage/ChangePassword">Change Password</a>
                                </li>
                                <li>
                                    <a href="/Account/Logout">Logout</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


    </section>
</header>

    <!--Header area end here-->
     <div class="blog-page-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    @RenderBody() 
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="sidebar-area">
                       @Html.Partial("_Search")
                            <div class="single-sidebar">
                            <h2>Featured Contests</h2>
                                <div class="sidebar-recent-post">
                                    <section id="featured-contest-wrapper">
                                        <!--FEATURED CONTESTS WILL BE INJECTD HERE. SEE featuredcontestlive.js-->
                                        <div class="text-center">
                                            <img src="~/images/loading2.gif"/>
                                        </div>
                                    </section>
                                </div>
                        </div>  
                        <div class="single-sidebar">
                            <h2>Featured Entries</h2>
                                <div class="sidebar-recent-post">
                                    <section id="featured-contest-entries-wrapper">
                                        <!--FEATURED CONTEST ENTRIES WILL BE INJECTD HERE. SEE featuredcontestlive.js-->
                                        <div class="text-center">
                                            <img src="~/images/loading2.gif"/>
                                        </div>
                                    </section>
                                </div>
                            </div>  
                        
                    </div>
                </div>
            </div>
           
        </div>
    </div>
           
        <!-- Footer Area Section Start Here -->
         @Html.Partial("_Footer")
        <!-- Footer Area Section End Here -->  
    
        <!-- jquery latest version -->
        <script src="~/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="~/js/jquery.countdownTimer.js"></script>
        <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
    <script src="~/lib/spin.js/spin.js" asp-append-version="true"></script>
    <script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>

    <!-- owl.carousel js -->
        <script src="~/js/owl.carousel.min.js"></script>
        <!-- meanmenu js -->
        <script src="~/js/jquery.meanmenu.min.js"></script>
        <!-- jquery-ui js -->
        <script src="~/js/jquery-ui.min.js"></script>
        <!-- wow js -->
        <script src="~/js/wow.min.js"></script>
        <!-- jquery.counterup js -->
        <script src="~/js/jquery.counterup.min.js"></script>
        <script src="~/js/waypoints.min.js"></script>
        <!-- jquery light box -->
        <script src="~/js/lightbox.min.js"></script>
        <!-- jQuery MixedIT Up -->
        <script src="~/js/jquery.mixitup.min.js"></script>
        <!-- Counter Down js -->
        <script src="~/js/simplyCountdown.min.js"></script>
        <!-- jQuery Multistep form -->
        <script src="~/js/multi_step_form.min.js"></script>
        <!-- jquery.fancybox.pack js -->
        <script src="~/inc/fancybox/jquery.fancybox.pack.js"></script>
        <!-- plugins js -->
        <script src="~/js/plugins.js"></script>
        <!-- jquery weave effects -->
        <script src="~/js/waves.min.js"></script>
		<!-- TimeCircles js -->
        <script src="~/js/TimeCircles.min.js"></script>
        <!-- main js -->
        <script src="~/js/main.min.js"></script>
        <script src="~/js/app-promotions.min.js" asp-append-version="true"></script>
        <script src="~/js/siteScript.min.js" asp-append-version="true"></script>
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/js/js.cookie.min.js" asp-append-version="true"></script>

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
    </body>

</html>