﻿@using System.Globalization
@using Abp.Configuration
@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using IContestPro
@using IContestPro.Configuration
@using IContestPro.Web.Models.Common.Modals
@using IContestPro.Web.Helpers.AlertExtension
@using IContestPro.Web.Resources
@using IContestPro.Web.Views.Shared.Components.SideBarNav
@using IContestPro.Web.Views.Shared.Components.SideBarUserArea
@using IContestPro.Web.Views.Shared.Components.TopBarLanguageSwitch
@using IContestPro.Web.Views.Shared.Components.RightSideBar
@inject IContestPro.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject ISettingManager SettingManager
@inject IAlertManagerExtension AlertManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    var uiTheme = await SettingManager.GetSettingValueAsync(AppSettingNames.UiTheme);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/images/fav.png">

    <title>iContestPRO | @ViewBag.Title</title>

    <environment names="Development">
        <link href="~/fonts/roboto/roboto.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/fonts/material-icons/materialicons.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/toastr/toastr.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/Waves/dist/waves.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/animate.css/animate.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/materialize.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/html5-datepicker-open-on-input-click.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/themes/all-themes.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/view-resources/Views/Shared/_Layout.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link href="~/view-resources/Views/_Bundles/shared-layout.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/css/siteStyle.css" asp-append-version="true">

    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>

</head>
<body class="@("theme-" + uiTheme)"  ng-app="myContestApp">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>@L("PleaseWait")</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="@L("StartTyping")...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid top-nav-wrapper">
            <div class="navbar-header">
                <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a class="bars"></a>
                <a class="navbar-brand" href="/"><img src="/images/logo_white.png" alt="logo" style="position: relative;top: -13px;" /></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right text-center" ng-controller="notificationController">
                    <!-- Call Search -->
                    <li><a id="check-messages"><i class="fa fa-bell"></i>
                            <span class="badge badge-danger notification-badge animated fadeIn infinite">{{totalUnread}}</span>
                        </a>
                        <section class="notifications-wrapper">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-10 col-sm-10 col-xs-10 text-left"><strong>Messages</strong></div>
                                        <div class="col-md-2 col-sm-2 col-xs-2"><strong class="cursor-pointer close-notification" title="Close"><i class="fa fa-times"></i></strong></div>
                                    </div>
                                </div>
                                <div class="list-group-item" ng-show="formattedNotifications.length === 0  && checkingMessages === false">No new messages</div>
                                <div class="list-group-item" ng-show="checkingMessages === true">Checking messages...</div>
                                <div class="list-group-item" ng-repeat="item in formattedNotifications">
                                    <div class="row  no-padding">
                                        <div class="col-md-11 col-sm-11 col-xs-11 no-padding text-left">
                                            <div ng-bind-html="item.message | unsafe"></div>
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-1 no-padding">
                                            <a class="cursor-pointer" title="Delete" ng-click="delete(item.id)"><i class="fa fa-trash text-danger"></i></a>

                                        </div>
                                    </div>

                                </div>

                                <div class="list-group-item">
                                    <div class="row  no-padding">
                                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center">
                                            <a class="btn btn-white btn-xs more" asp-action="Index" asp-controller="Notifications">More</a>
                                        </div>

                                    </div>

                                </div>


                            </div>
                        </section>
                        </li>
                    <li><a class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->

                    @await Component.InvokeAsync(typeof(TopBarLanguageSwitchViewComponent))

                    <li class="pull-right"><a class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <aside id="leftsidebar" class="sidebar">

            @await Component.InvokeAsync(typeof(SideBarUserAreaViewComponent))
            @await Component.InvokeAsync(typeof(SideBarNavViewComponent), new { activeMenu = ViewBag.CurrentPageName })

            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; @DateTime.Now.Year <a>IContestPro</a>.
                </div>
                <div class="version">
                    <b>@L("Version") </b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
                </div>
            </div>
            <!-- #Footer -->
        </aside>

        @await Component.InvokeAsync(typeof(RightSideBarViewComponent))

    </section>

<section class="page-wrapper">
    <div class="container-fluid">
        <!-- Account upgrade -->
        <section class="global-notification">
           
            
            @if ( AlertManager.Alerts.Any())
            {
                <div id="AbpPageAlerts">
                    @foreach (var alertMessage in AlertManager.Alerts)
                    {
                        <div class="alert alert-@alertMessage.Type.ToString().ToLower() @(alertMessage.Dismissible ? "alert-dismisable" : "")" role="alert">
                            <div class="row">
                                @if (alertMessage.Icon != null)
                                {
                                    <div class="col-md-2 text-center">
                                        <i class="fa @alertMessage.Icon fa-5x"></i>
                                    </div>
                                }
                               
                                <div class="@(alertMessage.Icon != null ? "col-md-10" : "col-md-12")">
                                    <h4 class="alert-heading">
                                        @alertMessage.Title
                                        @if (alertMessage.Dismissible)
                                        {
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        }
                                    </h4>
                                    <p>@alertMessage.Text</p>
                                    <div class="row">
                                        @if (alertMessage.Actions != null && alertMessage.Actions.Any())
                                        {
                                            <div class="col-md-6">
                                                <p>
                                                    @foreach (var action in alertMessage.Actions)
                                                    {
                                                        <a href="@action.Href" class="btn btn-xs btn-@action.ButtonType.ToString().ToLower()"><i class="@(action.Icon != null ? "fa " + action.Icon : "")"></i> @action.Text</a>
                                                    }
                                                </p>
                                            </div>
                                        }
                                        @if (alertMessage.DropdownActions != null && alertMessage.DropdownActions.Any())
                                        {
                                            <div class="col-md-6 text-right">
                                                <ul class="header-dropdown m-r--5">
                                                    <li class="dropdown">
                                                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                            <i class="material-icons">more_vert</i>
                                                        </a>
                                                        <ul class="dropdown-menu pull-right">
                                                            @foreach (var action in alertMessage.DropdownActions)
                                                            {
                                                                <li>
                                                                    <a href="@action.Href">@action.Text</a>
                                                                </li>
                                                            }

                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
                AlertManager.Alerts.Clear();
            }
            
        </section>
        <!--End of Account upgrade -->
       

        @RenderBody()
        
        <div class="modal fade" id="FundWalletModal" tabindex="-1" role="dialog" aria-labelledby="FundWalletModalLabel" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    @Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Add Fund To Wallet"))
                    <form name="FundWalletForm" asp-controller="Payment" asp-action="FundWallet" role="form" class="form-validation"
                          method="post" enctype="multipart/form-data">     
                        <div class="modal-body">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div>
                                            <label for="Amount" class="form-label">Amount:</label>
                                            <input id="Amount" type="text" name="Amount" placeholder="Amount to fund" class="form-control" style="border: 1px solid #ccc;border-radius: 4px;padding: 10px;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
               
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect submit-btn">Continue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

    <environment names="Development">
        <script src="~/lib/json2/json2.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment-with-locales.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
        <script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
        <script src="~/lib/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
        <script src="~/lib/spin.js/spin.js" asp-append-version="true"></script>
        <script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-slimscroll/jquery.slimscroll.js" asp-append-version="true"></script>
        <script src="~/lib/Waves/dist/waves.js" asp-append-version="true"></script>
        <script src="~/lib/push.js/push.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>
        <script src="~/js/admin.js" asp-append-version="true"></script>
        <script src="~/js/main.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Shared/_Layout.js" asp-append-version="true"></script>

        @if (CultureInfo.CurrentUICulture.Name != "en")
        {
            <script src="~/lib/jquery-validation/src/localization/messages_@Html.Raw(CultureInfo.CurrentUICulture.Name.Replace("-", "_") + ".js")" asp-append-version="true"></script>
        }
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        // Localizing momentjs
        moment.locale('@CultureInfo.CurrentUICulture.Name');
    </script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

    <script src="~/lib/signalr-client/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.signalr-client.js" asp-append-version="true"></script>
    <script src="~/js/siteScript.min.js" asp-append-version="true"></script>
    <script src="~/js/js.cookie.min.js" asp-append-version="true"></script>
    <script src="~/js/angular.min.js" asp-append-version="true"></script>
    <script src="~/js/notificationController.js" asp-append-version="true"></script>

    @WebResourceManager.RenderScripts()

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
<script>
    $(function() {
        $('.datepicker').datepicker();
        $('.top-nav-wrapper').click(function() {
            $('.notifications-wrapper').hide();
        });
    });
</script>
</body>
</html>
