﻿@using Abp.Web.Mvc.Alerts
@using Abp.Configuration
@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using IContestPro.Configuration
@using IContestPro.Web.Resources
@using Abp.Runtime.Session
@using IContestPro
@using IContestPro.Web.Helpers.Claims
@using IContestPro.Web.Views.Shared.Components.TopBannerAdvert
@using Microsoft.AspNetCore.Hosting
@inject IContestPro.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject ISettingManager SettingManager
@inject IAlertManager AlertManager
@inject IAbpSession AbpSession
@inject IHostingEnvironment HostingEnvironment
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using File = System.IO.File

@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    var uiTheme = await SettingManager.GetSettingValueAsync(AppSettingNames.UiTheme);
}
<!DOCTYPE html>
<html lang="zxx">
    
<head>
        <!-- meta tag -->
        <meta charset="utf-8">
        <title>iContestPRO | @ViewBag.Title</title>
        <meta name="description" content="">
        <!-- responsive tag -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/fav.png">
    
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" asp-append-version="true" />
        <!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
        <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/animate.css">
        <!-- jquery-ui.min css -->
        <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.min.css">
        <!-- meanmenu css -->
        <link rel="stylesheet" type="text/css" href="~/css/meanmenu.min.css">
        <!-- owl.carousel css -->
        <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css">
        <!-- lightbox css -->
        <link rel="stylesheet" type="text/css" href="~/css/lightbox.min.css">
		<!-- TimeCircles css -->
        <link rel="stylesheet" type="text/css" href="~/css/TimeCircles.css">
        <!-- style css -->
        <link href="~/css/html5-datepicker-open-on-input-click.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/style.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/css/siteStyle.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/css/jquery.countdownTimer.css">
        <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    
        <!-- modernizr css -->
        <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>
</head>
    <body>
        <!--Preview area start here-->
        <div class="template-preloader-rapper">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!--End preview here -->
        <!--Header area start here-->
    <header>
       @await Component.InvokeAsync(typeof(TopBannerAdvertViewComponent))

        <div class="header-top-area hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="header-top-left">
                            <ul>
                                <li><i class="fa fa-envelope-o"></i><a href="mailto:yourmail@gmail.com">info@icontestpro.com</a></li>
                                <li><i class="fa fa-phone"></i><a href="tel:+234-803-881-4982">+234-803-881-4982</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="header-top-right">
                            <ul>
                                <li>
                                    @if (AbpSession.UserId == null)
                                    {
                                        <i class="fa fa-users"></i><a href="@Url.Action("Login", "Account", new {ViewBag.ReturnUrl})">Login/Registration</a>

                                    }
                                    else
                                    {
                                        <i class="fa fa-dashboard"></i><a href="@Url.Action("Index", "Manage")">Dashboard</a>

                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="social-media-area">
                            <nav>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle-area" id="sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="logo-area">
                            <a href="/"><img src="~/images/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li class="@ViewBag.ActiveHome"><a asp-controller="Contest" asp-action="Index">Home </a></li>
                                    <li class="@ViewBag.ActiveContestHowItWorks"><a href="#">How it works</a> </li>
                                    <li class="@ViewBag.ActiveActiveContest"><a asp-controller="Contest" asp-action="Index">Contests</a></li>
                                    <li class="@ViewBag.ActiveActiveContestEntries"><a href="@AppRoutingConsts.ContestActiveEntries">Entries</a></li>
                                    <li class="@ViewBag.ActiveLeaderBoard"><a asp-controller="LeaderBoard" asp-action="Index">Leader Board </a></li>
                                    <li class="@ViewBag.ActiveMore"><a href="#">More <i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li class="@ViewBag.ActiveMoreVoterLeaderBoard"><a asp-controller="VoterLeaderBoard" asp-action="Index">Voter Board</a></li>
                                            <li class="@ViewBag.ActiveMoreWinners"><a  asp-controller="Winners" asp-action="Index">Winners</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    @if (AbpSession.UserId != null)
                    {
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li style="padding: 25px 0;">
                                            <a href="javascript:void(0)">
                                                @if (File.Exists(HostingEnvironment.WebRootPath + "/images/uploads/" + User.GetImage()))
                                                {
                                                    <img src="~/images/uploads/@User.GetImage()" class="img-circle img-responsive" style="width: 25px; float: left;"/>
                                                    <i class="fa fa-angle-down"></i>
                                                }
                                                else
                                                {
                                                    <img src="~/images/user.png" class="img-circle img-responsive" style="width: 25px; float: left;"/>
                                                    <i class="fa fa-angle-down"></i>
                                                }

                                            </a>
                                            <ul style="left: -50px;">
                                                <li><a asp-action="Index" asp-controller="Manage">Account</a></li>
                                                <li><a asp-controller="Manage" asp-action="ChangePassword">Change Password</a></li>
                                                <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <!-- Slide Menu Section Start Here -->
        <div class="mobile-menu-area">
            @Html.Partial("_MobileMenu")
        </div>
    </header>
    <!--Header area end here-->
     <div class="blog-page-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    @RenderBody() 
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="sidebar-area">
                       @Html.Partial("_Search")
                            <div class="single-sidebar">
                            <h2>Featured Contests</h2>
                                <div class="sidebar-recent-post">
                                    <section id="featured-contest-wrapper">
                                        <!--FEATURED CONTESTS WILL BE INJECTD HERE. SEE featuredcontestlive.js-->
                                        <div class="text-center">
                                            <img src="~/images/loading2.gif"/>
                                        </div>
                                    </section>
                                </div>
                        </div>  
                        <div class="single-sidebar">
                            <h2>Featured Entries</h2>
                                <div class="sidebar-recent-post">
                                    <section id="featured-contest-entries-wrapper">
                                        <!--FEATURED CONTEST ENTRIES WILL BE INJECTD HERE. SEE featuredcontestlive.js-->
                                        <div class="text-center">
                                            <img src="~/images/loading2.gif"/>
                                        </div>
                                    </section>
                                </div>
                            </div>  
                       @Html.Partial("_ContestTags")
                        
                    </div>
                </div>
            </div>
           
        </div>
    </div>
           
        <!-- Footer Area Section Start Here -->
        <footer>
            <div class="footer-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single-footer footer-one">
                                <h3>About Company</h3>
                                <p>
                                    iContestPRO platform is a multiple contest platform – that host multiple contest sponsored by brands and individuals, with the primary objective to drive their brand visibility, customer engagement or stimulate sales.
                                </p>
                                <div class="footer-social-media-area">
                                    <nav>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-3 col-sm-4 hidden-xs">
                            <div class="single-footer footer-two">
                                <h3>Twitter Feed</h3>
                                <nav>
                                    <ul>
                                        <li><i class="fa fa-twitter"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">https://twitter.com/?lang=en</a>
                                            <br/> 3 days ago
                                        </li>
                                        <li><i class="fa fa-twitter"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">https://twitter.com/?lang=en</a>
                                            <br/> 3 days ago
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-3 hidden-sm col-xs-12">
                            <div class="single-footer footer-three">
                                <h3>Flickr Photos</h3>
                                <ul>
                                    <li>
                                        <a href="#"><img src="~/images/flicker/1.png" alt="flicker photo"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="~/images/flicker/2.png" alt="flicker photo"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="~/images/flicker/3.png" alt="flicker photo"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="~/images/flicker/4.png" alt="flicker photo"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="~/images/flicker/5.png" alt="flicker photo"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="~/images/flicker/6.png" alt="flicker photo"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>*@
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single-footer footer-four">
                                <h3>Corporate Office</h3>
                                <nav>
                                    <ul>
                                        <li><i class="fa fa-paper-plane-o"></i> 65 Allen Avenue</li>
                                        <li><i class="fa fa-phone"></i> <a href="tel:+985-2356-14566">+234803-881-4982</a></li>
                                        <li><i class="fa fa-envelope-o"></i> <a href="mailto:yourmail@gmail.com">info@icontestpro.com</a></li>
                                        <li><i class="fa fa-fax"></i> Fax: (01) 4589761</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="footer-bottom">
                                <p> &copy; Copyrights 2017. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area Section End Here -->  
    
        <!-- jquery latest version -->
        <script src="~/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="~/js/jquery.countdownTimer.js"></script>
        <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
    <script src="~/lib/spin.js/spin.js" asp-append-version="true"></script>
    <script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>

    <!-- owl.carousel js -->
        <script src="~/js/owl.carousel.min.js"></script>
        <!-- meanmenu js -->
        <script src="~/js/jquery.meanmenu.min.js"></script>
        <!-- jquery-ui js -->
        <script src="~/js/jquery-ui.min.js"></script>
        <!-- wow js -->
        <script src="~/js/wow.min.js"></script>
        <!-- jquery.counterup js -->
        <script src="~/js/jquery.counterup.min.js"></script>
        <script src="~/js/waypoints.min.js"></script>
        <!-- jquery light box -->
        <script src="~/js/lightbox.min.js"></script>
        <!-- jQuery MixedIT Up -->
        <script src="~/js/jquery.mixitup.min.js"></script>
        <!-- Counter Down js -->
        <script src="~/js/simplyCountdown.min.js"></script>
        <!-- jQuery Multistep form -->
        <script src="~/js/multi_step_form.min.js"></script>
        <!-- jquery.fancybox.pack js -->
        <script src="~/inc/fancybox/jquery.fancybox.pack.js"></script>
        <!-- plugins js -->
        <script src="~/js/plugins.js"></script>
        <!-- jquery weave effects -->
        <script src="~/js/waves.min.js"></script>
		<!-- TimeCircles js -->
        <script src="~/js/TimeCircles.min.js"></script>
        <!-- main js -->
        <script src="~/js/main.min.js"></script>
        <script src="~/js/app-promotions.min.js" asp-append-version="true"></script>
        <script src="~/js/siteScript.min.js" asp-append-version="true"></script>
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/js/js.cookie.min.js" asp-append-version="true"></script>

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
    </body>

</html>