﻿@using IContestPro
 <section>
    <!-- Sidebar user panel -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
     <nav class="list-group messages-left-nav"> 
         <ul class="nav">
             <li>
                 <a id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false"
                    class="list-group-item header"><strong>Messages</strong>
                 </a>
                 <ul class="nav collapse in" id="submenu1" role="menu" aria-labelledby="btn-1">
                     <li>
                         <a asp-action="Index" asp-controller="Messages" asp-route-fetchType="@MessageFetchType.Inbox" 
                            class="list-group-item @ViewBag.InboxActive">
                             Inbox
                         </a>
                     </li>
                     <li>
                         <a asp-action="Index" asp-controller="Messages" asp-route-fetchType="@MessageFetchType.Sent" 
                            class="list-group-item @ViewBag.SentActive">
                             Sent
                         </a>
                     </li>
                 </ul>
             </li>
         </ul>
     </nav>
</section>  