﻿@using Abp.Runtime.Session
@using IContestPro
@inject IAbpSession AbpSession
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mobile-menu">
                <nav id="dropdown">
                    <ul>
                        <li class="@ViewBag.ActiveHome"><a href="/">Home </a></li>
                        <li class="@ViewBag.ActiveContestHowItWorks"><a href="#">How it works</a>  </li>
                        <li class="@ViewBag.ActiveActiveContest"><a href="@AppRoutingConsts.ContestActiveEntries">Contest Gallery</a></li>
                        <li class="@ViewBag.ActiveLeaderBoard"><a href="#">Leader Board </a></li>
                        @if (AbpSession.UserId == null)
                        {
                            <li class="visible-sm visible-xs"><a asp-action="Login" asp-controller="Account">Login/Register </a></li>
                        }else{
                            <li><a asp-action="Index" asp-controller="Manage">Profile</a></li>
                            <li><a asp-controller="Manage" asp-action="ChangePassword">Change Password</a></li>
                            <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                        }

                     </ul>
                 </nav>
             </div>
         </div>
     </div>
 </div>

