﻿@using IContestPro
@using IContestPro.Web.Views.Shared.Components.BlogTickers
    <div class="sidebar-area padding-right-10 padding-left-10">
        <div class="single-sidebar visible-lg visible-md">
            <h2>SEARCH</h2>
            <div class="sidebar-search">
                <div class="search-cretieria-wrapper" style="position: absolute;">
                    <label class="radio-inline"><input type="radio" value="@AppConsts.SearchTypeContests" name="optradio" checked>@AppConsts.SearchTypeContests</label>
                    <label class="radio-inline"><input type="radio" value="@AppConsts.SearchTypeEntries" name="optradio">@AppConsts.SearchTypeEntries</label>
                    <label class="radio-inline"><input type="radio" value="@AppConsts.SearchTypeSponsors" name="optradio">@AppConsts.SearchTypeSponsors</label>
                    <label class="radio-inline"><input type="radio" value="@AppConsts.SearchTypeUsers" name="optradio">@AppConsts.SearchTypeUsers</label>
                </div>
                <input type="text" class="search-input" maxlength="100" placeholder="Search Here...">
                <span>
                    <button class="search-button" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                <div class="search-results-wrapper"></div>
            </div>
        </div> 
        <div class="single-sidebar">
            @await Component.InvokeAsync(typeof(BlogTickersViewComponent))
        </div>
        <div class="single-sidebar">
            <section id="advertboxone-wrapper">
                <!--
                ADVERT BOX ONE
                -->
                <div class="text-center">
                    <img src="/images/loading2.gif"/>
                </div>
            </section>
        </div>
        
@*
PLEASE DONT RENAME THE IDS HERE AS IT'S CALLED FROM AJAX
*@
        <div class="single-sidebar">
            <h2>Featured Contests</h2>
            <div class="sidebar-recent-post">
                <section id="featured-contest-wrapper">
                    <!--FEATURED CONTESTS WILL BE INJECTD HERE. SEE app-promotions.js-->
                    <div class="text-center">
                        <img src="/images/loading2.gif"/>
                    </div>
                </section>
            </div>
        </div>
        <div class="single-sidebar">
            <section id="advertboxtwo-wrapper">
                <!--
                ADVERT BOX ONE
                -->
                <div class="text-center">
                    <img src="/images/loading2.gif"/>
                </div>
            </section>
        </div>
        <div class="single-sidebar">
            <h2>Featured Entries</h2>
            <div class="sidebar-recent-post">
                <section id="featured-contest-entries-wrapper">
                    <!--FEATURED CONTEST ENTRIES WILL BE INJECTD HERE. SEE app-promotions.js-->
                    <div class="text-center">
                        <img src="/images/loading2.gif"/>
                    </div>
                </section>
            </div>
        </div>
        <div class="single-sidebar">
            <section id="contest-ending-soon-main-wrapper">
                <!--
                CONTEST THAT WILL END IN THE NEXT 30 DAYS GOES HERE
                -->
                <h2>CONTEST ENDING SOON</h2>
                <div class="text-center">
                    <img src="/images/loading2.gif"/>
                </div>
            </section>
        </div>
    </div>
<script>
    window.onload = function() {
        $(function() {
            $(".smartmarquee").smartmarquee();
        });   
    }
    

</script>