﻿@using IContestPro
@model IEnumerable<IContestPro.Search.Dto.SearchDto>
@{
    Layout = null;
}
        @if (Model != null && Model.Any())
        {
            <div class="list-group">
                <div class="list-group-item">Results <a class="pull-right close-search-results"><i class="fa fa-times"></i></a></div>
            @foreach (var item in Model)
            {
                if ((string)ViewBag.SearchType == AppConsts.SearchTypeContests)
                {
                    <a class="list-group-item" target="_blank" href="@AppRoutingConsts.ContestDetails(item.Permalink)">@item.Name</a>
                }else if ((string)ViewBag.SearchType == AppConsts.SearchTypeEntries)
                {
                    <a class="list-group-item" target="_blank" href="@AppRoutingConsts.ContestEntryDetails(item.Permalink)">@item.Name</a>  
                }else if ((string)ViewBag.SearchType == AppConsts.SearchTypeSponsors)
                {
                    <a class="list-group-item" target="_blank" href="@AppRoutingConsts.SponsorDetails(item.Permalink)">@item.Name</a>
                }else if (((string)ViewBag.SearchType) == AppConsts.SearchTypeUsers)
                {
                    <a class="list-group-item" target="_blank" href="@AppRoutingConsts.UserProfile(item.Permalink)">@item.Name</a> 
                }
            }
            </div>

        }
        else
        {
            <div class="list-group">
                <div class="list-group-item">Results <a class="pull-right close-search-results"><i class="fa fa-times"></i></a></div>
                    <span class="list-group-item">No match found for <strong>'@ViewBag.SearchText'</strong></span>
            </div>
        }
   

<script>
    $('.search-results-wrapper .close-search-results').on('click', function () {
        $('.sidebar-search .search-input').val('');
        $('.search-results-wrapper').html('');
    });
</script>

