﻿ <div class="single-sidebar">
    <h2>SEARCH</h2>
    <div class="sidebar-search">
        <input type="text" placeholder="Search Here...">
        <span>
            <button type="submit"><i class="fa fa-search"></i></button> 
        </span>
    </div>
</div>