﻿@{
    Layout = "_Layout";
}
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
              
                <div class="error-page-area">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="error-page jumbotron">
                                    <h1>404</h1>
                                    <p>Page was not Found</p>
                                    <p>The page you are looking is not available or has been removed.Try going to Home Page by using the button below.</p>
                                    <div class="home-page">
                                        <a class="btn btn-danger btn-lg" asp-action="Index" asp-controller="Home">Go to Home Page <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>