﻿@{
    Layout = "_ContestHomePageLayoutWithRightSide";
}
<div class="error-page-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="error-page">
                    <h1>404</h1>
                    <p>Page was not Found</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="error-page-message">
                    <p>The page you are looking is not available or has been removed.Try going to Home Page by using the button below.</p>
                    <div class="home-page">
                        <a href="/">Go to Home Page <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>