﻿@using IContestPro
@model IEnumerable<IContestPro.FeaturedContest.Dto.RandomFeaturedContestDto>

<div class="single-sidebar">
<h2>Featured Contests</h2>
    <div class="sidebar-recent-post">
        @if (Model != null && Model.Any())
        {
        foreach (var item in Model)
        {
            <div class="media single-post">
                <div class="pull-left">
                    <a href="@AppRoutingConsts.ContestDetails(item.Permalink)">
                        <img class="media-object" src="@Url.Action("GetImage", "Common", new {path = "images/uploads/" + item.Picture, width = 80, height = 80})" alt="@item.Title">
                    </a>
                </div>
                <div class="media-body">
                    <div class="posted-date featured-item-date">
                        <a href="@AppRoutingConsts.ContestDetails(item.Permalink)">@item.StartDate.ToString("MMMM dd, yyyy") - @item.EndDate.ToString("MMMM dd, yyyy")</a>
                    </div>
                    <p><a href="@AppRoutingConsts.ContestDetails(item.Permalink)" class="featured-item-title">@item.Title</a></p>
                </div>
            </div>
        }
        }
        else
        {
            <div class="media single-post">
                <div class="media-body">
                    <div class="alert alert-info text-center">
                        <h3>Make Your Contest Featured</h3>
                        <p>Increase the visibility of your contest by making it featured.</p>
                        <br />
                        <a asp-controller="FeaturedContests" asp-action="Index" class="btn btn-success animated infinite fadeIn">Click here to start</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>  



