﻿@using IContestPro
@using IContestPro.Web.Helpers
@using Microsoft.AspNetCore.Hosting
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.Contest.ContestVote.Dto.VoteDto>
@inject IHostingEnvironment HostingEnvironment
@using File = System.IO.File
   
@{
    ViewBag.Title = "Contests";
}

<article class="winner-area padding-20">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Contest" asp-action="Index">Contests</a></li>
            <li>Votes</li>
        </ol>
    </nav>
    <div class="bg-white padding-20">
        @if (Model.Items.Count > 0)
        {

            foreach (var item in Model.Items)
            {
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-3">
                        <a href="@(item.User != null ? AppRoutingConsts.UserProfile(item.User.Permalink) : "javascript:vpoid(0)")">
                            @if (File.Exists(HostingEnvironment.WebRootPath + "/images/uploads/" + @item.User?.Image))
                            {
                                <img src="~/images/uploads/@item.User?.Image" width="60" class="img-thumbnail img-responsive img-circle" alt="@(item.User != null ? item.User.NickName : "Guest")"/>
                            }
                            else
                            {
                                <img src="~/images/user.png" width="60" class="img-thumbnail img-responsive img-circle" alt="@(item.User != null ? item.User.NickName : "Guest")"/>
                            }
                        </a>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <h3 class="no-margin-bottom"> <a href="@(item.User != null ? AppRoutingConsts.UserProfile(item.User.Permalink) : "javascript:vpoid(0)")">@(item.User != null ? item.User.NickName : "Guest")</a></h3>
                        <div>@item.CreationTime.ToString("F")</div>
                        <hr/>
                    </div>

                </div>
                <br/>
            }

            int page = ViewBag.Page;
            int pageSize = ViewBag.PageSize;
            if (Model.TotalCount > pageSize)
            {
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        @Html.PaginateCustomUrl(Model.TotalCount, page, pageSize, $"Votes/Contest/{ViewBag.Permalink}")
                    </div>
                </div>
            }

        }
        else
        {
            <div class="alert alert-info">
                <p>There are no votes for this contest.</p>
            </div>
        }

    </div>

</article>