﻿@using IContestPro
@using IContestPro.Web.Startup
@model IContestPro.EmailTemplate.Dto.EmailTemplateDto
@{
	var type = ViewBag.Template as string;
    ViewBag.CurrentPageName = 
	    type == AppConsts.EmailTemplateDefaultEmailTemplate
	    ? PageNames.DefaultEmailTemplate :
	    type == AppConsts.EmailTemplateNewUserCreation
		    ? PageNames.EmailTemplatesNewUser :
		    type == AppConsts.EmailTemplateResetPasswordEmailTemplate
			    ? PageNames.EmailTemplatesResetPassword :
	     null; // The menu item will be active for this page.
	
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
{
    <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
	        <div class="body">
		        <form asp-action="CreateEditTemplate" method="post">
			        <input asp-for="Id" type="hidden"/>
			        <input asp-for="TenantId" type="hidden"/>
			        <input asp-for="Name" type="hidden"/>
			        <input asp-for="IsMainTemplate" type="hidden"/>
			        <div class="form-group">
				        <div class="col-md-2"><label for="Name">Name</label></div>
				        <div class="col-md-10"><span class="form-control">@Model.Name</span></div>
			        </div>
			        <div class="form-group">
				        <div class="col-md-2"><label for="Name">Is Main Template</label></div>
				        <div class="col-md-10"><span class="form-control">@Model.IsMainTemplate</span></div>
			        </div>
			        <div class="form-group">
				        <textarea rows="35" asp-for="Template">
						@Model.Template
						</textarea>
			        </div>
			        <div class="form-group">
				        <input type="submit" value="Save" class="btn"/>
			        </div>
		        </form>
		        
	        </div>
        </div>
    </div>
</div>


<!-- #END# CPU Usage -->