﻿@using IContestPro.Web.Startup
@model IContestPro.AppPagedRequestResultDto<Abp.Application.Services.Dto.PagedResultDto<IContestPro.EmailTemplate.Dto.EmailTemplateDto>>
@{
    ViewBag.CurrentPageName = PageNames.EmailTemplates; // The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
{
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(function() {
            
        });
    </script>
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="body">
                <h3>Email templates</h3>
                <section class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Is Main Template</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Result.Items)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.IsMainTemplate</td>
                                <td>
                                    <a asp-action="CreateEditTemplate" asp-route-type="@item.Name" class="btn btn-sm">Edit</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>


<!-- #END# CPU Usage -->