﻿@using IContestPro.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About; // The menu item will be active for this page.
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Contact Us
                </h2>
            </div>
            <div class="body">
                <p>
                Contact us here
                    </p>

               
            </div>
        </div>
    </div>
</div>
