﻿@using IContestPro.Sessions
@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment HostingEnvironment;
@inject ISessionAppService SessionAppService;

@{
    var login = SessionAppService.GetCurrentLoginInformations();
    if (System.IO.File.Exists(HostingEnvironment.WebRootPath + "/images/uploads/" + login.Result.User.Image))
    {
        <img src="~/images/uploads/@login.Result.User.Image" class="img-circle img-responsive" style="width: 25px; float: left;"/>
        <i class="fa fa-angle-down"></i>
    }
    else
    {
        <img src="~/images/user.png" class="img-circle img-responsive" style="width: 25px; float: left;"/>
        <i class="fa fa-angle-down"></i>
    }    
}
  


