﻿@using IContestPro
@using IContestPro.Authorization
@using IContestPro.Cookie
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting;
@model IContestPro.Messages.Dto.CreateMessageInputDto
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.Disputes; // The menu item will be active for this page.
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <section class="content-header">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <h2>Create Dispute</h2>
                            </section>

                        </div>
                        <div class="col-md-6">
                            <nav aria-label="breadcrumb" class="pull-right">
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                                    <li><a asp-controller="Disputes" asp-action="Index">Disputes</a></li>
                                    <li>Create Dispute</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </section>
                <hr/>
                 <form name="CreateMessageForm" id="CreateMessageForm" asp-action="Create" role="form" class="form-validation"
                  method="post" enctype="multipart/form-data">     
                   <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <article class="form-horizontal margin-top-20">
                                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                                        
                                        <section class="col-md-9">
                                            <input type="hidden" asp-for="MessageType" value="2"/>

                                            <div class="input-group message-type-support-ticket-recipient">
                                                <div class="col-md-3">
                                                    <label>Recipient</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-line">
                                                        <span class="form-control">Admin</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="col-md-3">
                                                    <label for="Title">Title</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-line">
                                                        <input type="text" required placeholder="Enter your title" id="title-textbox" asp-for="Title" maxlength="95" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="col-md-3">
                                                    <label for="MessageText">Message</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-line">
                                                        <textarea required placeholder="Message" asp-for="MessageText" class="form-control" maxlength="950"></textarea>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="col-md-3">
                                                    <label for="Attachments">Attachments</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-line">
                                                        <input id="exampleInputFile" class="form-control" name="Attachments" type="file" multiple>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="col-md-9 col-md-offset-3">
                                                    <button class="btn" type="submit"> Create</button>

                                                </div>
                                            </div>

                                        </section>


                                    </form>

                    </article>
                            </div>
                        </div>
                    </div>
               
            </div>
           
            </form>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>

<!-- #END# CPU Usage -->