﻿@using IContestPro
@using IContestPro.Contest.Dto
@model IEnumerable<IContestPro.Contest.Dto.ContestsEndingSoonDto>
@{
    Layout = null;
}
        @if (Model != null && Model.Any())
        {
            <h2>CONTEST ENDING SOON</h2>
            <div class="sidebar-recent-post">
                <section class="contest-ending-soon-wrapper">
                    <ol>
                    @foreach (var item in Model)
                    {
                        <li><a href="@AppRoutingConsts.ContestDetails(item.Permalink)">@item.Title <span class="pull-right">@item.EndDate.ToString("dd MMM")</span></a></li>
                    }
                    </ol>
                </section>
            </div>
        }
        
   



