﻿@using IContestPro
@using IContestPro.Helpers
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.Contest.Dto.ContestDetailsDto>

@{
    ViewBag.Title = "Contests";
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.Contests;
}
@section styles
{
    <link href="~/style.css" type="text/css" rel="stylesheet"/>
    <style>
        .single-blog-page-area {
            height: 1246px;
        }
    </style>
}
@section Scripts
{
    <script src="~/view-resources/Views/Contest/contestpages.js" asp-append-version="true"></script>
}
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
               <div class="blog-page-area  no-padding">
                   <h3>Contests</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @foreach (var item in Model.Items)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                 <div class="single-blog-page-area no-padding">
                    <div class="single-news-page">
                        <h3><a asp-action="Details" asp-controller="Contest" asp-route-id="@item.Contest.Permalink">@item.Contest.Title</a></h3>
                        <h5><i class="fa fa-clock-o"></i> @item.Contest.CreationTime.ToString("h:mm:ss tt")
                            <i class="fa fa-calendar margin-left-30"></i> @item.Contest.CreationTime.ToString("D")
                            <i class="fa fa-thermometer margin-left-30"></i> @item.Contest.Status?.Name.ToFormattedName()
                        </h5>
                        <div class="news-featured-image">
                            <a asp-action="Details" asp-controller="Contest" asp-route-id="@item.Contest.Permalink">
                                <img src="~/images/uploads/@item.Contest.Picture" alt="@item.Contest.Title"/>
                            </a>

                        </div>
                        <section class="row">
                            <div class="col-md-2">
                                <a asp-action="Company" asp-controller="Sponsor" asp-route-id="@item.Contest.Sponsor.Permalink">
                                     <img src="~/images/uploads/@item.Contest.Sponsor.Logo" alt="@item.Contest.Sponsor.Name" title="@item.Contest.Sponsor.Name"/>
                                </a> 
                                </div>
                            <div class="col-md-10">
                                <ul class="no-margin-bottom no-padding-bottom">
                                    <li><a asp-action="EntriesAdmin" asp-controller="ContestEntry" asp-route-id="@item.Contest.Permalink"><span>@item.TotalEntries</span> Entries</a> | </li>
                                    <li><a href="#"><span>@item.TotalVotes</span> Votes</a> | </li>
                                    <li><a href="#"><span>@item.TotalComments</span> Comments</a> </li> 
                                    
                                    <li><span>End Date</span> @item.Contest.EndDate.ToString("M") | </li>
                                    <li><span>Start Date</span> @item.Contest.StartDate.ToString("M")  </li>
                                </ul>
                            </div>
                        </section>
                        
                        <div class="single-blog-content">
                            <p>
                                @(item.Contest.Description.Length > 200 ? item.Contest.Description.Substring(0, 200) : item.Contest.Description )
                            </p>
                            <p><span>Minimum Participants : </span> @item.Contest.MinimumParticipants</p>
                            <p><span>Everyone A Winner : </span>  @item.Contest.EveryoneIsAWinnerUrl</p>
                            <p><span>Contest Type : </span> @item.Contest.ContestType?.Name</p>
                            <p><span>Contest Entry Type : </span> @item.Contest.ContestEntryType?.Name</p>
                            <p><span>Contest Category : </span> @item.Contest.ContestCategory?.Name</p>
                            <p><span>Status : </span> @item.Contest.Status?.Name.ToFormattedName()</p>
                            <p><span>Start date : </span> @item.Contest.StartDate.ToString("D")</p>
                            <p><span>End date : </span> @item.Contest.EndDate.ToString("D")</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <form asp-action="ChangeStatus" class="inline-block">
                                        <input type="hidden" name="EntityId" value="@item.Contest.Id"/>
                                        <input type="hidden" name="StatusName" value="@AppConsts.StatusLive"/>
                                        <button class="btn btn-success btn-sm" type="submit">Make Live</button>
                                    </form>
                                    <form asp-action="ChangeStatus"class="inline-block">
                                        <input type="hidden" name="EntityId" value="@item.Contest.Id"/>
                                        <input type="hidden" name="StatusName" value="@AppConsts.StatusPaused"/>
                                        <button class="btn btn-warning btn-sm" type="submit">Pause</button>
                                    </form>
                                    <form asp-action="ChangeStatus"class="inline-block">
                                        <input type="hidden" name="EntityId" value="@item.Contest.Id"/>
                                        <input type="hidden" name="StatusName" value="@AppConsts.StatusDisapproved"/>
                                        <button class="btn btn-danger btn-sm" type="submit">Disaprove</button>
                                    </form>
                                    @if (item.Contest.Status?.Name != AppConsts.StatusLive)
                                    {
                                        <form asp-action="ChangeStatus"class="inline-block">
                                            <input type="hidden" name="EntityId" value="@item.Contest.Id"/>
                                            <input type="hidden" name="StatusName" value="@AppConsts.StatusPaymentConfirmed"/>
                                            <button class="btn btn-success btn-sm" type="submit">Confirm payment</button>
                                        </form>
                                        
                                    }
                                   
                                </div> 
                            </div>
                            <p><a asp-action="Details" asp-controller="Contest" asp-route-id="@item.Contest.Permalink">View Details</a>
                            </p>
                        </div>
                       
                        <div class="row content-info">
                            @if (item.Contest.Tags != null)
                            {
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="blog-content-tag">
                                        <ul>
                                            <li> <span>Tags: </span> </li>
                                            @foreach (var tag in item.Contest.Tags.Split(','))
                                            {
                                                <li><a href="#">@tag,</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                     
                        </div>
               
    </div>
                               
                            </div> 
                        }
                     

                    </div>
                 
                </div>
                   <div class="row">
                       @{
                           int page = ViewBag.Page;
                           int pageSize = ViewBag.PageSize;
                       }
                               @Html.PaginateAdmin(Model.TotalCount, page, pageSize, "Contest", "Contests")
                   </div>
           
        </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
