﻿@using IContestPro
@using IContestPro.Authorization
@using IContestPro.Helpers
@using IContestPro.Web.Startup
@model IContestPro.Contest.Dto.ContestDetailsDto

@{
    ViewBag.Title = Model.Contest.Title;
    ViewBag.CurrentPageName = PageNames.Contests;
    Layout = "_Layout";
}
@section styles
{
    <link href="~/style.css" type="text/css" rel="stylesheet"/>
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <div class="photo-details-area no-padding-top">
                    <div class="row">
                        <div class="photo-content padding-20">
                            <h3>@Model.Contest.Title</h3>
                            <h4><i class="fa fa-clock-o"></i> @Model.Contest.CreationTime.ToString("h:mm:ss tt")
                                <i class="fa fa fa-calendar margin-left-30"></i> @Model.Contest.CreationTime.ToString("D")
                                <i class="fa fa-thermometer margin-left-30"></i> @Model.Contest.Status?.Name.ToFormattedName()
                            </h4>
                      
                            <img src="~/images/uploads/@Model.Contest.Picture" class="img-responsive img-thumbnail"/>
                            <div>
                                <p>
                                    @Model.Contest.Description
                                </p>
                                <ul>
                                    <li><span>Objective : </span> @Model.Contest.Objective</li>
                           
                                </ul>
                                <section class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <ul>
                                            <li><span>Minimum Participants : </span> @Model.Contest.MinimumParticipants</li>
                                            <li><span>Everyone A Winner : </span>  @Model.Contest.EveryoneIsAWinnerUrl</li>
                                            <li><span>Contest Type : </span> @Model.Contest.ContestType?.Name</li>
                                            @if (Model.Contest.EntryAmount !=  null)
                                            {
                                                <li><span>Entry Amount : </span> @Model.Contest.EntryAmount?.ToNairaString()</li>
                                            }
                                            <li><span>Contest Entry Type : </span> @Model.Contest.ContestEntryType?.Name</li>
                                            <li><span>Contest Category : </span> @Model.Contest.ContestCategory?.Name</li>
                                            <li><span>Status : </span> @Model.Contest.Status?.Name.ToFormattedName()</li>
                                            <li><span>Start date : </span> @Model.Contest.StartDate.ToString("D")</li>
                                            <li><span>End date : </span> @Model.Contest.EndDate.ToString("D")</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        
                                        @if (Model.Contest.Status?.Name == AppConsts.StatusPaymentPending && AbpSession.UserId == Model.Contest.UserId)
                                        {
                                            <h3>Payment Status</h3>
                                            <div><strong>Status: </strong><span class="badge badge-danger">Pending Payment</span></div>
                                            <div><strong>Amount: </strong>@Model.Contest.ContestFee.Amount.ToNairaString()</div>
                                            <hr/>
                                            <div>
                                                <a class="btn btn-success btn-lg animated fadeIn infinite" data-toggle="modal"
                                                   data-target="#paymentModal"><i class="fa fa-money"></i> Click here to pay</a></div>

                                        }
                                        else if (Model.Contest.Status?.Name == AppConsts.StatusPaymentFailed)
                                        {
                                            <h3>Payment Status</h3>
                                            <span class="badge badge-danger">Payment Failed</span>
                                        }
                                    </div>
                                
                                </section>
                            
                            </div>
                            <hr />
                            <h3>Vote Configuration</h3>
                            <div>
                                <ul>
                                    <li><span>Vote type : </span> @Model.Contest.VoteType?.Name</li>
                                    @if (Model.Contest.VoteType?.Name == AppConsts.VoteTypePaid)
                                    {
                                        <li><span>Vote Amount : </span> @Model.Contest?.VoteAmount?.ToNairaString()</li>
                                    }
                                    @if (Model.Contest.VoteType?.Name == AppConsts.VoteTypeVotePoint)
                                    {
                                        <li><span>Vote Point : </span> @Model.Contest.VoteType?.VotePoint</li>
                                    }
                                
                                </ul>
                            </div>
                            @if (IsGranted(PermissionNames.Pages_Admin))
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <form asp-action="ChangeStatus" class="inline-block">
                                            <input type="hidden" name="EntityId" value="@Model.Contest.Id"/>
                                            <input type="hidden" name="StatusName" value="@AppConsts.StatusLive"/>
                                            <button class="btn btn-success" type="submit">Make Live</button>
                                        </form>
                                        <form asp-action="ChangeStatus"class="inline-block">
                                            <input type="hidden" name="EntityId" value="@Model.Contest.Id"/>
                                            <input type="hidden" name="StatusName" value="@AppConsts.StatusPaused"/>
                                            <button class="btn btn-warning" type="submit">Pause</button>
                                        </form>
                                        <form asp-action="ChangeStatus"class="inline-block">
                                            <input type="hidden" name="EntityId" value="@Model.Contest.Id"/>
                                            <input type="hidden" name="StatusName" value="@AppConsts.StatusDisapproved"/>
                                            <button class="btn btn-danger" type="submit">Disaprove</button>
                                        </form> 
                                        @if (Model.Contest?.Status?.Name != AppConsts.StatusLive)
                                        {
                                            <form asp-action="ChangeStatus" class="inline-block">
                                                <input type="hidden" name="EntityId" value="@Model.Contest.Id"/>
                                                <input type="hidden" name="StatusName" value="@AppConsts.StatusPaymentConfirmed"/>
                                                <button class="btn btn-success" type="submit">Confirm payment</button>
                                            </form>
                                        }
                                    </div> 
                                </div>
   
                            }
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 acurate padding-20">
                            <div class="single-blog-page-area single-news-page">
                                <div class="row content-info">
                                    @if (Model.Contest.Tags != null)
                                    {
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="blog-content-tag">
                                                <ul>
                                                    <li> <span>Tags: </span> </li>
                                                    @foreach (var tag in Model.Contest.Tags.Split(','))
                                                    {
                                                        <li><a href="#">@tag,</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>  
                                    }
                                   
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                                        <div class="blog-content-share-social-icons">
                                            <ul>
                                                <li> <span>Share: </span> </li>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                               
                                <div>
                                  @if (Model.Contest.UserId == AbpSession.UserId)
                                  {
                                      if (Model.Contest.Status?.Name != AppConsts.StatusLive && Model.Contest.EndDate > DateTime.Now)
                                       {
                                           <a asp-action="Edit" asp-route-id="@Model.Contest.Id" class="btn btn-danger btn-lg">Edit Contest</a>
                                       }
                                        
                                  }
                                    
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
<!-- Modal -->
@if (AbpSession.UserId == Model.Contest.UserId)
{
    <div id="paymentModal" class="modal fade text-center" role="dialog">
        <div class="modal-dialog">
            @{
                var transRef = Guid.NewGuid().ToString("N");
            }
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Make payment for : <strong>@Model.Contest.Title</strong></h4>
                </div>
                <div class="modal-body">
                    <h3 class="margin-bottom-10">Select your card type</h3>
                    <div class="margin-bottom-20"><strong>Amount: </strong>@Model.Contest.ContestFee.Amount.ToNairaString()</div>
                    <form asp-action="ContestPaymentSuccess" asp-controller="Payment" asp-route-reference="@transRef" asp-route-token="@Model.Contest.Id" method="POST">
                        <script
                            src="https://js.paystack.co/v1/inline.js"
                            data-key="pk_test_e564c540e109248289a7aab6e4209291d2e630fe"
                            data-email="@User.Identity.Name"
                            data-amount="@(Model.Contest.ContestFee.Amount * 100)"
                            data-ref='@transRef'>
                        </script>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
}
@section Scripts
{
    <script src="~/view-resources/Views/Contest/contestpages.js" asp-append-version="true"></script>
    <script>
        $(function() {
            if ('@Model.Contest.Status.Name' === '@AppConsts.StatusPaymentPending') {
                $('#paymentModal').modal('show');
            }
        });
    </script>
}