﻿@using IContestPro
@model IContestPro.Contest.Dto.EditContestDto

@{
    ViewBag.Title = "Edit Contest";
    Layout = "_Layout";
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <form asp-action="Edit" class="form-horizontal" id="create-form" enctype="multipart/form-data">
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="UserId" type="hidden" />
                    <input type="hidden" asp-for="Permalink" />
                    <input type="hidden" asp-for="StatusId"/>
                    <input type="hidden" asp-for="TenantId"/>
                    <input type="hidden" asp-for="ContestFeeId"/>
                    <input type="hidden" asp-for="SponsorId"/>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Title">Title</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Title" type="text"  class = "form-control", placeholder = "Title", required = ""/>
                        </div>
                        </div>
                    </div> 
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Description">Description</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <textarea asp-for="Description"  class = "form-control", placeholder = "Description", required = ""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Objective">Objective</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <textarea asp-for="Objective"  class = "form-control", placeholder = "Objective", required = ""></textarea>
                        </div>
                        </div>
                    </div> 
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="MinimumParticipants">Minimum Participants</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="MinimumParticipants" type="number"  class = "form-control", placeholder = "Minimum Participants"/>
                            </div>
                        </div>
                    </div>  
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="checkbox-everyone-winner">Everyone Is A Winner</label>
                        </div>
                        <div class="col-md-10">
                            <div>
                                <div class="switch">
                                    <label><input type="checkbox" @(Model.EveryoneIsAWinnerUrl != null ? "checked='checked'" : "") id="checkbox-everyone-winner"><span class="lever"></span></label>
                                </div>
                            </div>
                            <div class="row margin-top-20" style=" @(Model.EveryoneIsAWinnerUrl != null ? "display: block;" : "display: none;")" id="everyone-winner-wrp">
                                <div class="col-md-3">
                                    <label for="EveryoneIsAWinnerUrl">Enter URL to download price</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-line">
                                        <div>
                                            <input asp-for="EveryoneIsAWinnerUrl" type="text" class="form-control", @(Model.EveryoneIsAWinnerUrl == null ? "disabled='disabled'" : "") required="" placeholder="Enter URL to download price."/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>  
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="ContestTypeId">Contest Type</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <select class="form-control" asp-for="ContestTypeId" asp-items="@ViewBag.ContestType" ></select>
                                </div>
                        </div>
                    </div>  
                <div class="input-group" id="EntryAmountContainer" style="display: none;">
                    <div class="col-md-2">
                        <label for="EntryAmount">Entry Amount</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-line">
                            <input type="number" asp-for="EntryAmount" class="form-control" placeholder="Entry Amount" disabled="" required/>
                        </div>
                    </div>
                </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="ContestEntryTypeId">Contest Entry Type</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <select class="form-control" asp-for="ContestEntryTypeId" asp-items="@ViewBag.ContestEntryType">
                                </select>
                                </div>
                        </div>
                    </div>  
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="ContestCategoryId">Contest Category</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <select class="form-control" asp-for="ContestCategoryId" asp-items="@ViewBag.ContestCategory">
                                </select>
                                </div>
                        </div>
                    </div> 
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Start">Start Date</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input type="date" asp-for="StartDate" class="form-control datepicker" required=""/>
                            </div>
                        </div>
                    </div> 
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="EndDate">End Date</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input type="date" asp-for="EndDate" class="form-control datepicker" required=""/>
                            </div>
                        </div>
                    </div> 
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Picture">Contest Poster Image</label>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-line">
                                        <input type="hidden" asp-for="Picture" value="@(Model.Picture ?? "Not set")"/>
                                        <input type="file" id="Picture" data-width="1110" data-height="810" name="file" class="form-control"/>
                                        <small>Poster dimension: 1110px by 810px</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <a href="~/images/uploads/@Model.Picture" target="_blank"><img src="~/images/uploads/@Model.Picture" class="img-responsive img-thumbnail"></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Tags">Tags</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input type="text" asp-for="Tags" class="form-control" placeholder="Tags. Separate with comma."/>
                           <small>Separate multiple with comma. e.g (John, Doe)</small>
                           </div>
                        </div>
                    </div> 
                    <section>
                        <hr />
                        <h3>Voting Configuration</h3>
                        <div class="input-group">
                            <div class="col-md-2">
                                <label for="VoteTypeId">Vote Type</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-line">
                                    <select class="form-control" asp-for="VoteTypeId" asp-items="@ViewBag.VoteTypes"></select>
                                </div>
                            </div>
                        </div>
                        <div class="input-group" id="VoteTypeAmountContainer" style="display: none;">
                            <div class="col-md-2">
                                <label for="VoteAmount">Amount</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-line">
                                    <input type="number" asp-for="VoteAmount" class="form-control" placeholder="Vote  Amount" min="0" max="0" maxlength="3"/>
                                </div>
                            </div>
                        </div>
                        <div class="input-group" id="VotePointContainer" style="display: none;">
                            <div class="col-md-2">
                                <label>Vote Point Required</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-line">
                                    <span class="form-control " id="VotePointItem" style="background-color: #ddd">0</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr/>
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button class="btn btn-danger"><i class="fa fa-save"></i> Save Changes</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->

@section Scripts
{
    <!-- Bootstrap Date-Picker Plugin -->
    <script src="~/view-resources/Views/Contest/contestpages.js" asp-append-version="true"></script>
    <script>
        $(function() {
            $('#VoteTypeId').val('@Model.VoteTypeId');
            $('#ContestTypeId').val('@Model.ContestTypeId');
            $('#checkbox-everyone-winner').on('change', function () {
                if ($(this).prop('checked')){
                    $('#everyone-winner-wrp').show();
                    $('#EveryoneIsAWinnerUrl').removeAttr('disabled');
                }else{
                    $('#everyone-winner-wrp').hide();
                    $('#EveryoneIsAWinnerUrl').attr('disabled', 'disabled');
                }
            });
            //Create contest page
            $('#ContestTypeId').on('change',
                function() {
                    if ($('#ContestTypeId option:selected').text() === '@AppConsts.ContestTypePaid') {
                        $('#EntryAmountContainer').slideDown(500);
                        $('#EntryAmount').removeAttr('disabled');
                        $('#EntryAmount').attr('required', 'required');

                    } else {
                        $('#EntryAmountContainer').slideUp(500);
                        $('#EntryAmount').attr('disabled', 'disabled');
                        $('#EntryAmount').removeAttr('required');
                    }
                });
            $('#VoteTypeId').on('change',
                function() {
                    $.get('/api/services/app/VoteType/Get?Id=' + $(this).val(),
                        function(data) {
                            if (data.success) {
                                if (data.result.name === '@AppConsts.VoteTypePaid') {
                                    $('#VoteAmount').removeAttr('disabled');
                                    $('#VoteTypeAmountContainer').show();
                                    $('#VotePointContainer').hide();
                                    $('#VoteAmount').attr('min', data.result.minAmount);
                                    $('#VoteAmount').attr('max', data.result.maxAmount);
                                    $('#VoteAmount').attr('required', 'required');
                                    $('#VoteAmount').attr('placeholder', 'Vote amount between ' + data.result.minAmount + ' and ' + data.result.maxAmount);
                                } else if (data.result.name === '@AppConsts.VoteTypeVotePoint') {
                                    $('#VoteAmount').removeAttr('disabled');
                                    $('#VoteTypeAmountContainer').hide();
                                    $('#VotePointContainer').show();
                                    $('#VotePointItem').html(data.result.votePoint);
                                    $('#VoteAmount').removeAttr('required');
                                } else {
                                    $('#VoteTypeAmountContainer').hide();
                                    $('#VotePointContainer').hide();
                                    $('#VoteAmount').attr('disabled', 'disabled');
                                    $('#VoteAmount').removeAttr('required');

                                }
                            }
                        });
                });
            $('#ContestTypeId').trigger('change');
            $('#VoteTypeId').trigger('change');
        });
       
    </script>

}