﻿@using IContestPro.Web.Helpers
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.Contest.Dto.ContestDetailsDto>
@{
    ViewBag.Title = "Contests";
}
@section styles
{
    <style>
        .colorDefinition {
           background: transparent;
           color: #fff;
           border-color: transparent;
            font-size: 13px;
            width: auto;
            font-weight: normal;
        }
        .countdowntimer {
            position: relative;
            top: 51%;
        }
    </style>
}
@if (Model.Items.Count > 0)
{  
                    foreach (var item in Model.Items)
                    {
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-blog-slide">
                            <div class="blog-informations">
                                <div class="blog-details">
                                    <h3><a href="/Contest/@item.Contest.Permalink">@item.Contest.Title</a></h3>
                                    <h5><i class="fa fa-clock-o"></i> @item.Contest.CreationTime.ToString("h:mm:ss tt")
                                        <i class="fa fa fa-calendar margin-left-30"></i> @item.Contest.CreationTime.ToString("D")
                                    </h5>
                                </div>
                            </div>
                            <div class="images">
                                <a href="/Contest/@item.Contest.Permalink"><img src="~/images/uploads/@item.Contest.Picture" alt=""></a>
                                <span>@item.Contest.CreationTime.ToString("dd") <br>@item.Contest.CreationTime.ToString("MMM")</span>
                                <div class="overley">
                                    <ul>
                                        <li><a href="/Contest/@item.Contest.Permalink"><i class="fa fa-eye"></i></a></li>
                                        <li><a target="_blank" href="~/images/uploads/@item.Contest.Picture" data-lightbox="example-set" data-title="Image Title"><i class="fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <ul>
                                <li><span>by</span> @item.Contest.Sponsor.Name | </li>
                                <li><span>@item.TotalEntries</span> Entries | </li>
                                <li><span>@item.TotalVotes</span> Votes | </li>
                                <li><span>@item.TotalComments</span> Comments</li>
                                <li class="pull-right"><span>End Date</span> @item.Contest.EndDate.ToString("M")</li>
                                <li class="pull-right"><span>Start Date</span> @item.Contest.StartDate.ToString("M") | </li>
                            </ul>
                            <div class="blog-informations">

                                <div class="blog-details">
                                    <p>@item.Contest.Description.Substring(0, 200)</p>
                                    <div class="read-more">
                                        <a href="/Contest/@item.Contest.Permalink">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row content-info">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="blog-content-tag">
                                    <ul>
                                        @if (item.Contest.Tags != null)
                                        {
                                            <li> <span>Tags: </span> </li>
                                            foreach (var tag in item.Contest.Tags.Split(','))
                                            {
                                                <li><a href="#">@tag,</a></li>
                                            }   
                                        }
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                                <div class="blog-content-share-social-icons">
                                    <ul>
                                        <li> <span>Share: </span> </li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    
                        int page = ViewBag.Page;
                        int pageSize = ViewBag.PageSize;
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            @Html.Paginate(Model.TotalCount, page, pageSize, "Contest", "Index")
                        </div>
                    </div>
               
}
