﻿@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.Contest.Dto.ContestWithFilterDto>
@using IContestPro.Web.Helpers
@using IContestPro

@{
    ViewBag.Title = "Contests";
    int page = ViewBag.Page;
    int pageSize = ViewBag.PageSize;
}

@section styles
{
    <style>
        .colorDefinition {
           background: transparent;
           color: #fff;
           border-color: transparent;
            font-size: 13px;
            width: auto;
            font-weight: normal;
        }
        .countdowntimer {
            position: relative;
            top: 51%;
        }
    </style>
}
<article>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li>Contests</li>
        </ol>
    </nav>
    @if (Model.Items.Count > 0)
    {
        <section class="row">
            <!--CONTESTS BODY-->
 <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <article class="contest-filter-wrapper">
         <div class="col-md-8">
             <span>
                 <strong>Type: </strong>
             </span>
             @if (ViewBag.Type != "all")
             {
                 <a asp-controller="Contest" asp-action="Index" asp-route-type="all" asp-route-pageSize="@pageSize" asp-route-view="@ViewBag.ViewType">ALL</a>
             }
             else
             {
                 <span>ALL</span>
             }  
             <span class="separator">|</span>
             @if (ViewBag.Type != "paid")
             {
                 <a asp-controller="Contest" asp-action="Index" asp-route-type="paid" asp-route-pageSize="@pageSize" asp-route-view="@ViewBag.ViewType">PAID</a>
             }
             else
             {
                 <span>PAID</span>
             }  
             <span class="separator">|</span>
             @if (ViewBag.Type != "vp")
             {
                 <a asp-controller="Contest" asp-action="Index" asp-route-type="vp"  asp-route-pageSize="@pageSize" asp-route-view="@ViewBag.ViewType">VP</a>
             }
             else
             {
                 <span>VP</span>
             }
             <span class="separator">|</span>
             @if (ViewBag.Type != "free")
             {
                 <a asp-controller="Contest" asp-action="Index" asp-route-type="free"  asp-route-pageSize="@pageSize" asp-route-view="@ViewBag.ViewType">FREE</a>
             }
             else
             {
                 <span>FREE</span>
             }
             <span class="separator">|</span>
             @if (ViewBag.Type != "coded")
             {
                 <a asp-controller="Contest" asp-action="Index" asp-route-type="coded"  asp-route-pageSize="@pageSize" asp-route-view="@ViewBag.ViewType">CODED</a>
             }
             else
             {
                 <span>CODED</span>
             }
             <span class="separator">|</span>
             @if (ViewBag.Type != "everyoneWin")
             {
                 <a asp-controller="Contest" asp-action="Index" asp-route-type="everyoneWin"  asp-route-pageSize="@pageSize" asp-route-view="@ViewBag.ViewType">EVERYONE WIN</a>
             }
             else
             {
                 <span>EVERYONE WIN</span>
             }
             <span class="separator">|</span>
             @if (ViewBag.Type != "highestVote")
             {
                 <a asp-controller="Contest" asp-action="Index" asp-route-type="highestVote"  asp-route-pageSize="@pageSize" asp-route-view="@ViewBag.ViewType">HIGHEST VOTE</a>
             }
             else
             {
                 <span>HIGHEST VOTE</span>
             }
       
         </div>
         <div class="col-md-4">
             <section class="hidden-sm hidden-xs">
                 @if (ViewBag.ViewType != AppConsts.ViewTypeGrid)
                 {
                     <a asp-controller="Contest" asp-action="Index" asp-route-type="@ViewBag.Type" asp-route-view="grid">GRID VIEW</a>
                 }
                 else
                 {
                     <span>GRID VIEW</span>
                 }
                 <span class="separator">|</span>

                 @if (ViewBag.ViewType != AppConsts.ViewTypeList)
                 {
                     <a asp-controller="Contest" asp-action="Index" asp-route-type="@ViewBag.Type" asp-route-view="list">LIST VIEW</a>
                 }
                 else
                 {
                     <span>LIST VIEW</span>
                 }
                 <span class="separator">|</span>
                 <select class="form-control home-items-paged-number" data-type="@ViewBag.Type" data-view="@ViewBag.ViewType" data-page="@ViewBag.Page" data-pageSize="@ViewBag.PageSize" name="pageSize">
                     <option selected="@(pageSize == 10)">10</option>
                     <option selected="@(pageSize == 20)">20</option>
                     <option selected="@(pageSize == 30)">30</option>
                     <option selected="@(pageSize == 50)">50</option>
                     <option selected="@(pageSize == 80)">80</option>
                     <option selected="@(pageSize == 100)">100</option>
                 </select>
             </section>
        
        

         </div>
     </article>
     <div class="clearfix"></div>
                @Html.Partial("_HomePageContestBody", Model)
     @if (Model != null && Model.Items.Any() && Model.TotalCount > pageSize)
     {
         <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                 @Html.Paginate(Model.TotalCount, page, pageSize, "Contest", "Index", "view=" +  (string)ViewBag.ViewType + (ViewBag.Type != null ? "&type=" + (string)ViewBag.Type : ""))
             </div>
         </div> 
     }
            </article>
            <!--/CONTESTS BODY-->
           
        </section>

    }
    else
    {
        <div class="alert alert-info">
            <div class="row">
                <div class="col-md-4 col-sm-3 col-xs-3">
                    <i class="fa fa-cloud" style="font-size: 15em;"></i>
                </div>
                <div class="col-md-8 col-sm-9 col-xs-9">
                    <h3>There Are No Contests</h3>
                    <p>There are no contests now. You can create and promote your contest by clicking the link below</p>
                    <p class="margin-top-30"><a class="btn" href="/Contest/Create">Click to create</a></p>
                </div>
            </div>



        </div>
    }

</article>
@section scripts
{
    <script>
        $(function() {
            var totalContestsOnPage = @Model.Items.Count;
            for (var i = 1; i <= totalContestsOnPage; i++) {
                $(".CountDownTimer" + i).TimeCircles(
                    {
                        fg_width: .015,
                        bg_width: .8,
                        circle_bg_color: "#e1e1e1",
                        time: {
                            Days: { color: "#ff574f" },
                            Hours: { color: "#ff574f" },
                            Minutes: { color: "#ff574f" },
                            Seconds: { color: "#ff574f" }
                        }
                    });
            }
            $('.home-items-paged-number').change(function() {
                document.location.href = window.location.origin + '/Contest/?type=' + $(this).data('type') + '&view=' + $(this).data('view') + '&page=' + $(this).data('page')+ '&pageSize=' + $(this).val();
            });
            
            $(document).on('click', '.share-button', function() {
                console.log("Hey!!!");

                var element = $(this);
                var host = window.location.origin;
                var facebookLink = 'https://www.facebook.com/sharer/sharer.php?u=' + host + '/Contest/' + element.data('token');
                console.log(facebookLink);
                $('.social-button[data-network="facebook"]').find('a').attr('href', facebookLink);
                var twitterLink = 'https://twitter.com/intent/tweet?text=' + host + '/Contest/' + element.data('token');
                $('.social-button[data-network="twitter"]').find('a').attr('href', twitterLink);
                var linkedInLink = 'https://www.linkedin.com/shareArticle?mini=true&url=' + host + '/Contest/' + element.data('token') + '&title=' + encodeURIComponent(element.data('title')) + '&summary=' + encodeURIComponent(element.data('description')) + '&source=icontestpro.com';
                $('.social-button[data-network="linkedin"]').find('a').attr('href', linkedInLink);
                var pinterestLink = 'https://pinterest.com/pin/create/button/?url=' + host + '/Contest/' + element.data('token') + '&media=' + host + '/images/uploads/' + element.data('media') + '&description=' + encodeURIComponent(element.data('description'));
                $('.social-button[data-network="pinterest"]').find('a').attr('href', pinterestLink);
                var emailLink = 'mailto:?subject=' + encodeURIComponent(element.data('title')) + '&body=' + encodeURIComponent(element.data('description')) + '%0D%0A%0D%0A' + host + '/Contest/' + element.data('token');
                $('.social-button[data-network="email"]').find('a').attr('href', emailLink);
                $('#socialShareModal').modal('show');
                console.log($(this).data('token'));
            }); 
            
        });
    </script>
}
