﻿@using IContestPro
@using IContestPro.Helpers
@using IContestPro.Web.Helpers.Claims
@model IContestPro.Contest.Dto.ContestDetailsDto

@{
    ViewBag.Title = Model.Contest.Title;
    ViewBag.ReturnUrl = Context.Request.Path;
}
@section Scripts
{
        <script src="~/js/angular.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Contest/contestDetailsCommentController.js" asp-append-version="true"></script>
    <script>
        $(function() {
            $.post('/Contest/IncrementView', {ContestId: @(Model.Contest.Id)},
                function (data) {
                    console.log(data);
                });
        });
    </script>
}
@{
    var nickname = User.GetNickName();
    var profileImage = User.GetImage();
}
<section ng-app="myContestApp" ng-controller="contestDetailsCommentController" ng-init="contestId = @Model.Contest.Id; userId = @(AbpSession.UserId ?? 0); nickname = '@nickname'; profileImage = '@profileImage';">
  
<div class="single-blog-page-area no-padding-top">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Contest" asp-action="Index">Contests</a></li>
        <li>@Model.Contest.Title</li>
    </ol>
</nav>
<div class="container">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

<div class="single-news-page">
<h3><a>@Model.Contest.Title</a></h3>
<h5><i class="fa fa-clock-o"></i> @Model.Contest.CreationTime.ToString("h:mm:ss tt")
    <i class="fa fa fa-calendar margin-left-30"></i> @Model.Contest.CreationTime.ToString("D")
</h5>
<div class="news-featured-image">
    <a onclick="return false;">
        <img src="~/images/uploads/@Model.Contest.Picture" alt="@Model.Contest.Title"/>
    </a>

</div>
<article class="row">
    <div class="col-md-10">
        <section class="row">
            <div class="col-md-2">
                <a href="/Sponsor/@Model.Contest.Sponsor.Permalink">
                    <img src="~/images/uploads/@Model.Contest.Sponsor.Logo" width="60" alt="@Model.Contest.Sponsor.Name" title="@Model.Contest.Sponsor.Name">
                </a>
            </div>
            <div class="col-md-10">
                <ul class="inline-list">
                    <li><span>@Model.TotalEntries</span> Entries | </li>
                    <li><span>@Model.TotalVotes</span> Votes | </li>
                    <li><span>@Model.TotalComments</span> Comments | </li>

                    <li><span>End Date</span> @Model.Contest.EndDate.ToString("M") | </li>
                    <li><span>Start Date</span> @Model.Contest.StartDate.ToString("M") </li>
                </ul>

            </div>
        </section>
    </div>


</article>

@{
    var diffInSeconds = (Model.Contest.EndDate - DateTime.UtcNow).TotalSeconds;
}
<div class="CountDownTimer margin-bottom-20" data-timer="@diffInSeconds">
    <div class="time_circles"><canvas width="506" height="126"></canvas>
        <div class="textDiv_Days" style="top: 44px; left: 0px; width: 126.5px;"><span style="font-size: 35px;">46</span><h4 style="font-size: 9px;">Days</h4></div>
        <div class="textDiv_Hours" style="top: 44px; left: 127px; width: 126.5px;"><span style="font-size: 35px;">5</span><h4 style="font-size: 9px;">Hours</h4></div>
        <div class="textDiv_Minutes" style="top: 44px; left: 253px; width: 126.5px;"><span style="font-size: 35px;">15</span><h4 style="font-size: 9px;">Minutes</h4></div>
        <div class="textDiv_Seconds" style="top: 44px; left: 380px; width: 126.5px;"><span style="font-size: 35px;">12</span><h4 style="font-size: 9px;">Seconds</h4></div></div>
</div>
@*<ul>
                            <li><span>by</span> @Model.Contest.Company.Name | </li>
                            <li><span>@Model.TotalEntries</span> Entries | </li>
                            <li><span>@Model.TotalVotes</span> Votes | </li>
                            <li><span>@Model.TotalComments</span> Comments</li>
                            <li class="pull-right"><span>End Date</span> @Model.Contest.EndDate.ToString("M")</li>
                            <li class="pull-right"><span>StartDate Date</span> @Model.Contest.StartDate.ToString("M") | </li>
                        </ul>*@
<div class="single-blog-content">
    <p>
        @Model.Contest.Description
    </p>
    <blockquote>
        <p>
            <strong>Objective: </strong><br/>
            @Model.Contest.Objective
        </p>
        <div><strong>Category: </strong>@Model.Contest?.ContestCategory?.Name</div>
        <div><strong>Type: </strong>@Model.Contest?.ContestType?.Name</div>
        <div><strong>Entry: </strong>@Model.Contest?.ContestEntryType?.Name</div>
        <div><strong>Minimum Participants: </strong>@Model.Contest?.MinimumParticipants</div>
        <div><strong>Entry Start Date : </strong>@Model.Contest.EntryStartDate.ToString("M")</div>
        <div><strong>Entry End Date: </strong>@Model.Contest.EntryEndDate.ToString("M")</div>
        <div><strong>Start Date : </strong>@Model.Contest.StartDate.ToString("M")</div>
        <div><strong>End Date: </strong>@Model.Contest.EndDate.ToString("M")</div>
        @if (Model.Contest?.ContestType?.Name == AppConsts.ContestTypePaid)
        {
            <p><strong>Entry Amount: </strong>@AppConsts.NairaSymbol@Model.Contest?.EntryAmount?.ToString("N")</p>
        }

        <h3 class="margin-top-20 no-margin-bottom">Voting</h3>
        <div><strong>Vote Type: </strong>@Model.Contest?.VoteType?.Name</div>
        @if (Model.Contest?.VoteType?.Name == AppConsts.VoteTypePaid)
        {
            <div><strong>Vote Amount: </strong>@Model.Contest?.VoteAmount?.ToNairaString()</div>
        }
        else if (Model.Contest?.VoteType?.Name == AppConsts.VoteTypeVotePoint)
        {
            <div><strong>Vote Point: </strong>@Model.Contest?.VoteType.VotePoint</div>
        }


        <br/>
        <br/>
        <div class="flex-container">
            @if (Model.Contest.Status.Name == AppConsts.StatusLive && Model.Contest?.EntryStartDate < DateTime.Now && Model.Contest?.EntryEndDate > DateTime.Now)
            {
                <a href="/Contest/Entries/Join/@Model.Contest?.Permalink" class="btn btn-default flex-item"><i class="fa fa-plus-circle"></i> Join</a>
            }
            <a href="/Contest/Entries/@Model.Contest?.Permalink" class="btn btn-black-inverse flex-item"><span>@Model.TotalEntries</span> Entries</a>
            <a class="btn btn-warning flex-item" asp-action="Contest" asp-controller="Votes" asp-route-id="@Model.Contest.Permalink"><span>@Model.TotalVotes</span> Votes</a>
        </div>

    </blockquote>
</div>
<div class="row content-info">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="blog-content-tag">
            <ul>
                @if (Model.Contest.Tags != null)
                {
                    <li> <span>Tags: </span> </li>
                    foreach (var tag in Model.Contest.Tags.Split(','))
                    {
                        <li><a asp-action="Tag" asp-route-id="@System.Web.HttpUtility.UrlEncode(tag)">@tag,</a></li>
                    }
                }

            </ul>
        </div>
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
        <div class="blog-content-share-social-icons">
            <ul>
                <li> <span>Share: </span> </li>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/intent/tweet?text=@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://pinterest.com/pin/create/button/?url=@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path&media=@Context.Request.Scheme://@Context.Request.Host/images/uploads/@Model.Contest.Picture&description=@Model.Contest.Objective" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path&title=@Model.Contest.Title&summary=@Model.Contest.Objective&source=icontestpro.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row author-post" id="author-post">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="about-author-post">
            <h2>About The Sponsor</h2>
            <div class="single-author-post">
                <div>

                    <div class="media-body">
                        <h4 class="media-heading padding-bottom-20">
                            <a class="pull-left" href="/Sponsor/@Model.Contest.Sponsor.Permalink">
                                @Model.Contest.Sponsor?.Name </a>
                        </h4>
                        <p>
                            <a class="pull-left" href="/Sponsor/@Model.Contest.Sponsor.Permalink">
                                <img src="~/images/uploads/@Model.Contest.Sponsor.Banner" alt="@Model.Contest.Sponsor?.Name" class="img-responsive"/>
                            </a>
                        </p>

                    </div>
                    <br/>
                    <p>
                        @(Model.Contest.Sponsor?.Description.Length > 500 ? Model.Contest.Sponsor?.Description.Substring(0, 500) : Model.Contest.Sponsor?.Description)
                    </p>
                    <p>
                        <a href="/Sponsor/@Model.Contest.Sponsor.Permalink" class="btn btn-danger">Read More...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="row author-comment" id="comment-wrp">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="about-author-comment" ng-if="comments.length > 0">
            <h2>Recent Comments({{totalCount}})</h2>
            <div>
                <div class="single-author-comment" ng-repeat="comment in comments">
                    <div class="media">
                        <a class="pull-left" href="/User/{{comment.user.permalink}}">
                            <img ng-src="{{'/images/uploads/' + comment.user.image}}" image-exists class="img-responsive img-thumbnail" width="100" alt="{{comment.user.nickName}}"/>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a target="_blank" href="/User/{{comment.user.permalink}}">
                                    {{comment.user.nickName}}
                                </a>
                            </h4>
                            <ul>
                                <li>{{comment.creationTime | date : 'longDate' }} @@ {{comment.creationTime | date : 'shortTime'}} </li>
                                @*<li class="right"><i class="fa fa-share"></i> Reply</li>*@
                            </ul>
                            <p>{{comment.comment}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row text-center margin-bottom-30" ng-if="processing">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img src="~/images/loading2.gif"/>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="leave-comments-area">
            <h4>Leave a Comment</h4>
            <form>
                <fieldset>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-10 col-sm-10 col-xs-12 no-padding-right">
                                    <textarea style="padding-bottom: 14px; height: 62px;" class="textarea form-control" ng-model="comment" placeholder="Your Comment"></textarea>
                                    <br/>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-xs-12 no-padding-left">
                                    <button class="btn-send no-margin-top" ng-click="postComments();" type="submit"> <i class="fa fa-send fa-2x"></i></button>
                                </div>
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="alert alert-danger" ng-if="errorLogin">{{errorLogin}} <a class="btn btn-success pull-right" href="@Url.Action("Login", "Account", new {ViewBag.ReturnUrl})"><i class="fa fa-sign-in"></i> Login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
</div>
</div>

</div>
</div>
</div>
</section>
