﻿@using IContestPro
@using Microsoft.AspNetCore.Hosting
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.Contest.Dto.PastWinnersDto>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHostingEnvironment HostingEnvironment
@using IContestPro.Web.Helpers
@using File = System.IO.File
@{
	int page = ViewBag.Page;
	int pageSize = ViewBag.PageSize;
	ViewBag.Title = "Past Winners";
}
@section styles
{
	<style>
		.overlay {
			display: inline-block;
			position: relative;
			vertical-align: top;
		}
		.team .thumbnail {
			text-align: center;
			padding: 0 0 30px 0;
			height: 530px;
		}
		.team .thumbnail img {
			max-width: 100%;
			display: block;
			background-size: cover;
		}
		.overlay-body {
			background: #FD2F2F;
			bottom: 0;
			color: white;
			font-size: 1em;
			left: 0;
			opacity: 0;
			overflow: hidden;
			padding: 3.75em 3em;
			position: absolute;
			text-align: center;
			top: 0;
			right: 0;
			-webkit-transition: 0.6s;
			transition: 0.6s;
		}
		.overlay-body:hover {
			opacity: .8;
		}
		.overlay-body .btn {
			margin-top: 50%;
			cursor: pointer;
			text-decoration: none;
			padding: 7px 14px;
			color: #fff;
			border: 1px solid #FFFFFF;
			text-transform: uppercase;
			-webkit-box-shadow: 0 0 1px #000;
			-moz-box-shadow: 0 0 1px #000;
			box-shadow: 0 0 1px #878787;
			position: absolute;
			z-index: 1;
			left: 30%;
		}
		.overlay-body:after, .overlay-body:before {
			border: 1px solid rgba(255, 255, 255, 0.7);
			bottom: 1em;
			content: '';
			left: 1em;
			opacity: 0;
			position: absolute;
			right: 1em;
			top: 1em;
			-webkit-transform: scale(1.5);
			-ms-transform: scale(1.5);
			transform: scale(1.5);
			-webkit-transition: 0.6s 0.2s;
			transition: 0.6s 0.2s;
		}
		.overlay-body:before {
			border-bottom: none;
			border-top: none;
			left: 2em;
			right: 2em;
		}
		.overlay-body:after {
			border-left: none;
			border-right: none;
			bottom: 2em;
			top: 2em;
		}
		.team .thumbnail span {
			color: #FD2F2F;
		}
		.team .thumbnail .icon-wrapper {
			padding-top: 10px;
		}

		.social-icons .fa {
			width: 35px;
			height: 35px;
			line-height: 35px;
			text-align: center;
			color: #FFF;
			color: rgba(255, 255, 255, 0.8);
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			-ms-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
		}
		.social-icons .fa {
			font-size: 1.3em;
		}

		.social-icons.icon-circle .fa {
			border-radius: 50%;
		}
		.social-icons .fa-facebook {
			background-color: #4267B2;
		}
		.social-icons .fa-twitter {
			background-color: #55acee;
		}
		.social-icons .fa-linkedin {
			background-color: #1377B5;
		}
		.social-icons .fa-instagram {
			background-color: #CB2027;
		}

		@@media (max-width: 767px) {
		.team .thumbnail {
			height: auto;
		}
		}

		</style>
}
<article>
	<nav aria-label="breadcrumb" style="width: 102%;">
		<ol class="breadcrumb no-margin-bottom">
			<li><a asp-controller="Home" asp-action="Index">Home</a></li>
			<li>Past Winners</li>
		</ol>
	</nav>
		
    @if (Model.Items.Count > 0)
    {
        <section class="row winner-area padding-top-20 margin-top-20 mobile-no-margin-left mobile-no-margin-right">
            <!--CONTESTS BODY-->
 <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	 <div class="row team mobile-no-margin-left mobile-no-margin-right">
		 @foreach (var item in Model.Items)
		 {
		 
			 <div class="col-sm-6 col-md-4">
				 <div class="thumbnail">
					 <div class="overlay">
						 @if (File.Exists(HostingEnvironment.WebRootPath + $"/images/uploads/{item.Image}"))
						 {
							 <img src="/images/uploads/@item.Image" alt="@item.NickName">
						 }
						 else
						 {
								 <img src="/images/userbig.png" alt="@item.NickName"/>
						 }
						 <div class="overlay-body">
							 <a href="@AppRoutingConsts.UserProfile(item.Permalink)" class="btn btn-danger">Know More</a>
						 </div>

					 </div>
					 <h3 class="margin-top-20 margin-bottom-10">@item.NickName</h3>
					 <span>@item.Profession</span>
					 <article style="text-align: left; padding-left: 20px;">
						 <div><strong>Votes: </strong> <span>@item.TotalVotes</span></div>
						 <div><strong>Contest: </strong> <a href="@AppRoutingConsts.ContestDetails(item.ContestPermalink)"><span>@item.ContestTitle</span></a></div>
						 <div><strong>Contest Type: </strong> <span>@item.ContestType</span></div>
						 <div><strong>Contest Category: </strong> <span>@item.ContestCategory</span></div>
					 </article>
					
					 <div class="icon-wrapper margin-top-20">
						 <ul class="social-icons icon-circle list-unstyled list-inline">
							 <li>
								 <a target="_blank" href="@item.FaceBook"> <i class="fa fa-facebook"></i> </a>
							 </li>
							 <li>
								 <a target="_blank" href="@item.Twitter"> <i class="fa fa-twitter"></i> </a>
							 </li>
							 <li>
								 <a target="_blank" href="@item.LinkedIn"> <i class="fa fa-linkedin"></i> </a>
							 </li>

							 <li>
								 <a target="_blank" href="@item.Instagram"> <i class="fa fa-instagram"></i> </a>
							 </li>
							
						 </ul>
					 </div>
				 </div>
			 </div>
		 }
		
	 </div>
	 @if (Model != null && Model.Items.Any() && Model.TotalCount > pageSize)
	 {
		 <div class="row">
			 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				 @Html.Paginate(Model.TotalCount, page, pageSize, "Contest", "PastWinners")

			 </div>
		 </div>
	 }
</article>
 </section>

    }
    else
    {
	    <div class="alert alert-info">
		    <div class="row">
			    <div class="col-md-4 col-sm-3 col-xs-3">
				    <i class="fa fa-cloud" style="font-size: 15em;"></i>
			    </div>
			    <div class="col-md-8 col-sm-9 col-xs-9">
				    <h3>There Are No Past Winners</h3>
				    <p>There are no past winners now. This list will be populated at the end of the contests</p>
			    </div>
		    </div>
	    </div>
    }

</article>
		

@section scripts
{
	<script>
		
	</script>
}
