﻿@using IContestPro
@using IContestPro.Helpers
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.Contest.Dto.ContestDetailsDto>

@{
    ViewBag.Title = "Contests";
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.ContestPersonal;
}
@section styles
{
    <link href="~/style.css" type="text/css" rel="stylesheet"/>
    <style>
        .blog-page-area .blog-informations {
            height: 480px;
        }
    </style>
}
@section Scripts
{
    <script src="~/view-resources/Views/Contest/contestpages.js" asp-append-version="true"></script>
}
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Personal Contests</h3>
                    </div> 
                    <div class="col-md-6 margin-bottom-20 text-right">
                        <a asp-action="Create" class="btn"><i class="fa fa-plus-circle"></i> Create Contest</a>
                    </div>
                </div> 
                <div class="blog-page-area no-padding">
                    @if (Model.Items.Count > 0)
                    {
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           
                             @foreach (var item in Model.Items)
                            {
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="single-blog-slide">
                                        <div class="images">
                                            <a asp-action="Details" asp-route-id="@item.Contest.Permalink"><img src="~/images/uploads/@item.Contest.Picture" alt=""></a>
                                            <span>@item.Contest.CreationTime.ToString("dd") <br>@item.Contest.CreationTime.ToString("MMM")</span>
                                            <div class="overley">
                                                <ul>
                                                    <li><a asp-action="Details" asp-route-id="@item.Contest.Permalink"><i class="fa fa-eye"></i></a></li>
                                                    <li><a target="_blank" href="~/images/uploads/@item.Contest.Picture" data-lightbox="example-set" data-title="Image Title"><i class="fa fa-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-informations">

                                            <div class="blog-details">
                                                <h3><a asp-action="Details" asp-route-id="@item.Contest.Permalink">@item.Contest.Title</a></h3>
                                                <p>@(item.Contest.Description.Length > 200 ? item.Contest.Description.Substring(0, 200) : item.Contest.Description)</p>
                                                <div> <strong>Start Date: </strong>@item.Contest.StartDate.ToString("M")
                                                    <br/>
                                                    <strong>End Date: </strong>@item.Contest.EndDate.ToString("M")
                                                    <br/>
                                                    <strong>Featured: </strong>@item.Contest.IsFeatured
                                                    <br/>
                                                    <strong>Total Entries: </strong>@item.TotalEntries
                                                    <br/>
                                                    <strong>Total Votes: </strong>@item.TotalVotes
                                                    <br/>
                                                    <strong>Total Comments: </strong>@item.TotalComments
                                                    </div> 
                                                @if (item.Contest.Status?.Name != AppConsts.StatusPaymentPending)
                                                {
                                                    <div>
                                                        <strong>Status: </strong>@item.Contest.Status?.Name.ToFormattedName()
                                                        @if (item.Contest.Status?.Name == AppConsts.StatusLive)
                                                        {
                                                            <span class="badge badge-danger pull-right">You cannot edit live contest. Contact admin </span>
                                                        }
                                                        </div> 
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <strong>Status: </strong>@item.Contest.Status.Name.ToFormattedName()
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            @if (item.Contest.Status?.Name == AppConsts.StatusPaymentPending)
                                                            {
                                                                <div>
                                                                    <a class="btn btn-success animated fadeIn infinite" asp-action="Details"
                                                                       asp-route-id="@item.Contest.Permalink"><i class="fa fa-money"></i> Make Payment</a></div>

                                                            }
                                                            else if (item.Contest.Status?.Name == AppConsts.StatusPaymentFailed)
                                                            {
                                                                <span class="badge badge-danger">Payment Failed</span>
                                                            }
                                                        </div>

                                                    </div>
                                                }
                                               
                                                <div class="margin-top-30 flex-container">
                                                    <a class=" btn btn-danger btn-sm flex-item" asp-action="EntriesAdmin" asp-controller="ContestEntry" asp-route-id="@item.Contest.Permalink">Entries</a>
                                                    <a class=" btn btn-warning-inverse btn-sm flex-item" asp-action="Details" asp-route-id="@item.Contest.Permalink">Read More</a>
                                                    @if (item.Contest.Status?.Name != AppConsts.StatusLive)
                                                    {
                                                        <a class="btn btn-warning btn-sm  flex-item" asp-action="Edit" asp-route-id="@item.Contest.Id">Edit</a>
                                                    }
                                                    @if (!item.Contest.IsFeatured && item.Contest.Status?.Name == AppConsts.StatusLive)
                                                    {
                                                        <a class="btn btn-success btn-sm flex-item" asp-action="CreateEdit" asp-controller="FeaturedContests" asp-route-reference="@item.Contest.Id">Promote</a>
                                                    }
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }  
                           


                        </div>

                    </div>
                    <div class="row">
                        @{
                            int page = ViewBag.Page;
                            int pageSize = ViewBag.PageSize;
                        }
                        @Html.PaginateAdmin(Model.TotalCount, page, pageSize, "Contest", "Personal")
                        </div>
                            }
                            else
                            {
                                <div class="alert alert-info"><p>No personal contests</p></div>
                            }

                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
