﻿@model IContestPro.AdvertTopBanner.Dto.AdvertTopBannerDto
@if (Model != null)
{
    <div class="top-banner-container">
        <a href="@Model.ExternalUrl" target="_blank" style="background: url('/images/uploads/@Model.Image') 100% 100% no-repeat;">&nbsp;</a>
    </div>   
}

