﻿@using System.Linq
@using IContestPro
@using Microsoft.AspNetCore.Hosting
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.LeaderBoard.Dto.LeaderBoardContestDto>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHostingEnvironment HostingEnvironment
@using IContestPro.Web.Helpers
@using File = System.IO.File

@{
	string displayType = ViewBag.DisplayType;
}

<section class="row">
	<!--CONTESTS BODY-->
	<article class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<section class="leader-board-main">
	<div>
		<div class="row">
			<div class="col-md-12">
				<nav aria-label="breadcrumb" style="background-color: #f5f5f5;">
					<ol class="breadcrumb">
						<li><a asp-controller="Home" asp-action="Index">Home</a></li>
						<li><a asp-controller="Contest" asp-action="Index">Contests</a></li>
						<li>Leader Board</li>
					</ol>
					<form asp-action="Index" method="get" style="margin: 20px 20px 20px 20px;padding-bottom: 1px;">
						<div class="form-group">
							<div class="row">
								<div class="col-md-10">
									<select name="displayType" class="form-control" style="width: 90%">
										<option value="">-- Select Filter --</option>
										<option value="@AppConsts.LeaderBoardDisplayTypeLifetime" selected="@(displayType == AppConsts.LeaderBoardDisplayTypeLifetime)">@AppConsts.LeaderBoardDisplayTypeLifetime</option>
										<option value="@AppConsts.LeaderBoardDisplayTypeMonthly" selected="@(displayType == AppConsts.LeaderBoardDisplayTypeMonthly)">@AppConsts.LeaderBoardDisplayTypeMonthly</option>
										<option value="@AppConsts.LeaderBoardDisplayTypeWeekly" selected="@(displayType == AppConsts.LeaderBoardDisplayTypeWeekly)">@AppConsts.LeaderBoardDisplayTypeWeekly</option>
									</select>
								</div>
								<div class="col-md-2 mobile-margin-top-10">
									<button class="btn rounded-corners" type="submit">Filter</button>
								</div>
							</div>
						</div>
					</form>
				</nav>
			</div>
			
		</div>
		
		

	</div>
	@if (Model.Items != null && Model.Items.Any())
	{
		var countDownCounter = 1;
		foreach (var item in Model.Items)
		{
			<div class="home-about-photo-contest-area leader-board-wrapper padding-top-20 padding-left-20 padding-right-20 padding-bottom-20">
				<div class="row full-photocontest-area padding-bottom-50 leader-board-inner">
					<div class="col-sm-6">
						<div class="single-section contest-container">
							<h3 class="margin-bottom-20 margin-top-20"><a href="@AppRoutingConsts.ContestDetails(item.Permalink)">@item.Title</a></h3>
							<div class="section-img">
								<a href="@AppRoutingConsts.ContestDetails(item.Permalink)">
									<img src="/images/uploads/@item.Picture" alt="single Images">
								</a>
							</div>
						</div>
						<div class=" margin-top-20 margin-bottom-20">
							<ul id="meta-text">
								<li class="date"><i class="fa fa-calendar-check-o"></i>@item.StartDate.ToString("MMM dd, yyyy")</li>
								<li class="date"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> @item.EndDate.ToString("MMM dd, yyyy")</li>
							</ul>
						</div>

						<div class="countdown-section">
							<div class="row">
								<div class="col-sm-11">
									@{
										var diffInSeconds = (item.EndDate - DateTime.UtcNow).TotalSeconds;
									}
									<div class="CountDownTimer@(countDownCounter) margin-bottom-20" data-timer="@diffInSeconds">
										<div class="time_circles"><canvas width="506" height="126"></canvas>
											<div class="textDiv_Days" style="top: 44px; left: 0px; width: 126.5px;"><span style="font-size: 35px;">46</span><h4 style="font-size: 9px;">Days</h4></div>
											<div class="textDiv_Hours" style="top: 44px; left: 127px; width: 126.5px;"><span style="font-size: 35px;">5</span><h4 style="font-size: 9px;">Hours</h4></div>
											<div class="textDiv_Minutes" style="top: 44px; left: 253px; width: 126.5px;"><span style="font-size: 35px;">15</span><h4 style="font-size: 9px;">Minutes</h4></div>
											<div class="textDiv_Seconds" style="top: 44px; left: 380px; width: 126.5px;"><span style="font-size: 35px;">12</span><h4 style="font-size: 9px;">Seconds</h4></div></div>
									</div>

								</div>
							</div>
						</div>

						<div class="link-section flex-container visible-lg visible-md">
							<a href="@AppRoutingConsts.ContestDetails(item.Permalink)" class="joni-btn primary-btn flex-item">Details</a>
							<a href="@AppRoutingConsts.ContestEntriesJoin(item.Permalink)" class="btn btn-warning flex-item">join now</a>
							<a asp-action="ShowMore" asp-route-id="@item.Permalink" class="btn btn-success flex-item">More</a>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="single-section">
							<h3 class="margin-top-20 margin-bottom-10">Top 10 Contestants</h3>

							@if (item.Votes != null && item.Votes.Any())
							{
								<div class="list-group">
									@foreach (var vote in item.Votes)
									{
										<div class="list-group-item leader-board-contestant-list-item">
											<div class="row">
												<div class="col-md-2 col-sm-2 col-xs-3">
													@if (File.Exists(HostingEnvironment.WebRootPath + $"/images/uploads/{vote.Image}"))
													{
														<a href="@AppRoutingConsts.UserProfile(vote.Permalink)">
															<img src="/images/uploads/@vote.Image" class="img-responsive"/>
														</a>
													}
													else
													{
														<a href="@AppRoutingConsts.UserProfile(vote.Permalink)">
															<img src="/images/user.png" class="img-responsive"/>
														</a>

													}
												</div>
												<div class="col-md-10 col-sm-10 col-xs-9">
													<a href="@AppRoutingConsts.UserProfile(vote.Permalink)">
														<h4 class="no-margin-bottom">@vote.NickName</h4>
													</a>
													<div><strong>Votes:</strong>@vote.TotalVotes</div>
												</div>
											</div>
										</div>
									}


								</div>
								<div class="link-section hidden-lg hidden-md">
									<a href="@AppRoutingConsts.ContestDetails(item.Permalink)" class="btn primary-btn btn-ms">Details</a>
									<a href="@AppRoutingConsts.ContestEntriesJoin(item.Permalink)" class="btn btn-warning btn-ms">join now</a>
									<a asp-action="ShowMore" asp-route-id="@item.Permalink" class="btn btn-success btn-ms">More</a>
								</div>
							}
							else
							{
								<div class="alert alert-info margin-top-20">
									<p>There are no entries on this contest for now. You can join this contest by clicking the link below</p>
									<p class="margin-top-30"><a href="@AppRoutingConsts.ContestEntriesJoin(item.Permalink)" class="btn">Click to join</a></p>
								</div>
							}


						</div>
					</div>
				</div>
			</div>
			countDownCounter++;

		}

		int page = ViewBag.Page;
		int pageSize = ViewBag.PageSize;
if (Model != null && Model.Items.Any() && Model.TotalCount > pageSize)
 {
	 <div class="row">
		 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
			 @Html.Paginate(Model.TotalCount, page, pageSize, "LeaderBoard", "Index",
				 displayType.Equals(AppConsts.LeaderBoardDisplayTypeLifetime) ?
					 $"&displayType={AppConsts.LeaderBoardDisplayTypeLifetime}" :
					 displayType.Equals(AppConsts.LeaderBoardDisplayTypeMonthly) ?
						 $"&displayType={AppConsts.LeaderBoardDisplayTypeMonthly}" :
						 displayType.Equals(AppConsts.LeaderBoardDisplayTypeWeekly) ?
							 $"&displayType={AppConsts.LeaderBoardDisplayTypeWeekly}" : "")

		 </div>
	 </div>
 }
	}
	else
	{
		<div class="alert alert-info">
			<div class="row">
				<div class="col-md-4 col-sm-3 col-xs-3">
					<i class="fa fa-cloud" style="font-size: 15em;"></i>
				</div>
				<div class="col-md-8 col-sm-9 col-xs-9">
					<h3>There Are No Contests</h3>
					<p>There are no contests now. You can create and promote your contest by clicking the link below</p>
					<p class="margin-top-30"><a class="btn" asp-action="Create" asp-controller="Contest">Click to create</a></p>
				</div>
			</div>



		</div>
	}
</section>

	</article>
	<!--/CONTESTS BODY-->
	
</section>



@section scripts
{
	<script>
		$(function() {
			var totalContestsOnPage = @Model.Items.Count;
			for (var i = 1; i <= totalContestsOnPage; i++) {
				$(".CountDownTimer" + i).TimeCircles(
					{
						fg_width: .015,
						bg_width: .8,
						circle_bg_color: "#e1e1e1",
						time: {
							Days: { color: "#ff574f" },
							Hours: { color: "#ff574f" },
							Minutes: { color: "#ff574f" },
							Seconds: { color: "#ff574f" }
						}
					});
			}
            
		});
	</script>
}
