﻿@using System.Linq
@using IContestPro
@using Microsoft.AspNetCore.Hosting
@model IContestPro.LeaderBoard.Dto.LeaderBoardContestDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHostingEnvironment HostingEnvironment
@using File = System.IO.File


	<section class="leader-board-main">
		
			<div class="home-about-photo-contest-area leader-board-wrapper no-padding-top padding-left-20 padding-right-20 padding-bottom-20">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li><a asp-controller="Home" asp-action="Index">Home</a></li>
						<li><a asp-controller="Contest" asp-action="Index">Contests</a></li>
						<li><a asp-controller="LeaderBoard" asp-action="Index">Leader Board</a></li>
						<li>Show More</li>
					</ol>
				</nav>
				<div class="row full-photocontest-area padding-bottom-50 leader-board-inner">

					<div class="col-sm-6">
						<div class="single-section contest-container">
							<h3 class="margin-bottom-20 margin-top-20"><a href="@AppRoutingConsts.ContestDetails(Model.Permalink)">@Model.Title</a></h3>
							<div class="section-img">
								<a href="">
									<img src="/images/uploads/@Model.Picture" alt="single Images">
								</a>
							</div>
						</div>
						<div class=" margin-top-20 margin-bottom-20">
							<ul id="meta-text">
								<li class="date"><i class="fa fa-calendar-check-o"></i>@Model.StartDate.ToString("MMM dd, yyyy")</li>
								<li class="date"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> @Model.EndDate.ToString("MMM dd, yyyy")</li>
							</ul>
						</div>

						<div class="countdown-section">
							<div class="row">
								<div class="col-sm-11">
									@{
										var diffInSeconds = (Model.EndDate - DateTime.UtcNow).TotalSeconds;
									}
									<div class="CountDownTimer margin-bottom-20" data-timer="@diffInSeconds">
										<div class="time_circles"><canvas width="506" height="126"></canvas>
											<div class="textDiv_Days" style="top: 44px; left: 0px; width: 126.5px;"><span style="font-size: 35px;">46</span><h4 style="font-size: 9px;">Days</h4></div>
											<div class="textDiv_Hours" style="top: 44px; left: 127px; width: 126.5px;"><span style="font-size: 35px;">5</span><h4 style="font-size: 9px;">Hours</h4></div>
											<div class="textDiv_Minutes" style="top: 44px; left: 253px; width: 126.5px;"><span style="font-size: 35px;">15</span><h4 style="font-size: 9px;">Minutes</h4></div>
											<div class="textDiv_Seconds" style="top: 44px; left: 380px; width: 126.5px;"><span style="font-size: 35px;">12</span><h4 style="font-size: 9px;">Seconds</h4></div></div>
									</div>

								</div>
							</div>
						</div>

						<div class="link-section flex-container visible-lg visible-md">
							<a href="@AppRoutingConsts.ContestDetails(Model.Permalink)" class="joni-btn primary-btn flex-item">Details</a>
							<a href="@AppRoutingConsts.ContestEntriesJoin(Model.Permalink)" class="btn btn-warning flex-item">join now</a>
							<a href="#" class="btn btn-success flex-item">More</a>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="single-section">
							<h3 class="margin-top-20 margin-bottom-10">Top @ViewBag.TotalTake Contestants</h3>

							@if (Model.Votes != null && Model.Votes.Any())
							{
								<div class="list-group">
									@foreach (var vote in Model.Votes)
									{
										<div class="list-group-item leader-board-contestant-list-item">
											<div class="row">
												<div class="col-md-2 col-sm-2 col-xs-3">
													@if (File.Exists(HostingEnvironment.WebRootPath + $"/images/uploads/{vote.Image}"))
													{
														<a href="@AppRoutingConsts.UserProfile(vote.Permalink)">
															<img src="/images/uploads/@vote.Image" class="img-responsive"/>	
														</a>
													}
													else
													{
														<a href="@AppRoutingConsts.UserProfile(vote.Permalink)">
															<img src="/images/user.png" class="img-responsive"/>
														</a>

													}
												</div>
												<div class="col-md-10 col-sm-10 col-xs-9">
													<a href="@AppRoutingConsts.UserProfile(vote.Permalink)">
														<h4 class="no-margin-bottom">@vote.NickName</h4>
													</a>
													<div><strong>Votes:</strong>@vote.TotalVotes</div>
												</div>
											</div>
										</div>
									}


								</div>
								<div class="link-section hidden-lg hidden-md">
									<a href="@AppRoutingConsts.ContestDetails(Model.Permalink)" class="btn primary-btn btn-ms">Details</a>
									<a href="@AppRoutingConsts.ContestEntriesJoin(Model.Permalink)" class="btn btn-warning btn-ms">join now</a>
									<a asp-action="ShowMore" asp-route-id="@Model.Permalink" class="btn btn-success btn-ms">More</a>
								</div>
							}
							else
							{
								<div class="alert alert-info margin-top-20">
									<p>There are no entries on this contest for now. You can join this contest by clicking the link below</p>
									<p class="margin-top-30"><a href="@AppRoutingConsts.ContestEntriesJoin(Model.Permalink)" class="btn">Click to join</a></p>
								</div>
							}


						</div>
					</div>
				</div>
			</div>

	</section>


