﻿@using IContestPro.Helpers
@using IContestPro.Web.Helpers.Claims
@using IContestPro.Web.Views.Shared.Components.SideBarUserArea
@using Microsoft.AspNetCore.Hosting
@model SideBarUserAreaViewModel
@inject IHostingEnvironment HostingEnvironment
@using File = System.IO.File

<div class="user-info">
    <section class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="image">
                @if (File.Exists(HostingEnvironment.WebRootPath + "/images/uploads/" + User.GetImage()))
                {
                    <img src="~/images/uploads/@User.GetImage()" width="48" height="48" alt="@User.GetNickName()"/>
                }
                else
                {
                    <img src="~/images/user.png" width="48" height="48" alt="@User.GetNickName()"/>
                }
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Html.Raw(Model.GetShownLoginName())</div>
                <div class="email">@Model.LoginInformations.User.EmailAddress</div>
                <div class="email"><strong>Wallet: </strong><span>@Model.LoginInformations.Wallet.Balance.ToNairaString()</span></div>
                <div class="email"><strong>Vote Point: </strong><span>@Model.LoginInformations.VotePoint.Points</span></div>
                <div class="email"><strong>Identity: </strong><span>@Model.LoginInformations.User.UserAppIdentity</span></div>
               
            </div>
        </div>
    </section>
   
    <div class="info-container">
        <div class="btn-group user-helper-dropdown">
            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
            <ul class="dropdown-menu pull-right">
                <li><a href="@Url.Action("Index", "Manage", new {area = string.Empty})"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="@Url.Action("ChangePassword", "Manage", new {area = string.Empty})"><i class="fa fa-lock"></i> Change Password</a></li>
                <li><a data-toggle="modal" data-target="#FundWalletModal"><i class="fa fa-money"></i> Fund Wallet</a></li>
                <li><a href="@Url.Action("Logout", "Account", new {area = string.Empty})"><i class="fa fa-sign-out"></i> @L("Logout")</a></li>
            </ul>
        </div>
    </div>
</div>
