﻿@using IContestPro
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.Settings.Dto.SettingsDto>
@{
    ViewBag.CurrentPageName = PageNames.Settings; // The menu item will be active for this page.
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Settings
                </h2>
            </div>
            <article class="body">
                   
                    
                            <article class="row">
                                <div class="col-md-6">
                                    <section class="well">
                                        @{
                                            var item1 = Model.Items.First(itm => itm.Name == AppConsts.SettingsWithdrawalRequestFeePercentage);
                                        }
                                        <form asp-action="UpdateSettings" class="form-horizontal" id="create-form">
                                            <input name="NameKey" type="hidden" value="@AppConsts.SettingsWithdrawalRequestFeePercentage"/>
                                            <div class="input-group">
                                                <div>
                                                    <label>Withdrawal Request Fee Percentage(% )</label>
                                                    <div> <small>The percentage charged on withdrawal.</small></div>
                                                </div>
                                                <div>
                                                    <div class="form-line">
                                                        <input name="Value" value="@item1.Value" type="number" class="form-control", placeholder="Withdrawal Request Fee Percentage", required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="">
                                                    <button class="btn">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </section>  
                                </div>
                                <div class="col-md-6">
                                    <section class="well">
                                        @{
                                            var item2 = Model.Items.First(itm => itm.Name == AppConsts.SettingsWithdrawalMinimumAmount);
                                        }
                                        <form asp-action="UpdateSettings" class="form-horizontal" id="create-form">
                                            <input name="NameKey" type="hidden" value="@AppConsts.SettingsWithdrawalMinimumAmount"/>

                                            <div class="input-group">
                                                <div>
                                                    <label>Withdrawal Minimum Amount(@AppConsts.NairaSymbol)</label>
                                                    <div><small>The minimum amount that can be withdrawn.</small></div>
                                                </div>
                                                <div>
                                                    <div class="form-line">
                                                        <input name="Value" value="@item2.Value" type="number" class="form-control", placeholder="Withdrawal Minimum Amount", required/>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="input-group">
                                                <div>
                                                    <button class="btn">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </section>  
                                </div> 

                            </article>
                            <article class="row">
                                <div class="col-md-6">
                                    <section class="well">
                                        @{
                                            var item3 = Model.Items.First(itm => itm.Name == AppConsts.SettingsTransferFeePercentage);
                                        }
                                        <form asp-action="UpdateSettings" class="form-horizontal" id="create-form">
                                            <input name="NameKey" type="hidden" value="@AppConsts.SettingsTransferFeePercentage"/>
                                            <div class="input-group">
                                                <div>
                                                    <label>Transfer Fee Percentage(% )</label>
                                                    <div><small>The fee that is charged on transfers.</small></div>
                                                </div>
                                                <div>
                                                    <div class="form-line">
                                                        <input name="Value" value="@item3.Value" type="text" class="form-control" placeholder="Transfer Fee Percentage" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="">
                                                    <button class="btn">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </section>  
                                </div>
                                <div class="col-md-6">
                                    <section class="well">
                                        @{
                                            var item4 = Model.Items.First(itm => itm.Name == AppConsts.SettingsReferrerPercentageIfReferredUserBecomesSponsor);
                                        }
                                        <form asp-action="UpdateSettings" class="form-horizontal" id="create-form">
                                            <input name="NameKey" type="hidden" value="@AppConsts.SettingsReferrerPercentageIfReferredUserBecomesSponsor"/>

                                            <div class="input-group">
                                                <div>
                                                    <label>Percentage if Referred User Becomes Sponsor(%)</label>
                                                    <div><small>The percentage of the first contest that is paid to a user if the user he/she referred becomes a sponsor.</small></div>
                                                </div>
                                                <div>
                                                    <div class="form-line">
                                                        <input name="Value" value="@item4.Value" type="number" class="form-control", placeholder="Percentage if Referred User Becomes Sponsor", required/>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="input-group">
                                                <div>
                                                    <button class="btn">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </section>  
                                </div> 

                            </article>
                            <article class="row">
                                <div class="col-md-6">
                                    <section class="well">
                                        @{
                                            var item5 = Model.Items.First(itm => itm.Name == AppConsts.SettingsShouldPercentageBePaidIfReferredSponsorCreatesFirstContest);
                                        }
                                        <form asp-action="UpdateSettings" class="form-horizontal" id="create-form">
                                            <input name="NameKey" type="hidden" value="@AppConsts.SettingsShouldPercentageBePaidIfReferredSponsorCreatesFirstContest"/>
                                            <div class="input-group">
                                                <div>
                                                    <label>Should Percentage Be Paid If Referred Sponsor Pays For First Contest</label>
                                                    <div><small>This determines if a user can receive the percentage for referring a user that becomes a sponsor on the first contest payment.</small></div>
                                                </div>
                                                <div>
                                                    <div class="form-line">
                                                        <input name="Value" value="true" @((bool.Parse(item5.Value))? "checked='checked'":"") type="checkbox" class="normalize-checkbox"/>
                                                        <input name="Value" value="false" type="hidden" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="">
                                                    <button class="btn">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </section>  
                                </div>
                                <div class="col-md-6">
                                    <section class="well">
                                        @{
                                            var item6 = Model.Items.First(itm => itm.Name == AppConsts.SettingsCodeSize);
                                        }
                                        <form asp-action="UpdateSettings" class="form-horizontal" id="create-form">
                                            <input name="NameKey" type="hidden" value="@AppConsts.SettingsCodeSize"/>

                                            <div class="input-group">
                                                <div>
                                                    <label>Code Size</label>
                                                    <div><small>The length of the code generated.</small></div>
                                                </div>
                                                <div>
                                                    <div class="form-line">
                                                        <input name="Value" value="@item6.Value" type="number" class="form-control", placeholder="Code Size", required maxlength="20"/>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="input-group">
                                                <div>
                                                    <button class="btn">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </section>  
                                </div> 
                                

                            </article>
                            <article class="row">
                                <div class="col-md-6">
                                    <section class="well">
                                        @{
                                            var item7 = Model.Items.First(itm => itm.Name == AppConsts.SettingsBatchNoSize);
                                        }
                                        <form asp-action="UpdateSettings" class="form-horizontal" id="create-form">
                                            <input name="NameKey" type="hidden" value="@AppConsts.SettingsBatchNoSize"/>
                                            <div class="input-group">
                                                <div>
                                                    <label>Batch No. Size</label>
                                                    <div><small>The length of the batch no generated.</small></div>
                                                </div>
                                                <div>
                                                    <div class="form-line">
                                                        <input name="Value" value="@item7.Value" type="number" class="form-control", placeholder="Batch No. Size", required/>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="">
                                                    <button class="btn">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </section>  
                                </div>
                                <div class="col-md-6">
                                    <section class="well">
                                        @{
                                            var item8 = Model.Items.First(itm => itm.Name == AppConsts.SettingsMaximumBatchSize);
                                        }
                                        <form asp-action="UpdateSettings" class="form-horizontal" id="create-form">
                                            <input name="NameKey" type="hidden" value="@AppConsts.SettingsMaximumBatchSize"/>

                                            <div class="input-group">
                                                <div>
                                                    <label>Maximum Batch Size</label>
                                                    <div><small>Maximum codes that can be generated in one request.</small></div>
                                                </div>
                                                <div>
                                                    <div class="form-line">
                                                        <input name="Value" value="@item8.Value" type="number" class="form-control", placeholder="Maximum Batch Size", required maxlength="20"/>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="input-group">
                                                <div>
                                                    <button class="btn">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </section>  
                                </div> 
                                

                            </article>
                            <article class="row">
                                <div class="col-md-6">
                                    <section class="well">
                                        @{
                                            var item9 = Model.Items.First(itm => itm.Name == AppConsts.SettingsMaxCodesAssignablePerTime);
                                        }
                                        <form asp-action="UpdateSettings" class="form-horizontal" id="create-form">
                                            <input name="NameKey" type="hidden" value="@AppConsts.SettingsMaxCodesAssignablePerTime"/>

                                            <div class="input-group">
                                                <div>
                                                    <label>Maximum Codes Assignable Per Time</label>
                                                    <div><small>This is the total codes that can be allocated to users in one request.</small></div>
                                                </div>
                                                <div>
                                                    <div class="form-line">
                                                        <input name="Value" value="@item9.Value" type="number" class="form-control", placeholder="Maximum Codes Assignable Per Time", required/>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="input-group">
                                                <div>
                                                    <button class="btn">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </section>  
                                </div> 

                                <div class="col-md-6">
                                    <section class="well">
                                        @{
                                            var item10 = Model.Items.First(itm => itm.Name == AppConsts.SettingsConfirmEmailAfterAccountCreation);
                                        }
                                        <form asp-action="UpdateSettings" class="form-horizontal" id="create-form">
                                            <input name="NameKey" type="hidden" value="@AppConsts.SettingsConfirmEmailAfterAccountCreation"/>

                                            <div class="input-group">
                                                <div>
                                                    <label>Confirm Email After Account Creation</label>
                                                    <div><small>This determines if email should be confirmed after creating account.</small></div>
                                                </div>
                                                <div>
                                                    <div class="form-line">
                                                        <input name="Value" value="true" type="checkbox" @((bool.Parse(item10.Value))? "checked='checked'":"") class="normalize-checkbox" />
                                                        <input name="Value" value="false" type="hidden"/>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="input-group">
                                                <div>
                                                    <button class="btn">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </section>  
                                </div> 
                                

                            </article>
            <article class="row">
                           <div class="col-md-6">
                                    <section class="well">
                                        @{
                                            var item11 = Model.Items.First(itm => itm.Name == AppConsts.SettingsPhoneNumberAfterAccountCreation);
                                        }
                                        <form asp-action="UpdateSettings" class="form-horizontal" id="create-form">
                                            <input name="NameKey" type="hidden" value="@AppConsts.SettingsPhoneNumberAfterAccountCreation"/>

                                            <div class="input-group">
                                                <div>
                                                    <label>Confirm Phone Number After Account Creation</label>
                                                    <div><small>This determines if phone number should be confirmed after creating account.</small></div>
                                                </div>
                                                <div>
                                                    <div class="form-line">
                                                        <input name="Value" value="true" type="checkbox" @((bool.Parse(item11.Value))? "checked='checked'":"") class="normalize-checkbox" />
                                                        <input name="Value" value="false" type="hidden"/>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="input-group">
                                                <div>
                                                    <button class="btn">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </section>  
                                </div> 




            </article>
                       
            
            
            </article> 
                
            
        </div>
        </div>
    </div>
@section scripts
{
    <script>
        $(function() {
            
        });
    </script>
    }
