﻿@using IContestPro
@using IContestPro.Helpers
@using IContestPro.Web.Models.Common.Modals
@using IContestPro.Web.Startup
@model IContestPro.Withdraw.Dto.CreateWithdrawDto
@{
    ViewBag.Title = "Create Withdrawal";
    Layout = "_Layout";
    var minimumWithdrawAmount = (decimal)ViewBag.MinimumWithdrawAmount ;
    var withdrawalFeePercentage = (double)ViewBag.WithdrawalFeePercentage;
    ViewBag.CurrentPageName = PageNames.WalletWithdraw; // The menu item will be active for this page.

}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
               
                <form asp-action="CreateWithdrawal" class="form-horizontal" id="create-form" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                @{
                                    var balance = (decimal) ViewBag.AccountBalance;
                                }
                                <h3><strong>Account Balance: </strong>@balance.ToNairaString()</h3>
                                <p>Minimum Withdrawal Amount: <strong>@minimumWithdrawAmount.ToNairaString()</strong></p>
                                <p>Note: <strong>@withdrawalFeePercentage% Transaction Fee Applies.</strong></p>
                            </div> 
                        </div>
                           
                                
                    </div> 
                        
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Amount">Amount</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Amount" type="text" placeholder="Amount(Must be from @minimumWithdrawAmount above)" class="form-control", required=""/>
                            </div>
                        </div>
                    </div>  
                        
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="PayIn">Pay In</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <select class="form-control" name="PayIn" id="PayIn">
                                    <option value="">Select Pay In</option>
                                    <option selected="@(Model.PayIn == AppConsts.WithdrawalPayInNAIRA)" value="@AppConsts.WithdrawalPayInNAIRA">@AppConsts.WithdrawalPayInNAIRA</option>
                                </select>
                            </div>
                        </div>
                                
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="PayTo">Pay To</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <select class="form-control" name="PayTo" id="PayTo">
                                    <option value="">Select Pay To</option>
                                    <option selected="@(Model.PayTo == AppConsts.WithdrawalPayToBank)" value="@AppConsts.WithdrawalPayToBank">@AppConsts.WithdrawalPayToBank</option>
                                </select>
                            </div>
                        </div>
                                
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="BankDetailsId">Bank Details</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <select asp-for="BankDetailsId" asp-items="ViewBag.BankDetails" class="form-control" required=""></select> 
                            </div>
                        </div>
                                
                    </div>

                    <hr/>
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button class="btn btn-danger" id="submit-request" type="button"><i class="fa fa-save"></i> Continue</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="WithdrawaklRequestModal" tabindex="-1" role="dialog" aria-labelledby="WithdrawaklRequestModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Withdrawal Request Details"))
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Amount</th>
                                        <th>Pay In</th>
                                        <th>Pay To</th>
                                        <th>Account Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="tr-details">
                                        <td>1</td>
                                        <td id="td-amount"></td>
                                        <td id="td-payin"></td>
                                        <td id="td-payto"></td>
                                        <td id="td-accountdetails"></td>
                                    </tr>

                                    </tbody>
                                </table>
                                <hr />
                                <div class="row margin-bottom-30">
                                    <div class="col-md-offset-7">
                                        <div><strong>Sub Total: </strong>@AppConsts.NairaSymbol<span id="sub-amount"></span></div>
                                        <div><strong>Withrawal Fee: </strong>@AppConsts.NairaSymbol<span id="withdrawal-fee"></span></div>
                                        <div><strong>Total: </strong>@AppConsts.NairaSymbol<span id="total"></span></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                <button type="submit" id="submit-withdrawal" class="btn btn-primary waves-effect submit-btn">Save</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function() {
            $('#submit-request').click(function() {
                var amount = parseFloat($('#Amount').val());
                var withdrawalFeePerc = parseFloat('@withdrawalFeePercentage');
                var minimumWithdrawAMount = parseFloat('@minimumWithdrawAmount');
                if (amount <= 0) {
                    abp.notify.warn('Please enter amount at least ' + minimumWithdrawAMount);
                    return;
                }
                if (amount < minimumWithdrawAMount) {
                    abp.notify.warn('Withdrawal amount must be at least ' + minimumWithdrawAMount);
                    return;
                }
                if ($('#PayIn').val() === '') {
                    abp.notify.warn('Please select pay in');
                    return;
                }
               if ($('#PayTo').val() === '') {
                    abp.notify.warn('Please select pay to');
                    return;
                }

                $('#td-amount').html(amount);
                $('#td-payin').html($('#PayIn option:selected').text());
                $('#td-payto').html($('#PayTo option:selected').text());
                $('#td-accountdetails').html($('#BankDetailsId option:selected').text());
                $('#sub-amount').html(amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                var withdrawalFee = amount * (withdrawalFeePerc / 100);
                var total = amount + withdrawalFee;
                console.log(withdrawalFee, total, minimumWithdrawAMount);
                $('#withdrawal-fee').html(withdrawalFee.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                $('#total').html(total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                $('#WithdrawaklRequestModal').modal('show');
            });
            $('#submit-withdrawal').click(function() {
                $('#create-form').submit();
            });
        });
    </script>
}
<!-- #END# CPU Usage -->
