﻿@using IContestPro
@using IContestPro.Helpers
@using IContestPro.Web.Models.Common.Modals
@using IContestPro.Web.Startup
@model IContestPro.PaymentHistories.Dto.PaymentHistoryDto
@{
    ViewBag.CurrentPageName = PageNames.WalletDeposit; // The menu item will be active for this page.
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <span>Deposit</span>
                   
                </h2>
            </div>
            <div class="body">
                <div class="well">
                    <h3>Deposit Type</h3>
                    <form>
                        <div class="form-group">
                            <select name="depositType" id="depositType" class="form-control">
                                <option>Select Type</option>
                                <option value="@AppConsts.DepositTypeCardPayment">@AppConsts.DepositTypeCardPayment.ToFormattedName()</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">GO</button>
                        </div>
                    </form>
                   
                </div>
                <div class="modal fade" id="FundWalletModal" tabindex="-1" role="dialog" aria-labelledby="FundWalletModalLabel" data-backdrop="static">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            @Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Deposit To Wallet"))
                            <form name="FundWalletForm" asp-controller="Payment" asp-action="FundWallet" role="form" class="form-validation"
                                  method="post" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div>
                                                    <label for="Amount" class="form-label">Amount:</label>
                                                    <input id="Amount" type="text" name="Amount" placeholder="Amount to fund" class="form-control" style="border: 1px solid #ccc; border-radius: 4px; padding: 10px;"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                                    <button type="submit" class="btn btn-primary waves-effect submit-btn">Continue</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            $('#depositType').change(function() {
          if ($(this).val() === '@AppConsts.DepositTypeCardPayment') {
              $('#FundWalletModal').modal('show');
          }
            });
        });
    </script>
}
