﻿@using IContestPro
@using IContestPro.Helpers
@using IContestPro.Wallet.Dto
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.PaymentHistories.Dto.PaymentHistoryDto>
@{
    ViewBag.CurrentPageName = PageNames.Wallet; // The menu item will be active for this page.
    var wallet = ViewBag.Wallet as WalletDto;
         int page = ViewBag.Page;
         int pageSize = ViewBag.PageSize;
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <span>Balance: @(wallet != null ? wallet.Balance.ToNairaString() : "0.00")</span>
                    <div class="pull-right">
                        <a data-toggle="modal" data-target="#FundWalletModal" class="btn"><i class="fa fa-money"></i> Fund Wallet</a>
                    </div>
                    <div class="clearfix"></div>

                </h2>
            </div>
            <div class="body">
               
                    <div class="well">
                        <h3>Export Statement</h3>
                        <form asp-action="ExportTransactions">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <input id="start-date" value="@ViewBag.StartDate" name="startDate" class="form-control datepicker-transaction" required="" autocomplete="off" placeholder="Start Date (format: yyyy-mm-dd) e.g 2019-01-01"/>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <input id="end-date" value="@ViewBag.EndDate" name="endDate" class="form-control datepicker-transaction" required="" autocomplete="off" placeholder="End Date (format: yyyy-mm-dd) e.g 2019-03-1"/>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 flex-container">
                                            <input type="submit" formaction="Index" formmethod="get" value="Generate" class="btn btn-success btn-sm flex-item" style="padding: 6px !important;"/>
                                            <input type="submit" value="Export Statement" class="btn btn-danger btn-sm flex-item"/>    
                                      
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
               
                @if (Model != null && Model.Items.Any())
                {
                    foreach (var item in Model.Items)
                    {
                        if (item.WalletOperation == WalletOperation.Credit)
                        {
                            <section class="row bg-success margin-bottom-10 no-margin-left no-margin-right">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 hidden-xs text-center" style="padding-top: 24px;">
                                    <i class="fa fa-plus-circle fa-2x text-success"></i>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <p class="margin-top-20 margin-bottom-5"><strong>@item.Title</strong></p>
                                    <p>@Html.Raw(item.Description)</p>
                                    <div><strong>Reference:</strong> @item.Reference</div>
                                    <div><strong>Date:</strong> @item.CreationTime.ToString("dd MMMM, yyyy") @@ @item.CreationTime.ToString("h:mm:ss tt")</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <p class="margin-top-20 margin-bottom-5"><strong>@(item.Amount != null ? item.Amount.Value.ToNairaString() : "")</strong></p>
                                </div>
                            </section>
                        }
                        else if (item.WalletOperation == WalletOperation.Debit)
                        {
                            <section class="row bg-danger margin-bottom-10 no-margin-left no-margin-right">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 hidden-xs text-center" style="padding-top: 24px;">
                                    <i class="fa fa-minus-circle fa-2x text-danger"></i>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <p class="margin-top-20 margin-bottom-5"><strong>@item.Title</strong></p>
                                    <p>@Html.Raw(item.Description)</p>
                                    <div><strong>Reference:</strong> @item.Reference</div>
                                    <div><strong>Date:</strong> @item.CreationTime.ToString("dd MMMM, yyyy") @@ @item.CreationTime.ToString("h:mm:ss tt")</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <p class="margin-top-20 margin-bottom-5"><strong>@(item.Amount != null ? item.Amount.Value.ToNairaString() : "")</strong></p>
                                </div>
                            </section>
                        }
                        else
                        {
                            if (item.Status.Name == AppConsts.StatusSuccess)
                            {
                                <section class="row bg-success margin-bottom-10 no-margin-left no-margin-right">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 hidden-xs text-center" style="padding-top: 24px;">
                                        <i class="fa fa-check-circle fa-2x text-success"></i>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <p class="margin-top-20 margin-bottom-5"><strong>@item.Title</strong></p>
                                        <p>@Html.Raw(item.Description)</p>
                                        <div><strong>Reference:</strong> @item.Reference</div>
                                        <div><strong>Date:</strong> @item.CreationTime.ToString("dd MMMM, yyyy") @@ @item.CreationTime.ToString("h:mm:ss tt")</div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <p class="margin-top-20 margin-bottom-5"><strong>@(item.Amount != null ? item.Amount.Value.ToNairaString() : "")</strong></p>
                                    </div>
                                </section>
                            }
                            else
                            {
                                <section class="row bg-danger margin-bottom-10 margin-bottom-10 no-margin-left no-margin-right">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 hidden-xs text-center" style="padding-top: 24px;">
                                        <i class="fa fa-times-circle fa-2x text-danger"></i>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <p class="margin-top-20 margin-bottom-5"><strong>@item.Title</strong></p>
                                        <p>@Html.Raw(item.Description)</p>
                                        <div><strong>Reference:</strong> @item.Reference</div>
                                        <div><strong>Date:</strong> @item.CreationTime.ToString("dd MMMM, yyyy") @@ @item.CreationTime.ToString("h:mm:ss tt")</div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <p class="margin-top-20 margin-bottom-5"><strong>@(item.Amount != null ? item.Amount.Value.ToNairaString() : "")</strong></p>
                                    </div>
                                </section>
                            }

                        }


                    }
                    <div class="row">
                       
                        @Html.PaginateAdmin(Model.TotalCount, page, pageSize, "Wallet", "Index", ViewBag.StartDate != null ? "startDate=" + (string)ViewBag.StartDate + "&endDate=" + (string)ViewBag.EndDate : "" )
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        <p>No payment histories for now.</p>
                    </div>
                }


            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            $('.datepicker-transaction').datepicker({
                maxDate: 0
            });
        });
    </script>
    }
