﻿@using IContestPro.Helpers
@using IContestPro.Web.Startup
@model IContestPro.Transfer.Dto.CreateTransferDto
@{
    ViewBag.Title = "Create Transfer";
    Layout = "_Layout";
    var transferFeePercentage = (double)ViewBag.TransferFeePercentage;
    ViewBag.CurrentPageName = PageNames.WalletTransfer; // The menu item will be active for this page.

}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
               
                <form asp-action="TransferConfirmation" class="form-horizontal" id="create-form" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                @{
                                    var balance = (decimal) ViewBag.AccountBalance;
                                }
                                <h3><strong>Account Balance: </strong>@balance.ToNairaString()</h3>
                                <p>Note: <strong>@transferFeePercentage% Transaction Fee Applies.</strong></p>
                            </div> 
                        </div>
                                
                    </div> 
                        
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Amount">Amount</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Amount" type="text" placeholder="Amount" class="form-control", required=""/>
                            </div>
                        </div>
                    </div>  
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="ToUserAppIdentity">Transfer To</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="ToUserAppIdentity" type="text" placeholder="User Identity Code" class="form-control", required=""/>
                            </div>
                        </div>
                    </div>  
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Notes">Notes</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <textarea asp-for="Notes" placeholder="Notes" class="form-control", required=""></textarea>
                            </div>
                        </div>
                    </div>  
                    
                   

                    <hr/>
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button class="btn btn-danger" id="submit-request" type="submit"> Continue</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
