﻿@using IContestPro.Helpers
@using IContestPro.Web.Startup
@model IContestPro.Transfer.Dto.CreateTransferConfirmationDto
@{
    ViewBag.Title = "Transfer Confirmation";
    Layout = "_Layout";
    var transferFeePercentage = (double)ViewBag.TransferFeePercentage;
    ViewBag.CurrentPageName = PageNames.WalletTransfer; // The menu item will be active for this page.

}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
               
                <form asp-action="TransferComplete" class="form-horizontal" id="create-form" enctype="multipart/form-data">
                    <input asp-for="Amount" type="hidden"/>
                    <input asp-for="ToUserAppIdentity" type="hidden" />
                    <input asp-for="Notes" type="hidden" />


                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                @{
                                    var balance = (decimal) ViewBag.AccountBalance;
                                }
                                <h3><strong>Account Balance: </strong>@balance.ToNairaString()</h3>
                                <p>Note: <strong>@transferFeePercentage% Transaction Fee Applies.</strong></p>
                            </div>
                        </div>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>To</th>
                                <th>Identity</th>
                                <th>Amount</th>
                                <th>Fee Percentage</th>
                                <th>Fee Charged</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>@Model.ToUserFullName</td>
                                <td>@Model.ToUserAppIdentity</td>
                                <td>@Model.Amount</td>
                                <td>@Model.FeePercentage</td>
                                <td>@Model.FeeAmount</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="">
                            <h3>Notes</h3>
                            <p>@Model.Notes</p>
                        </div>
                        <hr/>
                        <div class="row margin-bottom-30">
                            <div class="col-md-offset-7">
                                <div><strong>Sub Total: </strong><span>@Model.Amount.ToNairaString()</span></div>
                                <div><strong>Transfer Fee: </strong><span>@Model.FeeAmount.ToNairaString()</span></div>
                                <div><strong>Total: </strong><span>@((Model.Amount + Model.FeeAmount).ToNairaString())</span></div>
                            </div>
                        </div>

                    </div>

                    <hr/>
                    <div class="input-group">
                        <div class="">
                            <button class="btn btn-success btn-lg pull-right" id="submit-request" type="submit"> Finish</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
