﻿@using IContestPro
@using IContestPro.Authorization.Roles
@using IContestPro.Helpers
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.Withdraw.Dto.WithdrawDto>
@{
    ViewBag.CurrentPageName = PageNames.WalletWithdraw; // The menu item will be active for this page.
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <span>Withdrawals</span>
                    <a class="btn btn-default pull-right" asp-action="CreateWithdrawal">Create New Request</a>
                    <div class="clearfix"></div>
                </h2>
            </div>
            <div class="body">
            
                <div class="well">
                    <h3>Export Statement</h3>
                    <form asp-action="ExportWithdrawals">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <input id="start-date" value="@ViewBag.StartDate" name="startDate" class="form-control datepicker-transaction" required="" autocomplete="off" placeholder="Start Date (format: yyyy-mm-dd) e.g 2019-01-01"/>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <input id="end-date" value="@ViewBag.EndDate" name="endDate" class="form-control datepicker-transaction" required="" autocomplete="off" placeholder="End Date (format: yyyy-mm-dd) e.g 2019-03-1"/>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12 flex-container">
                                    <input type="submit" formaction="Index" formmethod="get" value="Generate" class="btn btn-success btn-sm flex-item" style="padding: 6px !important;"/>
                                    <input type="submit" value="Export Statement" class="btn btn-danger btn-sm flex-item"/>    
                                      
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            
                <section class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>S/N</th>
                            <th>User</th>
                            <th>Amount</th>
                            <th>% Charged</th>
                            <th>Charged Amount</th>
                            <th>Pay In</th>
                            <th>Pay To</th>
                            <th>Account Name</th>
                            <th>Account Number</th>
                            <th>Bank</th>
                            <th>Status</th>
                            <th>Created Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            var sn = ViewBag.PageSize * (ViewBag.Page - 1) + 1;
                        }
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@sn</td>
                                <td>@item.User.FullName</td>
                                <td>@item.Amount.ToNairaString()</td>
                                <td>@item.FeePercentage</td>
                                <td>@item.FeeAmount.ToNairaString()</td>
                                <td>@item.PayIn</td>
                                <td>@item.PayTo</td>
                                <td>@item.BankDetails.AccountName</td>
                                <td>@item.BankDetails.AccountNumber</td>
                                <td>@item.BankName</td>
                                <td>@item.Status.Name</td>
                                <td>@item.CreationTime.ToString("ddd dd MMM, yy @ h:mm:ss tt")</td>
                                <td>
                                    @if (User.IsInRole(StaticRoleNames.Tenants.Admin) || User.IsInRole(StaticRoleNames.Tenants.AdminLevel2))
                                    {
                                        if (!item.Status.Name.Equals(AppConsts.StatusPaid) && !item.Status.Name.Equals(AppConsts.StatusCancelled))
                                        {
                                            <form asp-action="ChangeWithdrawStatus" class="inline-block margin-bottom-5">
                                                <input type="hidden" name="EntityId" value="@item.Id"/>
                                                <input type="hidden" name="StatusName" value="@AppConsts.StatusPaid"/>
                                                <button class="btn btn-success btn-change-status" type="submit">Make Paid</button>
                                            </form>
                                        }
                                        if (!item.Status.Name.Equals(AppConsts.StatusPaid) && !item.Status.Name.Equals(AppConsts.StatusCancelled) && !item.Status.Name.Equals(AppConsts.StatusProcessing))
                                        {
                                            <form asp-action="ChangeWithdrawStatus"class="inline-block margin-bottom-5">
                                                <input type="hidden" name="EntityId" value="@item.Id"/>
                                                <input type="hidden" name="StatusName" value="@AppConsts.StatusProcessing"/>
                                                <button class="btn btn-warning btn-change-status" type="submit">Mark Processing</button>
                                            </form>
                                        }
                                        if (!item.Status.Name.Equals(AppConsts.StatusCancelled) && !item.Status.Name.Equals(AppConsts.StatusPaid))
                                        {
                                            <form asp-action="ChangeWithdrawStatus"class="inline-block margin-bottom-5">
                                                <input type="hidden" name="Id" value="@item.Id"/>
                                                <button class="btn btn-danger btn-change-status" type="submit">Cancel</button>
                                            </form>
                                        }
                                    }
                                    <!--
                                    USER BUTTONS
                                    -->
                                    @if (item.Status.Name.Equals(AppConsts.StatusPending) && !(User.IsInRole(StaticRoleNames.Tenants.Admin) || User.IsInRole(StaticRoleNames.Tenants.AdminLevel2)))
                                    {
                                        <form asp-action="CancelRequest"class="inline-block margin-bottom-5">
                                            <input type="hidden" name="Id" value="@item.Id"/>
                                            <button class="btn btn-danger btn-change-status" type="submit">Cancel</button>
                                        </form>
                                    }

                                    &nbsp;
                                </td>
                            </tr>
                            sn++;
                        }
                        @if (Model.Items.Count == 0)
                        {
                            <tr>
                                <td colspan="13">
                                    <div class="well">
                                        <h1>No withdrawals</h1>
                                        <p>There are no withdrawals found.

                                        </p>
                                        <p><a class="btn btn-default" asp-action="CreateWithdrawal">Create New Request</a></p>
                                    </div>
                                </td>
                            </tr>
                        }

                        </tbody>
                    </table>
                    <div class="pager">
                        @{
                            int page = ViewBag.Page;
                            int pageSize = ViewBag.PageSize;
                            /*var firstItemOnPage = ViewBag.PageSize * (ViewBag.Page - 1) + 1;
                            var lastItemOnPage = firstItemOnPage + (pageSize - 1);*/
                        }
                        @if (Model.TotalCount > pageSize)
                        {
                            @Html.PaginateAdmin(Model.TotalCount, page, pageSize, "Wallet", "Withdraw", ViewBag.StartDate != null ? "startDate=" + (string)ViewBag.StartDate + "&endDate=" + (string)ViewBag.EndDate : "")
                        }

                        @*<div class="text-right" style="margin-right: 30px;">
                            Showing @(firstItemOnPage) to @(lastItemOnPage < Model.TotalCount ? lastItemOnPage : Model.TotalCount) of @Model.TotalCount (@(Math.Ceiling((double)Model.TotalCount / pageSize)) Pages)
                        </div>*@
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
    $(function() {
        $('.btn-change-status').click(function(e) {
            var element = $(this);
            e.preventDefault();
            abp.message.confirm('Are you sure you want to perform this operation? This operation cannot be reversed.',
                function(result) {
                    if (result) {
                        element.parent().submit();
                    }
                });
        });
        $('.datepicker-transaction').datepicker({
            maxDate: 0
        });
    });
       

    </script>
}
