﻿@using IContestPro
@using IContestPro.Web.Views.Shared.Components.HomePageBannerAdvert
@{
    Layout = "_IntroHomePageLayout";
}
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<section class="logo-area visible-lg visible-md" style="position: absolute; width: 100%; z-index: 10;">
    <nav class="navbar navbar-inverse home-page-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="images/logo-white.png" class="logo img-responsive"/>
                </a>
            </div>
           
            @if (!User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
                    <li><a href="#"><span class="fa fa-info"></span> HOW IT WORKS</a></li>
                    <li><a asp-controller="Contest" asp-action="Index"><span class="fa fa-list"></span> CONTESTS</a></li>
                    <li><a  asp-controller="LeaderBoard" asp-action="Index"><span class="fa fa-users"></span> LEADER BOARD</a></li>
                    <li><a asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul> 
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
                    <li><a asp-controller="Contest" asp-action="Index"><span class="fa fa-list"></span> CONTESTS</a></li>
                    <li><a asp-controller="LeaderBoard" asp-action="Index"><span class="fa fa-users"></span> LEADER BOARD</a></li>
                    <li><a asp-controller="Manage" asp-action="Index"><span class="fa fa-dashboard"></span> Dashboard</a></li>
                    <li><a asp-controller="Account" asp-action="Logout"><span class="fa fa-sign-out"></span> Sign Out</a></li>
                </ul>  
            }
           
        </div>
    </nav>
</section>
<section class="visible-lg visible-md">
    <!-- Slider Area Start Here-->
    @await Component.InvokeAsync(typeof(HomePageBannerAdvertViewComponent))
    @*<div class="slider-area">
        <div class="bend niceties preview-2">
            <div id="ensign-nivoslider" class="slides">
                $1$<img src="~/images/slider/slide_1.jpg" alt="" title="#slider-direction-1" />#1#
                <img src="~/images/uploads/mtn-076-Banner.jpg" alt="" title="#slider-direction-1" />
                $1$<img src="~/images/slider/slide_2.jpg" alt="" title="#slider-direction-2" />#1#
                <img src="~/images/uploads/indomie-EGG-app-banner.jpg" alt="" title="#slider-direction-2" />
                <img src="~/images/slider/slide_3.jpg" alt="" title="#slider-direction-3" />
                
            </div>
            <!-- direction 2 -->
            <div id="slider-direction-1" class="slider-direction">
                <div class="slider-content t-cn s-tb slider-1">
                    <div class="title-container s-tb-c">
                        <h1 class="title1" style="font-family: Lobster">Welcome</h1>
                        <div class="title2">
                            iContestPRO platform is a multiple contest platform – that host multiple contest sponsored by brands and individuals, with the primary objective to drive their brand visibility, customer engagement or stimulate sales.
                        </div>
                        <div class="slider-botton">
                            <ul>
                                <li><a asp-controller="Account" asp-action="Login">Join Now <i class="fa fa-angle-right"></i></a></li>
                                $1$<li class="acitve"><a href="about.html">About Us <i class="fa fa-angle-right"></i></a></li>#1#
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- direction 2 -->
            <div id="slider-direction-2" class="slider-direction">
                <div class="slider-content t-cn s-tb slider-2">
                    <div class="title-container s-tb-c">
                        <h1 class="title1" style="font-family: Lobster">Create a <span>Contest</span></h1>
                        <div class="title2">
                            iContestPRO can help you manage and promote your contests.
                        </div>
                        <div class="slider-botton">
                            <ul>
                                <li><a asp-controller="Contest" asp-action="Create">Get Started <i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- direction 3 -->
            <div id="slider-direction-3" class="slider-direction">
                <div class="slider-content t-cn s-tb slider-2">
                    <div class="title-container s-tb-c">
                        <h1 class="title1" style="font-family: Lobster">Explore  <span> </span></h1>
                        <div class="title2">
                            Explore contests, participate or have fun viewing entries from loads and loads of ongoing contests.
                        </div>
                        <div class="slider-botton">
                            <ul>
                                <li><a href="@AppRoutingConsts.ContestActiveEntries">Explore <i class="fa fa-angle-right animated slideInRight infinite"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
   
</section>


<section class="visible-sm visible-xs">
      
    <article class="mobile-slide" id="mobile-slide1" >
        <div class="mobile-app-notify">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <h5 class="no-margin"><img src="images/logo-white.png" class="logo img-responsive"/> </h5>
                    <p><span style="color: #fff0f5;">App is available Free of Charge on Google Play</span></p>
                </div> 
                <div class="col-sm-5 col-xs-5" style="margin-top: 18px;">
                    <a class="btn btn-white">DOWNLOAD NOW</a>
                </div> 
            </div>
        </div>
       
        <div class="mobile-slide-item active" id="mobile-slide-item-1">

            <div class="mobile-slide-header">
                <h1 class="text-capitalize text-center" style="font-family: Lobster">Welcome</h1>
            </div>
            <div class="mobile-slide-image">
                <img class="img-responsive" src="~/images/intro1.png" alt="iContestPRO">
            </div>
            <div class="mobile-slide-body">
                <p>iContestPRO platform is a multiple contest platform – that host multiple contest sponsored by brands and individuals, with the primary objective to drive their brand visibility, customer engagement or stimulate sales.</p>
            </div>
            <div class="mobile-slide-button">
                <a class="btn btn-lg" asp-controller="Account" asp-action="Login">JOIN NOW </a>
            </div>
        </div>
        <div class="mobile-slide-item" id="mobile-slide-item-2">
            <div class="mobile-slide-header">
                <h1 class="text-capitalize text-center" style="font-family: Lobster">Create a Contest</h1>
            </div>
            <div class="mobile-slide-image">
                <img class="img-responsive" src="~/images/intro2.png" alt="iContestPRO">
            </div>
            <div class="mobile-slide-body">
                <p>iContestPRO can help you manage and promote your contests.</p>
            </div>
            <div class="mobile-slide-button">
                <a class="btn btn-lg get-started" asp-controller="Contest" asp-action="Create">GET STARTED</a>
            </div>
        </div>
        <div class="mobile-slide-item" id="mobile-slide-item-3">
            <div class="mobile-slide-header">
                <h1 class="text-capitalize text-center" style="font-family: Lobster">Explore</h1>
            </div>
            <div class="mobile-slide-image">
                <img class="img-responsive" src="~/images/intro3.png" alt="iContestPRO">
            </div>
            <div class="mobile-slide-body">
                <p>Explore contests, participate or have fun viewing entries from loads and loads of ongoing contests.</p>
            </div>
            <div class="mobile-slide-button">
                <a class="btn btn-lg explore" href="@AppRoutingConsts.ContestActiveEntries">EXPLORE</a>
            </div>
        </div>

        <div class="mobile-slide-next-previous" id="mobile-slide-next-previous" data-index="1">
                <a class="mobile-slide-next"><i class="fa fa-chevron-circle-right"></i></a>
            <a class="mobile-slide-previous"><i class="fa fa-chevron-circle-left"></i></a>
        </div>
        
        @*<div class="mobile-slide-indicators">
            <div class="row">
                <div class="col-sm-3 col-xs-3 mobile-slide-skip" style="padding-left: 50px;">
                    <a href="@AppRoutingConsts.ContestActiveEntries">SKIP</a>
                </div>
                <div class="col-sm-3 col-xs-3 mobile-slide-skip-hidden" style="padding-left: 50px; display: none;">
                </div>

                <div class="col-sm-6  col-xs-6">
                    <div class="mobile-slide-indicator-icon active" data-slide-to="#mobile-slide-item-1" data-index="1"></div>
                    <div class="mobile-slide-indicator-icon" data-slide-to="#mobile-slide-item-2" data-index="2"></div>
                    <div class="mobile-slide-indicator-icon" data-slide-to="#mobile-slide-item-3" data-index="3"></div>
                </div>
                <div class="col-sm-3 col-xs-3 hidden mobile-slide-done">
                    <a href="@AppRoutingConsts.ContestActiveEntries">DONE</a>
                </div>
            </div>

        </div>*@
    </article>
   
</section>
@section scripts{
    <script>
        var currentMobileSliderIndex = 1;
        var performingSlide = false;
        jQuery(function($) {
             
            $('.mobile-slide-next').click(function() {
                var element = $(this);
                var index = parseInt(element.parent().attr('data-index'));
                if (index < 3) {
                    currentMobileSliderIndex = index + 1;
                } else {
                    return;
                }
                $('.mobile-slide-item').removeClass('active');
                    $('#mobile-slide-item-' + currentMobileSliderIndex).addClass('active');
                    element.parent().attr('data-index', currentMobileSliderIndex);
                console.log(currentMobileSliderIndex);
            });
     $('.mobile-slide-previous').click(function() {
                var element = $(this);
         var index = parseInt(element.parent().attr('data-index'));
             if (index > 1 && index <= 3) {
                 currentMobileSliderIndex = index - 1;
             } else {
                 return;
             }
                $('.mobile-slide-item').removeClass('active');
                  $('#mobile-slide-item-' + currentMobileSliderIndex).addClass('active');
                 element.parent().attr('data-index', currentMobileSliderIndex);
         console.log(currentMobileSliderIndex);

            });
    

        });

        function swipedetect(el, callback){
            var touchsurface = el,
                swipedir,
                startX,
                startY,
                distX,
                distY,
                threshold = 150, //required min distance traveled to be considered swipe
                restraint = 100, // maximum distance allowed at the same time in perpendicular direction
                allowedTime = 300, // maximum time allowed to travel that distance
                elapsedTime,
                startTime,
                handleswipe = callback || function(swipedir){}
            var dist;
            touchsurface.addEventListener('touchstart',
                function(e) {
                    var touchobj = e.changedTouches[0];
                    swipedir = 'none';
                    dist = 0;
                    startX = touchobj.pageX;
                    startY = touchobj.pageY;
                    startTime = new Date().getTime(); // record time when finger first makes contact with surface
                  //  e.preventDefault();
                },
                false);

            touchsurface.addEventListener('touchmove',
                function(e) {
                    //e.preventDefault(); // prevent scrolling when inside DIV
                },
                false);

            touchsurface.addEventListener('touchend',
                function(e) {
                    var touchobj = e.changedTouches[0];
                    distX =
                        touchobj.pageX - startX; // get horizontal dist traveled by finger while in contact with surface
                    distY =
                        touchobj.pageY - startY; // get vertical dist traveled by finger while in contact with surface
                    elapsedTime = new Date().getTime() - startTime; // get time elapsed
                    if (elapsedTime <= allowedTime) { // first condition for awipe met
                        if (Math.abs(distX) >= threshold && Math.abs(distY) <= restraint
                        ) { // 2nd condition for horizontal swipe met
                            e.preventDefault();
                            swipedir =
                                (distX < 0) ? 'left' : 'right'; // if dist traveled is negative, it indicates left swipe
                        } else if (Math.abs(distY) >= threshold && Math.abs(distX) <= restraint
                        ) { // 2nd condition for vertical swipe met
                            swipedir =
                                (distY < 0) ? 'up' : 'down'; // if dist traveled is negative, it indicates up swipe
                        }
                    }
                    handleswipe(swipedir);
                   // 
                },
                false);
        }

        var el1 = document.getElementById('mobile-slide-item-1');
        var el2 = document.getElementById('mobile-slide-item-2');
        var el3 = document.getElementById('mobile-slide-item-3');
        swipedetect(el1, handleSwipe);
        swipedetect(el2, handleSwipe);
        swipedetect(el3, handleSwipe);
       

        function handleSwipe(swipedir){
            //swipedir contains either "none", "left", "right", "top", or "down"
            if (swipedir === 'left') {
                console.log('You just swiped left!');
                $('.mobile-slide-next').trigger('click');
            }else if (swipedir === 'right') {
                console.log('You just swiped right!');
                $('.mobile-slide-previous').trigger('click');
            }
        }
    </script>

}

       