﻿@using IContestPro
@{
    Layout = "_IntroHomePageLayout";
}
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<section class="logo-area visible-lg visible-md" style="position: absolute;
                                      z-index: 999;
                                      top: 30px;
                                      left: 20px;
                                  ">
    <img src="images/logo-white.png" class="logo img-responsive"/>  
</section>
<section class="visible-lg visible-md">
    <!-- Slider Area Start Here-->
    <div class="slider-area">
        <div class="bend niceties preview-2">
            <div id="ensign-nivoslider" class="slides">
                <img src="~/images/slider/slide_1.jpg" alt="" title="#slider-direction-1" />
                <img src="~/images/slider/slide_2.jpg" alt="" title="#slider-direction-2" />
                <img src="~/images/slider/slide_3.jpg" alt="" title="#slider-direction-3" />
            </div>
            <!-- direction 2 -->
            <div id="slider-direction-1" class="slider-direction">
                <div class="slider-content t-cn s-tb slider-1">
                    <div class="title-container s-tb-c">
                        <h1 class="title1">Welcome</h1>
                        <div class="title2">
                            iContestPRO platform is a multiple contest platform – that host multiple contest sponsored by brands and individuals, with the primary objective to drive their brand visibility, customer engagement or stimulate sales.
                        </div>
                        <div class="slider-botton">
                            <ul>
                                <li><a asp-controller="Account" asp-action="Register">Join Now <i class="fa fa-angle-right"></i></a></li>
                                @*<li class="acitve"><a href="about.html">About Us <i class="fa fa-angle-right"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- direction 2 -->
            <div id="slider-direction-2" class="slider-direction">
                <div class="slider-content t-cn s-tb slider-2">
                    <div class="title-container s-tb-c">
                        <h1 class="title1">Create a <span>Contest</span></h1>
                        <div class="title2">
                            iContestPRO can help you manage and promote your contests.
                        </div>
                        <div class="slider-botton">
                            <ul>
                                <li><a asp-controller="Contest" asp-action="Create">Get Started <i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- direction 3 -->
            <div id="slider-direction-3" class="slider-direction">
                <div class="slider-content t-cn s-tb slider-2">
                    <div class="title-container s-tb-c">
                        <h1 class="title1">Explore  <span> </span></h1>
                        <div class="title2">
                            Explore contests, participate or have fun viewing entries from loads and loads of ongoing contests.
                        </div>
                        <div class="slider-botton">
                            <ul>
                                <li><a href="@AppRoutingConsts.ContestActiveEntries">Explore <i class="fa fa-angle-right animated slideInRight infinite"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</section>


<section class="visible-sm visible-xs">
      
    <article class="mobile-slide" id="mobile-slide1" >
        <div class="mobile-app-notify">
            <div class="row">
                <div class="col-sm-9 col-xs-9">
                    <h5 class="no-margin"><img src="images/logo-white.png" class="logo img-responsive"/> </h5>
                    <p><a style="color: #fff0f5;">Find it at no cost on Google Play</a></p>
                </div> 
                <div class="col-sm-3 col-xs-3" style="margin-top: 10px;">
                    <a class="btn btn-default">GET</a>
                </div> 
            </div>
        </div>
       
        <div class="mobile-slide-item active" id="mobile-slide-item-1">

            <div class="mobile-slide-header">
                <h1 class="text-capitalize text-center">Welcome</h1>
            </div>
            <div class="mobile-slide-image">
                <img class="img-responsive" src="~/images/intro1.jpg" alt="iContestPRO">
            </div>
            <div class="mobile-slide-body">
                <p>iContestPRO platform is a multiple contest platform – that host multiple contest sponsored by brands and individuals, with the primary objective to drive their brand visibility, customer engagement or stimulate sales.</p>
            </div>
        </div>
        <div class="mobile-slide-item" id="mobile-slide-item-2">
            <div class="mobile-slide-header">
                <h1 class="text-capitalize text-center">Create a Contest</h1>
            </div>
            <div class="mobile-slide-image">
                <img class="img-responsive" src="~/images/intro2.jpg" alt="iContestPRO">
            </div>
            <div class="mobile-slide-body">
                <p>iContestPRO can help you manage and promote your contests.</p>
            </div>
        </div>
        <div class="mobile-slide-item" id="mobile-slide-item-3">
            <div class="mobile-slide-header">
                <h1 class="text-capitalize text-center">Explore</h1>
            </div>
            <div class="mobile-slide-image">
                <img class="img-responsive" src="~/images/intro3.jpg" alt="iContestPRO">
            </div>
            <div class="mobile-slide-body">
                <p>Explore contests, participate or have fun viewing entries from loads and loads of ongoing contests.</p>
            </div>
        </div>

        <div class="mobile-slide-indicators">
            <div class="row">
                <div class="col-sm-3 col-xs-3 mobile-slide-skip" style="padding-left: 50px;">
                    <a href="@AppRoutingConsts.ContestActiveEntries">SKIP</a>
                </div>
                <div class="col-sm-3 col-xs-3 mobile-slide-skip-hidden" style="padding-left: 50px; display: none;">
                </div>

                <div class="col-sm-6  col-xs-6">
                    <div class="mobile-slide-indicator-icon active" data-slide-to="#mobile-slide-item-1" data-index="1"></div>
                    <div class="mobile-slide-indicator-icon" data-slide-to="#mobile-slide-item-2" data-index="2"></div>
                    <div class="mobile-slide-indicator-icon" data-slide-to="#mobile-slide-item-3" data-index="3"></div>
                </div>
                <div class="col-sm-3 col-xs-3 hidden mobile-slide-done">
                    <a href="@AppRoutingConsts.ContestActiveEntries">DONE</a>
                </div>
            </div>

        </div>
    </article>
   
</section>
@section scripts{
    <script>
        var currentMobileSliderIndex = 1;
        var performingSlide = false;
        jQuery(function($) {
            var link = $('#mobile-slide-item-1').find('.mobile-slide-body')[0];
            var offset = $(link).offset();
            var bottom = offset.top + $(link).outerHeight();
            $('.mobile-slide-indicators').css('top', bottom + 50 + 'px');
            
            
            $('.mobile-slide-indicator-icon').click(function() {
                var element = $(this);
                currentMobileSliderIndex = element.data('index');
                $('.mobile-slide-item').removeClass('active');
                $('.mobile-slide-indicator-icon').removeClass('active');
                element.addClass('active');
                $(element.data('slide-to')).addClass('active');
                var link = $(element.data('slide-to')).find('.mobile-slide-body')[0];
                var offset = $(link).offset();
                var bottom = offset.top + $(link).outerHeight();
                $('.mobile-slide-indicators').css('top', bottom + 30 + 'px');
                var indicatorLength = $('.mobile-slide-indicator-icon').length;
                if (currentMobileSliderIndex === indicatorLength) {
                    $('.mobile-slide-done').removeClass('hidden');
                    $('.mobile-slide-skip').hide();
                    $('.mobile-slide-skip-hidden').show();
                } else {
                    $('.mobile-slide-done').addClass('hidden');
                    $('.mobile-slide-skip').show();
                    $('.mobile-slide-skip-hidden').hide();

                }
            });
    

        });

        function swipedetect(el, callback){
            var touchsurface = el,
                swipedir,
                startX,
                startY,
                distX,
                distY,
                threshold = 150, //required min distance traveled to be considered swipe
                restraint = 100, // maximum distance allowed at the same time in perpendicular direction
                allowedTime = 300, // maximum time allowed to travel that distance
                elapsedTime,
                startTime,
                handleswipe = callback || function(swipedir){}
            var dist;
            touchsurface.addEventListener('touchstart',
                function(e) {
                    var touchobj = e.changedTouches[0];
                    swipedir = 'none';
                    dist = 0;
                    startX = touchobj.pageX;
                    startY = touchobj.pageY;
                    startTime = new Date().getTime(); // record time when finger first makes contact with surface
                  //  e.preventDefault();
                },
                false);

            touchsurface.addEventListener('touchmove',
                function(e) {
                    //e.preventDefault(); // prevent scrolling when inside DIV
                },
                false);

            touchsurface.addEventListener('touchend',
                function(e) {
                    var touchobj = e.changedTouches[0];
                    distX =
                        touchobj.pageX - startX; // get horizontal dist traveled by finger while in contact with surface
                    distY =
                        touchobj.pageY - startY; // get vertical dist traveled by finger while in contact with surface
                    elapsedTime = new Date().getTime() - startTime; // get time elapsed
                    if (elapsedTime <= allowedTime) { // first condition for awipe met
                        if (Math.abs(distX) >= threshold && Math.abs(distY) <= restraint
                        ) { // 2nd condition for horizontal swipe met
                            e.preventDefault();
                            swipedir =
                                (distX < 0) ? 'left' : 'right'; // if dist traveled is negative, it indicates left swipe
                        } else if (Math.abs(distY) >= threshold && Math.abs(distX) <= restraint
                        ) { // 2nd condition for vertical swipe met
                            swipedir =
                                (distY < 0) ? 'up' : 'down'; // if dist traveled is negative, it indicates up swipe
                        }
                    }
                    handleswipe(swipedir);
                   // 
                },
                false);
        }

        var el1 = document.getElementById('mobile-slide-item-1');
        var el2 = document.getElementById('mobile-slide-item-2');
        var el3 = document.getElementById('mobile-slide-item-3');
        swipedetect(el1, handleSwipe);
        swipedetect(el2, handleSwipe);
        swipedetect(el3, handleSwipe);
       

        function handleSwipe(swipedir){
            //swipedir contains either "none", "left", "right", "top", or "down"
            if (swipedir === 'left') {
                performingSlide = true;
                console.log(currentMobileSliderIndex);
                if (currentMobileSliderIndex === 3) {
                    return;
                }
                currentMobileSliderIndex += 1;
                $('.mobile-slide-indicator-icon[data-index=' + currentMobileSliderIndex + ']')
                    .trigger('click');
            }else if (swipedir === 'right') {
                console.log('You just swiped right!');
                if (currentMobileSliderIndex === 1) {
                    return;
                }
                currentMobileSliderIndex -= 1;
                $('.mobile-slide-indicator-icon[data-index=' + currentMobileSliderIndex + ']')
                    .trigger('click');
            }
        }
    </script>

}

       