﻿@using IContestPro.Web.Startup
@model IContestPro.Contest.ContestCategory.Dto.ContestCategoryDto

@{
    ViewBag.Title = "Create Contest Type";
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.ContestCategories;

}
@section styles
{
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>*@
}
@section Scripts
{
    <!-- Bootstrap Date-Picker Plugin -->
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>*@
    <script src="~/view-resources/Views/Contest/contestpages.js" asp-append-version="true"></script>
}
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <form asp-action="CreateEditCategory" class="form-horizontal" id="create-form" enctype="multipart/form-data">
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Name">Name</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Name" type="text" class="form-control", placeholder="Name",  required maxlength="50"/>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Description">Description</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Description" type="text" class="form-control", placeholder="Description" required maxlength="255"/>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button class="btn btn-primary"><i class="fa fa-upload"></i> @(Model.Id <= 0 ? "Create" : "Save Changes")</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
