﻿@using IContestPro.Web.Startup
@model IContestPro.VoteType.Dto.VoteTypeDto

@{
    ViewBag.Title = "Create Vote Type";
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.VoteTypes;

}
@section styles
{
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>*@
}
@section Scripts
{
    <!-- Bootstrap Date-Picker Plugin -->
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>*@
    <script src="~/view-resources/Views/Contest/contestpages.js" asp-append-version="true"></script>
}
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <form asp-action="CreateEditVoteType" class="form-horizontal" id="create-form" enctype="multipart/form-data">
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Name">Name</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Name" type="text" class="form-control", placeholder="Name",  required maxlength="50"/>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Description">Description</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Description" type="text" class="form-control", placeholder="Description" required maxlength="255"/>
                            </div>
                        </div>
                    </div> 
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="VotePoint">Vote Point (VP)</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="VotePoint" type="number" class="form-control", placeholder="Vote Point"/>
                                <small>Enter zero(0) if not applicable.</small>
                            </div>
                        </div>
                    </div>  
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="RewardPoint">Voter Reward Point</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="RewardPoint" type="number" class="form-control", placeholder="Voter Reward Point"/>
                                <small>Enter the reward in points a user gets if he votes.</small>
                            </div>
                        </div>
                    </div> 
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Amount">Amount</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Amount" type="number" class="form-control", placeholder="Amount"/>
                                <small>Enter zero(0) if not applicable.</small>

                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="MinAmount">Min Amount</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="MinAmount" type="number" class="form-control", placeholder="Minimum Amount"/>
                                <small>Enter zero(0) if not applicable.</small>

                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="MaxAmount">Max Amount</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="MaxAmount" type="number" class="form-control", placeholder="Maximum Amount"/>
                                <small>Enter zero(0) if not applicable.</small>

                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button class="btn btn-primary"><i class="fa fa-upload"></i> @(Model.Id <= 0 ? "Create" : "Save Changes")</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
