﻿@using IContestPro.Web.Startup
@model IContestPro.Contest.ContestFee.Dto.ContestFeeDto

@{
    ViewBag.Title = "Create " + PageNames.ContestFee;
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.ContestFee;

}
@section styles
{
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>*@
}
@section Scripts
{
    <!-- Bootstrap Date-Picker Plugin -->
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>*@
    <script src="~/view-resources/Views/Contest/contestpages.js" asp-append-version="true"></script>
}
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <form asp-action="CreateEditContestFee" class="form-horizontal" id="create-form" enctype="multipart/form-data">
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="ContestTypeId">Contest Type</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <select class="form-control" asp-for="ContestTypeId" asp-items="@ViewBag.ContestTypes" ></select>
                            </div>
                        </div>
                    </div>  
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="CodeBatch">Code Batch</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="CodeBatch" type="number" class="form-control", placeholder="Code Batch" required/>
                            </div>
                        </div>
                    </div> 
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Amount">Amount</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Amount" type="number" class="form-control", placeholder="Amount" required/>
                            </div>
                        </div>
                    </div> 
                     <div class="input-group">
                        <div class="col-md-2">
                            <label for="PercentagePerMonth">Percentage Per Month</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="PercentagePerMonth" type="number" class="form-control", placeholder="Percentage payment per month." required/>
                           <small>The percentage of the original amount to be paid every month.</small>
                                </div>
                        </div>
                    </div> 
                    
                    <hr/>
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button class="btn btn-primary"><i class="fa fa-upload"></i> @(Model.Id <= 0 ? "Create" : "Save Changes")</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
