﻿@using IContestPro.Web.Startup
@model IContestPro.Contest.ContestEntryType.Dto.ContestEntryTypeDto

@{
    ViewBag.Title = "Create Contest Entry Type";
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.ContestEntryTypes;

}
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <form asp-action="CreateEditEntryType" class="form-horizontal" id="create-form" enctype="multipart/form-data">
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Name">Name</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Name" type="text" class="form-control", placeholder="Name", required maxlength="50"/>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Description">Description</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Description" type="text" class="form-control", placeholder="Description" required maxlength="255"/>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button class="btn btn-primary"><i class="fa fa-upload"></i> @(Model.Id <= 0 ? "Create" : "Save Changes")</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
