﻿@using Abp.Application.Services.Dto
@using Abp.Runtime.Session
@using IContestPro
@using IContestPro.Blog.Dto
@using IContestPro.Cookie
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting;
@model PagedResultDto<IContestPro.Blog.Dto.BlogDtoWithDetails>
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.HowItWorks; // The menu item will be active for this page.
    ViewBag.Title = PageNames.HowItWorks; // The menu item will be active for this page.
  Layout = "_ContestHomePageLayoutWithRightSide";
}


<article class="winner-area padding-20" style="background-color: transparent;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li>How It Works</li>
        </ol>
    </nav>
    
        <section class="row">
            <!--CONTESTS BODY-->
 <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 
<hr/>
            </article>
            <!--/CONTESTS BODY-->
           <div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
                <div class="row no-margin-left">
                    <article class="col-md-12  col-sm-12 col-xs-12">
                        <h1>How It Works</h1>
                        <p>Hey enter here...</p>
                    </article>
                </div>

                <div class="clearfix"></div>

        </div>
    </div>
</div>

        </section>

   

</article>