﻿@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<IContestPro.PaymentType.Dto.PaymentTypeDto>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Payment Types";
    ViewBag.CurrentPageName = PageNames.PaymentTypes; // The menu item will be active for this page.
    Layout = "_Layout";
   
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 class="pull-left">
                    Payment Types
                </h2>
                <p class="pull-right">
                    <a class="btn btn-danger" asp-action="CreateEditPaymentType">Create New</a>
                </p>
                <p class="clearfix"></p>
            </div>
            <div class="body table-responsive">
                @{
                    int page = ViewBag.Page;
                    int pageSize = ViewBag.PageSize;
                    var sn = pageSize * (page - 1) + 1;
                }
               
                <table class="table">
                    <thead>
                    <tr>
                        <th>S/N</th>
                        <th>@L("Name")</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var type in Model.Items)
                    {
                        <tr>
                            <td>@sn</td>
                            <td>@type.Name</td>
                            <td>@type.Description</td>
                            <td>@type.CreationTime.ToString("g")</td>
                            <td class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <form asp-action="DeletePaymentType" id="form-type-@type.Id" method="post">
                                    <input type="hidden" name="id" value="@type.Id"/>
                                </form>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a asp-action="CreateEditPaymentType" asp-route-id="@type.Id" class="waves-effect waves-block">Edit</a>
                                    </li>
                                    <li>
                                        <a data-token="@type.Id" class="waves-effect waves-block delete-button">Delete</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        sn++;
                    }
                    </tbody>
                </table>
                @Html.PaginateAdmin(Model.TotalCount, page, pageSize, "Common", "PaymentTypes")
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            $('.delete-button').on('click', function() {
                var token = $(this).data('token');
                console.log(token);
                    abp.message.confirm('Are you sure you want to delete?', 'Delete', function(result) {
                        console.log(result);
                if (result) {
                    $('#form-type-' + token).submit();
                }
                    });
                });
           
        });
    </script>
}
