﻿@using IContestPro.Web.Helpers
@using PagedList
@model IPagedList<IContestPro.Logging.Dto.ExceptionLogDto>
@{
    var exceptionFiles = ViewBag.ExceptionFiles as IEnumerable<string>;
}
<style>
    .logErrorHighlighted {
        color: rgba(247, 12, 12, 0.69);
       
    }
</style>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 class="pull-left">
                   Logs
                </h2>
               
                <p class="clearfix"></p>
            </div>
            <div class="body table-responsive">
<article class="row">
    <aside class="col-md-2">
        <div style="padding-left: 20px; overflow: auto;">
            @if (exceptionFiles != null)
            {
                <h2 class="text-center margin-top-20">
                    <strong>Logs (@exceptionFiles.Count())</strong>
                </h2>
                foreach (var exception in exceptionFiles)
                {
                    <p>
                        <a href="@Url.Action("Log", new {fileName = exception})">@exception</a>
                        <a class="delete-button" href="@Url.Action("DeleteLogFile", new {fileName = exception})" style="color: red;">Delete</a>
                    </p>
                }
            }
        </div>
    </aside>
    <section class="col-md-10">
        @if (Model != null && Model.Any())
        {
            var sn = (Model.PageNumber - 1) * Model.PageSize + 1;
            <section class="container-fluid table-responsive">
                <div class="pager">
                    @if (Model.PageCount > 1)
                    {
                        @Html.PaginateAdmin(Model.TotalItemCount, Model.PageNumber, Model.PageSize, "Error", "Log", "fileName=" + (string)ViewBag.FileName)
                        /*(Model, page => Url.Action("Log", "Error", new {page, fileName = ViewBag.FileName}), PagedListRenderOptions.ClassicPlusFirstAndLast)*/
                    }
                    <div class="text-right" style="margin-right: 30px;">
                        Showing @(Model.FirstItemOnPage) to @(Model.FirstItemOnPage + (Model.Count - 1)) of @Model.TotalItemCount (@Model.PageCount Pages)
                    </div>
                </div>
                <div>
                    <table class="table table-bordered table-hover">
                        <tr class="header">
                            <th>S/N</th>
                            <th>Date</th>
                            <th>User</th>
                            <th>IP</th>
                            <th>Host Name</th>
                            <th class="logErrorHighlighted">Request Url</th>
                            <th>Error Type</th>
                            <th>Inner Exception</th>
                            <th class="logErrorHighlighted">Exception Type</th>
                            <th class="logErrorHighlighted">Exception Message</th>
                            <th>Source Function Name</th>
                            <th>System Source</th>
                            <th class="logErrorHighlighted">Stack trace</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @sn
                                </td>
                                <td>
                                    @Html.Raw(item.Date)
                                    @* Exception in descending order *@
                                    <a href="@Url.Action("DeleteException", new {lineIndex = Model.TotalItemCount - sn, page = Model.PageNumber, fileName = ViewBag.FileName})">Delete</a>
                                </td>
                                <td>@Html.Raw(item.UserName)</td>
                                <td>@Html.Raw(item.Ip)</td>
                                <td>@Html.Raw(item.HostName)</td>
                                <td class="logErrorHighlighted">@Html.Raw(item.RequestUrl)</td>
                                <td>@Html.Raw(item.ErrorType)</td>
                                <td>@Html.Raw(item.InnerException)</td>
                                <td class="logErrorHighlighted">@Html.Raw(item.ExceptionType)</td>
                                <td class="logErrorHighlighted">@Html.Raw(item.ExceptionMessage)</td>
                                <td>@Html.Raw(item.SourceFunctionName)</td>
                                <td>@Html.Raw(item.SystemSource)</td>
                                <td class="logErrorHighlighted">@Html.Raw(item.StackTrace)</td>
                            </tr>
                            sn++;
                        }
                    </table>
                </div>
                <div class="pager">
                    @if (Model.PageCount > 1)
                    {
                        @*
                        @Html.PagedListPager(Model, page => Url.Action("Log", "Error", new {page, fileName = ViewBag.FileName}), PagedListRenderOptions.ClassicPlusFirstAndLast)
                        *@
                        @Html.PaginateAdmin(Model.TotalItemCount, Model.PageNumber, Model.PageSize, "Error", "Log", "fileName=" + (string)ViewBag.FileName)
                    }

                    <div class="text-right" style="margin-right: 30px;">
                        Showing @(Model.FirstItemOnPage) to @(Model.FirstItemOnPage + (Model.Count - 1)) of @Model.TotalItemCount (@Model.PageCount Pages)
                    </div>
                </div>

            </section>
        }
        else
        {
            <div class="alert alert-warning">
                <h3>There are no exception logs for now.</h3>
            </div>
        }
    </section>
    </article>
            </div>
        </div>
    </div>
</div>





