﻿
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card alert alert-success">
            <div class="header">
                <h2 class="text-white">
                  Payment Completed Successfully.
                </h2>
            </div>
            <div class="body">
                <div  class="text-white">
                    <p>
                        Your payment was completed successfully.
                    </p>
                    <p>Transaction reference: <strong>@ViewBag.Reference</strong></p>
                </div>
               

            </div>
        </div>
    </div>
</div>
