﻿<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Payment Failed.
                </h2>
            </div>
            <div class="body text-danger">
                <p>
                    Your payment completed with error.
                </p>
                <p>Transaction reference: <strong>@ViewBag.Reference</strong></p>

               
            </div>
        </div>
    </div>
</div>
