﻿@using IContestPro
@using IContestPro.Helpers
@model IContestPro.Payment.Dto.FundWalletDto
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Complete your payment.
                </h2>
            </div>
            <div class="body text-danger">
                <p>
                    Please complete your wallet funding. Click the button below.
                </p>
                <div>
                    <a class="btn btn-success btn-lg animated fadeIn infinite" data-toggle="modal"
                       data-target="#paymentModal"><i class="fa fa-money"></i> Click here to pay</a></div>
               
            </div>
        </div>
    </div>
</div>

<div id="paymentModal" class="modal fade text-center" role="dialog">
    <div class="modal-dialog">
       
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">TOP YOUR WALLET WITH @Model.Amount.ToNairaString() </h4>
            </div>
            <div class="modal-body">
                <h3 class="margin-bottom-10">Select your card type</h3>
                <div class="margin-bottom-20"><strong>Amount: </strong>@Model.Amount.ToNairaString()</div>
                <form asp-action="FundWalletResponse" asp-controller="Payment" asp-route-reference="@Model.Reference">
                    <script
                        src="https://js.paystack.co/v1/inline.js"
                        data-key="@AppConsts.PaystackApiPublicKey"
                        data-email="@ViewBag.User.EmailAddress"
                        data-amount="@(Model.Amount * 100)"
                        data-ref='@Model.Reference'>
                    </script>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts
{
    <script>
        (function() {
            $(function() {
                $('#paymentModal').modal('show');
            });
        })();
    </script>
}
