﻿@using IContestPro.Helpers
@model IContestPro.HttpRequest.Dto.HttpResponseDto<IContestPro.PaymentHistories.Dto.TransactionResponseDto>
@if (Model != null)
{
    if (Model.Success)
    {
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="background-color: #2B982B;">
                    <div class="header">
                        <h2 style="color: #fff;">
                            Wallet Topup Completed Successfully.
                        </h2>
                    </div>
                    <div class="body">
                        <div class="alert alert-success">
                            <p>
                                Wallet funding was completed successfully.
                            </p>
                            <p><strong>Amount: </strong>@((Model.Result.Data.Amount / 100).ToNairaString())</p>
                            <p><strong>Channel: </strong>@Model.Result.Data.Channel</p>
                            <p><strong>Gateway Response: </strong>@Model.Result.Message</p>
                            <p><strong>Transaction Date: </strong>@Model.Result.Data.Transaction_date.ToString("f")</p>
                            <p><strong>Transaction reference: </strong>@Model.Result.Data.Reference</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> 
    }
    else
    {
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="background-color: #F9483A;">
                    <div class="header">
                        <h2 style="color: #fff;">
                            Error Occurred.
                        </h2>
                    </div>
                    <div class="body">
                        <div class="alert alert-danger">
                            <p>
                                @Model.Message
                            </p>
                            <p>Transaction reference: <strong>@ViewBag.Reference</strong></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>   
    }
 
}
else
{
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card" style="background-color: #F9483A;">
                <div class="header">
                    <h2 style="color: #fff;">
                        Error occurred
                    </h2>
                </div>
                <div class="body">
                    <div class="alert alert-danger">
                        <p>
                            Transaction not found.
                        </p>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
}
