﻿<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card alert alert-danger">
            <div class="header">
                <h2 class="text-white">
                    Payment verification Failed.
                </h2>
            </div>
            <div class="body text-danger">
                <div  class="text-white">
                    <p>
                        Your payment could not be verified at this time. Please try again later.
                    </p>
                    <p>Transaction reference: <strong>@ViewBag.Reference</strong></p>
                </div>
                


            </div>
        </div>
    </div>
</div>
