﻿@using System.Linq
@using IContestPro
@using Microsoft.AspNetCore.Hosting
@model AppPagedRequestResultDto<Abp.Application.Services.Dto.PagedResultDto<IContestPro.VoterLeaderBoard.Dto.TopContestsWithHighestVotesAndTopVotersDto>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHostingEnvironment HostingEnvironment
<section class="leader-board-main">
	
	@if (Model.Result != null && Model.Result.Items.Any())
	{
		foreach (var item in Model.Result.Items)
		{
			<div class="home-about-photo-contest-area leader-board-wrapper no-padding-top padding-left-20 padding-right-20 padding-bottom-20">
				<div class="row full-photocontest-area padding-bottom-50 leader-board-inner">
					<div class="col-sm-6">
						<div class="single-section contest-container">
							<h3 class="margin-bottom-20 margin-top-20">
								<a href="@AppRoutingConsts.ContestDetails(item.Contest.Permalink)">@item.Contest.Title</a>
							</h3>
							<div class="section-img">
								<a href="@AppRoutingConsts.ContestDetails(item.Contest.Permalink)">
									<img src="/images/uploads/@item.Contest.Picture" alt="single Images">
								</a>
							</div>
						</div>
						<div class=" margin-top-20 margin-bottom-20">
							<ul id="meta-text">
								<li class="date"><i class="fa fa-calendar-check-o"></i>@item.Contest.StartDate.ToString("MMM dd, yyyy")</li>
								<li class="date"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> @item.Contest.EndDate.ToString("MMM dd, yyyy")</li>
							</ul>
						</div>

						<div class="link-section flex-container">
							<a href="@AppRoutingConsts.ContestDetails(item.Contest.Permalink)" class="joni-btn primary-btn flex-item">Details</a>
							@if (item.Contest.EndDate > DateTime.Now)
							{
								<a href="@AppRoutingConsts.ContestEntriesJoin(item.Contest.Permalink)" class="btn btn-warning flex-item">join now</a>
							}
						</div>
					</div>
					
					<div class="col-sm-6">
						<div class="single-section">
							<h3 class="margin-top-20 margin-bottom-10">Top 10 Voters</h3>
							@if (item.UserVotes != null && item.UserVotes.Any())
							{
								<div class="list-group">
									@foreach (var vote in item.UserVotes)
									{
										<div class="list-group-item leader-board-contestant-list-item">
											<div class="row">
												<div class="col-md-2 col-sm-2 col-xs-3">
													@if (System.IO.File.Exists(HostingEnvironment.WebRootPath + $"/images/uploads/{vote.Image}"))
													{
														<a href="@AppRoutingConsts.UserProfile(vote.Permalink)">
															<img src="/images/uploads/@vote.Image" class="img-responsive"/>
														</a>
													}
													else
													{
														<a href="@AppRoutingConsts.UserProfile(vote.Permalink)">
															<img src="/images/user.png" class="img-responsive"/>
														</a>
													}
												</div>
												<div class="col-md-10 col-sm-10 col-xs-9">
													<a href="@AppRoutingConsts.UserProfile(vote.Permalink)">
														<h4 class="no-margin-bottom">@vote.NickName</h4>
													</a>
													<div><strong>Votes:</strong>@vote.TotalVotes</div>
												</div>
											</div>
										</div>
									}
								</div>
							}
							else
							{
								<div class="alert alert-info margin-top-20">
									<p>There are no entries on this contest for now. You can join this contest by clicking the link below</p>
									@if (item.Contest.EndDate > DateTime.Now)
									{
										<p class="margin-top-30"><a href="@AppRoutingConsts.ContestEntriesJoin(item.Contest.Permalink)" class="btn">Click to join</a></p>
									}
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		}
	}
	else
	{
		<div class="alert alert-info">
			<div class="row">
				<div class="col-md-4 col-sm-3 col-xs-3">
					<i class="fa fa-cloud" style="font-size: 15em;"></i>
				</div>
				<div class="col-md-8 col-sm-9 col-xs-9">
					<h3>There Are No Contests</h3>
					<p>There are no contests now. You can create and promote your contest by clicking the link below</p>
					<p class="margin-top-30"><a class="btn" asp-action="Create" asp-controller="Contest">Click to create</a></p>
				</div>
			</div>



		</div>
	}
</section>


@section scripts
{
	<script>
		$(function() {
			
		});
	</script>
}
