﻿@using Microsoft.AspNetCore.Hosting
@model IEnumerable<IContestPro.Users.Dto.CurrentUserFollowersOrFollowingDto>
@inject IHostingEnvironment HostingEnvironment

@{
    Layout = null;
}
<div class="list-group" style="max-height: 400px; overflow-x: hidden; overflow-y: auto;">

        @if (Model != null && Model.Any())
        {

                foreach (var item in Model)
                {
                    if (System.IO.File.Exists(HostingEnvironment.WebRootPath + $"/images/uploads/{item.Image}"))
                    {
                        <a class="list-group-item" data-token="@item.Id"><img src="/images/uploads/@item.Image" class="img-circle" height="20"/>@item.NickName</a>
                    }
                    else
                    {
                        <a class="list-group-item" data-token="@item.Id"><img src="/images/user.png" class="img-circle" height="20"/>@item.NickName</a>
                    }

                }

        }
        else
        {
            <div class="list-group-item">
                <div class="alert alert-info text-center">
                    <p>No follower found. Please follow the user you want to message and try again.</p>
                </div>
            </div>
        }
</div>



