﻿@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting;
@model IContestPro.Users.Dto.UserDetailsDto
@inject IHostingEnvironment HostingEnvironment;
@using File = System.IO.File

@{
    Layout = "_ContestHomePageLayoutWithRightSide";
    ViewBag.CurrentPageName = PageNames.Users; // The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
{
    <script src="~/js/angular.min.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/Contest/contestController.js" asp-append-version="true"></script>
<script src="~/view-resources/Views/Manage/index.js" asp-append-version="true"></script>
    @*<environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>
    </environment>*@
    
}
<div class="winners-page-area" ng-app="myContestApp" ng-controller="contestController" ng-init="userIdToFollow= @Model.User.Id">
            <div >
                <div class="row top-winners">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="images">
                            <a>
                                @if (File.Exists(HostingEnvironment.WebRootPath + "/images/uploads/" + Model.User.Image))
                                {
                                    <img src="~/images/uploads/@Model.User.Image" alt="@Model.User.NickName">  
                                }
                                else
                                {
                                    <img src="~/images/user.png">  
                                }
                            </a>
                            <div class="overley">
                                <div class="informations text-center" >
                                    <h3><a>@Model.User.NickName</a></h3>
                                    <span>Entries: @Model.TotalEntries</span>
                                    <span>Votes: @Model.TotalVotes</span>
                                    <div class="social-media-wrp text-center">
                                        <ul>
                                            @if (Model.User.FaceBook != null)
                                            {
                                                <li><a target="_blank" href="@Model.User.FaceBook"><i class="fa fa-facebook-square text-white fa-2x"></i></a> </li>  
                                            }
                                            @if (Model.User.Twitter != null)
                                            {
                                                <li><a target="_blank" href="@Model.User.Twitter"><i class="fa fa-twitter-square text-white fa-2x margin-left-10"></i></a> </li>  
                                            }
                                            @if (Model.User.LinkedIn != null)
                                            {
                                                <li><a target="_blank" href="@Model.User.LinkedIn"><i class="fa fa-linkedin-square text-white fa-2x margin-left-10"></i></a>  </li> 
                                            }
                                            @if (Model.User.Instagram != null)
                                            {
                                                <li><a target="_blank" href="@Model.User.Instagram"><i class="fa fa-instagram text-white fa-2x margin-left-10"></i></a>  </li> 
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="winners-informations no-padding-top">
                            <h3><a>@Model.User.NickName</a></h3>
                            <article class="row">
                                @if (Model.User.Profession != null)
                                {
                                    <div class="col-md-4">
                                        <strong>Profession: <span>@Model.User.Profession</span></strong>
                                    </div> 
                                }
                                <div class="col-md-4">
                                    <strong>Country: <span>@Model.User.Country?.Name</span></strong>
                                </div>
                                @if (Model.User.State != null)
                                {
                                    <div class="col-md-4">
                                        <strong>State: <span>@Model.User.State?.Name</span></strong>
                                    </div>
                                }

                            </article>
                        @if (Model.User.Id != AbpSession.UserId)
                        {
                            <article>
                                <div>
                                    <a ng-click="follow(@Model.User.Id);" class="btn btn-danger"><i class="fa fa-plus"></i> Follow</a>
                                </div>
                            </article>
                        }
                            @{
                                var total = Model.TotalFollowers + Model.TotalFollowing + Model.TotalEntries + Model.TotalVotes;
                                var percentageFollowers =  ((double)Model.TotalFollowers/(double)total) * 100;
                                var percentageFollowing = ((double)Model.TotalFollowing / (double)total) * 100;
                                var percentageEntries = ((double)Model.TotalEntries / (double)total) * 100;
                                var percentageVotes = ((double)Model.TotalVotes / (double)total) * 100;
                            }
                            <div class="skill-content-3">
                                <div class="skill">
                                    <!-- PROGRESS START -->
                                    <div class="progress">
                                        <div class="lead">Following</div>
                                        <div class="progress-bar wow fadeInLeft" data-progress="@percentageFollowing%" style="width: @percentageFollowing%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>@Model.TotalFollowing</span></div>
                                    </div>
                                    <!-- PROGRESS END -->
                                    <!-- PROGRESS START -->
                                    <div class="progress">
                                        <div class="lead">Followers</div>
                                        <div class="progress-bar wow fadeInLeft" data-progress="@percentageFollowers%" style="width: @percentageFollowers%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>@Model.TotalFollowers</span> </div>
                                    </div>
                                    <!-- PROGRESS END -->
                                    <!-- PROGRESS START -->
                                    <div class="progress hidden-sm">
                                        <div class="lead">Entries</div>
                                        <div class="progress-bar wow fadeInLeft" data-progress="@percentageEntries%" style="width: @(Math.Abs(percentageEntries) <= 0 ? 30 : percentageEntries)%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>@Model.TotalEntries</span> </div>
                                    </div>
                                    <!-- PROGRESS END -->
                                    <!-- PROGRESS START -->
                                    <div class="progress hidden-sm">
                                        <div class="lead">Votes</div>
                                        <div class="progress-bar wow fadeInLeft" data-progress="@percentageVotes%" style="width: @(Math.Abs(percentageVotes) <=0 ? 25 : percentageVotes)%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>@Model.TotalVotes</span> </div>
                                    </div>
                                    <!-- PROGRESS END -->
                                    
                                </div>
                            </div>
                            <div class="social-media-wrp margin-bottom-50">
                                <ul>
                                    @if (Model.User.FaceBook != null)
                                    {
                                        <li><a target="_blank" href="@Model.User.FaceBook"><i class="fa fa-facebook-square text-white fa-2x"></i></a> </li>  
                                    }
                                    @if (Model.User.Twitter != null)
                                    {
                                        <li><a target="_blank" href="@Model.User.Twitter"><i class="fa fa-twitter-square text-white fa-2x margin-left-10"></i></a> </li>  
                                    }
                                    @if (Model.User.LinkedIn != null)
                                    {
                                        <li><a target="_blank" href="@Model.User.LinkedIn"><i class="fa fa-linkedin-square text-white fa-2x margin-left-10"></i></a>  </li> 
                                    }
                                    @if (Model.User.Instagram != null)
                                    {
                                        <li><a target="_blank" href="@Model.User.Instagram"><i class="fa fa-instagram text-white fa-2x margin-left-10"></i></a>  </li> 
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

