﻿@using IContestPro.Helpers
@using IContestPro.Web.Startup
@model IContestPro.Sponsor.Dto.SponsorDetailsDto
@{
    ViewBag.Title = "Contest Details";
    Layout = "_ContestHomePageLayoutWithRightSide";
    ViewBag.CurrentPageName = PageNames.Sponsor; // The menu item will be active for this page.

}
@section scripts
{
    <script src="~/js/angular.min.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/Sponsor/sponsorController.js" asp-append-version="true"></script>
    
}
<div class="single-blog-page-area no-padding-top"  ng-app="myContestApp" ng-controller="sponsorController">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li>Sponsor</li>
            <li>@Model.Name</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="single-news-page">
                    <h3><a onclick="return false;">@Model.Name</a>

                    </h3>
                    <h4>
                        <i class="fa fa fa-calendar margin-left-30"></i> @Model.CreationTime.ToString("D")
                        
                        <i class="fa fa-users  margin-left-30"></i> @Model.TotalFollowers.ConvertToNearestNumberString() Followers
                        @if (Model.UserId != AbpSession.UserId)
                        {
                          <a ng-click="follow(@Model.Id);" class="btn btn-danger pull-right follow-button"><i class="fa fa-plus"></i> Follow</a>
                        }
                    </h4>
                    <section class="sponsor-banner-wrapper" style="position: relative;">
                        <div class="news-featured-image">
                            <a onclick="return false;" title="@Model.Name">
                                <img src="~/images/uploads/@Model.Banner" alt="@Model.Name"/>
                            </a>
                        </div>
                        <div style="position: absolute; top: 0; top: 70px; left: 45%;">
                            <img class="img-circle img-thumbnail" src="~/images/uploads/@Model.Logo" alt="@Model.Name" width="150" title="@Model.Name"/>
                        </div>
                    </section>
                    <div class="single-blog-content">
                        <p>
                            @Model.Description
                        </p>
                            @if (Model.FaceBook != null)
                            {
                                <section class="row">
                                    <div class="col-md-2"><strong>FaceBook</strong></div>
                                    <div class="col-md-4"> <a href="@Model.FaceBook">@Model.FaceBook</a></div>
                                </section>
                            }
                            @if (Model.Twitter != null)
                            {
                                <section class="row">
                                    <div class="col-md-2"><strong>Twitter</strong></div>
                                    <div class="col-md-4"> <a href="@Model.Twitter">@Model.Twitter</a></div>
                                </section>
                            }
                           @if (Model.LinkedIn != null)
                            {
                                <section class="row">
                                    <div class="col-md-2"><strong>LinkedIn</strong></div>
                                    <div class="col-md-4"> <a href="@Model.LinkedIn">@Model.LinkedIn</a></div>
                                </section>
                            }
                           @if (Model.Instagram != null)
                            {
                                <section class="row">
                                    <div class="col-md-2"><strong>Instagram</strong></div>
                                    <div class="col-md-4"> <a href="@Model.Instagram">@Model.Instagram</a></div>
                                </section>
                            }
                           
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
