﻿@using IContestPro.Web.Startup
@model IContestPro.Sponsor.Dto.SponsorDto
@{
    ViewBag.CurrentPageName = PageNames.Sponsor; // The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
{
    

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row clearfix">
<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<section class="card">
<section class="body">
@if (Model?.Name == null)
{
<h3>Becoming A Sponsor</h3>
<p>
    Becoming a sponsor will enable you create contests that members can compete and vote on. This enables you to promote your brand and give it utmost visibility on the platform.</p>
<p>
    <a asp-action="Upgrade" class="btn btn-xs btn-success"><i class=""></i> Become a sponsor</a>
</p>
              
}else 
{
    <h2>Company Profile</h2>
    <hr/>
        <section style="height: 150px; background: #ee462e url('images/uploads/@Model.Banner') no-repeat 100%/100%;">
        <div class="row">
            <div class="col-md-8 profile-avarta-wrapper">
                <div class="profile-avarta-container">
                    @*<div class="edit-avarta-container-wrapper" style="width: 100px;">
                        <img src="~/images/uploads/@Model.Logo" class="img-responsive img-thumbnail img-circle" width="100" height="100"/>
                        <p class="edit-avarta-container"><a asp-action="Edit" asp-route-id="@Model.Id" >Edit</a></p>
                    </div>*@
                </div>
            </div>
                                    
        </div>
    </section>
    <br /><br />
    <div class="row">
        <section class="col-md-8">
            <section class="row">
                <div class="col-md-2"><strong>Comapny Name</strong></div> <div class="col-md-4">@Model.Name</div>
       
      
            </section> 
            <section class="row">
                <div class="col-md-2"><strong>Description</strong></div> <div class="col-md-10">@Model.Description</div>
            </section>
            <section class="row">
                <div class="col-md-2"><strong>FaceBook</strong></div> <div class="col-md-4"> <a href="@(Model.FaceBook ?? "#")">@(Model.FaceBook ?? "Not provided")</a></div>
            </section>
            <section class="row">
                <div class="col-md-2"><strong>Twitter</strong></div> <div class="col-md-4"> <a href="@(Model.Twitter ?? "#")">@(Model.Twitter ?? "Not provided")</a></div>
            </section>
            <section class="row">
                <div class="col-md-2"><strong>LinkedIn</strong></div> <div class="col-md-4"> <a href="@(Model.LinkedIn ?? "#")">@(Model.LinkedIn ?? "Not provided")</a></div>
            </section>
            <section class="row">
                <div class="col-md-2"><strong>Instagram</strong></div> <div class="col-md-4"> <a href="@(Model.Instagram ?? "#")">@(Model.Instagram ?? "Not provided")</a></div>
            </section>
            <section class="row">
                <div><a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger btn-lg">Edit</a></div>
            </section>
        </section>
        <aside class="col-md-4">
            <div class="profile-avarta-container margin-top-20 margin-bottom-20">
                <div class="edit-avarta-container-wrapper">
                    <img src="~/images/uploads/@Model.Logo" class="img-responsive img-thumbnail img-circle" />
                </div>
            </div>
            <div>
                <a href="@(Model.FaceBook ?? "#")"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="@(Model.Twitter ?? "#")"><i class="fa fa-twitter-square fa-2x margin-left-10"></i></a>
                <a href="@(Model.LinkedIn ?? "#")"><i class="fa fa-linkedin-square fa-2x margin-left-10"></i></a>
                <a href="@(Model.Instagram ?? "#")"><i class="fa fa-instagram fa-2x margin-left-10"></i></a>
            </div>


        </aside>
    </div>
    
}
@*else
{
   
    <section class="row">
        <div class="alert alert-info">
            <h3><i class="fa fa-info-circle"></i> You do not have any company information.</h3>
            <p><a asp-action="Upgrade" class="btn btn-danger">Create Company Profile</a></p>
        </div>
    </section>
   
}*@
            </section>
        </section>
    </section>
</div>