﻿@using IContestPro.Helpers.DatabaseFieldLengths
@using IContestPro.Sponsor.Dto
@using IContestPro.Web.Startup
@model IContestPro.Sponsor.Dto.CreateSponsorDto
@{
    ViewBag.CurrentPageName = PageNames.Sponsor; // The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
{
    
    <script src="~/view-resources/Views/Company/Company.js" asp-append-version="true"></script>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>
    </environment>
}

<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <div class="alert alert-warning">
                    <p><i class="fa fa-info"></i> To complete your upgrade you will be required to login again after sucessfully saving your information. Thank you.</p>
                </div>
                <form asp-action="Upgrade" class="form-horizontal" id="company-form">
                    <input id="banner-img-input" asp-for="Banner" type="hidden"/>
                    <input id="logo-img-input" asp-for="Logo" type="hidden"/>
                    <input asp-for="UserId" type="hidden" value="@AbpSession.UserId"/>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label>Company Name</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Name" class="form-control", placeholder="Name", required="" maxlength="@SponsorDto.NameLength"/>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Description">Description</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <textarea asp-for="Description" class = "form-control", placeholder = "Description", required = ""  maxlength="@SponsorDto.DescriptionLength"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="FaceBook">FaceBook Page</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="FaceBook" type="url" class="form-control", placeholder="FaceBook", maxlength="@StandardFieldLength.MaxSocialMediaLength"/>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Twitter">Twitter</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Twitter" type="url" class="form-control", placeholder="Twitter", maxlength="@StandardFieldLength.MaxSocialMediaLength"/>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="LinkedIn">LinkedIn Page</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="LinkedIn" type="url" class="form-control", placeholder="LinkedIn", maxlength="@StandardFieldLength.MaxSocialMediaLength"/>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label for="Instagram">Instagram Page</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-line">
                                <input asp-for="Instagram" type="url" class="form-control", placeholder="Instagram", maxlength="@StandardFieldLength.MaxSocialMediaLength"/>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <h3>Company Banner</h3>
                    <div class="input-group compnay-banner-wrapper">
                        <div class="col-md-2">
                            <label>Banner</label>
                        </div>
                        <div class="col-md-10">
                            <section class="row">
                                <div class="col-md-8">
                                    <div class="form-line">
                                        <input class="form-control" id="banner-file-browse" type="file">
                                        <small>Banner size 880px by 150px</small>
                                    </div>
                                    <div id="banner-progress-wrp" style="display: none;">
                                        <div class="progress-bar banner-progress-bar"></div>
                                        <div class="status banner-status">0%</div>
                                    </div>
                                    @*<p><button id="save-banner" type="button" class="btn btn-primary">Save Banner</button></p>*@
                                </div>
                                <div class="col-md-4" id="banner-thumnail-wrapper" style="@(Model.Banner != null ? "display: block;" : "display: none;")">
                                    <i class="fa fa-times delete-banner" style="cursor: pointer; color: red;"></i>
                                    <a href="" id="banner-thumnail-link">
                                        <img src="@(Model.Banner != null ? "/images/uploads/" + Model.Banner : "")" width="500" height="86" id="banner-thumnail" class="img-responsive img-thumbnail"/>
                                    </a>
                                </div>
                            </section>
                        </div>
                    </div>
                    <hr/>
                    <h3>Company Logo</h3>
                    <div class="input-group compnay-logo-wrapper">
                        <div class="col-md-2">
                            <label>Logo</label>
                        </div>
                        <div class="col-md-10">
                            <section class="row">
                                <div class="col-md-8">
                                    <div class="form-line">
                                        <input class="form-control" id="logo-file-browse" type="file">
                                        <small>Logo size 150px by 150px</small>
                                    </div>
                                    <div id="logo-progress-wrp" style="display: none;">
                                        <div class="progress-bar logo-progress-bar"></div>
                                        <div class="status logo-status">0%</div>
                                    </div>
                                    @*<p><button id="save-logo" type="button" class="btn btn-primary">Save Logo</button></p>*@
                                </div>
                                <div class="col-md-4" id="logo-thumnail-wrapper" style="@(Model.Logo != null ? "display: block;" : "display: none;")">
                                    <i class="fa fa-times delete-logo" style="cursor: pointer; color: red;"></i>
                                    <a href="" id="logo-thumnail-link">
                                        <img src="@(Model.Logo != null ? "/images/uploads/" + Model.Logo : "")" width="150" height="150" id="logo-thumnail" class="img-responsive img-thumbnail"/>
                                    </a>
                                </div>
                            </section>

                        </div>

                    </div>


                    <hr/>
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button class="btn btn-danger"><i class="fa fa-upload"></i> Upgrade</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->