﻿@using IContestPro.Cookie
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting
@model IContestPro.CodeSystem.Dto.AllocateCodeDto
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.CodeSystem; // The menu item will be active for this page.
}


<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <section class="content-header">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <h2>Allocate Code To Users</h2>
                            </section>

                        </div>
                        <div class="col-md-6">
                            <nav aria-label="breadcrumb" class="pull-right">
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                                    <li><a asp-controller="CodeSystem" asp-action="Index">Code System</a></li>
                                    <li>Allocate Code</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </section>
                <hr/>
                 <form asp-action="Allocate" role="form" class="form-horizontal "
                  method="post" enctype="multipart/form-data">     
                   <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="well">
                                    <h1>Available Codes: @ViewBag.NotAllocatedCodesCount
                                        <a class="btn pull-right" asp-action="Create">Create New Code</a>
                                        </h1>
                                </div>
                                <article class="margin-top-20">
                                    <div class="input-group">
                                        <div class="col-md-3">
                                            <label for="multival-suggestion-input">Allocate To:</label>  <i class="fa fa-spinner fa-spin loading-followers"></i>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-line">
                                                <div class="multiple-val-input">
                                                    <ul>
                                                        <input type="text" id="multival-suggestion-input" placeholder="Type Here" style="width: 70px;">
                                                        <span class="input_hidden"></span>
                                                        <input type="hidden" id="multival-recipients-input" name="Recipients" value=""/>
                                                    </ul>
                                                </div>
                                                <small>Select users to allocate code to.</small>
                                                <section class="suggested-recipients-wrapper">
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="col-md-2">
                                            <label for="TotalCodesToAllocate">Total Codes To Allocate</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-line">
                                                <input asp-for="TotalCodesToAllocate" type="number" class="form-control" placeholder="Total Codes To Allocate"/>
                                            </div>
                                        </div>
                                    </div>

                                   
                                  
                                    <hr/>
                                    <div class="input-group">
                                        <div class="col-md-offset-2 col-md-6">
                                            <button class="btn">Allocate</button>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
               
            </div>
           
            </form>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/js/multi-value-input.js"></script>
}
<!-- #END# CPU Usage -->