﻿@using IContestPro.Cookie
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting
@model IContestPro.CodeSystem.Dto.CreateCodeSystemWithCountDto
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.CodeSystem; // The menu item will be active for this page.
}


<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <section class="content-header">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <h2>Code System</h2>
                            </section>

                        </div>
                        <div class="col-md-6">
                            <nav aria-label="breadcrumb" class="pull-right">
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                                    <li><a asp-controller="CodeSystem" asp-action="Index">Code System</a></li>
                                    <li>Create Code System</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </section>
                <hr/>
                 <form asp-action="Create" role="form" class="form-validation"
                  method="post" enctype="multipart/form-data">     
                   <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <article class="form-horizontal margin-top-20">
                                    <div class="input-group">
                                        <div class="col-md-2">
                                            <label for="CodeSize">Code Size.</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-line">
                                                <input type="text" class="form-control" value="@ViewBag.CodeSize" placeholder="Code Size" readonly="" maxlength="20"/>
                                                <small>You can change this from settings page. But must be between 6 - 20.</small>
                                            </div>
                                        </div> 
                                    </div> 
                                    <div class="input-group">
                                        <div class="col-md-2">
                                            <label for="BatchNo">Batch No.</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-line">
                                                <input asp-for="BatchNo" type="text" class="form-control" placeholder="Batch No." maxlength="10"/>
                                                <small>Batch no. size is @ViewBag.BatchNoSize. You can change the batch no size from settings page. But must be less than or equals 10.</small>
                                            </div>
                                        </div> 
                                    </div>
                                    
                                    <div class="input-group">
                                        <div class="col-md-2">
                                            <label for="UsableFrom">Usable From</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-line">
                                                <input asp-for="UsableFrom" type="text" class="form-control datepicker" placeholder="Usable From (yyyy-mm-dd)"/>
                                                <small>If this is not set the code can be used instantly.</small>
                                            </div>
                                        </div> 
                                    </div>
                                    
                                    <div class="input-group">
                                        <div class="col-md-2">
                                            <label for="ExpiryDate">Expiry Date</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-line">
                                                <input asp-for="ExpiryDate" type="text" class="form-control datepicker" placeholder="Expiry Date (yyyy-mm-dd)"/>
                                                <small>If this is not set the code will never expire until used.</small>
                                            </div>
                                        </div> 
                                    </div>
                                    
                            <div class="input-group">
                                <div class="col-md-2">
                                    <label for="TotalToGenerate">Total Code To Generate</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-line">
                                        <input asp-for="TotalToGenerate" type="number" class="form-control" value="@ViewBag.SettingsMaximumBatchSize" placeholder="Total Code To Generate"/>
                                        <small>This must be between 1 - @ViewBag.SettingsMaximumBatchSize. The size can be changed from settings page.</small>
                                    </div>
                                </div> 
                                </div>
                                    <hr/>
                                    <div class="input-group">
                                        <div class="col-md-offset-2 col-md-6">
                                            <button class="btn">Create</button>
                                        </div>
                                    </div>
                            </article>
                            </div>
                        </div>
                    </div>
               
            </div>
           
            </form>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        // CHECK BEFORE BROWSER IS RELOADED
        $(function() {
           
            });
        
    </script>
}

<!-- #END# CPU Usage -->