﻿@using IContestPro
@using IContestPro.Authorization.Roles
@using IContestPro.Cookie
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting
@model IContestPro.CodeSystem.Dto.CodeDetailsDto
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.CodeSystem; // The menu item will be active for this page.
}
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <section class="content-header">
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <h2>@Model.Code Details</h2>
                            </section>

                        </div>
                        <div class="col-md-6">
                            <nav aria-label="breadcrumb" class="pull-right">
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                                    <li><a asp-controller="CodeSystem" asp-action="Index">Code System</a></li>
                                    <li>Code Details</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </section>
                <hr/>
                
                <div class="clearfix"></div>
                <section class="list-group">
                    <div class="list-group-item">
                        <span> Batch No: <strong><a asp-action="Index" asp-route-batchNo="@Model.BatchNo">@Model.BatchNo</a></strong></span>
                    </div> 
                    <div class="list-group-item">
                        <span> Code: <strong>@Model.Code</strong></span>
                    </div>
                    <div class="list-group-item">
                        <span> Status: <strong>@Model.StatusName</strong></span>
                    </div>
                   <div class="list-group-item">
                       <span> Allocated To: <strong>
                               @if (Model.AllocatedToUserNickName != null)
                               {
                                   <a target='_blank' href="@AppRoutingConsts.UserProfile(Model.AllocatedToUserPermalink)">@Model.AllocatedToUserNickName</a>  
                               }
                               else
                               {
                                <span>Not Allocated</span>   
                               }
                           </strong>
                           </span>
                    </div>
                 <div class="list-group-item">
                     <span> Used By: <strong>
                             @if (Model.UsedByUserNickName != null)
                             {
                                 <a target='_blank' href="@AppRoutingConsts.UserProfile(Model.UsedByUserPermalink)">@Model.UsedByUserNickName</a>
  }
                             else
                             {
                                 <span>Not Used</span>   
                             }
                             </strong>
                         </span>
                    </div>
                 <div class="list-group-item">
                     <span> Usable From: <strong>
                         @if (Model.UsableFrom != null)
                         {
                             <span>@Model.UsableFrom.Value.ToAppDateString()</span>
                         }
                         else
                         {
                             <span>N/A</span>   
                         }
                     </strong>
                         </span>
                     
                 </div>
                 <div class="list-group-item">
                     <span> Expiry Date: <strong>
                         @if (Model.ExpiryDate != null)
                         {
                             <span>@Model.ExpiryDate.Value.ToAppDateString()</span>
                         }
                         else
                         {
                             <span>N/A</span>   
                         }
                     </strong></span>
                 </div>
                    <div class="list-group-item">
                        <span> Contest: <strong>
                            @if (Model.ContestTitle != null)
                            {
                                <span>@Model.ContestTitle</span>
                            }
                            else
                            {
                                <span>N/A</span>   
                            }
                        </strong>
                            </span>
                    </div>
                    <div class="list-group-item">
                        <span> Date Created: <strong>@Model.CreationTime.ToAppDateTimeString()</strong></span>
                 </div>
                </section>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
           
        });
    </script>
}
<!-- #END# CPU Usage -->