﻿@using IContestPro
@using IContestPro.Authorization
@using IContestPro.Cookie
@using IContestPro.Helpers
@using IContestPro.Web.Helpers
@using IContestPro.Web.Startup
@using Microsoft.AspNetCore.Hosting
@model IContestPro.AppPagedRequestResultDto<Abp.Application.Services.Dto.PagedResultDto<IContestPro.CodeSystem.Dto.CodeSystemDto>>
@inject IHostingEnvironment HostingEnvironment;
@inject ICookieAppService CookieAppService;
@{
    ViewBag.CurrentPageName = PageNames.CodeSystem; // The menu item will be active for this page.
}
@section styles {
   
}
@{
    var batchNo = (string)ViewBag.BatchNO;
    var statusName = (string)ViewBag.Status;
}
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
                <section>
                    <div class="row">
                        <div class="col-md-9">
                            <h2 class="no-margin-top">Code System</h2>
                        </div>
                        <div class="col-md-3">
                            <nav aria-label="breadcrumb" class="pull-right">
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                                    <li>Code System</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <section>
                        <form asp-action="Index" method="get">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <select class="form-control" name="status">
                                            <option selected="@(statusName == "")" value="All">All</option>
                                            <option selected="@(statusName == AppConsts.StatusAllocated)" value="@AppConsts.StatusAllocated">Allocated</option>
                                            <option selected="@(statusName == AppConsts.StatusNotAllocated)" value="@AppConsts.StatusNotAllocated">Not Allocated</option>
                                            <option selected="@(statusName == AppConsts.StatusUsed)" value="@AppConsts.StatusUsed">Used</option>
                                            <option selected="@(statusName == AppConsts.StatusNotUsed)" value="@AppConsts.StatusNotUsed">Not Used</option>
                                            <option selected="@(statusName == AppConsts.StatusExpired)" value="@AppConsts.StatusExpired">Expired</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 flex-container">
                                        <input type="submit" value="Filter" class="btn btn-danger btn-block flex-item"/>    
                                      
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-7 col-sm-7 col-xs-7">
                                <div class="no-margin">Total Codes: <strong>@Model.Result.TotalCount</strong></div>
                                @if (!string.IsNullOrEmpty(batchNo))
                                {
                                    <div class="no-margin">Batch No.: <strong>@batchNo</strong></div>
                                }
                            </div>
                            @if (IsGranted(PermissionNames.Pages_Admin))
                            {
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    <div class="btn-lg pull-right">
                                        <a asp-action="Create" class="btn btn-warning">New Code</a>
                                        <a asp-action="Allocate" class="btn btn-success">Allocate Code</a>
                                    </div>
                                
                                </div> 
                            }
                            
                        </div>
                        <div class="clearfix"></div>
                        </section>

                </section>
                <hr/>
                <div class="row">
                    <section class="table-responsive">
                        @{
                            var row = ((Model.Page - 1) * Model.PageSize) + 1;
                        }
                        @if (Model.Result != null && Model.Result.Items.Count > 0)
                        {
                            <table id="tickets-table" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Code</th>
                                    <th>Batch No.</th>
                                    <th>Status</th>
                                    <th>Usable From</th>
                                    <th>Expiry Date</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.Result.Items)
                                {
                                    <tr>
                                        <td>@row</td>
                                        <td><a asp-action="Details" asp-route-id="@item.Code">@item.Code</a></td>
                                        <td><a asp-action="Index" asp-route-batchNo="@item.BatchNo">@item.BatchNo</a></td>
                                        <td>@item.Status.Name.ToFormattedName()</td>
                                        @if (item.UsableFrom != null)
                                        {
                                            <td>@item.UsableFrom.Value.ToAppDateString()</td>
                                        }
                                        else
                                        {
                                            <td>N/A</td>
                                        } 
                                        @if (item.ExpiryDate != null)
                                        {
                                            <td>@item.ExpiryDate.Value.ToAppDateString()</td>
                                        }
                                        else
                                        {
                                            <td>N/A</td>
                                        }
                                        <td>@item.CreationTime.ToAppDateTimeString()</td>
                                        <td class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">menu</i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a class="btn-block btn-link text-center" style="color: #333; font-weight: bold;" asp-action="Details" asp-route-id="@item.Code"><i class="fa fa-list"></i> Details</a>
                                                </li>
                                                <li>
                                                    <form asp-action="Delete" method="post" class="form-inline flex-item" style="display: inline-block; margin-top: 25px; width: 100%;">
                                                        <input type="hidden" name="id" value="@item.Id"/>
                                                        <div class="input-group">
                                                            <button class="btn-block delete-item btn-link"><i class="fa fa-trash"></i> @L("Delete")</button>
                                                        </div>
                                                    </form>
                                                </li>
                                              
                                            </ul>
                                            
                                        </td>
                                    </tr>
                                    row++;
                                }
                                </tbody>
                            </table>
                            <article>
                               

                                @Html.PaginateAdmin(Model.Result.TotalCount, Model.Page,
                                    Model.PageSize, "CodeSystem", "Index",
                                    (!string.IsNullOrEmpty(batchNo) ? $"batchNo={batchNo}&": "") + (!string.IsNullOrEmpty(statusName) ? $"status={statusName}": ""))
                            </article>
                        }
                        else
                        {
                            <div>
                                <div class="alert alert-info">
                                    <h3>There are no codes to display.</h3></div>
                            </div>
                        }
                        <!-- /.box -->


                    </section>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            $('.delete-item').click(function(e) {
                var element = $(this);
                e.preventDefault();
                abp.message.confirm("Are you sure you want to delete? Remember, deletion is permanent.", 
                    function(result) {
                        if (result) {
                            element.closest('form').submit();
                        }
                    });
            });
        });
    </script>
}

<!-- #END# CPU Usage -->