﻿<div class="card">
    <div class="body">
        <div class="row text-center">
            <h1>Email Activation Successful</h1>
            <p>Your email has been successfully activated.</p>
            <p><a asp-action="Login" class="btn btn-success" style="color: #fff;">Click here to login</a></p>
        </div>
    </div>
</div>
