﻿@model IContestPro.Users.Dto.UserDto
@{
    Layout = "_LayoutWithRightSidebar";
}

<div class="error-page-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="error-page">
                    <h1 style="font-size: 30px; line-height: inherit;">@L("EmailConfirmationErrorHeader")</h1>
                    <p style="font-size: 18px;">
                        @L("UserEmailIsNotConfirmedAndCanNotLogin")
                    </p>
                    <div class="home-page">
                        <form asp-action="ResendActivationLink">
                            <input type="hidden" name="email" value="@Model.EmailAddress"/>
                            <button type="submit" class="btn btn-success">@L("ResendEmailActivationLink")</button>
                            <a href="/" class="btn btn-warning">Go to Home Page <i class="fa fa-angle-right"></i></a>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>