﻿@model IContestPro.Web.Models.Account.ForgotPasswordViewModel
@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>

}
@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Login.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="card" id="LoginArea">
    <div class="body">
        <form asp-action="ForgotPassword" method="post">
            <input type="hidden" name="returnUrlHash" />
            <h2 class="text-center text-primary no-margin">iContestPRO</h2>
            <hr class="no-margin"/>
            <h4 class="text-center">Forgot Password</h4>
            <p>Forgotten your password? Enter your email address below to begin the reset process.</p>
            @if (@ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                </div>
            }@if (@TempData.ContainsKey("ErrorMessage"))
            {
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i> @TempData["ErrorMessage"]
                </div>
            }
            @if (@ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    <i class="fa fa-warning"></i> @ViewBag.Message
                </div>
            }
            <br />

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                    <input type="email" class="form-control" asp-for="EmailAddress" placeholder="@L("EmailAddress")" required autofocus>
                </div>
            </div>
           
            <div class="row">
                <div class="col-xs-12">
                    <a asp-action="Login"><i class="fa fa-sign-in"></i> Sign In</a>
                    <button class="btn pull-right" type="submit">Send Link</button>
                </div>
            </div>
           
        </form>
    </div>
</div>
