﻿@using Abp.Authorization.Users
@model IContestPro.Web.Models.Account.LoginFormViewModel
@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>

}
@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Login.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="card" id="LoginArea">
    <div class="body">
        <form id="LoginForm" asp-action="Login" method="post">
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            <input type="hidden" name="returnUrlHash" />
            <h2 class="text-center text-primary no-margin">iContestPRO</h2>
            <hr class="no-margin"/>
            <h4 class="text-center">Sign In</h4>
            @if (@ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                </div>
            }
            @if (@TempData.ContainsKey("ErrorMessage"))
            {
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i> @TempData["ErrorMessage"]
                </div>
            } @if (@TempData.ContainsKey("SuccessMessage"))
            {
                <div class="alert alert-success">
                    <i class="fa fa-warning"></i> @TempData["SuccessMessage"]
                </div>
            }
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                    <input type="email" class="form-control" name="usernameOrEmailAddress" placeholder="@L("EmailAddress")" required autofocus maxlength="@AbpUserBase.MaxEmailAddressLength">
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input type="password" class="form-control" name="Password" placeholder="@L("Password")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 p-t-5">
                    <input type="checkbox" name="RememberMe" id="rememberme" class="filled-in chk-col-pink" value="true">
                    <label for="rememberme">@L("RememberMe")</label>
                </div>
                <div class="col-xs-5">
                    <button id="LoginButton" class="btn btn-default margin-left-20" type="submit"><i class="fa fa-sign-in"></i> Sign In</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 no-margin-bottom">
                    <hr />
                    <span>Forgot your password? <a asp-action="ForgotPassword" asp-controller="Account"><i class="fa fa-lock"></i> Reset Here</a></span>
                    <hr />
                </div>
            </div>
            @if (Model.IsSelfRegistrationAllowed)
            {
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-12">
                        <span>For new account <a asp-action="Register"><i class="fa fa-user"></i> Sign Up</a></span>
                        <a  class="pull-right" asp-action="Index" asp-controller="Contest"><i class="fa fa-home"></i> Home</a>
                    </div>
                </div>
            }
        </form>
    </div>
</div>
