﻿@using IContestPro.Web.Startup
@{
    Layout = "_Layout";
    ViewBag.CurrentPageName = PageNames.Referral; // The menu item will be active for this page.

}
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            
            <div class="body">
              
                <div class="error-page-area">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="error-page jumbotron text-center padding-10 padding-bottom-50">
                                <h2>Referral was not Found</h2>
                                <p>The referral code you entered was not found.</p>
                                <div class="home-page">
                                    <a class="btn btn-success btn-lg" asp-action="Register" asp-controller="Account" style="color: #fff;">Go back to register <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>