﻿@using Abp.Authorization.Users
@using IContestPro.Helpers.DatabaseFieldLengths
@using IContestPro.Users.Dto
@model IContestPro.Web.Models.Account.RegisterViewModel
@{
    ViewBag.DisableTopBar = true;
    var referredUser =  ViewBag.ReferredUser as UserDto;

}
@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>
}
@section Scripts{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Register.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Register.min.js" asp-append-version="true"></script>
    </environment>
    
    <script>
        $(function() {
            
        });
    </script>
    
}
<div class="card">
    <div class="body">
        <form id="RegisterForm" asp-action="Register" method="post">
            <h2 class="text-center text-primary no-margin">iContestPRO</h2>
            <hr class="no-margin"/>
            <h4 class="text-center">Sign Up</h4>

            @if (@ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                </div>
            }
            @if (@TempData.ContainsKey("Message"))
            {
                <div class="alert alert-Info">
                    <i class="fa fa-warning"></i> @TempData["Message"]
                </div>
            }

            <input type="hidden" name="IsExternalLogin" value="@Model.IsExternalLogin.ToString()"/>
            <input type="hidden" name="ExternalLoginAuthSchema" value="@Model.ExternalLoginAuthSchema"/>
            @if (ViewBag.Identity != null && referredUser == null)
            {
                <div class="alert alert-danger text-center">
                    <h4>Referral code not Found</h4>
                    <p>The referral code you entered was not found.</p>
                </div>  
            }
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="text" class="form-control" name="NickName" value="@Model.NickName" required maxlength="@UserFieldsLengths.MaxNickNameLength">
                    <label class="form-label">@L("NickName")</label>
                </div>
            </div>

            <div class="form-group form-float">
                <div class="form-line">
                    <input type="text" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" required maxlength="@AbpUserBase.MaxPhoneNumberLength">
                    <label class="form-label">@L("PhoneNumber")</label>
                </div>
            </div>

            <div class="form-group form-float">
                <div class="form-line">
                    <input type="email" class="form-control" name="EmailAddress" value="@Model.EmailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength">
                    <label class="form-label">@L("EmailAddress")</label>
                </div>
            </div>

            <div class="form-group">
                <div >
                    <label class="form-label">@L("Country")</label>
                    @Html.DropDownListFor(item => item.CountryId, ViewBag.Countyries as IEnumerable<SelectListItem>, "Select Country", new {@class = "form-control", required = ""})
                </div>
            </div>
          

           <div class="form-group" id="state-select-wrapper">
                <div class="focused">
                    <label class="form-label">State</label>
                    <select class="form-control state-select" data-val="true"
                            data-val-required="The state field is required." 
                            id="StateId" name="StateId" required=""
                            aria-required="true">
                        <option value="">Select State</option>

                    </select>
                <input type="hidden" id="selected-state" value="@Model.StateId"/>
                </div>
            </div>
            



            <div class="form-group form-float">
                <section class="row">
                    <div class="col-md-10">
                        <div class="form-line">
                            <input type="password" class="form-control" name="Password" id="password" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                            <label class="form-label">@L("Password")</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-eye-slash register-view-password"></i>
                    </div>
                </section>
                
            </div>

            @if (referredUser != null)
            {
                <div class="form-group">
                    <div >
                        <label class="form-label">Referred By</label>
                        <input type="text" readonly="" class="form-control" value="@referredUser.NickName" />
                        <input type="hidden" asp-for="ReferredUserId" value="@referredUser.Id" />
                    </div>
                </div> 
            }
            <hr />
            <div class="row">
                <div class="col-xs-12">
                    <span>Already have account? <a asp-action="Login"><i class="fa fa-sign-in"></i> Sign In</a></span>

                    <button id="RegisterButton" class="btn pull-right" type="submit">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>
