﻿<div class="card">
    <div class="body">
        <div class="row text-center">
            <h1>Activation Link Successfully Sent</h1>
            <p>A link has been resent to your email. Please check your email to activate your account. Thank you.</p>
            <p><a href="/" class="btn btn-success" style="color: #fff;">Back To Home Page</a></p>
        </div>
    </div>
</div>
