﻿@model IContestPro.Web.Models.Account.ResetPasswordViewModel
@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>

}
@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Login.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="card" id="LoginArea">
    <div class="body">
        <form id="LoginForm" asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Code" />
            <input type="hidden" asp-for="EmailAddress" />
            <h2 class="text-center text-primary no-margin">iContestPRO</h2>
            <hr class="no-margin"/>
            <h4 class="text-center">Reset Password</h4>
            <p>Please enter your password below to complete your password reset.</p>
            @if (@ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                </div>
            }
            @if (@ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    <i class="fa fa-warning"></i> @ViewBag.Message
                </div>
            }
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>
                <div class="form-line">
                    <input type="email" class="form-control" asp-for="EmailAddress" readonly="">
                </div>
            </div> <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input type="password" class="form-control" asp-for="Password" placeholder="New Password" required autofocus>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input type="password" class="form-control" asp-for="ConformPassword" placeholder="Confirm Password" required>
                </div>
            </div>
           
                 <div class="row">
                <div class="col-xs-12">
                    <button class="btn pull-right" type="submit">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>
