﻿<div class="error-page-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="error-page">
                    <h1 style="font-size: 30px; line-height: inherit;">Error Occurred</h1>
                    <p style="font-size: 18px;">
                        Your account was not recognized by the system. Please contact the administrator.
                    </p>
                    <div class="home-page">
                        <a href="@Url.Action("Contact", "About")" class="btn btn-primary">Contact Adminitrator <i class="fa fa-angle-right"></i></a>
                        <a href="/" class="btn btn-warning">Go to Home Page <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>