﻿@using IContestPro
@using Microsoft.AspNetCore.Hosting
@model AppPagedRequestResultDto<Abp.Application.Services.Dto.PagedResultDto<IContestPro.VoterLeaderBoard.Dto.TopContestsWithHighestVotesAndTopVotersDto>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHostingEnvironment HostingEnvironment
<section class="leader-board-main">
	
	<div class="home-about-photo-contest-area leader-board-wrapper no-padding-top padding-left-20 padding-right-20 padding-bottom-20">
				<div class="row full-photocontest-area padding-bottom-50 leader-board-inner">
					
					<div class="alert alert-info">
						<div class="row">
							<div class="col-md-4 col-sm-3 col-xs-3">
								<i class="fa fa-trophy" style="font-size: 15em;"></i>
							</div>
							<div class="col-md-8 col-sm-9 col-xs-9">
								<h3>Coming Soon...</h3>
								<p>This feature will soon be available</p>
								<p class="margin-top-30"><a class="btn" href="/">Home</a></p>
							</div>
						</div>



					</div>
				</div>
			</div>
		
</section>


@section scripts
{
	<script>
		$(function() {
			
		});
	</script>
}
